<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-4 container">
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/MainComunite/original/4afeTIS6sS9y79S8.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Yönetim Kurulu Başkanı</p>
                    <p><b>MAHMUT ÖZGENER</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> YUNUS EMRE MAHALLESİ 7523 SOKAK NO:2 BORNOVA / İZMİR</p>
                    <p><b>Telefon:</b> 0232 4635075</p>
                    <p><b>Fax:</b> 0232 4831209</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/MainComunite/original/GxyIBAZDm7MR8eIG.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Yönetim Kurulu Başkan Yardımcısı</p>
                    <p><b>EYÜP CEMAL ELMASOĞLU</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> 1474 SOKAK NO:1 KAT:3 ALSANCAK / İZMİR</p>
                    <p><b>Telefon:</b> 0232 4214703 - 4222271</p>
                    <p><b>Fax:</b> 0232 4215518</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/MainComunite/original/HxjHXcFPMTCrFafO.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Yönetim Kurulu Başkan Yardımcısı</p>
                    <p><b>EMRE KIZILGÜNEŞLER</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> ADATEPE MAHALLESİ 2/20 SK. NO:31/1 BEGOS 3. BÖLGE BUCA / İZMİR</p>
                    <p><b>Telefon:</b> 0232 4407181</p>
                    <p><b>Fax:</b> 0232 4400878</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/MainComunite/original/6OkmPu6YKuOKSY2k.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>
                        Yönetim Kurulu Sayman Üyesi</p>
                    <p><b>ALİ OSMAN ÖĞMEN</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> ÇINARLI MAHALLESİ 1561 SOKAK NO:40 ÇINARLI KONAK/İZMİR</p>
                    <p><b>Telefon:</b> 0232 4633463</p>
                    <p><b>Fax:</b> 0232 4213407</p>
                </div>
            </div>
        </div>
    </div>