<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-3 px-3">
    <div class="d-flex justify-content-start flex-wrap py-4">
        
            <p>"Kruvaziyer turizmi" dünyada hızla gelişen ve bulunduğu ülke/şehre oldukça yüklü gelir bırakan, orta ve
                üst gelir grubuna hitap eden bir turizm çeşididir.</p>
            <p>Kruvaziyer destinasyonlar içerisinde, son yıllara kadar Kuzey Amerika, Güney Amerika ve tropik adalar ön
                planda iken, günümüzde Uzak Doğu, Kutuplar, Baltık Denizi Bölgesi, Arap Yarımadası, Kızıldeniz,
                Karadeniz ve özellikle Akdeniz Bölgesi gerek pazarlama stratejisi gerekse kruvaziyer destinasyonlarında
                yeni güzergahlar yaratması bakımından dikkat çekmektedir. Akdeniz Çanağı kruvaziyer destinasyonları için
                giderek yükselmekte olan bir yıldız olduğundan, Güney Amerika destinasyonundan sonra ikinci sıraya
                yükselmiş ve son yıllarda kruvaziyer turizmin gözdesi haline gelmiştir.</p>
            <p>Önümüzdeki 20 yılda ise Akdeniz havzasının hızlı yükselişinin kesintisiz devam etmesi düşünülmektedir. Bu
                turizm çeşidi özellikle Akdeniz’de İspanya, İtalya, Yunanistan, Hırvatistan, Malta ve Mısır’da ön plana
                çıkmaktadır.</p>
            <p>Fakat yine önümüzdeki 15 yıl içinde bölgemizin rakibi olan Çin ve Güney Amerika nedeni ile, gemi
                şirketleri yeni gemiler inşa edinceye dek Akdeniz’de dalgalanmalar olacaktır.</p>
            <p>Avrupa Kruvaziyer Konseyi’nin 2014 yılı raporundan derlenen bilgilere göre, ABD’de Miami kenti limanı
                yaklaşık 3 milyon yolcu birinci sırada bulunmaktadır. Akdeniz’de ise Barselona, Venedik, Genova ve
                Savona limanları ile Pire Limanı önem arz etmektedir.</p>
            <p>Türkiye, kruvaziyer turizminde kaynak Pazar bakımında pazarı giderek önem kazanmaktadır. Bu Pazar Akdeniz
                kruvaziyer pazarıdır. İspanya’nın turistik yolcu gemisi seyahatinde uzman yayın organı Cruises News
                Media Group’un 18 Şubat 2010’da İspanya’da gerçekleştirdiği kruvaziyer forumu ve ödül töreninde Türkiye
                ve Hırvatistan 2009 yılının en iyi destinasyonları seçilmiştir.</p>
            <p>Ancak bölgemizde son yıllarda yaşanan olaylar kruvaziyerin doğasında da ayrı duramayacaktır. Kruvaziyerin
                doğasında her gün yeni bir ülkede yeni bir liman kentinde uyanmak vardır.</p>
            <p>Ortadoğu, Mısır ve Karadeniz Havzası’nda yaşanan olaylar kruvaziyer turizmini ülkemiz açısından olumsuz
                yönde etkilemektedir.</p>
            <p>Bu nedenle kruvaziyer turizminin llimanlarımızda gelişimi için uygun altyapının tamamlanması ve tanıtım
                kampanyalarına devam edilmesi gerekmektedir.</p>
            <p>Ülkemizde kruvaziyer turizmi denince, İzmir, 2004 yılından bu yana kruvaziyer turizmi konusunda
                gelişmektedir.</p>
            <p>Tarihin ilk dönemlerinden beri onlarca uygarlığı konuk etmiş "Ege'nin İncisi" İzmir’e, Odamızın, İzmir
                Alsancak Limanı’na kruvaziyer gemilerinin gelişini sağlamaya yönelik gayretleri neticesinde, 2003
                yılında 5 sefer ile 3.271, 2004 yılında 32 sefer ile 77.000 yolcu, 2005 yılında 26 sefer ile 58.042
                yolcu, 2006 yılında 94 sefer ile 183.198 yolcu, 2007 yılında 122 sefer ile 288.017, 2008 yılında 128
                sefer ile 321.279 yolcu, 2009 yılında ise 127 sefer ile 309.603 yolcu, 2010 yılında 141 sefer ile
                355.899 yolcu, 2011 yılında 272 sefer ile 504.921 yolcu, 2012 yılında ise 286 sefer ile 510.042 yolcu
                gelmiştir.</p>
            <p>2013 yılı sonunda 191 sefer ile 463.204, 2014 yılı sonunda 137 sefer ile 335.891, 2015 yılında 108 sefer
                ile 241.716, 2016 yılında 24 sefer ile 27.619, 2017 Kasım sonu itibari ile 18 sefer ile 9.172 yolcu
                kentimize gelmiş ve kruvaziyer turizminde son 15 yılda kentimizde kruvaziyer turist sayımız 3.754.285’e
                ulaşmıştır.</p>
            <p>İzmir 2011, 2012 ve 2013 yıllarında Dünya Seyahat Ödülleri kapsamında “Avrupa’nın Lider Kruvaziyer
                Destinasyonu” ödülünü almıştır.</p>
            <p>İzmir’e Gelen Kruvaziyer Gemi Sefer ve Turist Sayıları</p>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <p>Yıl</p>
                        </td>
                        <td>
                            <p>İzmir Alsancak Limanı’na Yapılan Toplam Kruvaziyer Sefer Sayısı</p>
                        </td>
                        <td>
                            <p>Kruvaziyer Seferleriyle İzmir’e Gelen Toplam Yolcu Sayısı</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2003</p>
                        </td>
                        <td>
                            <p>5</p>
                        </td>
                        <td>
                            <p>3.271</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2004</p>
                        </td>
                        <td>
                            <p>32</p>
                        </td>
                        <td>
                            <p>77.000</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2005</p>
                        </td>
                        <td>
                            <p>26</p>
                        </td>
                        <td>
                            <p>58.042</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2006</p>
                        </td>
                        <td>
                            <p>94</p>
                        </td>
                        <td>
                            <p>183.198</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2007</p>
                        </td>
                        <td>
                            <p>122</p>
                        </td>
                        <td>
                            <p>288.017</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2008</p>
                        </td>
                        <td>
                            <p>128</p>
                        </td>
                        <td>
                            <p>321.279</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2009</p>
                        </td>
                        <td>
                            <p>127</p>
                        </td>
                        <td>
                            <p>309.603</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2010</p>
                        </td>
                        <td>
                            <p>141</p>
                        </td>
                        <td>
                            <p>355.899</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2011</p>
                        </td>
                        <td>
                            <p>272</p>
                        </td>
                        <td>
                            <p>504.921</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2012</p>
                        </td>
                        <td>
                            <p>286</p>
                        </td>
                        <td>
                            <p>552.764</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2013</p>
                        </td>
                        <td>
                            <p>191</p>
                        </td>
                        <td>
                            <p>486.493</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2014</p>
                        </td>
                        <td>
                            <p>137</p>
                        </td>
                        <td>
                            <p>335.891</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2015 </p>
                        </td>
                        <td>
                            <p>108</p>
                        </td>
                        <td>
                            <p>241.716</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2016</p>
                        </td>
                        <td>
                            <p>24</p>
                        </td>
                        <td>
                            <p>27.619</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2017 (Kasım sonu itibari ile)</p>
                        </td>
                        <td>
                            <p>18</p>
                        </td>
                        <td>
                            <p>9172</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>TOPLAM</p>
                        </td>
                        <td>
                            <p>1.711</p>
                        </td>
                        <td>
                            <p>3.754.885</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>Gelinen noktada İzmir’in performansının tanıtımına özen gösterilmesi ve performansın artırılması için
                çalışmalar yapılması gerekmektedir.</p>
            <p>Tasarlanan yöntemlerin önümüzdeki dönemlerde İzmir’in kruvaziyer turizmindeki vizyonunda önemli bir yer
                teşkil edeceği, İzmir’in kruvaziyer turizminde marka olmasını sağlamada temel oluşturacağı
                öngörülmektedir. </p>
            <p>İzmir kentinin “12 Ay Turizm” hedefleri çerçevesinde kruvaziyer turizmine önem verilmelidir. Odamız 2004
                yılından bu yana kentimizde kruvaziyer turizminin tanıtımı ve performansının artırılması için bir dizi
                çalışma başlatmıştır.</p>
            <p>İzmir Ticaret Odası kruvaziyer turizmle limana gelen her turistin ayak bastı ücretini ödemekte,
                kruvaziyer firmaları ile tek tek görüşerek onları ikna etmekte ve İzmir Alsancak Limanı’na gelmelerini
                sağlamaktadır. Ulusal ve uluslararası camiada önemli toplantılar düzenlemektedir.</p>
            <p>Odamız ayrıca, İzmir’in kruvaziyer turizmindeki payını artırmak ve kentin tanıtımını yapmak amacıyla
                uluslararası sergi, konferans ve kongrelere katılmaktadır.</p>
            <ul>
                <li>10-13 Mart 2008 Seatrade Kruvaziyer Taşımacılığı Kongresi-MIAMI-ABD,</li>
                <li>9-11 Aralık 2008 Seatrade Akdeniz Kruvaziyer-Feribot-Super Yat Kongresi- VENEDİK-İTALYA,</li>
                <li>14-16 Aralık 2008 Seatrade Orta Doğu Denizciliği- DUBAI-BIRLEŞİK ARAP EMİRLİKLERİ,</li>
                <li>16-19 Mart 2009 Seatrade Kruvaziyer, Gemicilik Fuarı ve Konferansı-Miami-ABD,</li>
                <li>19 Mayıs 2009 Avrupa Kruvaziyer Konseyi-ROMA-ITALYA,</li>
                <li>5 Haziran 2009 Costa Luminosa &amp; Pacifica Vaftiz Töreni GENOVA – İTALYA</li>
                <li>15-18 Mart 2010 Kruvaziyer Taşımacılığı Kongresi-MIAMI-ABD,</li>
                <li>16 - 17 Eylül 2010 Karadeniz Kruvaziyer Forumu - ODESSA - UKRAYNA</li>
                <li>29 Kasım - 2 Aralık 2010 Seatrade Akdeniz Kruvaziyer-Feribot-Super Yat Kongresi- CANNES - FRANSA
                </li>
                <li>14-17 Mart 2011 Kruvaziyer Taşımacılığı Kongresi-MIAMI-ABD</li>
                <li>8-10 Haziran 2011 7. Dünya Ticaret Odaları Kongresi - 2011 Dünya Odalararası Yarışması MEXICO CITY –
                    MEKSIKA</li>
                <li>21 Haziran 2011 I. Posidonia Deniz Turizmi Forumu ATİNA – YUNANİSTAN</li>
                <li>1-3 Temmuz 2011 Costa Favolosa Vaftiz Töreni TRIESTE – İTALYA</li>
                <li>2 Eylül 2011 Dünya Seyahat Ödülleri Töreni ANTALYA – TÜRKİYE</li>
                <li>26-29 Eylül 2011 Seatrade Avrupa Kruvaziyer, Nehir Kruvaziyeri Fuarı ve Konferansı HAMBURG – ALMANYA
                </li>
                <li>5-7 Aralık 2011 Seatrade İstanbul Kış Kruvaziyer Forumu İstanbul –TÜRKİYE</li>
                <li>12- 15 Mart 2012 Kruvaziyer Taşımacılığı Kongresi-MIAMI-ABD</li>
                <li>4-6 Mayıs 2012 Costa Fascinosa Vaftiz Töreni VENEDİK </li>
                <li>26-27 Mayıs 2012 Msc Divina Vaftiz Töreni MARSİLYA</li>
                <li>7-9 Haziran 2012 III. “Uluslararası Liman Kentleri ve Ticaret” Kongresi Mersin - TÜRKİYE</li>
                <li>3-5 Temmuz 2012 Seatrade Türk Kruvaziyer Forumu İzmir - TÜRKİYE</li>
                <li>6 Ekim 2012 Dünya Seyahat Ödülleri Portekiz - Algarve</li>
                <li>27-29 Kasım 2012 Seatrade Med Marsilya</li>
                <li>2-3 Mart 2013 Volos Doğu Akdeniz Kruvaziyer Etkinliği</li>
                <li>11-14 Mart 2013 Kruvaziyer Taşımacılığı Kongresi-MIAMI-ABD,</li>
                <li>27-29 Mayıs 2013 I. Posidonia Deniz Turizmi Forumu ATİNA – YUNANİSTAN</li>
                <li>24 – 26 Haziran 2013 Avrupa Kruvaziyer Konseyi-BRÜKSEL – BELÇİKA</li>
                <li>31 Ağustos 2013 Dünya Seyahat Ödülleri Töreni ANTALYA – TÜRKİYE</li>
                <li>24-26 Eylül 2013 Seatrade Avrupa Kruvaziyer, Nehir Kruvaziyeri Fuarı ve Konferansı HAMBURG – ALMANYA
                </li>
                <li>10-14 Mart 2014 Kruvaziyer Taşımacılığı Kongresi-MIAMI-ABD</li>
                <li>30 Nisan 2014 Fethiye Kruvaziyer Liman Çalıştayı – Fethiye – TÜRKİYE</li>
                <li>15 Eylül 2014 CLIA AVRUPA Limanlar Forumu BARSELONA - İSPANYA</li>
                <li>16-18 Eylül 2014 Seatrade Med Barcelona Fuarı BARSELONA – İSPANYA</li>
                <li>16- 19 Mart 2015 Kruvaziyer Taşımacılığı Kongre ve Fuarı – MIAMI-ABD</li>
                <li>25-27 Mayıs 2015 Posidonia Deniz Turizmi Forumu ATİNA – YUNANİSTAN</li>
                <li>14-17 Mart 2016 Kruvaziyer Taşımacılığı Kongre ve Fuarı – FORT LAUDERDALE - ABD</li>
                <li>21-23 Eylül 2016 Seatrade Med Kruvazizyer Turizmi Fuarı – TENERİFE - İSPANYA</li>
                <li>13-16 Mart 2017 Kruvaziyer Taşımacılığı Kongre ve Fuarı – FORT LAUDERDALE ABD</li>
                <li>5-6 Eylül 2017 Seatrade Europe Kruvaziyer Fuarı – HAMBURG – ALMANYA</li>
            </ul>
            <p>Dünyada yolcu gemilerinin adedinin artmakta ve gemilerin kapasitelerinin hızla büyümekte olduğu bir
                dönemden geçildiği düşünüldüğünde, İzmir'in Akdeniz ve dünya kruvaziyer destinasyonlarında önemli bir
                yere sahip olduğu daha iyi anlaşılacaktır.</p>
            <p>Bu nedenle Odamız, yeni bir kruvaziyer limanı yapılması için çalışmalarını başlatmıştır. Proje Odamızın
                "12 Ay Turizm" hedefi doğrultusunda geliştirilmektedir. Odamızın İzmir'in kruvaziyer turizminde daha da
                gelişmesi için verdiği destekler devam etmektedir.</p>
            <p>TÜRKİYE KRUVAZİYER PLATFORMU</p>
            <p><a href="http://www.cruiseturkiye.org/">www.cruiseturkiye.org</a></p>
            <p>CRUISE TÜRKİYE BROŞÜRÜ (İNGİLİZCE)</p>
            <p>Dünya
                üzerinde kurulmuş kruvaziyer birlikleri, Liman, dernek ve sivil toplum kuruluşları veya Kruvaziyer hattı
                şirketleri, acenteler, dernekler ve sivil toplum kuruluşları şeklinde bütünleşmiş örgütlenmelerdir</p>
            <p>İncelenen örnekler itibariyle dünyadaki bu birlikler önce kapalı bir bütün halinde örgütlenmekte, daha
                sonra değişen koşullar nedeniyle dışa açılmaktalardır.</p>
            <p>Örneğin Akdeniz Kruvaziyer Birliği geçmişinde Akdeniz’in belli başlı limanlarını üyesi kabul ederken,
                daha sonra bulunduğu bölgeyi aşarak bağlantı noktası olarak görülebilecek Doğu Akdeniz, Karadeniz, Kızıl
                Deniz ve Atlantik Okyanusu’nda bulunan bazı adaların limanlarını da üye kabul etmiştir.</p>
            <p>Ancak Türkiye’nin bu denli limanı olmasına rağmen hala bir kruvaziyer birliği yoktu.</p>
            <p>Türkiye Kruvaziyer Platformu Odamız öncülüğünde, İzmir merkezli olarak 3 Temmuz 2012 tarihinde
                kurulmuştur</p>
            <p>Türkiye Kruvaziyer Platformu’nun amacı; Türk limanlarının kruvaziyer turizmindeki faaliyetlerini
                etkinleştirmek, destek verilerek geliştirilmesini sağlamak ve bu konuda çalışmalar yapmak, Limanlar
                arasında koordinasyonu sağlamak, ülkemiz limanlarında bulunan kruvaziyer yolcu trafiğini ve
                potansiyelini artırmaya yönelik olarak girişimlerde bulunmak, dünyadaki organizasyonlara katılmak, Türk
                kruvaziyer limanlarının tanıtılması ve pazarlaması için ortak bir strateji belirlemektir.</p>
            <p>Kruvaziyer turizmi ile ilgili gerçekleştirmekte olduğu çalışmalar sektörün ülkemizde gelişmesi için
                önemli bir dönüm noktasını oluşturacak. Platform, limanları, liman kentlerinin ticaret odalarını,
                acentalarını, operatör şirketleri, kruvaziyer şirketleri, kumanyacıları ve diğer tüm tedarikçileri,
                hatta il turizm müdürlükleri, belediyeler, valilikleri de bünyesine alabilen, yani geniş katılımlı bir
                yapıda bulunmaktadır.</p>
            
            <p><strong>Sayfa İçeriği ile İlgili Detaylı Bilgi :</strong></p>
            <p>İzmir Ticaret Odası Uluslararası Etkinlikler ve Turizm Müdürlüğü&nbsp;</p>
            <p><a href="mailto:uluslararasiiliskiler@izto.org.tr">uluslararasiiliskiler@izto.org.tr</a></p>
    
    </div>
</div>