<ng-container *ngIf="subSection.includes('Üyelik İşlemleri')">
    <div class="py-5">
        İzmir Ticaret Odası'na üyelik, 01/06/2004 Tarihinde yürürlüğe giren 5174 Sayılı Türkiye Odalar ve Borsalar
        Birliği Kanunu'nun 9. maddesi gereğince zorunludur. İlgili madde şöyledir:<br><br>MADDE 9. - Ticaret siciline
        kayıtlı tacirler ve 5 inci maddeye göre sanayici ve deniz taciri sıfatına haiz tüm gerçek ve tüzel kişiler ile
        bunların şubeleri ve fabrikaları bulundukları yerdeki odaya kaydolmak zorundadırlar. Meslek gruplarına göre
        yapılacak üye kayıtları, elektronik ortamda Bakanlık ve Birlik bünyesinde düzenlenen ortak veri tabanında güncel
        olarak tutulur. <br><br>Bir merkeze bağlı olduğu halde, ister merkezin bulunduğu odanın, ister başka odanın
        çalışma alanı içinde olan müstakil sermayesi ve müstakil muhasebesi bulunan ve/veya muhasebesi merkezde
        tutulduğu ve müstakil sermayesi bulunmadığı halde kendi başına sınai faaliyet ve ticari muamele yapan yerler ve
        satış mağazaları bu Kanunun uygulanması bakımından şube sayılır. <br><br>Sanayi odası kurulan illerde
        sanayiciler, sanayi odasına kaydolmakla ticaret odasına kaydolma yükümlülüğünü de yerine getirmiş olurlar.
        Sanayi işletmesi sahiplerinin, sınaî nitelikli işlerinin gereği olarak meşgul olduklara ticaret işleri bunların
        sanayici vasfını ortadan kaldırmaz; bunlar isterlerse ticaret odasına da kaydolabilirler. <br><br>Sanayiciler,
        kendi sanayi ürünlerini satmak üzere birden fazla satış yeri açtıkları takdirde, fazlası için satış yerlerinin
        bulunduğu ticaret ve sanayi veya ticaret odasına da kaydolmak zorunda oldukları gibi; kendi sanayi ürünlerinin
        satışı dışında başka ticarî işlerle uğraştıkları takdirde, ticaret ve sanayi veya ticaret odasına da kaydolmakla
        yükümlüdürler.
        Sermayesinin tamamı Devlete ve özel idarelere veya belediyelere veya bunların ortaklığına ait olan iktisadî
        müesseselerle bunların şubeleri, özel kanun veya sözleşme ile kurulmuş olup, Devletin ve özel idarelerin veya
        belediyenin iştiraki bulunan tüzel kişiliği haiz müesseseler veya bunların şubeleri ve fabrikaları, bulundukları
        ildeki odalara kaydolmak zorundadırlar. <br><br>Ticaret siciline kayıtlı gerçek ve tüzel kişilerden 5 inci
        maddede belirtilen deniz tacirleri ile beşinci fıkra hükmünde belirtilenlerden deniz ticaretiyle uğraşanlar,
        bulundukları ildeki deniz ticaret odasına kaydolmak zorundadırlar. Bu kapsamda sayılanlar, deniz ticaret odasına
        kaydolmakla diğer odalara kaydolma yükümlülüğünü de yerine getirmiş sayılırlar. Ancak, bu kapsamdakiler, deniz
        ticaret odasına kaydolmasını gerektiren faaliyetler dışında başka işlerle de uğraştığı takdirde, ayrıca ilgili
        odaya da kaydolmak zorundadır.
        Odalara kaydı zorunlu olan gerçek ve tüzel kişilerle bunların şubeleri, kamu kurumu niteliğindeki başka meslek
        kuruluşlarına, birlik ve teşekküllere üye olmaya ve aidat ödemeye mecbur tutulamaz. <br><br>Bu maddede
        düzenlenen kayıt zorunluluğunu bir ay içinde yerine getirmeyenler, odalar tarafından re'sen kaydedilir ve durum
        kendilerine tebliğ edilir."<br><br>Odamıza diğer işlemleri tamamlayarak kayıt için başvuran tacir niteliğindeki
        gerçek ve tüzel kişiler 79 adet meslek grubundan birisi altına kaydolunur. Derecelere göre kayıt ücretleri ve
        yıllık aidat tarife cetveli 2020 yılı için aşağıdaki gibidir: <br><br>2021 YILI KAYIT ÜCRETİ VE YILLIK AİDAT
        TARİFE CETVELİ<br><br>
        <table class="container">
            <tr>
                <td class="col-3">Dereceler</td>
                <td class="col-5">Sermaye Aralıkları</td>
                <td class="col-4">Kayıt Ücretleri Tarifesi</td>
            </tr>
            <tr>
                <td class="col-3">Yeni Kayıt</td>
                <td class="col-5">-</td>
                <td class="col-4">485 TL</td>
            </tr>
            <tr>
                <td class="col-3">1.Derece</td>
                <td class="col-5">1.000.000.00 TL üstü</td>
                <td class="col-4">1280 TL</td>
            </tr>
            <tr>
                <td class="col-3">2.Derece</td>
                <td class="col-5">500.000.00 TL - 1.000.000.00 TL</td>
                <td class="col-4">940 TL</td>
            </tr>
            <tr>
                <td class="col-3">3.Derece</td>
                <td class="col-5">250.000.00 TL - 500.000.00 TL</td>
                <td class="col-4">875 TL</td>
            </tr>
            <tr>
                <td class="col-3">4.Derece</td>
                <td class="col-4">100.000.00 TL - 250.000.00 TL</td>
                <td class="col-5">810 TL</td>
            </tr>
            <tr>
                <td class="col-3">5.Derece</td>
                <td class="col-4">10.000.00 TL - 100.000.00 TL</td>
                <td class="col-5">740 TL</td>
            </tr>
        </table>
        5174 sayılı “Türkiye Odalar Ve Borsalar Birliği İle Odalar Ve Borsalar Kanunu”<br><br>Madde: 24 <br><br>Kayıt
        ücreti ile yıllık aidat, onaltı yaşından büyükler için uygulanan aylık asgarî ücretin brüt tutarının yüzde
        onundan az, yarısından fazla olamaz. <br><br>“Kayıt Ücreti ile Yıllık Aidat ve Munzam Aidatın Tespiti ve
        Ödenmesi Hakkında Yönetmelik”<br><br>Dereceler <br><br>Madde: 12 <br><br>Oda ve borsalar derece sayısını kendi
        durumlarına göre tespit eder. Ancak, bu derecelerin sayısı beşten az yediden fazla olamaz. (Ek
        cümle:RG-31/1/2017-29965) Ayrıca, bu derecelerden ayrı bir derece ihdas edilerek yeni kurulan sermaye şirketleri
        bu dereceye atanır. Bu derece için belirlenecek kayıt ücreti, aylık asgari ücretin brüt tutarının yüzde onundan
        az, yüzde on beşinden fazla olamaz. <br><br><a id="textLink" href="">GERÇEK KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ
            (Word Dokümanı)</a><br><br><a id="textLink" href="">GERÇEK KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (Pdf
            Dokümanı)</a><br><br>Not: Nakil yoluyla Odamıza yeni kayıt olacak üyelerin Mali işler Müdürlüğü kayıtlarına
        esas alınmak üzere en son verilen kurumlar vergisi/gelir vergisi beyannamesini aidat@izto.org.tr adresine
        iletmeleri gerekmektedir.
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Online Üye Bilgi Güncelleme')">
    <div class="py-5">
        <a id="textLink" href="https://eoda.izto.org.tr/web/uye_bilgi_guncelleme.aspx" target="_blank">ONLINE ÜYE BİLGİ
            GÜNCELLEME İÇİN
            TIKLAYINIZ</a><br><br>Değerli Üyemiz,<br><br>Online
        bilgi güncelleme ile sistemimizde kayıtlı<br><br>
        <li>yetkili cep telefonu,</li>
        <li>ortak cep telefonu,</li>
        <li>sabit telefon,</li>
        <li>faks,</li>
        <li>e-mail adresi,</li>
        <li>web adresi,</li>
        <li>muhasebe telefonu,</li>
        <li>muhasebe e-mail adresi, </li><br><br>bilgilerinizi online olarak anında güncelleyebilirsiniz.
        <br><br><i>Adres değişikliği konusu tescile tabi bir değişiklik olması nedeniyle, firma adresinizin (değişti
            ise) Ticaret Sicili Müdürlüğü’nde tescil yolu ile değiştirilmesi gerekmektedir.</i><br><br>Gerektiğinde,
        konu ile ilgili soru veya sorunlarınız için 0.232.498 42 58 nolu telefon numarasından Oda Sicil Müdürlüğümüz ile
        irtibat kurulabilirsiniz. <br><br>Saygılarımızla,<br><br><b>İzmir Ticaret Odası</b>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Ek Faaliyet Kodu Talebi Dilekçesi')">
    <div class="py-5">
        <div id="aa" class=" shadow-lg mx-3">
            <a href="https://api.izto.org.tr/storage/Documents/original/cygBR2eFtELpiPwf.DOCX" target="_blank">
                <p id="button" class="px-3"><span class="material-symbols-outlined">
                        file_download
                    </span>EK FAALİYET (NACE) KODU TALEBİ DİLEKÇESİNİ İNDİRMEK İÇİN TIKLAYINIZ</p>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Faaliyet Kodu Değişiklik Talebi Dilekçesi')">
    <div class="py-5">
        <div id="aa" class=" shadow-md m-3">
            <a href="">
                <p class="px-3"><span class="material-symbols-outlined">
                        file_download
                    </span><b>FAALİYET (NACE) KODU DEĞİŞİKLİK TALEBİ DİLEKÇESİNİ İNDİRMEK İÇİN TIKLAYINIZ.</b></p>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Oda Kayıt Beyannameleri')">
    <div class="py-5">
        <div id="aa" class=" shadow-md m-3">
            <a href="https://api.izto.org.tr/storage/Documents/original/185lKe4BzSTr4a7o.docx">
                <p id="button"><span class="material-symbols-outlined">
                        file_download
                    </span>GERÇEK KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (ISLAK İMZA).</p>
            </a>
        </div>
        <div id="aa" class=" shadow-md m-3">
            <a href="https://api.izto.org.tr/storage/Documents/original/eTxwonyT7IKCfbHi.docx">
                <p id="button"><span class="material-symbols-outlined">
                        file_download
                    </span>TÜZEL KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (ISLAK İMZA).</p>
            </a>
        </div>
        <div id="aa" class=" shadow-md m-3">
            <a href="https://api.izto.org.tr/storage/Documents/original/ySXKdQFgm8vb09Kp.docx">
                <p id="button"><span class="material-symbols-outlined">
                        file_download
                    </span>
                    GERÇEK KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (E-İMZA).</p>
            </a>
        </div>
        <div id="aa" class=" shadow-md m-3">
            <a href="https://api.izto.org.tr/storage/Documents/original/YqisOh3Khbo84dtI.docx">
                <p id="button"><span class="material-symbols-outlined">
                        file_download
                    </span>TÜZEL KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (E-İMZA).</p>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Üyelik Avantajları')">
    <div class="py-5">
        Kanuni bir zorunluluk olmanın dışında İzmir Ticaret Odası'na Üyeliğin pek çok avantajları bulunmaktadır.
        <br><br>İzmir Ticaret Odası Üyeleri Odamızın Web sayfalarında Organizasyon kısmında birimler halinde ve detaylı
        olarak listelenen tüm hizmetlerinden faydalanabilir. Bu hizmetler: <br><br>
        <li>Üyelerimizin mesleki konulardaki istek, beklenti ve problemleri doğrultu sunda inceleme ve araştırmalar
            yaparak gerekli merciler nezdinde girişimlerde bulunma ve sonuçları takip etme,</li>
        <li>İç ve dış ticaret konularında mesleki ve teknik bilgi ve danışmanlık hizmetlerinden yararlanma,</li>
        <li>Yurtdışı fuarlarda Odamız şemsiye standları altında firmalarını ve ürünlerini tanıtma,</li>
        <li>Odamız fuar teşviklerinden faydalanma,</li>
        <li>Odamız yurtdışı iş gezilerine katılarak ticari imkanlarını çeşitlendirme,</li>
        <li>Odamız yayınlarından faydalanma,</li>
        <li>Mevzuat değişiklikleri ve ticari hayatı ilgilendiren duyurularımızdan ivedi bir şekilde haberdar edilme,
        </li>
        <li>İhracatçıların menşe şehadetnameleri ve dolaşım belgelerinin tanzim, kontrol ve onay işlemleri,</li>
        <li>İthalat ve ihracatla ilgili tüm fatura, belge vb'nin suret onayları,</li>
        <li>Dış ticaret işlemlerinin gerektirdiği hallerde eksper ve bilirkişi tayini ve rapor düzenlenmesi,</li>
        <li>Dış anlaşmazlıklarda anlaşmazlığın giderilmesi için gerekli girişimler ve arabuluculuk hizmetlerinden
            yararlanma,</li>
        <li>İmalatçı üyelerin kapasite raporlarının düzenlenmesi, onaylanması ve Odalar Birliği'ne gönderilmesi,</li>
        <li>İç piyasa rayiç fiyatları hakkında rapor ve bilgi alma,</li>
        <li>Onayı istenen faturaların rayice uygun olup olmadığının doğrulanması,</li>
        <li>Yed-i Vahit ve tek imalatçı belge taleplerinin incelenerek sonuçlandırılması,</li>
        <li>İş makinalarının tescil ve tasdik işlemleri,</li>
        <li>Uluslararası karayolu ile yük taşıması yapan nakliye firmaları için TIR karnesi dağıtımının yapılması,</li>
        <li>Uluslararası geçiş belgelerinin temini ve dağıtımı,</li>
        <li>ATA sözleşmesine uygun olarak ATA karnesinin düzenlenmesi ve onaylanması,</li>
        <li>Gayrımenkul ve menkul değerlerin rayiç tesbiti,</li>
        <li>Firmaların çeşitli ticari işlemleri için gerekli ve bazı hallerde alınması zorunlu olan sicil belgesi, imza
            ve kefalet onayları gibi sicil kayıtlarına dayanan belgelerin verilmesi,</li>
        <li>Firma sahibi, ortağı ve yetkililerinin Bağ-Kur ile ilgili tüm formlarının hazırlanması ve onaylanması,</li>
        <li>Ustalık, kalfalık, çıraklık vb sözleşmelerinin onaylarının yapılması,</li>
        <li>Ticari bilgi içeren oldukça fazla sayıda yayına sahip olan Odamız Kütüphanesinden yararlanma,</li>
        <li>Yurtdışı iş teklifleri, yurtdışı fuarlar ve ihalelerle ilgili bilgilendirilme,·</li>
        <li>Türkiye'nin birçok yerindeki otel,sağlık kuruluşları ve otobüs şirkelerinden indirimli yararlanma imkanı,
        </li>
        <li>Başarılı firmaların ödüllendirilmesi,</li>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Üyelik Ücretleri')">
    <div class="py-5">
        <table class="container">
            <tr>
                <td class="col-3">Dereceler</td>
                <td class="col-5">Sermaye Aralıkları</td>
                <td class="col-4">Kayıt Ücretleri Tarifesi</td>
            </tr>
            <tr>
                <td class="col-3">Yeni Kayıt</td>
                <td class="col-5">-</td>
                <td class="col-4">485 TL</td>
            </tr>
            <tr>
                <td class="col-3">1.Derece</td>
                <td class="col-5">1.000.000.00 TL üstü</td>
                <td class="col-4">1280 TL</td>
            </tr>
            <tr>
                <td class="col-3">2.Derece</td>
                <td class="col-5">500.000.00 TL - 1.000.000.00 TL</td>
                <td class="col-4">940 TL</td>
            </tr>
            <tr>
                <td class="col-3">3.Derece</td>
                <td class="col-5">250.000.00 TL - 500.000.00 TL</td>
                <td class="col-4">875 TL</td>
            </tr>
            <tr>
                <td class="col-3">4.Derece</td>
                <td class="col-4">100.000.00 TL - 250.000.00 TL</td>
                <td class="col-5">810 TL</td>
            </tr>
            <tr>
                <td class="col-3">5.Derece</td>
                <td class="col-4">10.000.00 TL - 100.000.00 TL</td>
                <td class="col-5">740 TL</td>
            </tr>
        </table>
        <br><br>
        5174 sayılı “Türkiye Odalar Ve Borsalar Birliği İle Odalar Ve Borsalar Kanunu”<br><br>Madde: 24 <br><br>Kayıt
        ücreti ile yıllık aidat, onaltı yaşından büyükler için uygulanan aylık asgarî ücretin brüt tutarının yüzde
        onundan az, yarısından fazla olamaz. <br><br>“Kayıt Ücreti ile Yıllık Aidat ve Munzam Aidatın Tespiti ve
        Ödenmesi Hakkında Yönetmelik”<br><br>Dereceler <br><br>Madde: 12 <br><br>Oda ve borsalar derece sayısını kendi
        durumlarına göre tespit eder. Ancak, bu derecelerin sayısı beşten az yediden fazla olamaz. (Ek
        cümle:RG-31/1/2017-29965) Ayrıca, bu derecelerden ayrı bir derece ihdas edilerek yeni kurulan sermaye şirketleri
        bu dereceye atanır. Bu derece için belirlenecek kayıt ücreti, aylık asgari ücretin brüt tutarının yüzde onundan
        az, yüzde on beşinden fazla olamaz. <br><br>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('2022 Hizmet Ücretleri Tarifesi')">
    <div class="py-5">
        <b>2022 YILI HİZMET ÜCRETLERİ TARİFESİ</b><br><br><b>TOBB TARAFINDAN BELİRLENEN BELGE VE HİZMET
            ÜCRETLERİ</b><br><br>
        <table class="container">
            <tr>
                <td class="col-2"></td>
                <td class="col-6"><b>Hizmet / Belge Adı</b></td>
                <td class="col-4"><b>Tutarı</b></td>
            </tr>
            <tr>
                <td class="col-2">1</td>
                <td class="col-6">ATR Dolaşım Belgesi *</td>
                <td class="col-4">7,-TL</td>
            </tr>
            <tr>
                <td class="col-2">2</td>
                <td class="col-6">Menşe Şahadetnamesi, *</td>
                <td class="col-4">
                    7,-TL</td>
            </tr>
            <tr>
                <td class="col-2">3</td>
                <td class="col-6">Form.A Dolaşım Belgesi *</td>
                <td class="col-4">7,-TL</td>
            </tr>
            <tr>
                <td class="col-2">4</td>
                <td class="col-6">EUR.1 Dolaşım Belgesi *</td>
                <td class="col-4">
                    7,-TL</td>
            </tr>
            <tr>
                <td class="col-2">5</td>
                <td class="col-6">EUR-MED Dolaşım Belgesi *</td>
                <td class="col-4">
                    7,-TL</td>
            </tr>
        </table>
        <br><br><b>* TOBB tarafından belirlenen belge ve hizmet ücretlerinde yıl içinde yapılan değişikliklerin
            uygulanabilmesi için Yönetim Kurulumuz yetkili kılınmıştır.</b><br><br><b>** TOBB Yönetim Kurulu’nca, yıl
            içinde belirlenebilecek diğer hizmet ücretleri veya yeni uygulamaya konacak hizmetler ile ilgili Yönetim
            Kurulumuz yetkili kılınmıştır.</b>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Aidat Ödemeleri')">
    <div class="py-5">
        <b>ÜYELERİMİZİN DİKKATİNE</b><br><br><b>Aidat ödemek çok daha hızlı çok daha kolay!</b><br><br>
        <li>1. Taksit son ödeme tarihi 30 Haziran 2022 ve 2. Taksitlerin son ödeme tarihi 31 Ekim 2022’dir.</li>
        <br><br>Aidatlarınızı, banka şubelerinden veya bankaların internet şubelerinin fatura ödemeleri alt menüsünden
        ödeyebilirsiniz. <br><br><b>KURUMSAL TAHSİLAT SİSTEMİ İLE ONLİNE ÖDEME YAPILAN BANKALAR</b><br><br><img
            src="https://api.izto.org.tr/storage/EditorUpload/original/auNqbGU5vfwg38xS.png" alt=""><br><br>· Yukarıda
        adı yazılı bankaların tüm şubelerinden, Oda sicil numaralarınızı bildirerek, özel ekran aracılığıyla kurumsal
        tahsilat sisteminde masrafsız ödeme yapabilirsiniz. <br><br> · 2022 yılı munzam aidatlarınızın hesaplanabilmesi
        için 2021 yılına ait bilanço veya beyannamelerinizi Odamıza teslim edebilir veyaaidat@izto.org.tr adresine
        elektronik olarak gönderebilirsiniz. <br>
        Aidatlarınızı web sitemizde yer alan https://eoda.izto.org.tr/web/aidat_odeme.aspx?id=290
        linkine tıkladığınızda açılacak olan ödeme ekranına kredi kartı bilgilerinizi girmek suretiyle online olarak
        ödeyebilirsiniz. <br> · 444 92 92 numaralı çağrı merkezimizden tüm sorularınıza yanıt alabilirsiniz. <div
            class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('İndirimli Kuruluşlar')">
    <div class="py-5">
        <b>** Türk Standartları Enstitüsü'nden Üyelerimize İndirim</b><br><br>TSE Deney ve Kalibrasyon Merkez Başkanı
        Mehmet Hüsrev ile 4 Eylül 2014 tarihinde imzaladığımız protokol uyarınca TSE Deney ve Kalibrasyon Merkez
        Başkanlığı laboratuvarlarından alacağınız; <br><br>
        <li>Kalibrasyon hizmetlerinden yüzde 40</li>
        <li>Eğitim hizmetlerinden yüzde 30</li>
        <li>Deney hizmetlerinden yüzde 20 (TSE’den Gözetim hizmeti de alan üyelerimizin deney hizmetlerindeki indirim
            oranı % 30)</li>
        <li>CE belgelendirme hizmetlerinden yüzde 20 indirimli olarak yararlanabileceksiniz.</li><br><br>Bu indirimden
        yararlanmak için ödeme yaparken lütfen İzmir Ticaret Odası üyesi olduğunuzu belirtin. <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Üyeler')">
    <div class="py-5">
        <div id="aa" class=" shadow-lg m-3">
            <a href="https://eoda.izto.org.tr/web/FirmaTescilSorgulama.aspx" target="_blank">
                <p id="button" class="px-3">Üye Firma Sorgulama<span class="material-symbols-outlined">
                        open_in_new
                    </span></p>
            </a>
        </div>
        <div id="aa" class=" shadow-lg m-3">
            <a href="https://eoda.izto.org.tr/web/uye_firmalar_yeni.aspx?id=286" target="_blank">
                <p id="button" class="px-3">Yeni Üye Kayıt Online Takip<span class="material-symbols-outlined">
                        open_in_new
                    </span></p>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('İZTO Hizmet Standartları')">
    <div class="py-5">
        <div id="aa" class="col shadow-lg m-3">
            <a href="">
                <p><span style="height: 100%;" class="material-symbols-outlined">
                        file_download
                    </span>
                    MALİ İŞLER HİZMET STANDARTLARI TABLOSU</p>
            </a>
        </div>
        <div id="aa" class="col shadow-lg m-3">
            <a href="">
                <p><span style="height: 100%;" class="material-symbols-outlined">
                        file_download
                    </span>TİCARET SİCİLİ MÜDÜRLÜĞÜ HİZMET STANDARTLARI TABLOSU</p>
            </a>
        </div>
        <div id="aa" class="col shadow-lg m-3">
            <a href="">
                <p><span style="height: 100%;" class="material-symbols-outlined">
                        file_download
                    </span>TİCARİ İŞLEMLER MÜDÜRLÜĞÜ HİZMET STANDARTLARI TABLOSU</p>
            </a>
        </div>
        <div id="aa" class="col shadow-lg m-3">
            <a href="">
                <p><span style="height: 100%;" class="material-symbols-outlined">
                        file_download
                    </span>ODA SİCİL MÜDÜRLÜĞÜ HİZMET STANDARTLARI TABLOSU</p>
            </a>
        </div>
    </div>
</ng-container>




