<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <b>TİCARİ KAZANÇ BEYAN FORMU</b>
    <div class="seperator my-2">
        <div></div>
    </div>
    <b>1 - Oda Sicil Numaranız</b><br><br><input id="textA" type="text"><br><br><b>2 - Ünvanınız</b><br><br><input
        id="textA" type="text"><br><br><b>3 - Zarar</b><br><br><input id="textA" type="text"><br><br><b>4 -
        Kar</b><br><br><input id="textA" type="text"><br><br><b>5 - Munzam Aidat %0,5</b><br><br><input id="textA"
        type="text"><br><br><b>Bağlı Bulunduğunuz</b>
    <div class="seperator my-2">
        <div></div>
    </div><b>7 - Vergi Dairesi</b><br><br><input id="textA" type="text"><br><br><b>8 - Vergi Numaranız</b><br><br><input
        id="textA" type="text"><br><br><b>Kişisel Bilgileriniz</b>
    <div class="seperator my-2">
        <div></div>
    </div><b>10 - Adınız Soyadınız</b><br><br><input id="textA" type="text"><br><br><b>11 - Firma Yetkili Cep
        Telefonu</b><br><br><input id="textA" type="text"><br><br><b>12 - E-Posta Adresiniz</b><br><br><input id="textA"
        type="text"><br><br><b>2021 yılı Kurumlar veya Gelir Vergisi Beyannamesine Göre</b>
    <div class="seperator my-2">
        <div></div>
    </div><b>14 - Kurumlar/Gelir Vergisi Beyannamesi Yükleyebilirsiniz (pdf formatında yüklenmelidir)</b><br><br><input
        type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"> <br><br><input type="checkbox">Kişisel
    Verileri Koruma Kanunu Bilgilendirmesini Kabul Ediyorum.
    <br><br>
    <button class="btn btn-info w-100">Gonder</button>
</div>