<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-5 container">
        <ul>İzmir Ticaret Odası'nın Organları:
            <li>Meslek Komiteleri,</li>
            <li>Meclis,</li>
            <li>Yönetim Kurulu'dur.</li>
        </ul>
        <p>Meslek Komiteleri, Meslek Gruplarına dahil Üyelerin, kendi Üyeleri arasından yargı gözetimi altında gizli
            oyla seçtikleri Üyelerden oluşur.</p>
        <p> </p>
        <p>Oda Meclisi, Oda'nın en yüksek karar ve denetim organı olup, Meslek Komiteleri'nin kendi Üyeleri arasından
            yargı gözetimi altında gizli oyla seçtikleri 2'şer Üye'nin toplamından oluşur. Oda Meclisi'nin görev süresi
            4 yıldır.</p>
        <p></p>
        <p>Oda Yönetim Kurulu, Oda'nın en yüksek icra organı olup Meclis'in kendi Üyeleri arasından dört yıl için
            seçtiği (11) kişiden oluşur.</p>
        <ul>İzmir Ticaret Odası'nın Yönetim Yapısı
            İzmir Ticaret Odası'nın hizmetleri, ilgili mevzuat hükümlerine göre belirlenen birimler tarafından
            yürütülür. Bu birimler;
            <li>Genel Sekreter</li>
            <li>Genel Sekreter Yardımcısı</li>
            <li>Danışmanlar ve Genel Sekreterliğe Bağlı Kadrolar</li>
            <li>Bölüm Müdürlükleri</li>
        </ul>
        <div class="seperator">
            <div></div>
        </div>
        <div class="w-100 d-flex social-share justify-content-end align-items-center py-2"><div class="share-text p-2">
            PAYLAŞ
          </div> <div class="d-flex justify-content-end align-items-center">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank">
                <span tabindex="0" data-link="#share-twitter" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-twitter"></i>
                </span> 
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.izto.org.tr%2F&amp;src=sdkpreparse">
                <span tabindex="0" data-link="#share-facebook" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-facebook"></i>
                </span> 
            </a>
            <a href="whatsapp://send?text">
                <span tabindex="0" data-link="#share-whatsapp" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-whatsapp"></i>
                </span>
            </a>
            <span tabindex="0" data-link="#share-linkedin" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-linkedin"></i></span> <span tabindex="0" data-link="#share-pinterest" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-pinterest "></i></span> <span tabindex="0" data-link="#share-reddit" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-reddit"></i></span>
            </div>
    </div>