<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="py-5 container" id="accordion">
    <div style="box-shadow: 1px 2px 3px black;" class="p-2">
        <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            <i class="bi bi-caret-down-fill"></i>Devam Eden İhaleler
        </a>

        <div style="width: 93%; background-color:#f8f9fa; color: #1d3557; top: 5px;" id="collapseOne"
            class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <ul class="list-unstyled">
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>04/08/2022</p>
                            <p>
                                <b>İZFAŞ Temizlik Malzemesi Alımı İşi</b>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>04/08/2022</p>
                            <p>
                                <b>İZFAŞ Asansörlerin Kabin İçi Güvenlik Filmli Ayna Alımı Demontaj Ve Montajı İşi</b>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div style="box-shadow: 1px 2px 3px black;" class="p-2">
        <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">
            <i class="bi bi-caret-down-fill"></i>Süresi Sona Ermiş İhaleler
        </a>
        <div style="width: 93%; background-color:#f8f9fa; color: #1d3557; top: 5px;" id="collapseTwo" class="collapse"
            aria-labelledby="headingTwo" data-parent="#accordion">
            <ul class="list-unstyled">
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>30/06/2022</p>
                            <p>
                                <b>İZFAŞ Yenilenebilir Enerji Kaynak Sertifikalı Elektrik Enerjisi Alımı</b>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>28/01/2022</p>
                            <p>
                                <b>İzfaş Fuar İzmir Alanı Kule İzmir Giriş Kapısı Cam Alımı ve Montajı İşi</b>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>15/06/2022</p>
                            <p>
                                <b>İZFAŞ Oksijen Kaynak Seti ve Kaynak Teli Alımı İşi</b>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>
                                15/06/2022</p>
                            <p>
                                <b>İzfaş Ters Klavuz Takımı, Keski Zımba Tabancası, Yağdanlık, Pafta Diş Açma Yağı
                                    Alımı</b>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>15/06/2021</p>
                            <p>
                                <b>İZFAŞ Yangın Dolabı Kasası Kırmızı, Yangın Dolabı Kasası Beyaz Ve Düşürücülü Yangın
                                    Vanası Alımı İşi</b>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>13/06/2022</p>
                            <p>
                                <b>İZFAŞ Sabit Telefon Ücretlendirme Hizmeti</b>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>25/09/2022</p>
                            <p>
                                <b>İZFAŞ Isı Cam ve Temperli Cam Alımı İşi</b>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>