<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-4 container ">
        <div class="row">
            <div class="col">
                <a href="">
                    <img src="https://api.izto.org.tr/storage/ComuniteWorksCategory/original/DfXjMs6ITugot456."
                        alt="sadas" class="img-fluid w-100">
                    <h3 class="imgP">01</h3>
                </a>
            </div>
            <div class="col">
                <a href="">
                    <img src="https://api.izto.org.tr/storage/ComuniteWorksCategory/original/pC1oo3dNTdMUw04P.jpg"
                        alt="sadas" class="img-fluid w-100">
                    <h3 class="imgP">01</h3>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="">
                    <img src="https://api.izto.org.tr/storage/ComuniteWorksCategory/original/0vSYTiYnMFaPjI0j."
                        alt="sadas" class="img-fluid w-100">
                    <h3 class="imgP">01</h3>
                </a>
            </div>
            <div class="col">
                <a href="">
                    <img src="https://api.izto.org.tr/storage/ComuniteWorksCategory/original/KAzhxFXVQDxGXWcR."
                        alt="sadas" class="img-fluid w-100">
                    <h3 class="imgP">01</h3>
                </a>
            </div>
        </div>
    </div>
