h5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bolder;
}

P {
    margin: 0.5rem;
}



span {
    vertical-align: bottom;
    color: #e63946;
}

a {
    text-decoration: none;
    color: #1d3557;
}

#textLink {
    color: #e63946;
}




.th {
    background-image: url(https://api.izto.org.tr/storage/Setting/banner.png);
    text-align: center;
    color: #f1faee;
}

.collar {
    border: 2px solid #1d3557;
    border-radius: 4px;
    cursor: pointer;
}

.newSeperator {
    width: 20rem;
    text-align: center;
    background-color: #e63946;
    height: 2px;
    margin-left: 2rem;
}



.card-body p {
    margin: 1rem;
}