nav img {
    width: 120px;
}

.header {
    width: 100%;
    background-position: center;
    position: relative;
}

#navbarDropdownMenuLink {
    color: #1d3557;
}

#navbarDropdownMenuLink:hover {
    color: #457b9d;
}

.hbf {
    width: 80%;
    margin-left: 10%;
}

span {
    vertical-align: bottom;
}

.hbf div div a {
    color: #f1faee;
}

.hbf div div a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f1faee;
    display: block;
    margin: auto;
}

.hbf div div a:hover::after {
    transition: 0.3s;
    width: 100%;
}

.hbs {
    width: 90%;
    margin-left: 5%;
    border-radius: 4px;
}

.hbs-font {
    font-size: 0.8rem;
    color: #1d3557;
}

.col-4 {
    padding-left: 12px;
    padding-right: 12px;
}

.dropdown-menu ul li a {
    color: #1d3557;
    font-size: 0.8rem;
}

span {
    vertical-align: bottom;
}

.dropdown-item {
    padding: 0.25rem 1rem;
}


.dropdown-menu ul li ul li a {
    color: #1d3557;
    font-size: 0.7rem;
}

.nav-link {
    color: #1d3557;
}

#env {
    vertical-align: bottom;
    text-align: center;
    font-size: 18px !important;
}

#bban {
    min-width: 50vw !important;
}