<section class="header">
    <nav class="navbar navbar-expand-lg hbf">
        <a class="navbar-brand" (click)="onSelect('main')" href="#"><img
                src="https://api.izto.org.tr/storage/HeaderFixed/original/A9YNZTxsGJmINlY9.svg" alt="se"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="#"><i id="env" class="material-symbols-outlined"> support_agent
                    </i> Çağrı Merkezi <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#"><i id="env" class="material-symbols-outlined">mail</i>
                    e-Posta</a>
                <a class="nav-link" href="#"><i id="env" class="material-symbols-outlined">group</i> Sosyal</a>
                <a class="nav-link" href="#"><i id="env" class="material-symbols-outlined">speed</i>Hızlı
                    Erişim</a>
                <a class="nav-link" href="#"><i id="env" class="material-symbols-outlined">language</i> Online
                    İşlemler</a>
            </div>
        </div>
    </nav>
    <nav id="md" class="navbar navbar-expand-lg navbar-light bg-light hbs">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav row w-100 justify-content-around ">
                <li class="nav-item">
                    <a (click)="onSelect('main')" id="navbarDropdownMenuLink" class="nav-link hbs-font"
                        href="#">Anasayfa</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Kurumsal
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <a href="#" class="dropdown-item" (click)="onSelect('menu')"
                                    (click)="onSelectNav('Kurumsal')"
                                    (click)="onSelectDrop('xVizyonumuz ve Misyonumuz')">Vizyonumuz
                                    ve
                                    Misyonumuz</a>
                            </li>
                            <li class="my-1">
                                <a href="#" class="dropdown-item" (click)="onSelect('menu')"
                                    (click)="onSelectNav('Kurumsal')"
                                    (click)="onSelectDrop('xTemel Değerlerimiz ve Yönetim Politikamız')">Temel
                                    Değerlerimiz
                                    ve
                                    Yönetim Politikamız</a>
                            </li>
                            <li>
                                <ul class="list-unstyled"><a href="#" class="dropdown-item" (click)="onSelect('menu')"
                                        (click)="onSelectNav('Kurumsal')"
                                        (click)="onSelectDrop('xOrganizasyon Yapısı')">Organizasyon
                                        Yapısı</a>
                                    <li><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('Kurumsal')"
                                            (click)="onSelectDrop('xYönetim Kurulu')"
                                            (click)="onSelectDrop('xYönetim Kurulu')" class="dropdown-item"><span
                                                style="font-size: 0.8rem;" class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Yönetim Kurulu</a></li>
                                    <li>
                                    <li><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('Kurumsal')"
                                            (click)="onSelectDrop('xMeclis')" class="dropdown-item"><span
                                                style="font-size: 0.8rem;" class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Meclis</a>

                                    </li>

                                    <li><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('Kurumsal')"
                                            (click)="onSelectDrop('xDisiplin Kurulu')" class="dropdown-item"><span
                                                style="font-size: 0.8rem;" class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Disiplin Kurulu</a></li>
                                    <li><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('Kurumsal')"
                                            (click)="onSelectDrop('xMeslek Kurulu Üyeleri')"
                                            class=" dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Meslek Kurulu Üyeleri</a></li>
                                    <li>
                                        <a href="#" (click)="onSelect('menu')" (click)="onSelectNav('Kurumsal')"
                                            class="dropdown-item" (click)="onSelectDrop('xOrganizasyon Şeması')"><span
                                                style="font-size: 0.8rem;" class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Organizasyon Şeması</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('Kurumsal')"
                                    class="dropdown-item" (click)="onSelectDrop('xLogo ve Kurumsal Kimlik')">Logo ve
                                    Kurumsal Kimlik</a></li>
                            <li><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('Kurumsal')"
                                    class="dropdown-item" (click)="onSelectDrop('xOda Hesapları')">Oda Hesapları</a>
                            </li>
                            <li><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('Kurumsal')"
                                    class="dropdown-item"
                                    (click)="onSelectDrop('xStratejik Planlar ve Çalışma Programları')">Stratejik
                                    Planlar ve Çalışma Programları</a>
                            </li>
                            <li><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('Kurumsal')"
                                    class="dropdown-item" (click)="onSelectDrop('xKardeş Odalar')">Kardeş Odalar</a>
                            </li>
                            <li><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('Kurumsal')"
                                    class="dropdown-item" (click)="onSelectDrop('xKVKK')">KVKK</a></li>
                            <li>
                                <ul><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('Kurumsal')"
                                        class="dropdown-item" (click)="onSelectDrop('xEtkinlik Takvimi')">Etkinlik
                                        Takvimi</a>
                                    <li><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('Kurumsal')"
                                            class="dropdown-item"
                                            (click)="onSelectDrop('xÖzel Gün ve Haftalar Takvimi')"><span
                                                style="font-size: 0.8rem;" class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Özel Gün ve Haftalar Takvimi</a>
                                    </li>
                                    <li><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('Kurumsal')"
                                            class="dropdown-item"
                                            (click)="onSelectDrop('xKomite Toplantı Takvimi')"><span
                                                style="font-size: 0.8rem;" class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Komite Toplantı Takvimi</a></li>
                                </ul>
                            </li>
                            <li><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('Kurumsal')"
                                    class="dropdown-item" (click)="onSelectDrop('xHizmet Rehberi')">Hizmet Rehberi</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        E-Oda
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <a href="#" class="dropdown-item" (click)="onSelect('menu')"
                                    (click)="onSelectNav('E-Oda')"
                                    (click)="onSelectDrop('xMeslek Komitesi Çalışmaları')">Meslek Komitesi
                                    Çalışmaları</a>
                            </li>
                            <li class="my-1">
                                <ul class="list-unstyled"> <a href="#" (click)="onSelect('menu')"
                                        (click)="onSelectNav('E-Oda')" (click)="onSelectDrop('xE-Formlar')"
                                        class="dropdown-item">E-Formlar</a>
                                    <li><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('E-Oda')"
                                            (click)="onSelectDrop('xÜye Bilgi Güncelleme Formu')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Üye Bilgi Güncelleme Formu</a></li>
                                    <li><a href="#" (click)="onSelect('menu')" (click)="onSelectNav('E-Oda')"
                                            class="dropdown-item" (click)="onSelectDrop('xÜye Memnuniyet Anketi')"><span
                                                style="font-size: 0.8rem;" class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Üye Memnuniyet Anketi</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xÇağrı Merkezi Memnuniyeti Anketi')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('E-Oda')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Çağrı Merkezi Üye Memnuniyeti Anketi</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xMeslek Komiteleri İletişim Formu')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('E-Oda')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Meslek Komiteleri İletişim Formu</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xTicari Kazanç Beyan Formu')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('E-Oda')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Ticari Kazanç Beyan Formu</a></li>
                                    <li><a href="#"
                                            (click)="onSelectDrop('xİzmir Ticaret Odası Şikayet ve Öneri Süreci')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('E-Oda')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>İzmir Ticaret Odası Şikayet ve Öneri Süreci</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xGüncelleme')" (click)="onSelect('menu')"
                                            (click)="onSelectNav('E-Oda')" class="dropdown-item"><span
                                                style="font-size: 0.8rem;" class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Güncelleme</a></li>
                                </ul>
                            </li>

                            <li class="my-1">
                                <ul class="list-unstyled"> <a href="#" (click)="onSelectDrop('xBilgi Edinme Birimi')"
                                        class="dropdown-item">Bilgi Edinme Birimi</a>
                                    <li><a href="#" (click)="onSelectDrop('xGerçek Kişiler İçin Bilgi Edinme Formu')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('E-Oda')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Gerçek Kişiler İçin Bilgi Edinme Formu</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xTüzel Kişiler İçin Bilgi Edinme Formu')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('E-Oda')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Tüzel Kişiler İçin Bilgi Edinme Formu</a></li>
                                </ul>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xVizyon Dergisi')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('E-Oda')" class="dropdown-item">Vizyon Dergisi</a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Üyelik ve Üyeler
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <ul class="list-unstyled"> <a href="#" (click)="onSelect('menu')"
                                        (click)="onSelectNav('Üyelik ve Üyeler')"
                                        (click)="onSelectDrop('xÜyelik İşlemleri')" class="dropdown-item">Üyelik
                                        İşlemleri</a>
                                    <li><a href="#" (click)="onSelectDrop('xOnline Üye Bilgi Güncelleme')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('Üyelik ve Üyeler')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Online Üye Bilgi Güncelleme</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xEk Faaliyet Kodu Talebi Dilekçesi')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('Üyelik ve Üyeler')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Ek Faaliyet Kodu Talebi Dilekçesi</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xFaaliyet Kodu Değişiklik Talebi Dilekçesi')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('Üyelik ve Üyeler')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Faaliyet Kodu Değişiklik Talebi Dilekçesi</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xOda Kayıt Beyannameleri')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('Üyelik ve Üyeler')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Oda Kayıt Beyannameleri</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xÜyelik Avantajları')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('Üyelik ve Üyeler')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Üyelik Avantajları</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xÜyelik Ücretleri')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('Üyelik ve Üyeler')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Üyelik Ücretleri</a></li>
                                    <li><a href="#" (click)="onSelectDrop('x2022 Hizmet Ücretleri Tarifesi')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('Üyelik ve Üyeler')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>2022 Hizmet Ücretleri Tarifesi</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xAidat Ödemeleri')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('Üyelik ve Üyeler')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Aidat Ödemeleri</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xİndirimli Kuruluşlar')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('Üyelik ve Üyeler')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>İndirimli Kuruluşlar</a></li>
                                </ul>
                            </li>
                            <li class="my-1">
                                <ul class="list-unstyled"> <a href="#" (click)="onSelectDrop('xÜyeler')"
                                        (click)="onSelect('menu')" (click)="onSelectNav('Üyelik ve Üyeler')"
                                        class="dropdown-item">Üyeler</a>
                                </ul>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xİZTO Hizmet Standartları')"
                                    (click)="onSelect('menu')" (click)="onSelectNav('Üyelik ve Üyeler')"
                                    class="dropdown-item">İZTO Hizmet Standartları</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xFaaliyet Kodları ve Meslek Grupları Tanımları')"
                                    (click)="onSelect('menu')" (click)="onSelectNav('Üyelik ve Üyeler')"
                                    class="dropdown-item">Faaliyet Kodları ve Meslek Grupları Tanımları</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Duyuru ve Etkinlikler
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <ul class="list-unstyled"> <a href="#" (click)="onSelect('menu')"
                                        (click)="onSelectNav('Duyuru ve Etkinlikler')"
                                        (click)="onSelectDrop('tDuyurular')" class="dropdown-item">Duyurular</a>
                                    <li><a href="#" (click)="onSelectDrop('xGenel Duyurular')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('Duyuru ve Etkinlikler')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Genel Duyurular</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xOda Duyuruları')" (click)="onSelect('menu')"
                                            (click)="onSelectNav('Duyuru ve Etkinlikler')" class="dropdown-item"><span
                                                style="font-size: 0.8rem;" class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Oda Duyuruları</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xFuar Duyuruları')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('Duyuru ve Etkinlikler')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Fuar Duyuruları</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xDış Ticaret Duyuruları')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('Duyuru ve Etkinlikler')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Dış Ticaret Duyuruları</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xTicaret Sicil Duyuruları')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('Duyuru ve Etkinlikler')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Ticaret Sicil Duyuruları</a></li>
                                </ul>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xEğitimler')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('asdasdasd')" class="dropdown-item">Eğitimler</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        İhalelerimiz
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xİzmir Ticaret Odası İhalelerimiz')"
                                    (click)="onSelect('menu')" (click)="onSelectNav('İhalelerimiz')"
                                    class="dropdown-item">İzmir Ticaret Odası İhalelerimiz</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xİZTO Eğitim ve Sağlık Vakfı İhaleleri')"
                                    (click)="onSelect('menu')" (click)="onSelectNav('İhalelerimiz')"
                                    class="dropdown-item">İZTO Eğitim ve Sağlık Vakfı İhaleleri </a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xİZQ İhaleleri')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('İhalelerimiz')" class="dropdown-item">İZQ İhaleleri</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xİzmir Ekonomi Üniversitesi İhaleleri')"
                                    (click)="onSelect('menu')" (click)="onSelectNav('İhalelerimiz')"
                                    class="dropdown-item">İzmir Ekonomi Üniversitesi İhaleleri</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xİZFAŞ İhaleleri')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('İhalelerimiz')" class="dropdown-item">İZFAŞ İhaleleri</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Ticaret Noktası
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xİhracat Destek Ofisi')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('Ticaret Noktası')" class="dropdown-item">İhracat Destek
                                    Ofisi</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xGirişimcilik')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('Ticaret Noktası')" class="dropdown-item">Girişimcilik</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xVize Hizmetleri')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('Ticaret Noktası')" class="dropdown-item">Vize Hizmetleri</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xFuarlar')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('Ticaret Noktası')" class="dropdown-item">Fuarlar</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xİhaleler')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('Ticaret Noktası')" class="dropdown-item">İhaleler</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Bilgi Bankası
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xTicaret Sicili Rehberi')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('Bilgi Bankası')" class="dropdown-item">Ticaret Sicili
                                    Rehberi</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xOda Sicili Rehberi')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('Bilgi Bankası')" class="dropdown-item">Oda Sicili Rehberi</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xTicari İşletme Rehberi')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('Bilgi Bankası')" class="dropdown-item">Ticari İşletme
                                    Tanımları</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xTicari İşlemler Rehberi')"
                                    (click)="onSelect('menu')" (click)="onSelectNav('Bilgi Bankası')"
                                    class="dropdown-item">Ticari İşlemler Rehberi</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xKruvaziyer Turizmi')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('Bilgi Bankası')" class="dropdown-item">Kruvaziyer Turizmi</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xHukuk Sahfası')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('Bilgi Bankası')" class="dropdown-item">Hukuk Sahfası</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xFire ve Zaiyat Oranları')"
                                    (click)="onSelect('menu')" (click)="onSelectNav('Bilgi Bankası')"
                                    class="dropdown-item">Fire ve Zaiyat Oranları</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xGayrimenkul Danışmanlığı')"
                                    (click)="onSelect('menu')" (click)="onSelectNav('Bilgi Bankası')"
                                    class="dropdown-item">Gayrimenkul Danışmanlığı</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xYenişehir Ticaret Merkezi')"
                                    (click)="onSelect('menu')" (click)="onSelectNav('Bilgi Bankası')"
                                    class="dropdown-item">Yenişehir Ticaret Merkezi</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xİzmir')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('Bilgi Bankası')" class="dropdown-item">İzmir</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xUlusal ve Uluslararası Bağlantılar')"
                                    (click)="onSelect('menu')" (click)="onSelectNav('Bilgi Bankası')"
                                    class="dropdown-item">Ulusal ve Uluslararası Bağlantılar</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xİzmir Ticaret Odası İhracatçı Firmalar Listesi')"
                                    (click)="onSelect('menu')" (click)="onSelectNav('Bilgi Bankası')"
                                    class="dropdown-item">İzmir Ticaret Odası İhracatçı Firmalar Listesi</a>
                            </li>
                            <li class="my-1">
                                <a href="#" (click)="onSelectDrop('xSıkça Sorulan Sorular')" (click)="onSelect('menu')"
                                    (click)="onSelectNav('Bilgi Bankası')" class="dropdown-item">Sıkça Sorulan
                                    Sorular</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        İZTOTAM
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <ul class="list-unstyled"> <a href="#" (click)="onSelect('menu')"
                                        (click)="onSelectNav('İZTOTAM')"
                                        (click)="onSelectDrop('xArabuluculuk Sürecinin Temel Nitelikleri')"
                                        class="dropdown-item">
                                        Arabuluculuk Sürecinin Temel Nitelikleri
                                    </a>
                                    <li><a href="#" (click)="onSelectDrop('xAlternatif Çözüm Yolları')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('İZTOTAM')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Alternatif Çözüm Yolları</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xArabuluculuk Kuralları')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('İZTOTAM')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Arabuluculuk Kuralları</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xArabulucu Listesi')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('İZTOTAM')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Arabulucu Listesi</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xArabuluculuk Süreci Akış Şeması')"
                                            (click)="onSelect('menu')" (click)="onSelectNav('İZTOTAM')"
                                            class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>
                                            Arabuluculuk Süreci Akış Şeması</a></li>
                                    <li><a href="#" (click)="onSelectDrop('xKolay Başvuru')" (click)="onSelect('menu')"
                                            (click)="onSelectNav('İZTOTAM')" class="dropdown-item"><span
                                                style="font-size: 0.8rem;" class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>
                                            Kolay Başvuru</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a id="navbarDropdownMenuLink" (click)="onSelectDrop('xİletişim')" (click)="onSelect('contact')"
                        (click)="onSelectNav('İletişim')" class="nav-link hbs-font" href="#">İletişim</a>
                </li>
            </ul>
        </div>
    </nav>
</section>