<section class="header">
    <nav class="navbar navbar-expand-lg hbf">
        <a class="navbar-brand" href="#"><img
                src="https://api.izto.org.tr/storage/HeaderFixed/original/A9YNZTxsGJmINlY9.svg" alt="se"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="#"><i id="env" class="material-symbols-outlined"> support_agent
                    </i> Çağrı Merkezi <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#"><i id="env" class="material-symbols-outlined">mail</i>
                    e-Posta</a>
                <a class="nav-link" href="#"><i id="env" class="material-symbols-outlined">group</i> Sosyal</a>
                <a class="nav-link" href=""><i id="env" class="material-symbols-outlined">speed</i>Hızlı
                    Erişim</a>
                <a class="nav-link" href=""><i id="env" class="material-symbols-outlined">language</i> Online
                    İşlemler</a>
            </div>
        </div>
    </nav>
    <nav id="md" class="navbar navbar-expand-lg navbar-light bg-light hbs">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav row w-100 justify-content-around ">
                <li class="nav-item">
                    <a class="nav-link hbs-font" href="#">Anasayfa</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink2" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Kurumsal
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <a href class="dropdown-item">Vizyonumuz ve Misyonumuz</a>
                            </li>
                            <li class="my-1">
                                <a href="" class="dropdown-item">Temel Değerlerimiz ve Yönetim Politikamız</a>
                            </li>
                            <li>
                                <ul class="list-unstyled"><a href="" class="dropdown-item">Organizasyon
                                        yapısı</a>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Yönetim Kurulu</a></li>
                                    <li>
                                        <ul class="list-unstyled"><a href="" class="dropdown-item"><span
                                                    style="font-size: 0.8rem;" class="material-symbols-outlined">
                                                    subdirectory_arrow_right
                                                </span>Meclis</a>
                                            <li class="ml-2"><a href="" class="dropdown-item"><span
                                                        style="font-size: 0.8rem;" class="material-symbols-outlined">
                                                        subdirectory_arrow_right
                                                    </span>Meclis
                                                    Başkanlık Divanı</a>
                                            </li>
                                            <li class="ml-2"><a href="" class="dropdown-item"><span
                                                        style="font-size: 0.8rem;" class="material-symbols-outlined">
                                                        subdirectory_arrow_right
                                                    </span>Meclis Üyeleri</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Disiplin Kurulu</a></li>
                                    <li><a href="" class=" dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Meslek Kurulu Üyeleri</a></li>
                                    <li>
                                        <a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Organizasyon Şeması</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="" class="dropdown-item">Logo ve Kurumsal Kimlik</a></li>
                            <li><a href="" class="dropdown-item">Oda Hesapları</a></li>
                            <li><a href="" class="dropdown-item">Stratejik Planlar ve Çalışma Programları</a>
                            </li>
                            <li><a href="" class="dropdown-item">Kardeş Odalar</a></li>
                            <li><a href="" class="dropdown-item">KVKK</a></li>
                            <li>
                                <ul><a href="" class="dropdown-item">Etkinlik Takvimi</a>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Özel Gün ve Haftalar Takvimi</a>
                                    </li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Komite Toplantı Takvimi</a></li>
                                </ul>
                            </li>
                            <li><a href="" class="dropdown-item">Hizmet Rehberi</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        E-Oda
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <a href class="dropdown-item">Meslek Komitesi Çalışmaları</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Temel Değerlerimiz ve Yönetim Politikamız</a>
                            </li>
                            <li class="my-1">
                                <ul class="list-unstyled"> <a href class="dropdown-item">E-Formlar</a>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Üye Bilgi Güncelleme Formu</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Üye Memnuniyet Anketi</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Çağrı Merkezi Üye Memnuniyeti Anketi</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Meslek Komiteleri İletişim Formu</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Ticari Kazanç Beyan Formu</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>İzmir Ticaret Odası Şikayet ve Öneri Süreci</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Güncelleme</a></li>
                                </ul>
                            </li>

                            <li class="my-1">
                                <ul class="list-unstyled"> <a href class="dropdown-item">Bilgi Edinme Birimi</a>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Gerçek Kişiler İçin Bilgi Edinme Formu</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Tüzel Kişiler İçin Bilgi Edinme Formu</a></li>
                                </ul>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Vizyon Dergisi</a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Üyelik ve Üyeler
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <ul class="list-unstyled"> <a href class="dropdown-item">Üyelik İşlemleri</a>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Online Üye Bilgi Güncelleme</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Ek Faaliyet Kodu Talebi Dilekçesi</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Faaliyet Kodu Değişiklik Talebi Dilekçesi</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Oda Kayıt Beyannameleri</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Üyelik Avantajları</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Üyelik Ücretleri</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>2022 Hizmet Ücretleri Tarifesi</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Aidat Ödemeleri</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>İndirimli Kuruluşlar</a></li>
                                </ul>
                            </li>
                            <li class="my-1">
                                <ul class="list-unstyled"> <a href class="dropdown-item">Üyeler</a>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Üye Firma Sorgulama</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Yeni Üye Kayıt Online Takip</a></li>
                                </ul>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">İZTO Hizmet Standartları</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Faaliyet Kodları ve Meslek Grupları Tanımları</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Duyuru ve Etkinlikler
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <ul class="list-unstyled"> <a href class="dropdown-item">Duyurular</a>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Genel Duyurular</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Oda Duyuruları</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Fuar Duyuruları</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Dış Ticaret Duyuruları</a></li>
                                    <li><a href="" class="dropdown-item"><span style="font-size: 0.8rem;"
                                                class="material-symbols-outlined">
                                                subdirectory_arrow_right
                                            </span>Ticaret Sicil Duyuruları</a></li>
                                </ul>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Eğitimler</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        İhalelerimiz
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <a href class="dropdown-item">İzmir Ticaret Odası İhalelerimiz</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">İZTO Eğitim ve Sağlık Vakfı İhaleleri </a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">İZQ İhaleleri</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">İzmir Ekonomi Üniversitesi İhaleleri</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">İZFAŞ İhaleleri</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Ticaret Noktası
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <a href class="dropdown-item">İhracat Destek Ofisi</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Girişimcilik</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Vize Hizmetleri</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Fuarlar</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">İhaleler</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Bilgi Bankası
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <a href class="dropdown-item">Ticaret Sicili Rehberi</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Oda Sicili Rehberi</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Ticari İşletme Tanımları</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Ticari İşlemler Rehberi</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Kruvaziyer Turizmi</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Hukuk Sahfası</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Fire ve Zaiyat Oranları</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Gayrimenkul Danışmanlığı</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Yenişehir Ticaret Merkezi</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">İzmir</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Ulusal ve Uluslararası Bağlantılar</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">İzmir Ticaret Odası İhracatçı Firmalar Listesi</a>
                            </li>
                            <li class="my-1">
                                <a href class="dropdown-item">Sıkça Sorulan Sorular</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hbs-font" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        İZTOTAM
                    </a>
                    <div class="dropdown-menu m-1 p-1" aria-labelledby="navbarDropdownMenuLink2">
                        <ul class="list-unstyled">
                            <li class="my-1">
                                <a href class="dropdown-item">Arabuluculuk Sürecinin Temel Nitelikleri</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link hbs-font" href="#">İletişim</a>
                </li>
            </ul>
        </div>
    </nav>
    <app-slides></app-slides>
</section>