<section style="bottom: 0;" class="footer">
    <div class="container my-2 align-bottom">
        <div class="row my-2">
            <div class="col">
                <div class="d-flex justify-content-around">
                    <img class="m-0 img-fluid"
                        src="https://api.izto.org.tr/storage/FooterFixed/original/8Xnm8bdI2UrTeuLB.png" alt="">
                    <img src="https://api.izto.org.tr/storage/FooterFixed/original/XZaMjJV4G6ENoxao.png" alt="">
                </div>
            </div>
            <div class="col">
                <h5>VİZYONUMUZ & MİSYONUMUZ
                </h5>
                <p>Vizyonumuz: Üyelerini güçlendiren, üyeleri ile güçlenen, bu güç ile İzmir’i yaşam ve
                    yatırımda
                    dünyada cazip kent kılan «geleceğin odası» olmak. Misyonumuz: İzmir’in ticari, ekonomik ve
                    sosyal
                    hayatında fark yaratmak için, kaynakları ve teknolojiyi etkin kullanarak etik değerlere
                    bağlı,
                    yetkin ve pozitif kadrosu ile iş dünyasına ve topluma sürdürülebilir hizmetler sunmak.</p>
            </div>

            <div class="col">
                <h5>İLETİŞİM BİLGİLERİ</h5>
                <p>Atatürk Caddesi No: 190 Alsancak 35220 İzmir - Türkiye<br>
                    T: 444 92 92 / F: 232 498 46 98 <br>
                    info@izto.org.tr <br>
                    : +905380544027 <br>
                    : +905380544028 <br>
                    Vergi Dairesi : Kordon <br>
                    Vergi Numarası : 484 001 5699</p>
            </div>
        </div>
    </div>


</section>
<section class="endNote">
    <p>Tüm Hakları Saklıdır © 2022 İZMİR TİCARET ODASI</p>
</section>
<script src="script.js"></script>