<ng-container *ngIf="subSection.includes('Eğitimler')">
    <div class="py-4 ">
        <div class="row">
            <div class="col py-2">
                <div id="cardTop"><a href="">Mart Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
            <div class="col py-2">
                <div id="cardTop"><a href="">Nisan Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
        </div>
        <div class="row">
            <div class="col py-2">
                <div id="cardTop"><a href="">Mayıs Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
            <div class="col py-2">
                <div id="cardTop"><a href="">Haziran Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
        </div>
        <div class="row">
            <div class="col py-2">
                <div id="cardTop"><a href="">Temmuz Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
            <div class="col py-2">
                <div id="cardTop"><a href="">Ağustos Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection==='tDuyurular'">
    <div class="py-4 ">
        <div class="row ">
            <div class="col py-2 wholeCard">
                <div id="cardTop">
                    <a id="transf" href=""><span class="material-symbols-outlined">
                            campaign
                        </span>
                        <p>Genel Duyurular</p>
                    </a>
                </div>
                <div id="cardBot"></div>
            </div>
            <div class="col py-2 wholeCard">
                <div id="cardTop">
                    <a id="transf" href=""><span class="material-symbols-outlined">
                            apartment
                        </span>
                        <p>Oda Duyurular</p>
                    </a>
                </div>
                <div id="cardBot"></div>
            </div>
        </div>
        <div class="row ">
            <div class="col py-2 wholeCard">
                <div id="cardTop">
                    <a id="transf" href=""><span class="material-symbols-outlined">
                            card_travel
                        </span>
                        <p>Fuar Duyuruları</p>
                    </a>
                </div>
                <div id="cardBot"></div>
            </div>
            <div class="col py-2 wholeCard">
                <div id="cardTop">
                    <a id="transf" href=""><span class="material-symbols-outlined">
                            currency_exchange
                        </span>
                        <p>Dış Ticaret Duyurular</p>
                    </a>
                </div>
                <div id="cardBot"></div>
            </div>
        </div>
        <div class="row ">
            <div class="col py-2 wholeCard">
                <div id="cardTop">
                    <a id="transf" href=""><span class="material-symbols-outlined">
                            newspaper
                        </span>
                        <p>Ticaret Sicil Duyuruları</p>
                    </a>
                </div>
                <div id="cardBot"></div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Genel Duyurular')">
    <div class="py-4 ">
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>Coğrafi İşaret ve Geleneksel Ürün Adı Tescil Sonrası İşlemler ve Ticar...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>04.08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Türkiye Odalar ve Borsalar Birliği’nden elimize yeni ulaşan yazıda, bugün saat
                14:00’te Türk Patent ve Marka Kurumu iş birliğinde “Coğrafi İşaret ve Geleneksel Ürün Adı Tescil Sonrası
                İşlemler ve Ticarileşme Bilgilendirme Semineri“ gerçekleştirileceği belirtilmektedir.Seminere katılım
                adresi: <br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>Tepav Öne Çıkan Düzenlemeler (28 Temmuz-3 Ağustos 2022)...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>04.08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Türkiye Ekonomi Politikaları Araştırma Vakfı’nın 28 Temmuz-3 Ağustos 2022
                tarihleri arasındaki Öne Çıkan Düzenlemeleri İçeren bülten ekte yer almaktadır.Bilgilerinize
                sunarız.Saygılarımızla,İzmir Ticaret Odası<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>15. İstanbul Hazır Giyim Konferansı Hk....</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>02.08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Türkiye Giyim Sanayicileri Derneği (TGSD) tarafından Odamıza iletilen 2 Ağustos
                tarihli yazıda; 5-6 Ekim 2022 tarihlerinde Çırağan Sarayı’nda “Green Revolution” teması ile
                gerçekleştirilecek 15. İstanbul Hazır Giyim Konferansı’nın detayları aktarılmaktadır. Konferansta Avrupa
                Yeşil Mutabakat günd...<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <a href="#" (click)="subSection='xGenel Duyurular'" class="pageBtn">1</a>
            <a href="#" (click)="subSection='APGN'" class="pageBtn">1</a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('APGN')">
    <div class="py-4 ">
        <P>SDFKLDSF</P>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Oda Duyurular')">
    <div class="py-4 ">
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>Odamıza Gelmeden, Oda Kayıt İşleminizi Elektronik İmza (E-İmza)..</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>25/07/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Oda’ya kayıt işleminizi elektronik imza (e-imza) kullanarak gerçekleştirebilmek
                için; Oda Kayıt Beyannamesi’ni (https://www.izto.org.tr/tr/dy/oda-kayit-beyannameleri ) doldurmanız ve
                elektronik imza (e-imza) uygulayarak <br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>
                            ÖDÜLLENDİRME-Firma Bilgi Kontrolü...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>04.08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Odamız, her yıl olduğu gibi 2021 takvim yılı için de başarılı üyelerimizi konu ile
                ilgili yönetmelik esaslarına göre ödüllendirecektir.Ödüllendirme listeleri Odamız kayıtlarında yer alan
                bilgiler dahilinde oluşturulmuştur.Firmanızın ödüllendirme listelerinde yer alan bilgilerinin kontrolünü
                22 ...<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>Bir Üyemizin İflası Hakkında...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>02.08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Odamız sicilinin 1151201 numarasında “TASFİYE HALİNDE SUSEMGURUP TEMİZLİK
                HİZMETLERİ TURİZM İNŞAAT BİLGİSAYAR YAZILIM GIDA SANAYİ VE TİCARET LİMİTED ŞİRKETİ” unvanında kayıtlı
                firmanın, İzmir 1. Asliye Ticaret Mahkemesi’ nin 23.06.2022 tarih ve 2021/577 esas sayılı ilamı ile
                iflasına karar verildiği, T.C....<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <a href="#" (click)="subSection='xGenel Duyurular'" class="pageBtn">1</a>
            <a href="#" (click)="subSection='APGN'" class="pageBtn">1</a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Fuar Duyurular')">
    <div class="py-4 ">
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>Worldfood İstanbul 2022 30.Uluslararası Gıda Ürünleri ve Teknolojiler...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>04/08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>HYVE Fuarcılık A.Ş. tarafından 1-4 Eylül 2022 tarihleri arasında İstanbul Tüyap
                Fuar ve Kongre Merkezi’nde “Worldfood İstanbul 2022 30.Uluslararası Gıda Ürünleri ve Teknolojileri
                Fuarı” düzenlenecektir.Söz konusu fuara yönelik <br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>
                            Livestock & Agri Expo 2022...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>27.07/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Sayın Üyemiz,Hindistan Ankara Büyükelçiliği’nden Odamıza iletilen yazıda, 28 – 30
                Ekim 2022 tarihleri arasında India Expo Mart & Centre, Greater Noida, Delhi- NCR Hindistan’da Livestock
                & Agri Expo 2022 Fuarı düzenleneceği bildirilmiştir.Fuara ilişkin broşür ekte yer almaktadır....<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>5. InnoRail India 2022 Fuarı...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>02.08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Hindistan Ankara Büyükelçiliği’nden Odamıza iletilen yazıda, 17 – 19 Kasım 2022
                tarihleri arasında RDSO Stadium ground, Lucknow, Hindistan’da 5. InnoRail Fuarı düzenleneceği
                bildirilmiştir.Fuara ilişkin broşür ekte yer almaktadır.Bilgilerine sunarız.Saygıl...<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <a href="#" (click)="subSection='xGenel Duyurular'" class="pageBtn">
                <p>1</p>
            </a>
            <a href="#" (click)="subSection='APGN'" class="pageBtn">2</a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Dış Ticaret Duyuruları')">
    <div class="py-4 ">
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>İhraç Kayıtlı Kuzu Karkas Eti Satışı...
                        </b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>04/08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>T.C. Et ve Süt Kurumu Genel Müdürlüğü Denizli Et Kombinası Müdürlüğü tarafından
                Odamıza iletilen 04.08.2022 tarih ve 21811 sayılı yazıda, Kurumları tarafından küçükbaş hayvan
                piyasasının regülasyonu ve yetiştiricilerin korunması için Gıda Kontrol Genel Müdürlüğü tarafından Et
                ve... <br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>
                            Paraguay’daki Yatırım ve İş Forumu...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>27.07/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Türkiye Odalar ve Borsalar Birliğinden tarafından Odamıza iletilen 03.08.2022
                tarih ve 7837 sayılı yazıda; Amerikalılar Arası Kalkınma Bankası (BID) desteğiyle, Paraguay Sanayi ve
                Ticaret Bakanlığı tarafından organize edilen "Invest in Paraguay" isimli uluslararası yatırım forumunun
                Paraguay'ın Luque kentinde...<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>3. Türk-Arap Ekonomi Forumu, 6 Ekim 2022...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>04.08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Türkiye Odalar ve Borsalar Birliği’nden Odamıza iletilen bir yazıda; Türk-Arap
                Ekonomi Forumu'nun (TAF) 13'üncüsünün, 6 Ekim 2022 tarihinde İstanbul Mandarin Oriental Bosphorus
                Otel'de gerçekleştirileceği ve söz konusu forumda finans, yatırım, sanayi, enerji, tarım, gıda, savunma,
                dış ticaret, teknoloji, müteahhitlik ve ...<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <a href="#" (click)="subSection='xGenel Duyurular'" class="pageBtn">
                <p>1</p>
            </a>
            <a href="#" (click)="subSection='APGN'" class="pageBtn">2</a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Ticaret Sicil Duyuruları')">
    <div class="py-4 ">
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>01.03.2022 Tarihinden İtibaren Mersis Üzerinde Yapılacak Atama...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>27.07/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>20.02.2021 tarih 31401 sayılı Resmi Gazetede yayınlanan Tebliğ ile yürürlüğe
                giren, Şirket kuruluş Sözleşmelerinin Ticaret Sicili Müdürlüklerinde İmzalanması Hakkında Tebliğde
                Değişiklik Yapılmasına Dair Tebliğ ile elektronik ortamda temin edilen imza verisinin kullanımı hakkında
                yasal düzenleme yapılmışt...<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
    </div>
</ng-container>