<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    Türkiye Odalar ve Borsalar Birliği Kapasite Raporlarının düzenlenmesi Usul ve Esasları kapsamında; <br><br> 5174
    sayılı Türkiye Odalar ve Borsalar Kanunu’ nun 5 inci maddesi ve bu kanuna göre çıkartılan Oda Muamelat
    Yönetmeliği’nin 41 inci maddesinde tanımlanan kapasite raporu düzenlenemeyecek gıda maddesi üreten işyeri statüsünde
    olan iş yerlerine, TOBB Kanunu’nun 26 ıncı ve Oda Muamelat Yönetmeliği’ nin 27 inci maddesi uyarınca Odamız
    tarafından Ekspertiz Raporu düzenlenmekte ve onaylanmaktadır. <br><br> Ekspertiz Raporu, T.C. Gıda, Tarım ve
    Hayvancılık Bakanlığı’ndan Gıda Sicil Belgesi veya bağlı bulunulan İl veya İlçe Belediye Başkanlıkları’ndan Üretim
    İzni Belgesi’nin düzenlenmesi veya çeşitli kamu kurum ve kuruluşlarının mevzuatları uyarınca, işletmelerin genel
    üretim kapasitelerinin tespiti için talep edilmektedir. <br><br><b>Ekspertiz Raporu Müracaatı Sırasında İstenecek
        Belgeler</b><br><br><a id="textLink"
        href="https://api.izto.org.tr/storage/EditorUpload/original/pDWW17kn92B3h6Ht.doc">İzmir Ticaret Odası Ekspertiz
        Raporu Başvuru Formu</a> <br><br>
    <li>Kapasite raporu talebinde bulunan kişinin, firmayı temsile yetkili olduğuna dair imza sirküleri aslı ya da noter
        tasdikli sureti görülmek kaydıyla fotokopisi,</li>
    <li>Firma, mal sahibi ise işyerinin tapu fotokopisi, mal sahibi değilse kiralık olan bina ve işyerinin kira
        sözleşmeleri, Organize Sanayi Bölgelerinde bulunan firmalar için tapu veya tapu tahsis belgesi fotokopisi,</li>
    <li>Firma, mal sahibi ise işyerinin tapu fotokopisi, mal sahibi değilse kiralık olan bina ve işyerinin kira
        sözleşmeleri, Organize Sanayi Bölgelerinde bulunan firmalar için tapu veya tapu tahsis belgesi fotokopisi,</li>
    <li> İşyerindeki firma mülkiyetinde olan makine ve teçhizatın Yeminli Mali Müşavir veya Mali Müşavir onaylı
        bilançodaki toplam kıymeti,</li>
    <li>İşyerindeki firma mülkiyetinde olan makine ve teçhizatın Yeminli Mali Müşavir veya Mali Müşavir onaylı listesi,
    </li>
    <li>Kiralık olan makine-teçhizat için kira sözleşmesi ile birlikte tarafların imza sirkülerleri/imza beyannamesi;
        varsa taşeron sözleşmesi, leasing sözleşmesi, leasinge ait proforma fatura ve ödeme planı,</li>
    <li>Varsa sanayi sicil belgesi fotokopisi,</li>
    <li>Vergi levhası fotokopisi,</li>
    <li> Kalite Belge ve sertifikaları varsa listesi ve belge fotokopileri ( ISO 9000, ISO 14000, ISO 22000 belgesi, CE,
        Marka tescil belgesi, Patent kullanım belgesi, Know-how sözleşmesi, Lisans sözleşmesi, Çevre izin belgesi, HACCP
        belgesi vb.),</li>
    <li>Maden ocaklarında maden ruhsatı, ruhsat kiralanmış ise kiralama sözleşmesi.</li>
    <div class="seperator">
        <div></div>
    </div>
    <div class="w-100 d-flex social-share justify-content-end align-items-center py-2">
        <div class="share-text p-2">
            PAYLAŞ
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank">
                <span tabindex="0" data-link="#share-twitter"
                    class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-twitter"></i>
                </span>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.izto.org.tr%2F&amp;src=sdkpreparse">
                <span tabindex="0" data-link="#share-facebook"
                    class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-facebook"></i>
                </span>
            </a>
            <a href="whatsapp://send?text">
                <span tabindex="0" data-link="#share-whatsapp"
                    class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-whatsapp"></i>
                </span>
            </a>
            <span tabindex="0" data-link="#share-linkedin"
                class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-linkedin"></i></span> <span
                tabindex="0" data-link="#share-pinterest"
                class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-pinterest "></i></span>
            <span tabindex="0" data-link="#share-reddit" class="d-flex justify-content-center align-items-center p-2"><i
                    class="bi bi-reddit"></i></span>
        </div>
    </div>

</div>