<ng-container id="k1" *ngIf="subSection.includes('Vizyon')">
    <div class="py-5">
        <h5>Vizyonumuz:</h5>
        <p>Üyelerini güçlendiren, üyeleri ile güçlenen, bu güç ile İzmir’i yaşam ve yatırımda dünyada cazip kent kılan
            «geleceğin odası» olmak.</p>
        <h5>Misyonumuz:</h5>
        <p>İzmir’in ticari, ekonomik ve sosyal hayatında fark yaratmak için, kaynakları ve teknolojiyi etkin kullanarak
            etik değerlere bağlı, yetkin ve pozitif kadrosu ile iş dünyasına ve topluma sürdürülebilir hizmetler sunmak.
        </p>
    </div>
    <div class="seperator">
        <div></div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Temel Değerlerimiz ve Yönetim Politikamız')">
    <div class="py-5">
        <h5>TEMEL DEĞERLERİMİZ</h5>
        <ul>
            <li>Üyelerimizin mutluluğu vazgeçilmez değerimizdir.</li>
            <li>Yetkin, pozitif, gelişime açık, biz anlayışı ile hareket eden, etik değerlere bağlı fark yaratan
                çalışanlarız.</li>
            <li>Değişim ve yeniliğe açık, barışçıl ortam yaratan, halden anlayan, etik değerlere bağlı, katılımcı ve
                paylaşımcı, adil ve cesaretli yöneticileriz.</li>
            <li>Kaynaklarımızı ve teknolojiyi etkin kullanarak hızlı çözümler üretir, proaktif yaklaşımla her üyeye eşit
                ve kaliteli hizmetler sunarız.</li>
            <li>Toplumun ortak değerlerini önemseyen, doğal çevreyi koruyan ve sürdürülebilir kılan anlayışımızla sosyal
                refahı arttıran projeleri destekler ve hayata geçiririz.</li>
        </ul>
        <h5>İZTO RUHU</h5>
        <ul>
            <li>Özveriliyiz</li>
            <li>Yenilikçiyiz</li>
            <li>Dinamiğiz</li>
            <li>Çözüm odaklıyız</li>
            <li>Güler yüzlüyüz</li>
            <li>Sadığız</li>
            <li>Öncüyüz</li>
            <li>Hoşgörülüyüz</li>
            <li>Sabırlıyız</li>
            <li>Paylaşımcıyız</li>
            <li>Tarafsızız</li>
            <li>Özeliz</li>
            <li>Biz bir aileyiz</li>
        </ul>
        <h5>YÖNETİM SİSTEMLERİ POLİTİKASI</h5>
        <ul>
            <li>İzmir Ticaret Odası Entegre Yönetim Sistemi, ISO 9001, ISO 10002, ISO 27001, ISO 31000, ISO 27701ve TOBB
                Oda Akreditasyon Sistemi gerekleri dikkate alınarak kurulmuştur.</li>
            <li>Entegre Yönetim Sisteminin etkin şekilde yürütülmesi için gerekli kaynakları ayırmak</li>
            <li>Faaliyetlerimizi üye odaklı bir anlayış ile gerçekleştirmek, sürdürülebilirliği, sürekli gelişimi ve üye
                bağlılığını hedeflemek,</li>
            <li>Kurum bilgisinin, üyelerimizin, çalışanlarımızın ve paydaşlarımızın bilgi güvenliğini ve kişisel
                verilerinin güvenliğini sağlamak; risk yönetimi anlayışı ile hareket etmek,</li>
            <li>Tüm faaliyetlerimizde yasal mevzuatlara bağlı, teknolojiyi, enerjiyi ve doğal kaynaklarımızı etkin bir
                biçimde kullanmak</li>
            <li>Çalışmalarımızı yenilikçi, yetkin ve motivasyonu yüksek katılımcı çalışanlarımız ve yönetim
                anlayışımızla gerçekleştirmek Yönetim Sistemleri Politikamızdır.</li>
        </ul>
        <h5>BİLGİ GÜVENLİĞİ POLİTİKASI</h5>
        <ul>
            <li>Oda faaliyetleri çerçevesinde kullanılan veya üretilen bilgiyi sınıflandırarak etik değerler, ilgili
                yasalar ve yönetmelikler çerçevesinde bilginin erişilebilirliğini (elverişliliğini), gizliliğini,
                bütünlüğünü sağlamak; kullanım amacı dışında kullanılmasını önlemek,</li>
            <li>Tüm çalışanlarımız ile mal ve hizmet sağlayıcılarımızın Odamızda üretilen ve kullanılan bilginin
                sınıfına uygun olarak gizliliği, bütünlüğü ve erişilebilirliğini sağlaması için gerekli önlemleri almak
                Bilgi Güvenliği Politikamızdır.</li>
        </ul>
        <h5>ÜYE MEMNUNİYETİ POLİTİKASI</h5>
        <ul>
            <li>Tüm faaliyetlerimizde yasal mevzuatlara uygun olarak hareket ederken üyelerimizin memnuniyetini sağlamak
            </li>
            <li>Üyelerimizden gelen geri bildirimleri faaliyetlerimizi geliştirme fırsatı olarak ele alıp değerlendirmek
                Üye Memnuniyeti Politikamızdır.</li>
        </ul>
        <h5>RİSK YÖNETİMİ POLİTİKASI</h5>
        <ul>
            <li>Faaliyetlerimizi gerçekleştirirken muhtemel risk ve fırsatları ele almak</li>
            <li>Faaliyetlerimizin sürdürülebilirliğini, bilgi güvenliğini, iş sağlığı ve güvenliğini, üye memnuniyetini,
                Oda itibarını ve finansal kaynaklarımızı tehdit eden riskleri ele alarak değerlendirmek, yönetmek ve
                ihtiyaca göre gerekli önlemleri almak Risk Yönetimi Politikamızdır.</li>
        </ul>
        <h5>MALİ İŞLER ve FİNANS POLİTİKASI</h5>
        <ul>
            <li>Bütçe prensiplerine uygun olarak harcamaları yapmak, etkin bütçe tekniği sayesinde gerekli tasarruf ve
                yerindeliği sağlamak,</li>
            <li>Üyelerimizin menfaatlerini gözeterek, tahsilatları zamanında ve doğru şekilde yapmak,</li>
            <li>Mevcut kaynaklarımızı en verimli şekilde değerlendirerek gelirlerimizi arttırmak,</li>
            <li>Kurumun mali yapısının güçlü, sorgulanabilir ve hesap verilebilir olması Mali İşler Ve Finans
                Politikamızdır.</li>
        </ul>
        <h5>YÖNETİM VE KARAR ALMA POLİTİKASI</h5>
        <ul>
            <li>Mevzuat hükümlerine uygun karar almak ve hareket etmek,</li>
            <li>Etik kurallar çerçevesinde Odanın stratejileri ve menfaatlerini gözetmek,</li>
            <li>Etkin, yetkin, objektif, hızlı hareket etmek ve inisiyatif almak,</li>
            <li>Sürdürülebilirlik ilkesi ile katılımcı çalışmaya önem vermek,</li>
            <li>Değişime uyum sağlayıp, proaktif yaklaşımla gelişime odaklanmak,</li>
            <li>Çalışanların görüşlerini dikkate alarak karar vermek Yönetim Ve Karar Alma Politikamızdır.</li>
        </ul>
        <h5>SATIN ALMA VE TEDARİK POLİTİKASI</h5>
        <ul>
            <li>İhtiyaçları doğru belirlemek, objektif kriterler ile kaliteli, optimum zaman, maliyet ve miktarda temin
                etmek,</li>
            <li>Satın alma ve tedarikin kurumun aynası olduğunun bilinci ile hareket etmek,</li>
            <li>Mevzuat çerçevesinde, etik kurallara, finans ve bütçe yapısına uygun alımlar gerçekleştirmek,</li>
            <li>Sürekli denetlenen, gelişimi ve performansı izlenen tedarikçi ağı oluşturmak Satın Alma Ve Tedarik
                Politikamızdır.</li>
        </ul>
        <h5>TEKNOLOJİ KULLANIM POLİTİKASI</h5>
        <ul>
            <li>Teknolojik gelişmelerin takibini sürekli yaparak verdiğimiz hizmetlerin ve altyapımızın kalitesini ve
                etkinliğini arttıran sistemlerin kurumumuza uyarlanmasını sağlamak Teknoloji Kullanım Politikamızdır.
            </li>
        </ul>
        <h5>ÜYE İLİŞKİLERİ VE İLETİŞİM POLİTİKASI</h5>
        <ul>
            <li>Üye ile olan iletişimde güven, şeffaflık ve ulaşılabilirlik ilkesi ile hareket etmek,</li>
            <li>Üyelerimizin ticari hayatındaki verilerini ticari sır olarak görmek ve mevzuatlar çerçevesinde sahip
                olmak, bu bilgileri derlemek ve üye kullanımlarına sunmak,</li>
            <li>Teknolojinin etkin kullanımını sağlayarak üyenin talep ettiği hizmeti bürokrasi engeline takılmadan
                elektronik ortamda hızlı ve etkin bir şekilde hizmetine sunmak</li>
            <li>Yasal mevzuat ve uygulamadaki değişikliklerin anlık uyumunu sağlamak için bilgilendirici tüm kanalları
                aktif etmek,</li>
            <li>Yeni üye olacaklara izleyecekleri prosedürleri açıklayıcı ve anlaşılır bir şekilde anlatmak,</li>
            <li>Sürdürülebilir ilişkileri sağlamak için farklı faaliyetler ve birebir ziyaretler gerçekleştirmek Üye
                İlişkileri ve İletişim Politikamızdır.</li>
        </ul>
        <h5>ULUSLARARASI İLİŞKİLER POLİTİKASI</h5>
        <ul>
            <li>Üyelerimizin faaliyetlerini yurtdışına açmak, kentimizi yabancı yatırımcılar ve turistler için iş,
                seyahat hareketleri ve kültür açısından cazibe merkezi haline getirmek,</li>
            <li>Dış ticaretin sunduğu fırsatlardan üyelerimizi faydalandırmak, riskleri ise en aza indirmek,</li>
            <li>Güçlü bir uluslararası paydaş ağı oluşturmak, bu ağı üye, kent ve ülke menfaatlerine yönelik kullanmak,
            </li>
            <li>Üyelerimizin sektörel gelişim projelerinde uluslararası kaynakları kullanmalarını sağlamak,</li>
            <li>Üyelerimizin katma değeri yüksek ürün ve hizmet ihracatını geliştirmek amacıyla kurum bütçemizin
                olanakları dahilinde objektif kriterlerle teşvikler vermek,</li>
            <li>Kent ve ülke gelişimine katkı sağlayacak uluslararası tanıtım ağını güçlendirmek,</li>
            <li>Üyelerimizin dış ticaret işlemlerini hızlı ve doğru bir şekilde yapabilmeleri için gerekli lojistik
                imkanları sağlamak, bu imkanları sürdürebilir ve geliştirilebilir kılmak Uluslararası İlişkiler
                Politikamızdır.</li>
        </ul>
        <h5>EĞİTİM POLİTİKASI</h5>
        <ul>
            <li>Günümüz iş dünyasına hakim, yaşam boyu öğrenme felsefesi çerçevesinde sürekli gelişim prensibi ile özgün
                ve kaliteli eğitim programları geliştirerek, iş dünyası ve akademik dünya arasında bağlantı noktası
                oluşturmak, çalışanlarımızın, firmaların ve toplumun geleceğinde fark yaratmak Eğitim Politikamızdır.
            </li>
        </ul>
        <h5>AĞ GELİŞTİRME POLİTİKASI</h5>
        <ul>
            <li>Bölgemiz, kentimiz ve üyelerimizin sorunlarını çözmek, sektörleri geliştirmede paydaş kurumlarla hareket
                etmek ve projeler üretmek,</li>
            <li>Ulusal ve uluslararası ekonomik, sosyal, politik ve kültürel konjonktürü takip etmek, küresel ve yerel
                koşulları analiz ederek oluşan fırsatları üyelerimizin mesleki ve sektörel gelişimlerini sağlayacak
                şekilde kolaylaştırıcı ve kentimizin marka değerini arttırıcı girişim ve faaliyetlerde bulunmak,</li>
            <li>Potansiyel girişimcileri cesaretlendirmek, teşvik etmek ve fikirlerini ticari ürün haline getirmeleri
                için ortam hazırlamak, melek yatırımcı ve mentör ağımız ve ülkemizdeki diğer ağlarla olan iş birliği
                imkanlarından yararlanmalarını sağlamak Ağ Geliştirme Politikamızdır.</li>
        </ul>
        <h5>İNSAN KAYNAKLARI POLİTİKASI</h5>
        <ul>
            <li>Fark yaratan hizmetler sunan, Odaya bağlılığı, hizmet bilinci, yetkinliği, motivasyonu yüksek güler
                yüzlü çalışanlara sahip olmak,</li>
            <li>Çalışanlarımızın bireysel ve mesleki gelişimlerini sağlamak,</li>
            <li>Objektif ve etkin performans sistemi ile çalışmalarını değerlendirmek ve başarılı olanları
                ödüllendirmek,</li>
            <li>Ücret ve kariyer planlama sistemi ile entegre insan kaynakları sistemini işleten bir kurum olarak diğer
                Odalara örnek olmak İnsan Kaynakları Politikamızdır.</li>
        </ul>
        <h5>HİZMET GELİŞTİRME POLİTİKASI</h5>
        <ul>
            <li>Geliştirilecek hizmeti üyenin ihtiyacı doğrultusunda belirlemek, pilot uygulamanın ardından üye
                memnuniyet derecesine göre mevzuatlar çerçevesinde tüm üyelere uygulamak ve etkinliğini ölçmek Hizmet
                Geliştirme Politikamızdır.</li>
        </ul>
        <p style="text-align: end; font-weight: bold;">Mahmut ÖZGENER</p>
        <p style="text-align: end;">Yönetim Kurulu Başkanı</p>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Organizasyon Yapısı')">
    <div class="py-5">
        <ul>İzmir Ticaret Odası'nın Organları:
            <li>Meslek Komiteleri,</li>
            <li>Meclis,</li>
            <li>Yönetim Kurulu'dur.</li>
        </ul>
        <p>Meslek Komiteleri, Meslek Gruplarına dahil Üyelerin, kendi Üyeleri arasından yargı gözetimi altında gizli
            oyla seçtikleri Üyelerden oluşur.</p>
        <p> </p>
        <p>Oda Meclisi, Oda'nın en yüksek karar ve denetim organı olup, Meslek Komiteleri'nin kendi Üyeleri arasından
            yargı gözetimi altında gizli oyla seçtikleri 2'şer Üye'nin toplamından oluşur. Oda Meclisi'nin görev süresi
            4 yıldır.</p>
        <p></p>
        <p>Oda Yönetim Kurulu, Oda'nın en yüksek icra organı olup Meclis'in kendi Üyeleri arasından dört yıl için
            seçtiği (11) kişiden oluşur.</p>
        <ul>İzmir Ticaret Odası'nın Yönetim Yapısı
            İzmir Ticaret Odası'nın hizmetleri, ilgili mevzuat hükümlerine göre belirlenen birimler tarafından
            yürütülür. Bu birimler;
            <li>Genel Sekreter</li>
            <li>Genel Sekreter Yardımcısı</li>
            <li>Danışmanlar ve Genel Sekreterliğe Bağlı Kadrolar</li>
            <li>Bölüm Müdürlükleri</li>
        </ul>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Logo')">
    <div class="py-4 d-flex justify-content-center">
        <div class="">
            <h5 style="text-align: center;">KURUMSAL KİMLİK</h5>
            <div class="d-flex justify-content-center">
                <img src="https://api.izto.org.tr/storage/LogoCategory/original/O4flmHobLL4FwJn0.png" alt="">
            </div>
            <div id="aa" class="col shadow-lg mx-3 my-3">
                <a href="">
                    <h5 style="text-align: center;">İZTO LOGO İNGİLİZCE(jpg) <span style="height: 100%;"
                            class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
            <h5 style="text-align: center;">İZMİR TİCARET ODASI LOGOLARI</h5>
            <div class="d-flex justify-content-center">
                <img src="https://api.izto.org.tr/storage/LogoCategory/original/1NPKyfZen3YOlbPh.png" alt="">
            </div>
            <div class="row my-3">
                <div id="aa" class="col shadow-lg mx-3">
                    <a href="">
                        <h5>İZTO LOGO TÜRKÇE (jpg) <span style="height: 100%;" class="material-symbols-outlined">
                                file_download
                            </span></h5>
                    </a>
                </div>
                <div id="aa" class="col shadow-lg mx-3">
                    <a href="">
                        <h5>İZTO LOGO İNGİLİZCE(jpg) <span style="height: 100%;" class="material-symbols-outlined">
                                file_download
                            </span></h5>
                    </a>
                </div>
            </div>
            <div class="row my-3">
                <div id="aa" class="col shadow-lg mx-3">
                    <a href="">
                        <h5>İZTO LOGO TÜRKÇE (jpg) <span style="height: 100%;" class="material-symbols-outlined">
                                file_download
                            </span></h5>
                    </a>
                </div>
                <div id="aa" class="col shadow-lg mx-3">
                    <a href="">
                        <h5>İZTO LOGO İNGİLİZCE(jpg) <span style="height: 100%;" class="material-symbols-outlined">
                                file_download
                            </span></h5>
                    </a>
                </div>
            </div>
            <h5 style="text-align: center;">MARKA ŞEHİR ‘İZMİR’ LOGOSU</h5>
            <div class="d-flex justify-content-center">
                <img src="https://api.izto.org.tr/storage/LogoCategory/original/4LQDFe9Zb7h7LjI4.png" alt="">
            </div>
            <div></div>
        </div>
    </div>
    <div>
        <div class="row my-3">
            <div id="aa" class="col shadow-lg mx-3">
                <a href="">
                    <h5>MARKA ŞEHİR 'İZMİR' LOGOSU TÜRKÇE (jpg) <span style="height: 100%;"
                            class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
            <div id="aa" class="col shadow-lg mx-3">
                <a href="">
                    <h5>MARKA ŞEHİR 'İZMİR' LOGOSU TÜRKÇE (jpg) <span style="height: 100%;"
                            class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
        </div>
        <div class="row my-3">
            <div id="aa" class="col shadow-lg mx-3">
                <a href="">
                    <h5>MARKA ŞEHİR 'İZMİR' LOGOSU TÜRKÇE (pdf) <span class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
            <div id="aa" class="col shadow-lg mx-3">
                <a href="">
                    <h5>MARKA ŞEHİR 'İZMİR' LOGOSU İNGİLİZCE (pdf) <span class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Oda Hesapları')">
    <div class="py-5">
        <div class="justify-content-center"></div>
        <div id="aa" class=" shadow-lg mx-3">
            <a href="">
                <h5 class="px-3">2022 MAYIS AYI HESAPLARI<span class="material-symbols-outlined">
                        file_download
                    </span></h5>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Stratejik')">
    <div class="py-4 ">
        <div id="aa" class="shadow-sm my-3">
            <a href="">
                <h5 class="py-1 mx-1"> <span class="material-symbols-outlined">
                        file_download
                    </span>Stratejik Planlar</h5>
                <div>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2019-2022 STRATEJİK PLANI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2014-2017 STRATEJİK PLANI</a>
                </div>
            </a>
        </div>
        <div id="aa" class="shadow-sm my-3">
            <a href="">
                <h5 class="py-1 mx-1"> <span class="material-symbols-outlined">
                        file_download
                    </span>ÇALIŞMA PROGRAMLARI</h5>
                <div>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2022 ÇALIŞMA PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2021 ÇALIŞMA PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2020 ÇALIŞMA PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2019 ÇALIŞMA PROGRAMI</a>
                </div>
            </a>
        </div>
        <div id="aa" class="shadow-sm my-3">
            <a href="">
                <h5 class="py-1 mx-1"> <span class="material-symbols-outlined">
                        file_download
                    </span>ÇALIŞMA PROGRAMLARI</h5>
                <div>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2022 FAALİYET PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2021 FAALİYET PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2020 FAALİYET PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2019 FAALİYET PROGRAMI</a>
                </div>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Kardeş')">
    <div class="py-4 ">
        <div id="aa" class="col shadow-lg mx-3">
            <a href="">
                <p><b>ODAMIZIN DİĞER ODALAR, KURUM, KURULUŞ VE YABANCI MİSYONLAR İLE İMZALAMIŞ OLDUĞU
                        ANLAŞMALAR</b><span style="height: 100%;" class="material-symbols-outlined">
                        file_download
                    </span></p>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('KVKK')">
    <div class="py-4 ">
        <p>İZMİR TİCARET ODASI WEBSİTESİ KİŞİSEL VERİLERİN İŞLENMESİNE İLİŞKİN GENEL AYDINLATMA METNİ</p>
        <p></p>
        <p>07.04.2016 tarih ve 29677 sayılı Resmi Gazete ’de yayımlanan 6698 sayılı Kişisel Verilerin Korunması Kanunu
            (“KVKK”) uyarınca, kurumumuz İzmir Ticaret Odası “Veri Sorumlusu” sıfatıyla, kişisel verilerinizi KVKK ile
            belirlenmiş sınırlar çerçevesinde ve KVKK’da belirtilen durumlar için işleyebilecektir. İzmir Ticaret Odası
            olarak işbu Aydınlatma Metni ile KVKK 10. maddesi uyarınca sizleri, kişisel veri işleme faaliyetlerimiz
            hakkında bilgilendirmek ve aydınlatmak isteriz.</p>
        <p></p>
        <p>1. Veri Sorumlusu ve Temsilcisi</p>
        <p></p>
        <p>KVKK uyarınca, İzmir Ticaret Odası olarak, veri sorumlusu sıfatıyla, kişisel verilerinizi aşağıda açıklanan
            amaçlar ile bağlantılı, sınırlı ve ölçülü olarak, hukuka ve dürüstlük kurallarına uygun bir şekilde doğru ve
            güncel olarak işleyebilecek, kaydedebilecek, saklayabilecek, sınıflandırabilecek, güncelleyebilecek ve
            mevzuatın izin verdiği hallerde ve/veya işlendikleri amaçla sınırlı olarak 3. kişilere
            açıklayabilecek/aktarabileceğiz.</p>
        <p></p>
        <p>2. Kişisel Verilerinizin İşlenme Amacı</p>
        <p></p>
        <p>İzmir Ticaret Odası’nın websitesi’ne (izto.org.tr) sağlamış olduğunuz adınız, soyadınız, adresiniz, telefon
            numaranız, faks numaranız, TC kimlik numaranız, pasaport numaranız, firma unvanınız ve e-posta adresiniz,
            KVKK’da öngörülen temel ilkelere uygun olarak, Odamız tarafından sunulan hizmet ve içeriklerden ilgili
            kişileri faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması ve ilgili iş
            süreçlerinin yürütülmesi, Oda tarafından yürütülen faaliyetlerin gerçekleştirilmesi için ilgili iş birimleri
            tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi, Oda’nın ticari ve/veya
            iş stratejilerinin planlanması ve icrası, Oda’nın ve Oda ile iş ilişkisi içerisinde olan ilgili kişilerin
            hukuki, teknik ve ticari iş güvenliğinin temini de dahil olmak üzere Kanun’un 5. ve 6. maddelerinde
            belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde işlenmekte ve amaçlarıyla uygun süre
            zarfında fiziksel veya elektronik ortamda güvenli bir şekilde saklanmaktadır. Kişisel verilerinizin
            kurumumuz tarafından işlenme amaçları konusunda detaylı bilgi için İzmir Ticaret Odası Kişisel Verilerin
            Korunması ve İşlenmesi Politikası adresinden ulaşabilirsiniz.</p>
        <p></p>
        <p>3. Web Sitesi Ziyaretçilerine Ait Kişisel Verilerin Aktarımı</p>
        <p></p>
        <p>Yukarıda açıklanan amaçlar kapsamında işlenen kişisel verileriniz; KVKK’da öngörülen temel ilkelere uygun
            olarak ve KVKK’nın 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dâhilinde
            çerçevesinde işlenerek yine üyelerimiz, web sitesi ziyaretçilerimiz ve kanunen yetkili kamu kurum ve
            kuruluşları ile özel kurumlar ile paylaşılabilecektir. Kişisel veri aktarımlarının Kişisel Verileri Koruma
            Kurulu tarafından yeterli korumanın bulunmadığı tespit ve ilan edilen ülkelere yapılabilmesi Türkiye’deki ve
            ilgili yabancı ülkedeki veri sorumlularının yeterli bir korumayı yazılı olarak taahhüt ettiği ve ilgili
            aktarım açısından Kişisel Verileri Koruma Kurul’unun izninin temin edilebildiği hallerle sınırlı olmak
            kaydıyla mümkün olabilecektir.</p>
        <p></p>
        <p>4. Kişisel Verilerinizin Toplama Yöntemi ve Hukuki Sebebi</p>
        <p></p>
        <p>Kişisel verileriniz, faaliyetlerimizi yürütmek amacıyla İzmir Ticaret Odası tarafından web sitesi üzerinden
            elektronik olarak ve yukarıda belirtilen amaçlara dayanarak toplanmaktadır. Bu çerçevede Yukarıda belirtilen
            hukuki sebeplerle toplanan kişisel verileriniz, KVKK’nın 5. ve 6. Maddeleri ile 4(2) maddesindeki öngörülen
            ilkeler ışığında açık rıza temini suretiyle işlenebilmekte ve aktarılabilmektedir.</p>
        <p></p>
        <p>5. KVKK’nın 11. Maddesi Gereği İlgili Kişi Olarak Haklarınız</p>
        <p></p>
        <p>Söz konusu haklarınıza ilişkin taleplerinizi, kişisel veri sahipleri olarak yazılı bir şekilde ve kimliğinizi
            tespit edici belgeler ile birlikte, kullanmak istediğiniz hakkınıza yönelik açıklamalarınızı içeren yazılı
            dilekçeniz ile Kurumumuzun Atatürk Caddesi No: 190 Konak Alsancak 35220 İzmir Türkiye adresine bizzat veya
            iadeli taahhütlü mektupla veya info@izto.org.tr mail adresine iletmeniz halinde, talebiniz İzmir Ticaret
            Odası tarafından değerlendirilerek KVKK kapsamında öngörülen şekilde en geç 30 (otuz) gün içerisinde
            sonuçlandırılacaktır. İzmir Ticaret Odası’nın Kişisel Verileri Koruma Kurulu tarafından belirlenen ücret
            tarifesi üzerinden ücret talep etme hakkı saklıdır.</p>
        <p></p>
        <p>KVKK’nın “İstisnalar” başlıklı 28. maddesinde öngörülen haller saklı kalmak kaydıyla kurumumuza başvurarak
            kişisel verilerinizin; işlenilip işlenilmediğini öğrenme; işlenmişse buna ilişkin bilgi talep etme; işlenme
            amacını ve amacına uygun kullanılıp kullanılmadığını öğrenme; yurt içinde veya yurt dışında aktarıldığı
            üçüncü kişileri bilme; aktarıldığı üçüncü kişilerce yapılan işlemlerin bildirilmesini isteme; eksik veya
            yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme; işlenmesini gerektiren sebeplerin ortadan
            kalkması hâlinde silinmesini veya yok edilmesini isteme; yapılan işlemlerin kişisel verilerinizin
            aktarıldığı üçüncü kişilere bildirilmesini isteme; münhasıran otomatik sistemler vasıtasıyla analiz edilmesi
            suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme ve KVKK’na aykırı olarak işlenmesi sebebiyle
            zarara uğramanız hâlinde zararın giderilmesini talep etme haklarına sahip olduğunuzu KVKK kapsamında “Veri
            Sorumlusu” sıfatıyla bildiririz.</p>
        <p></p>
        <p>Bilgi alma hakkınız kapsamında yukarıda belirtilenler kapsamında bilgi edinebilmek için İzmir Ticaret Odası
            Veri Sahibi Başvuru Formu ’ndan ulaşabilirsiniz.</p>
        <p></p>
        <a href="">İzmir Ticaret Odası Açık Rıza Metni için tıklayınız</a>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Hizmet Rehberi')">
    <div class="py-4 ">
        <div id="aa" class="col shadow-lg m-3">
            <a href="">
                <p><b>Hizmet Rehberi</b> <span style="height: 100%;" class="material-symbols-outlined">
                        file_download
                    </span></p>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Meclis')">
    <div class="py-4 ">
        <h4>Meclis Başkanlık Divanı</h4>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/ComuniteMembers/original/F5FIEevsN1h2ue0O.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Meclis Başkanı</p>
                    <p><b>SELAMİ ÖZPOYRAZ</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> AKÇAY CAD. NO:281/A GAZİEMİR-İZMİR</p>
                    <p><b>Telefon:</b> 0232 2746868</p>
                    <p><b>Fax:</b> 0232 2743400</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/ComuniteMembers/original/VlDmr7HkGPRZBdD1.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Meclis Başkan Yardımcısı</p>
                    <p><b>YAVUZ ATEŞALP</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> İTOB OSB MAHALLESİ 10031 SK. NO:10 MENDERES/İZMİR</p>
                    <p><b>Telefon:</b> 0232 4226586</p>
                    <p><b>Fax:</b> 0232 4226883</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/ComuniteMembers/original/lF9OocNqzmgmB9Lw.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Meclis Başkan Yardımcısı</p>
                    <p><b>İRFAN EROL</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> 5618 SOKAK NO:4 K.2-3 ÇAMDİBİ / İZMİR</p>
                    <p><b>Telefon:</b> 0232 4598788</p>
                    <p><b>Fax:</b> 0232 4585837</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/ComuniteMembers/original/IYgAEaBd8GCUQ6ck.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>
                        Katip Üye</p>
                    <p><b>ALİ YARAMIŞLI</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> İSMETKAPTAN MAHALLESİ NO:4/B/4B KONAK/İZMİR</p>
                    <p><b>Telefon:</b> 0232 4598788</p>
                    <p><b>Fax:</b> 0232 3237373</p>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Yönetim Kurulu')">
    <div class="py-4 ">
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/MainComunite/original/4afeTIS6sS9y79S8.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Yönetim Kurulu Başkanı</p>
                    <p><b>MAHMUT ÖZGENER</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> YUNUS EMRE MAHALLESİ 7523 SOKAK NO:2 BORNOVA / İZMİR</p>
                    <p><b>Telefon:</b> 0232 4635075</p>
                    <p><b>Fax:</b> 0232 4831209</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/MainComunite/original/GxyIBAZDm7MR8eIG.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Yönetim Kurulu Başkan Yardımcısı</p>
                    <p><b>EYÜP CEMAL ELMASOĞLU</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> 1474 SOKAK NO:1 KAT:3 ALSANCAK / İZMİR</p>
                    <p><b>Telefon:</b> 0232 4214703 - 4222271</p>
                    <p><b>Fax:</b> 0232 4215518</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/MainComunite/original/HxjHXcFPMTCrFafO.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Yönetim Kurulu Başkan Yardımcısı</p>
                    <p><b>EMRE KIZILGÜNEŞLER</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> ADATEPE MAHALLESİ 2/20 SK. NO:31/1 BEGOS 3. BÖLGE BUCA / İZMİR</p>
                    <p><b>Telefon:</b> 0232 4407181</p>
                    <p><b>Fax:</b> 0232 4400878</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/MainComunite/original/6OkmPu6YKuOKSY2k.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>
                        Yönetim Kurulu Sayman Üyesi</p>
                    <p><b>ALİ OSMAN ÖĞMEN</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> ÇINARLI MAHALLESİ 1561 SOKAK NO:40 ÇINARLI KONAK/İZMİR</p>
                    <p><b>Telefon:</b> 0232 4633463</p>
                    <p><b>Fax:</b> 0232 4213407</p>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Disiplin Kurulu')">
    <div class="py-4 ">
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/MainComunite/original/pfwJEWhiff8rbJ37.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Disiplin Kurulu Başkanı</p>
                    <p><b>YILMAZ EROĞLU</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> 9 EYLÜL MAH.AKÇAY CAD. NO:169/B GAZİEMİR</p>
                    <p><b>Telefon:</b> 0232 2511111</p>
                    <p><b>Fax:</b> 0232 2520909-2517070</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/MainComunite/original/W66KGaSaKNfhL7Nx.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Disiplin Kurulu Üyesi</p>
                    <p><b>İSMAİL AKDEMİR</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> 1391 SOK. NO:1/2 D:2 ALSANCAK KONAK</p>
                    <p><b>Telefon:</b> 0232 4638899</p>
                    <p><b>Fax:</b> 0232 4638070/p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/MainComunite/original/CgJ8PfQKXVzuaSTo.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Disiplin Kurulu Üyesi</p>
                    <p><b>KASIM GÜNDÜZ</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> 2816 SOK. NO:26 MERSİNLİ KONAK</p>
                    <p><b>Telefon:</b> 0232 4334010</p>
                    <p><b>Fax:</b> 0232 4584427</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/MainComunite/original/ofSCdxP41JERH9Qp.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>
                        Disiplin Kurulu Üyesi</p>
                    <p><b>REŞAT BUDAK</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> 1719 SOK. NO:22 D:101-102 KARŞIYAKA</p>
                    <p><b>Telefon:</b> 0232 3682526-3699969</p>
                    <p><b>Fax:</b> 0232 3686889</p>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Organizasyon Şeması')">
    <div class="py-5">
        <div id="aa" class="col shadow-lg m-3">
            <a href="">
                <p><span style="height: 100%;" class="material-symbols-outlined">
                        file_download
                    </span>
                    <b>Organizasyon Şeması</b>
                </p>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Etkinlik Takvimi')">
    <div class="py-5">
        <div id="aa" class="col shadow-sm my-4">
            <a href="#" (click)="subSection='Özel Gün ve Haftalar Takvimi'">
                <p>
                    <b>Özel Gün ve Haftalar Takvimi<span style="height: 100%;" class="material-symbols-outlined">
                            open_in_new
                        </span></b>
                </p>
            </a>
        </div>
        <div id="aa" class="col shadow-lg my-4">
            <a href="#" (click)="subSection='Komite Toplantı Takvimi'">
                <p>
                    <b>Komite Toplantı Takvimi<span style="height: 100%;" class="material-symbols-outlined">
                            open_in_new
                        </span></b>
                </p>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Komite Toplantı Takvimi')">
    <div class="py-5">
        <div id="aa" class="col shadow-lg m-3">
            <a href="">
                <p><span style="height: 100%;" class="material-symbols-outlined">
                        file_download
                    </span>
                    <b>
                        Komite Toplantı Takvimi (1-5 Ağustos 2022)</b>
                </p>
            </a>
        </div>
        <div id="aa" class="col shadow-lg m-3">
            <a href="https://api.izto.org.tr/storage/Documents/original/S0y0IQLVRRzCNcUB.pdf">
                <p><span style="height: 100%;" class="material-symbols-outlined">
                        file_download
                    </span>
                    <b>
                        Komite Toplantı Takvimi (25-29 Temmuz 2022)</b>
                </p>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Özel Gün ve Haftalar')">
    <div class="py-5">
        <table class="container">
            <tr class="row">
                <td class="col-2">
                    NO
                </td>
                <td class="col-10">
                    TARİH / KONU
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    1
                </td>
                <td class="col-10">
                    10 Ocak Gazeteciler Günü
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    2
                </td>
                <td class="col-10">
                    13 Ocak 2012 KKTC 1. CB Rauf Denktaş Vefa
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    3
                </td>
                <td class="col-10">
                    Yarı Yıl Tatili
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    4
                </td>
                <td class="col-10">
                    26 Ocak Dünya Gümrük Günü
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    5
                </td>
                <td class="col-10">
                    9 Şubat Dünya Sigarayı Bırakma Günü
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    6
                </td>
                <td class="col-10">
                    14 Şubat Sevgililer Günü
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    7
                </td>
                <td class="col-10">
                    27 Şubat Regaib Kandili
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    8
                </td>
                <td class="col-10">
                    8 Mart Dünya Kadınlar Günü
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    5
                </td>
                <td class="col-10">
                    9 Şubat Dünya Sigarayı Bırakma Günü
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    9
                </td>
                <td class="col-10">
                    12 Mart İstiklal Marşı kabulu ve Mehmet Akif ERSOY'u anma günü
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    10
                </td>
                <td class="col-10">
                    14 Mart Tıp Bayram
                </td>
            </tr>
        </table>
        <br><br>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
