<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>

    <div class="py-5 container">
        Kanuni bir zorunluluk olmanın dışında İzmir Ticaret Odası'na Üyeliğin pek çok avantajları bulunmaktadır.
        <br><br>İzmir Ticaret Odası Üyeleri Odamızın Web sayfalarında Organizasyon kısmında birimler halinde ve detaylı
        olarak listelenen tüm hizmetlerinden faydalanabilir. Bu hizmetler: <br><br>
        <li>Üyelerimizin mesleki konulardaki istek, beklenti ve problemleri doğrultu sunda inceleme ve araştırmalar
            yaparak gerekli merciler nezdinde girişimlerde bulunma ve sonuçları takip etme,</li>
        <li>İç ve dış ticaret konularında mesleki ve teknik bilgi ve danışmanlık hizmetlerinden yararlanma,</li>
        <li>Yurtdışı fuarlarda Odamız şemsiye standları altında firmalarını ve ürünlerini tanıtma,</li>
        <li>Odamız fuar teşviklerinden faydalanma,</li>
        <li>Odamız yurtdışı iş gezilerine katılarak ticari imkanlarını çeşitlendirme,</li>
        <li>Odamız yayınlarından faydalanma,</li>
        <li>Mevzuat değişiklikleri ve ticari hayatı ilgilendiren duyurularımızdan ivedi bir şekilde haberdar edilme,
        </li>
        <li>İhracatçıların menşe şehadetnameleri ve dolaşım belgelerinin tanzim, kontrol ve onay işlemleri,</li>
        <li>İthalat ve ihracatla ilgili tüm fatura, belge vb'nin suret onayları,</li>
        <li>Dış ticaret işlemlerinin gerektirdiği hallerde eksper ve bilirkişi tayini ve rapor düzenlenmesi,</li>
        <li>Dış anlaşmazlıklarda anlaşmazlığın giderilmesi için gerekli girişimler ve arabuluculuk hizmetlerinden
            yararlanma,</li>
        <li>İmalatçı üyelerin kapasite raporlarının düzenlenmesi, onaylanması ve Odalar Birliği'ne gönderilmesi,</li>
        <li>İç piyasa rayiç fiyatları hakkında rapor ve bilgi alma,</li>
        <li>Onayı istenen faturaların rayice uygun olup olmadığının doğrulanması,</li>
        <li>Yed-i Vahit ve tek imalatçı belge taleplerinin incelenerek sonuçlandırılması,</li>
        <li>İş makinalarının tescil ve tasdik işlemleri,</li>
        <li>Uluslararası karayolu ile yük taşıması yapan nakliye firmaları için TIR karnesi dağıtımının yapılması,</li>
        <li>Uluslararası geçiş belgelerinin temini ve dağıtımı,</li>
        <li>ATA sözleşmesine uygun olarak ATA karnesinin düzenlenmesi ve onaylanması,</li>
        <li>Gayrımenkul ve menkul değerlerin rayiç tesbiti,</li>
        <li>Firmaların çeşitli ticari işlemleri için gerekli ve bazı hallerde alınması zorunlu olan sicil belgesi, imza
            ve kefalet onayları gibi sicil kayıtlarına dayanan belgelerin verilmesi,</li>
        <li>Firma sahibi, ortağı ve yetkililerinin Bağ-Kur ile ilgili tüm formlarının hazırlanması ve onaylanması,</li>
        <li>Ustalık, kalfalık, çıraklık vb sözleşmelerinin onaylarının yapılması,</li>
        <li>Ticari bilgi içeren oldukça fazla sayıda yayına sahip olan Odamız Kütüphanesinden yararlanma,</li>
        <li>Yurtdışı iş teklifleri, yurtdışı fuarlar ve ihalelerle ilgili bilgilendirilme,·</li>
        <li>Türkiye'nin birçok yerindeki otel,sağlık kuruluşları ve otobüs şirkelerinden indirimli yararlanma imkanı,
        </li>
        <li>Başarılı firmaların ödüllendirilmesi,</li>
        <div class="seperator">
            <div></div>
        </div>
    </div>
