<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <b>GERÇEK KİŞİLER İÇİN BİLGİ EDİNME FORMU</b>
    <div class="seperator my-2">
        <div></div>
    </div>
    <b>1 - T.C. Kimlik No</b><br><br><input id="textA" type="text"><br><br><b>2 - Adınız</b><br><br><input
        id="textA" type="text"><br><br><b>3 - Soyadınız</b><br><br><input id="textA" type="text"><br><br><b>4 - E-posta</b><br><br><input id="textA" type="text"><br><br><b>5 - Telefon</b><br><br><input id="textA"
        type="text"><br><br>
    <b>6 - Faks</b><br><br><input id="textA" type="text"><br><br><b>7 - Adres</b><br><br><input
        id="textA" type="text"><br><br><b>8 - Şehir</b><br><br><input id="textA" type="text"><br><br><b>9 - Posta Kodu</b><br><br><input id="textA" type="text"><br><br><b>10 - Ülke</b><br><br><input id="textA"
        type="text"><br><br>
        <b>11 - Cevap Şekli</b><br><br>
        <input id="textA" type="text"><br><br>
        <b>12 - Açıklama</b><br><br>
        <input id="textA" type="text"><br><br>
        <input type="checkbox">Kişisel
    Verileri Koruma Kanunu Bilgilendirmesini Kabul Ediyorum.
    <br><br>
    <button class="btn btn-info w-100">Gonder</button>
</div>