<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <li><a id="textLink" href="https://izto.org.tr/tr/ft/gercek-kisiler-icin-bilgi-edinme-formu">GERÇEK KİŞİLER İÇİN BİLGİ EDİNME FORMU</a></li>
    <li><a id="textLink" href="https://izto.org.tr/tr/ft/tuzel-kisiler-icin-bilgi-edinme-formu">TÜZEL KİŞİLER İÇİN BİLGİ EDİNME FORMU
        BİLGİ EDİNME HAKKI KANUNU</a></li>
        <div id="aa" class=" shadow-lg m-3">
            <a href="https://api.izto.org.tr/storage/Documents/original/Si3wZjviOumhSgnz.pdf">
                <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>BİLGİ EDİNME HAKKI KANUNU</b></p>
            </a>
        </div>
        <div id="aa" class=" shadow-lg m-3">
            <a href="https://api.izto.org.tr/storage/Setting/original/t32i616zb0NTK2i6.png">
                <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>BİLGİ EDİNME HAKKI YÖNETMELİĞİ</b></p>
            </a>
        </div>
</div>