<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-5">
        <table class="container">
            <tr>
                <td class="col-3">Dereceler</td>
                <td class="col-5">Sermaye Aralıkları</td>
                <td class="col-4">Kayıt Ücretleri Tarifesi</td>
            </tr>
            <tr>
                <td class="col-3">Yeni Kayıt</td>
                <td class="col-5">-</td>
                <td class="col-4">485 TL</td>
            </tr>
            <tr>
                <td class="col-3">1.Derece</td>
                <td class="col-5">1.000.000.00 TL üstü</td>
                <td class="col-4">1280 TL</td>
            </tr>
            <tr>
                <td class="col-3">2.Derece</td>
                <td class="col-5">500.000.00 TL - 1.000.000.00 TL</td>
                <td class="col-4">940 TL</td>
            </tr>
            <tr>
                <td class="col-3">3.Derece</td>
                <td class="col-5">250.000.00 TL - 500.000.00 TL</td>
                <td class="col-4">875 TL</td>
            </tr>
            <tr>
                <td class="col-3">4.Derece</td>
                <td class="col-4">100.000.00 TL - 250.000.00 TL</td>
                <td class="col-5">810 TL</td>
            </tr>
            <tr>
                <td class="col-3">5.Derece</td>
                <td class="col-4">10.000.00 TL - 100.000.00 TL</td>
                <td class="col-5">740 TL</td>
            </tr>
        </table>
        <br><br>
        5174 sayılı “Türkiye Odalar Ve Borsalar Birliği İle Odalar Ve Borsalar Kanunu”<br><br>Madde: 24 <br><br>Kayıt
        ücreti ile yıllık aidat, onaltı yaşından büyükler için uygulanan aylık asgarî ücretin brüt tutarının yüzde
        onundan az, yarısından fazla olamaz. <br><br>“Kayıt Ücreti ile Yıllık Aidat ve Munzam Aidatın Tespiti ve
        Ödenmesi Hakkında Yönetmelik”<br><br>Dereceler <br><br>Madde: 12 <br><br>Oda ve borsalar derece sayısını kendi
        durumlarına göre tespit eder. Ancak, bu derecelerin sayısı beşten az yediden fazla olamaz. (Ek
        cümle:RG-31/1/2017-29965) Ayrıca, bu derecelerden ayrı bir derece ihdas edilerek yeni kurulan sermaye şirketleri
        bu dereceye atanır. Bu derece için belirlenecek kayıt ücreti, aylık asgari ücretin brüt tutarının yüzde onundan
        az, yüzde on beşinden fazla olamaz. <br><br>
        <div class="seperator">
            <div></div>
        </div>
    </div>
