<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-4 ">
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>01.03.2022 Tarihinden İtibaren Mersis Üzerinde Yapılacak Atama...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>27.07/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>20.02.2021 tarih 31401 sayılı Resmi Gazetede yayınlanan Tebliğ ile yürürlüğe
                giren, Şirket kuruluş Sözleşmelerinin Ticaret Sicili Müdürlüklerinde İmzalanması Hakkında Tebliğde
                Değişiklik Yapılmasına Dair Tebliğ ile elektronik ortamda temin edilen imza verisinin kullanımı hakkında
                yasal düzenleme yapılmışt...<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
    </div>
