<ng-container *ngIf="subSection.includes('Fire ve Zaiyat Oranları')">
    <div class="py-5">
        <div class="justify-content-center"></div>
        <div id="aa" class=" shadow-lg mx-3">
            <a href="">
                <h5 class="px-3">FİRE VE ZAYİAT ORANLARINA ULAŞMAK İÇİN TIKLAYINIZ<span
                        class="material-symbols-outlined">
                        file_download
                    </span></h5>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('İzmir Ticaret Odası İhracatçı Firmalar Listesi ')">
    <div class="py-5">
        <div class="justify-content-center"></div>
        <div id="aa" class=" shadow-lg mx-3">
            <a href="">
                <h5 class="px-3">İzmir Ticaret Odası İhracatçı Firmalar Listesi<span class="material-symbols-outlined">
                        file_download
                    </span></h5>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Ticari İşletme Tanımları')">
    <div class="py-5">
        Küçük ve Orta Büyüklükteki İşletmelerin Tanımı, Nitelikleri ve Sınıflandırılması Hakkında Yönetmelik
        <br><br>Yönetmelik Karar Sayısı : 2005/9617 <br><br>Ekli "Küçük ve Orta Büyüklükteki İşletmelerin Tanımı,
        Nitelikleri ve Sınıflandırılması Hakkında Yönetmelik"in yürürlüğe konulması; Sanayi ve Ticaret Bakanlığı'nın
        28/7/2005 tarihli ve 5674 sayılı yazısı üzerine, 3143 sayılı Sanayi ve Ticaret Bakanlığının Teşkilat ve
        Görevleri Hakkında Kanunun ek 1 inci maddesine göre, Bakanlar Kurulu'nca 19/10/2005 tarihinde
        kararlaştırılmıştır. <br><br>Amaç <br><br>Madde 1 - Bu Yönetmeliğin amacı; küçük ve orta büyüklükteki
        işletmelerin tanımına, niteliklerine ve sınıflandırılmasına ilişkin esasların belirlenmesi ve bu tanım ve
        esasların tüm kurum ve kuruluşların uygulamalarında esas alınmasını sağlamaktır. <br><br>Kapsam <br><br> Madde 2
        - Bu Yönetmelik; küçük ve orta büyüklükteki işletmeler ile bu işletmelerin tanımlarına, niteliklerine ve
        sınıflandırılmasına ilişkin uygulama usul ve esaslarının belirlenmesini kapsar. <br><br> Küçük ve orta
        büyüklükteki işletmeleri ilgilendiren mevzuatın uygulanmasında bu Yönetmelik hükümleri esas alınır. Ancak;
        KOBİ'lere yönelik destek sağlayan kuruluşlar, bu Yönetmelikte belirtilen sınırları aşmamak kaydıyla, kendi
        sektör ve büyüklük önceliklerini belirleyebilirler. Devlet yardımları dışındaki uygulamalar için sadece çalışan
        sayıları dikkate alınabilir. <br><br>Dayanak <br><br> Madde 3 - Bu Yönetmelik; 8/1/1985 tarihli ve 3143 sayılı
        Sanayi ve Ticaret Bakanlığının Teşkilat ve Görevleri
        Hakkında Kanunun ek 1 inci maddesine dayanılarak hazırlanmıştır. <br><br> Tanımlar <br><br>Madde 4 - Bu
        Yönetmeliğin uygulanmasında;<br><br> a) İşletme: Yasal statüsü ne olursa olsun, bir veya birden çok gerçek veya
        tüzel kişiye ait olup, bir ekonomik faaliyette bulunan birimleri,<br><br>b) Küçük ve orta büyüklükte işletme
        (KOBİ): İkiyüzelli kişiden az yıllık çalışan istihdam eden ve yıllık net satış hasılatı ya da mali bilançosu
        yirmibeş milyon Yeni Türk Lirasını aşmayan ve bu Yönetmelikte mikro işletme, küçük işletme ve orta büyüklükteki
        işletme olarak sınıflandırılan ve kısaca "KOBİ" olarak adlandırılan ekonomik birimleri,<br><br>c) Mali bilanço:
        Bir işletmenin belirli bir tarihte sahip olduğu varlıklar ile bu varlıkların sağlandığı kaynakları gösteren mali
        tabloyu,<br><br>d) Net satış hasılatı: Bir işletmenin brüt satışlarından satış
        iskontoları ve iadeleri ile diğer indirimlerin düşülmesi sonucu bulunan tutarı,<br><br>e) Yıllık iş birimi
        (YİB): Bir yıl boyunca tam zamanlı olarak işletmede veya işletme adına çalışan bir kişiyi,<br><br>f) Yakın
        piyasa: İlgili piyasanın akış zincirinin başlangıç veya bitiminde yer alan ürün veya hizmet piyasasını,ifade
        eder. <br><br> <a href="">Yönetmeliğin devamı için tıklayınız.</a>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Ulusal ve Uluslararası Bağlantılar')">
    <div class="py-5">
        <div id="aa" class=" shadow-md m-3">
            <a href="">
                <h5 class="px-3">Ticaret Bakanlığı : Web sitesi için tıklayınız.<span class="material-symbols-outlined">
                        open_in_new
                    </span></h5>
            </a>
        </div>
        <div id="aa" class=" shadow-md m-3">
            <a href="">
                <h5 class="px-3">Türkiye Odalar ve Borsalar Birliği : Web sitesi için tıklayınız.<span
                        class="material-symbols-outlined">
                        file_download
                    </span></h5>
            </a>
        </div>
        <div id="aa" class=" shadow-md m-3">
            <a href="">
                <h5 class="px-3">EuroChambers : Web sitesi için tıklayınız.<span class="material-symbols-outlined">
                        open_in_new
                    </span></h5>
            </a>
        </div>
        <div id="aa" class="shadow-md m-3">
            <a href="">
                <h5 class="px-3">KOSGEB : Web sitesi için tıklayınız.<span class="material-symbols-outlined">
                        open_in_new
                    </span></h5>
            </a>
        </div>
        <div id="aa" class="shadow-md m-3">
            <a href="">
                <h5 class="px-3">ICC (Milletlerarası Ticaret Odası) : Web sitesi için tıklayınız.<span
                        class="material-symbols-outlined">
                        open_in_new
                    </span></h5>
            </a>
        </div>
        <div id="aa" class="shadow-md m-3">
            <a href="">
                <h5 class="px-3">ASCAME (Akdeniz Ticaret ve Sanayi Odaları Birliği): Web sitesi için tıklayınız.<span
                        class="material-symbols-outlined">
                        open_in_new
                    </span></h5>
            </a>
        </div>
    </div>
</ng-container>