.button-con {
    display: flex;
    justify-content: center;
}

.bc-con {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;
}

.bc-con div {
    width: 300px;
    height: 30px;
    margin: 0.5em;
    color: #1d3557;
    border: 1px rgba(0, 0, 0, 0.125) solid;
    text-align: center;
    box-shadow: 1px 1px 1px 1px;
    text-decoration: none;
    border-radius: 4px;
}

div a {
    text-decoration: none;
}

#bg {
    background-color: #f8f9fa;
}