<div id="bg">
    <section class="button-con">
        <div class="bc-con">
            <a routerLink="menu/pc/bilgi-bankasi/oda-sicili-rehberi">
                <div>ODA SİCİL REHBERİ</div>
            </a>
            <a href="">
                <div>TİCARET SİCİL REHBERİ</div>
            </a>
            <a href="">
                <div>TİCARİ İŞLEMLER REHBERİ</div>
            </a>
            <a routerLink="menu/pc/uyelik-ve-uyeler/2022-hizmet-ucretleri-tarifesi">
                <div>2022 HİZMET ÜCRETLERİ TARİFESİ</div>
            </a>
            <a routerLink="menu/pc/ticaret-noktasi/ihracat-destek-ofisi">
                <div>İHRACAT DESTEK OFİSİ</div>
            </a>
            <a routerLink="menu/pc/e-oda/uye-bilgi-guncelleme-formu">
                <div>ÜYE BİLGİ GÜNCELLEME</div>
            </a>
            <a routerLink="menu/pc/ticaret-noktasi/fuarlar">
                <div>FUAR HİZMETLERİ</div>
            </a>
            <a routerLink="menu/pc/ticaret-noktasi/girisimcilik">
                <div>GİRİŞİMCİLİK</div>
            </a>
            <a routerLink="menu/pc/ticaret-noktasi/vize-hizmetleri">
                <div>VİZE HİZMETLERİ</div>
            </a>
            <a routerLink="menu/pc/ihalelerimiz/izmir-ticaret-odasi-ihalelerimiz">
                <div>İHALELER</div>
            </a>
            <a href="https://eoda.izto.org.tr/web/oda_sicil_belge_secim.aspx" target="_blank">
                <div>E-İMZALI BELGE</div>
            </a>
            <a href="https://eoda.izto.org.tr/web_ana_sayfa.aspx" target="_blank">
                <div>ONLİNE İŞLEMLER</div>
            </a>
        </div>
    </section>
</div>