<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <b>SAYFA İÇERİK SORUMLUSU</b><br><br><b>Dr. Hitay BARAN</b><br>Şehircilik Danışmanı<br>Tel: 0232 498 42 34 <br>E-mail: hitay.baran@izto.org.tr <br><br>
    <div id="aa" class="row shadow-lg m-3">
        <a href="https://api.izto.org.tr/storage/Documents/original/ZR4E83W5TFSjOHRo.pdf">
            <p> <b>İzmir Limanları Genel Değerlendirme - 24.11.2020</b><span style="height: 100%;" class="material-symbols-outlined">
                download
            </span></p>
        </a>
    </div>
    <div id="aa" class="row shadow-lg m-3">
        <a href="https://api.izto.org.tr/storage/Documents/original/exSIziWicHrqZ9ls.pdf">
            <p> <b>
                Deprem Gerçeği ve İzmir - 02.11.2020</b><span style="height: 100%;" class="material-symbols-outlined">
                download
            </span></p>
        </a>
    </div>
    <div id="aa" class="row shadow-lg m-3">
        <a href="https://api.izto.org.tr/storage/Documents/original/mbbivGVZ8dcdLmh3.pdf">
            <p> <b>
                
İZMİR TİCARET ODASI'NIN BÜYÜKŞEHİR BELEDİYESİ'NDEN KENTSEL KONULARDA BEKLENTİLERİ - (TEMMUZ 2019)</b><span style="height: 100%;" class="material-symbols-outlined">
                download
            </span></p>
        </a>
    </div>
    <div id="aa" class="row shadow-lg m-3">
        <a href="https://api.izto.org.tr/storage/Documents/original/0PFRkam9P0aDJ1Pp.pdf">
            <p> <b>
                T.C. ÇEVRE VE ŞEHİRCİLİK BAKANI SAYIN MEHMET ÖZHASEKİ’DEN BEKLENTİLERİMİZ (OCAK 2017)</b><span style="height: 100%;" class="material-symbols-outlined">
                download
            </span></p>
        </a>
    </div>
    <div id="aa" class="row shadow-lg m-3">
        <a href="https://api.izto.org.tr/storage/Documents/original/fCWbbUIwnOHowsw8.pdf">
            <p> <b>
                T.C. KÜLTÜR VE TURİZM BAKANI SAYIN NABİ AVCI’DAN BEKLENTİLERİMİZ (ARALIK 2016)</b><span style="height: 100%;" class="material-symbols-outlined">
                download
            </span></p>
        </a>
    </div>
    <div id="aa" class="row shadow-lg m-3">
        <a href="https://api.izto.org.tr/storage/Documents/original/XqMKcb6iZrvhi22m.pdf">
            <p> <b>
                T.C. ULAŞTIRMA, DENİZCİLİK VE HABERLEŞME BAKANLIĞINDAN BEKLENTİLERİMİZ (EYLÜL 2016)</b><span style="height: 100%;" class="material-symbols-outlined">
                download
            </span></p>
        </a>
    </div>
</div>