<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-4 container">
        <a id="textLink" href="">ONLINE ÜYE BİLGİ GÜNCELLEME İÇİN TIKLAYINIZ...</a><br><br>Değerli
        Üyemiz,<br><br>Yaptığımız çalışmaları, düzenlediğimiz eğitimleri, mesleki sorunlarınızın çözümü için
        gerçekleştirdiğimiz girişimlerii sizlere bildirebilmemiz bizim için büyük önem taşımaktadır.<br><br>Tüm
        faaliyetlerimizi web sitemiz ve yaygın medya ile duyurduğumuz gibi sizleri sık sık e-posta, SMS, faks ve telefon
        ile de bilgilendirmeye çalışıyoruz.<br><br>Bu bilgilendirmelerin sağlıklı olarak tarafınıza iletilebilmesi için
        kayıtlarımızda yer alan iletişim bilgilerinizin güncel olması büyük önem taşımaktadır.<br><br>Çalışmalarımız
        hakkında düzenli olarak bilgi sahibi olmak için iletişim bilgilerinizde oluşan değişiklikleri lütfen Odamızla
        paylaşınız.<br><br>Sadece bir dakikanızı ayırarak iletişim bilgilerinizdeki değişiklikleri <a id="textLink"
            href=""> ONLINE BİLGİ GÜNCELLEME EKRANI</a> üzerinden işleyebilirsiniz veya söz konusu değişikliklerin
        bildirmek için <a id="textLink" href="">BİLGİ GÜNCELLEME FORMU’nu</a> doldurup kaşeli ve yetkili tarafından
        imzalanmış şekilde 498 46 92 numaralı faksa gönderebilir veya taranmış halini <a
            href="mailto:bilgiguncelleme@izto.org.tr">bilgiguncelleme@izto.org.tr</a> adresine
        iletebilirsiniz.<br><br>Saygılarımızla,<br><br>İzmir Ticaret Odası
        <div class="seperator">
            <div></div>
        </div>
    </div>
