<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <!--https://izto.org.tr/tr/tg/anonim-sirketlerde-ic-yonergenin-tescili--><a id="textLink" href="">Anonim Şirketlerde İç
        Yönergenin Tescili</a><br><br>
    <div id="aa" class=" shadow-sm mx-3">
        <!--https://api.izto.org.tr/storage/Documents/original/M9AkvpI2aBRoSKYW.pdf--><a href="">
            <p class="px-3"><b>ANONİM VE LİMİTED ŞİRKETLER İLE BİRLEŞME BÖLÜNME VE TÜR DEĞİŞİKLİĞİ İŞLEMLERİNE GENEL
                    BAKIŞ</b><span class="material-symbols-outlined">
                    file_download
                </span></p>
        </a>
    </div>
</div>
