<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-5">
        <div id="aa" class=" shadow-md m-3">
            <a href="https://api.izto.org.tr/storage/Documents/original/185lKe4BzSTr4a7o.docx">
                <p id="button"><span class="material-symbols-outlined">
                        file_download
                    </span>GERÇEK KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (ISLAK İMZA).</p>
            </a>
        </div>
        <div id="aa" class=" shadow-md m-3">
            <a href="https://api.izto.org.tr/storage/Documents/original/eTxwonyT7IKCfbHi.docx">
                <p id="button"><span class="material-symbols-outlined">
                        file_download
                    </span>TÜZEL KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (ISLAK İMZA).</p>
            </a>
        </div>
        <div id="aa" class=" shadow-md m-3">
            <a href="https://api.izto.org.tr/storage/Documents/original/ySXKdQFgm8vb09Kp.docx">
                <p id="button"><span class="material-symbols-outlined">
                        file_download
                    </span>
                    GERÇEK KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (E-İMZA).</p>
            </a>
        </div>
        <div id="aa" class=" shadow-md m-3">
            <a href="https://api.izto.org.tr/storage/Documents/original/YqisOh3Khbo84dtI.docx">
                <p id="button"><span class="material-symbols-outlined">
                        file_download
                    </span>TÜZEL KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (E-İMZA).</p>
            </a>
        </div>
    </div>
