<div class="container">
    <div class="row justify-content-center rounded shadow-lg p-5 th m-0">
        <h3 id="bb">{{title}}</h3>
    </div>
    <div class="py-5 container">
        <h5>TEMEL DEĞERLERİMİZ</h5>
        <ul>
            <li>Üyelerimizin mutluluğu vazgeçilmez değerimizdir.</li>
            <li>Yetkin, pozitif, gelişime açık, biz anlayışı ile hareket eden, etik değerlere bağlı fark yaratan
                çalışanlarız.</li>
            <li>Değişim ve yeniliğe açık, barışçıl ortam yaratan, halden anlayan, etik değerlere bağlı, katılımcı ve
                paylaşımcı, adil ve cesaretli yöneticileriz.</li>
            <li>Kaynaklarımızı ve teknolojiyi etkin kullanarak hızlı çözümler üretir, proaktif yaklaşımla her üyeye eşit
                ve kaliteli hizmetler sunarız.</li>
            <li>Toplumun ortak değerlerini önemseyen, doğal çevreyi koruyan ve sürdürülebilir kılan anlayışımızla sosyal
                refahı arttıran projeleri destekler ve hayata geçiririz.</li>
        </ul>
        <h5>İZTO RUHU</h5>
        <ul>
            <li>Özveriliyiz</li>
            <li>Yenilikçiyiz</li>
            <li>Dinamiğiz</li>
            <li>Çözüm odaklıyız</li>
            <li>Güler yüzlüyüz</li>
            <li>Sadığız</li>
            <li>Öncüyüz</li>
            <li>Hoşgörülüyüz</li>
            <li>Sabırlıyız</li>
            <li>Paylaşımcıyız</li>
            <li>Tarafsızız</li>
            <li>Özeliz</li>
            <li>Biz bir aileyiz</li>
        </ul>
        <h5>YÖNETİM SİSTEMLERİ POLİTİKASI</h5>
        <ul>
            <li>İzmir Ticaret Odası Entegre Yönetim Sistemi, ISO 9001, ISO 10002, ISO 27001, ISO 31000, ISO 27701ve TOBB
                Oda Akreditasyon Sistemi gerekleri dikkate alınarak kurulmuştur.</li>
            <li>Entegre Yönetim Sisteminin etkin şekilde yürütülmesi için gerekli kaynakları ayırmak</li>
            <li>Faaliyetlerimizi üye odaklı bir anlayış ile gerçekleştirmek, sürdürülebilirliği, sürekli gelişimi ve üye
                bağlılığını hedeflemek,</li>
            <li>Kurum bilgisinin, üyelerimizin, çalışanlarımızın ve paydaşlarımızın bilgi güvenliğini ve kişisel
                verilerinin güvenliğini sağlamak; risk yönetimi anlayışı ile hareket etmek,</li>
            <li>Tüm faaliyetlerimizde yasal mevzuatlara bağlı, teknolojiyi, enerjiyi ve doğal kaynaklarımızı etkin bir
                biçimde kullanmak</li>
            <li>Çalışmalarımızı yenilikçi, yetkin ve motivasyonu yüksek katılımcı çalışanlarımız ve yönetim
                anlayışımızla gerçekleştirmek Yönetim Sistemleri Politikamızdır.</li>
        </ul>
        <h5>BİLGİ GÜVENLİĞİ POLİTİKASI</h5>
        <ul>
            <li>Oda faaliyetleri çerçevesinde kullanılan veya üretilen bilgiyi sınıflandırarak etik değerler, ilgili
                yasalar ve yönetmelikler çerçevesinde bilginin erişilebilirliğini (elverişliliğini), gizliliğini,
                bütünlüğünü sağlamak; kullanım amacı dışında kullanılmasını önlemek,</li>
            <li>Tüm çalışanlarımız ile mal ve hizmet sağlayıcılarımızın Odamızda üretilen ve kullanılan bilginin
                sınıfına uygun olarak gizliliği, bütünlüğü ve erişilebilirliğini sağlaması için gerekli önlemleri almak
                Bilgi Güvenliği Politikamızdır.</li>
        </ul>
        <h5>ÜYE MEMNUNİYETİ POLİTİKASI</h5>
        <ul>
            <li>Tüm faaliyetlerimizde yasal mevzuatlara uygun olarak hareket ederken üyelerimizin memnuniyetini sağlamak
            </li>
            <li>Üyelerimizden gelen geri bildirimleri faaliyetlerimizi geliştirme fırsatı olarak ele alıp değerlendirmek
                Üye Memnuniyeti Politikamızdır.</li>
        </ul>
        <h5>RİSK YÖNETİMİ POLİTİKASI</h5>
        <ul>
            <li>Faaliyetlerimizi gerçekleştirirken muhtemel risk ve fırsatları ele almak</li>
            <li>Faaliyetlerimizin sürdürülebilirliğini, bilgi güvenliğini, iş sağlığı ve güvenliğini, üye memnuniyetini,
                Oda itibarını ve finansal kaynaklarımızı tehdit eden riskleri ele alarak değerlendirmek, yönetmek ve
                ihtiyaca göre gerekli önlemleri almak Risk Yönetimi Politikamızdır.</li>
        </ul>
        <h5>MALİ İŞLER ve FİNANS POLİTİKASI</h5>
        <ul>
            <li>Bütçe prensiplerine uygun olarak harcamaları yapmak, etkin bütçe tekniği sayesinde gerekli tasarruf ve
                yerindeliği sağlamak,</li>
            <li>Üyelerimizin menfaatlerini gözeterek, tahsilatları zamanında ve doğru şekilde yapmak,</li>
            <li>Mevcut kaynaklarımızı en verimli şekilde değerlendirerek gelirlerimizi arttırmak,</li>
            <li>Kurumun mali yapısının güçlü, sorgulanabilir ve hesap verilebilir olması Mali İşler Ve Finans
                Politikamızdır.</li>
        </ul>
        <h5>YÖNETİM VE KARAR ALMA POLİTİKASI</h5>
        <ul>
            <li>Mevzuat hükümlerine uygun karar almak ve hareket etmek,</li>
            <li>Etik kurallar çerçevesinde Odanın stratejileri ve menfaatlerini gözetmek,</li>
            <li>Etkin, yetkin, objektif, hızlı hareket etmek ve inisiyatif almak,</li>
            <li>Sürdürülebilirlik ilkesi ile katılımcı çalışmaya önem vermek,</li>
            <li>Değişime uyum sağlayıp, proaktif yaklaşımla gelişime odaklanmak,</li>
            <li>Çalışanların görüşlerini dikkate alarak karar vermek Yönetim Ve Karar Alma Politikamızdır.</li>
        </ul>
        <h5>SATIN ALMA VE TEDARİK POLİTİKASI</h5>
        <ul>
            <li>İhtiyaçları doğru belirlemek, objektif kriterler ile kaliteli, optimum zaman, maliyet ve miktarda temin
                etmek,</li>
            <li>Satın alma ve tedarikin kurumun aynası olduğunun bilinci ile hareket etmek,</li>
            <li>Mevzuat çerçevesinde, etik kurallara, finans ve bütçe yapısına uygun alımlar gerçekleştirmek,</li>
            <li>Sürekli denetlenen, gelişimi ve performansı izlenen tedarikçi ağı oluşturmak Satın Alma Ve Tedarik
                Politikamızdır.</li>
        </ul>
        <h5>TEKNOLOJİ KULLANIM POLİTİKASI</h5>
        <ul>
            <li>Teknolojik gelişmelerin takibini sürekli yaparak verdiğimiz hizmetlerin ve altyapımızın kalitesini ve
                etkinliğini arttıran sistemlerin kurumumuza uyarlanmasını sağlamak Teknoloji Kullanım Politikamızdır.
            </li>
        </ul>
        <h5>ÜYE İLİŞKİLERİ VE İLETİŞİM POLİTİKASI</h5>
        <ul>
            <li>Üye ile olan iletişimde güven, şeffaflık ve ulaşılabilirlik ilkesi ile hareket etmek,</li>
            <li>Üyelerimizin ticari hayatındaki verilerini ticari sır olarak görmek ve mevzuatlar çerçevesinde sahip
                olmak, bu bilgileri derlemek ve üye kullanımlarına sunmak,</li>
            <li>Teknolojinin etkin kullanımını sağlayarak üyenin talep ettiği hizmeti bürokrasi engeline takılmadan
                elektronik ortamda hızlı ve etkin bir şekilde hizmetine sunmak</li>
            <li>Yasal mevzuat ve uygulamadaki değişikliklerin anlık uyumunu sağlamak için bilgilendirici tüm kanalları
                aktif etmek,</li>
            <li>Yeni üye olacaklara izleyecekleri prosedürleri açıklayıcı ve anlaşılır bir şekilde anlatmak,</li>
            <li>Sürdürülebilir ilişkileri sağlamak için farklı faaliyetler ve birebir ziyaretler gerçekleştirmek Üye
                İlişkileri ve İletişim Politikamızdır.</li>
        </ul>
        <h5>ULUSLARARASI İLİŞKİLER POLİTİKASI</h5>
        <ul>
            <li>Üyelerimizin faaliyetlerini yurtdışına açmak, kentimizi yabancı yatırımcılar ve turistler için iş,
                seyahat hareketleri ve kültür açısından cazibe merkezi haline getirmek,</li>
            <li>Dış ticaretin sunduğu fırsatlardan üyelerimizi faydalandırmak, riskleri ise en aza indirmek,</li>
            <li>Güçlü bir uluslararası paydaş ağı oluşturmak, bu ağı üye, kent ve ülke menfaatlerine yönelik kullanmak,
            </li>
            <li>Üyelerimizin sektörel gelişim projelerinde uluslararası kaynakları kullanmalarını sağlamak,</li>
            <li>Üyelerimizin katma değeri yüksek ürün ve hizmet ihracatını geliştirmek amacıyla kurum bütçemizin
                olanakları dahilinde objektif kriterlerle teşvikler vermek,</li>
            <li>Kent ve ülke gelişimine katkı sağlayacak uluslararası tanıtım ağını güçlendirmek,</li>
            <li>Üyelerimizin dış ticaret işlemlerini hızlı ve doğru bir şekilde yapabilmeleri için gerekli lojistik
                imkanları sağlamak, bu imkanları sürdürebilir ve geliştirilebilir kılmak Uluslararası İlişkiler
                Politikamızdır.</li>
        </ul>
        <h5>EĞİTİM POLİTİKASI</h5>
        <ul>
            <li>Günümüz iş dünyasına hakim, yaşam boyu öğrenme felsefesi çerçevesinde sürekli gelişim prensibi ile özgün
                ve kaliteli eğitim programları geliştirerek, iş dünyası ve akademik dünya arasında bağlantı noktası
                oluşturmak, çalışanlarımızın, firmaların ve toplumun geleceğinde fark yaratmak Eğitim Politikamızdır.
            </li>
        </ul>
        <h5>AĞ GELİŞTİRME POLİTİKASI</h5>
        <ul>
            <li>Bölgemiz, kentimiz ve üyelerimizin sorunlarını çözmek, sektörleri geliştirmede paydaş kurumlarla hareket
                etmek ve projeler üretmek,</li>
            <li>Ulusal ve uluslararası ekonomik, sosyal, politik ve kültürel konjonktürü takip etmek, küresel ve yerel
                koşulları analiz ederek oluşan fırsatları üyelerimizin mesleki ve sektörel gelişimlerini sağlayacak
                şekilde kolaylaştırıcı ve kentimizin marka değerini arttırıcı girişim ve faaliyetlerde bulunmak,</li>
            <li>Potansiyel girişimcileri cesaretlendirmek, teşvik etmek ve fikirlerini ticari ürün haline getirmeleri
                için ortam hazırlamak, melek yatırımcı ve mentör ağımız ve ülkemizdeki diğer ağlarla olan iş birliği
                imkanlarından yararlanmalarını sağlamak Ağ Geliştirme Politikamızdır.</li>
        </ul>
        <h5>İNSAN KAYNAKLARI POLİTİKASI</h5>
        <ul>
            <li>Fark yaratan hizmetler sunan, Odaya bağlılığı, hizmet bilinci, yetkinliği, motivasyonu yüksek güler
                yüzlü çalışanlara sahip olmak,</li>
            <li>Çalışanlarımızın bireysel ve mesleki gelişimlerini sağlamak,</li>
            <li>Objektif ve etkin performans sistemi ile çalışmalarını değerlendirmek ve başarılı olanları
                ödüllendirmek,</li>
            <li>Ücret ve kariyer planlama sistemi ile entegre insan kaynakları sistemini işleten bir kurum olarak diğer
                Odalara örnek olmak İnsan Kaynakları Politikamızdır.</li>
        </ul>
        <h5>HİZMET GELİŞTİRME POLİTİKASI</h5>
        <ul>
            <li>Geliştirilecek hizmeti üyenin ihtiyacı doğrultusunda belirlemek, pilot uygulamanın ardından üye
                memnuniyet derecesine göre mevzuatlar çerçevesinde tüm üyelere uygulamak ve etkinliğini ölçmek Hizmet
                Geliştirme Politikamızdır.</li>
        </ul>
        <p style="text-align: end; font-weight: bold;">Mahmut ÖZGENER</p>
        <p style="text-align: end;">Yönetim Kurulu Başkanı</p>
        <div class="seperator">
            <div></div>
        </div>
        <div class="w-100 d-flex social-share justify-content-end align-items-center py-2"><div class="share-text p-2">
            PAYLAŞ
          </div> <div class="d-flex justify-content-end align-items-center">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank">
                <span tabindex="0" data-link="#share-twitter" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-twitter"></i>
                </span> 
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.izto.org.tr%2F&amp;src=sdkpreparse">
                <span tabindex="0" data-link="#share-facebook" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-facebook"></i>
                </span> 
            </a>
            <a href="whatsapp://send?text">
                <span tabindex="0" data-link="#share-whatsapp" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-whatsapp"></i>
                </span>
            </a>
            <span tabindex="0" data-link="#share-linkedin" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-linkedin"></i></span> <span tabindex="0" data-link="#share-pinterest" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-pinterest "></i></span> <span tabindex="0" data-link="#share-reddit" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-reddit"></i></span>
            </div>
    </div>