<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-5 container">
        <ul>İzmir Ticaret Odası'nın Organları:
            <li>Meslek Komiteleri,</li>
            <li>Meclis,</li>
            <li>Yönetim Kurulu'dur.</li>
        </ul>
        <p>Meslek Komiteleri, Meslek Gruplarına dahil Üyelerin, kendi Üyeleri arasından yargı gözetimi altında gizli
            oyla seçtikleri Üyelerden oluşur.</p>
        <p> </p>
        <p>Oda Meclisi, Oda'nın en yüksek karar ve denetim organı olup, Meslek Komiteleri'nin kendi Üyeleri arasından
            yargı gözetimi altında gizli oyla seçtikleri 2'şer Üye'nin toplamından oluşur. Oda Meclisi'nin görev süresi
            4 yıldır.</p>
        <p></p>
        <p>Oda Yönetim Kurulu, Oda'nın en yüksek icra organı olup Meclis'in kendi Üyeleri arasından dört yıl için
            seçtiği (11) kişiden oluşur.</p>
        <ul>İzmir Ticaret Odası'nın Yönetim Yapısı
            İzmir Ticaret Odası'nın hizmetleri, ilgili mevzuat hükümlerine göre belirlenen birimler tarafından
            yürütülür. Bu birimler;
            <li>Genel Sekreter</li>
            <li>Genel Sekreter Yardımcısı</li>
            <li>Danışmanlar ve Genel Sekreterliğe Bağlı Kadrolar</li>
            <li>Bölüm Müdürlükleri</li>
        </ul>
        <div class="seperator">
            <div></div>
        </div>
    </div>