<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-4 ">
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>Odamıza Gelmeden, Oda Kayıt İşleminizi Elektronik İmza (E-İmza)..</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>25/07/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Oda’ya kayıt işleminizi elektronik imza (e-imza) kullanarak gerçekleştirebilmek
                için; Oda Kayıt Beyannamesi’ni (https://www.izto.org.tr/tr/dy/oda-kayit-beyannameleri ) doldurmanız ve
                elektronik imza (e-imza) uygulayarak <br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>
                            ÖDÜLLENDİRME-Firma Bilgi Kontrolü...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>04.08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Odamız, her yıl olduğu gibi 2021 takvim yılı için de başarılı üyelerimizi konu ile
                ilgili yönetmelik esaslarına göre ödüllendirecektir.Ödüllendirme listeleri Odamız kayıtlarında yer alan
                bilgiler dahilinde oluşturulmuştur.Firmanızın ödüllendirme listelerinde yer alan bilgilerinin kontrolünü
                22 ...<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>Bir Üyemizin İflası Hakkında...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>02.08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Odamız sicilinin 1151201 numarasında “TASFİYE HALİNDE SUSEMGURUP TEMİZLİK
                HİZMETLERİ TURİZM İNŞAAT BİLGİSAYAR YAZILIM GIDA SANAYİ VE TİCARET LİMİTED ŞİRKETİ” unvanında kayıtlı
                firmanın, İzmir 1. Asliye Ticaret Mahkemesi’ nin 23.06.2022 tarih ve 2021/577 esas sayılı ilamı ile
                iflasına karar verildiği, T.C....<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <a  class="pageBtn">1</a>
            <a  class="pageBtn">1</a>
        </div>
    </div>
