<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="py-4 container">
    <div id="aa" class="shadow-sm my-3">
        <a href="">
            <p class="py-1 mx-1"> <span class="material-symbols-outlined">
                    expand_more
                </span><b>BELGE VE FORM ÖRNEKLERİ</b> </p>
            <div>
                <a class="d-block py-2"
                    href="https://api.izto.org.tr/storage/Documents/original/KR2R7svG3AVIa2LZ.doc"><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>TİCARET SİCİLİ KAYIT BİLGİLERİ FORMU (GÜMRÜK VE MUHAFAZA)</b> </a>
                <a class="d-block py-2"
                    href="https://api.izto.org.tr/storage/Documents/original/Opben6XeZ6kmlOvG.doc"><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>TTK 457’E GÖRE HAZIRLANAN YÖNETİM KURULU BEYANI</b></a>
                <a class="d-block py-2"
                    href="https://api.izto.org.tr/storage/Documents/original/VcJGH5a2ZQJULqYW.xls"><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>5510 SAYILI KANUN GEREĞİ İŞTEN AYRILIŞ BİLDİRGESİ</b></a>
                <a class="d-block py-2"
                    href="https://api.izto.org.tr/storage/Documents/original/AyYO9WswaovXEMsO.doc"><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>İÇ YÖNERGE ÖRNEĞİ</b></a>
                <a class="d-block py-2"
                    href="https://api.izto.org.tr/storage/Documents/original/HjAebQkSeChSrFby.doc"><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>SERMAYE ARTIRIMINA İLİŞKİN İŞTİRAK TAAHHÜTLERİ</b>İ</a>
                <a class="d-block py-2"
                    href="https://api.izto.org.tr/storage/Documents/original/Tm52j1cRykd5sQum.docx"><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>ŞİRKET KURULUŞ BİLDİRİM FORMU</b></a>
            </div>
        </a>
    </div>
    <div id="aa" class="shadow-sm my-3">
        <a href="">
            <p class="py-1 mx-1"> <span class="material-symbols-outlined">
                    expand_more
                </span><b>İLAN ÖRNEKLERİ</b></p>
            <div>
                <a class="d-block py-2"
                    href="https://api.izto.org.tr/storage/Documents/original/XkNNHh5aQnNV39v9.doc"><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>TASFİYEDEN DOLAYI ALACAKLILARA ÇAĞRI</b></a>
                <a class="d-block py-2"
                    href="https://api.izto.org.tr/storage/Documents/original/Tnkt2aMyUYPv1rZ2.doc"><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>
                        ANONİM ŞİRKETLERDE TEMSİLCİ ÖNERİLİ GENEL KURUL TOPLANTISINA DAVET</b></a>
                <a class="d-block py-2"
                    href="https://api.izto.org.tr/storage/Documents/original/efpgkkA0Gkp663Rn.docx"><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>
                        ANONİM ŞİRKETLERDE GENEL KURUL TOPLANTISINA DAVET</b></a>
                <a class="d-block py-2"
                    href="https://api.izto.org.tr/storage/Documents/original/jktr5l2RUxuZMQkW.doc"><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>GÖREV BÖLÜMÜ</b></a>
                <a class="d-block py-2"
                    href="https://api.izto.org.tr/storage/Documents/original/IIxr6lvQ6ylEZawJ.doc"><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>ANONİM ŞİRKETLERDE GENEL KURUL TOPLANTISININ ERTELENMESİ DUYURUSU</b></a>
                <a class="d-block py-2"
                    href="https://api.izto.org.tr/storage/Documents/original/cLYk2LZFk2Pqrx5N.doc"><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>
                        LİMİTED ŞİRKETLERDE GENEL KURUL TOPLANTISINA DAVET</b></a>
            </div>
        </a>
    </div>
</div>