<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="py-5 container">
    <div id="aa" class="shadow-sm my-3">
        <a href="">
            <p class="py-1 mx-1"> <span class="material-symbols-outlined">
                    expand_more
                </span><b>LİMİTED ŞİRKET KARAR ÖRNEKLERİ</b> </p>
            <div>
                <!--https://api.izto.org.tr/storage/Documents/original/ah3TlVTbldk3g6zv.docx--><a class="d-block py-2"
                    href=""><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>ADRES DEĞİŞİKLİĞİ</b> </a>
                <!--https://api.izto.org.tr/storage/Documents/original/Eaf3JSAxVpYcjCBK.docx--><a class="d-block py-2"
                    href=""><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>AMAÇ KONU DEĞİŞİKLİĞİ</b></a>
                <!--https://api.izto.org.tr/storage/Documents/original/efpgkkA0Gkp663Rn.docx--><a class="d-block py-2"
                    href=""><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>HİSSE DEVRİ</b></a>
                <!--https://api.izto.org.tr/storage/Documents/original/QGAR38B1Hg5ZR9Y6.docx--><a class="d-block py-2"
                    href=""><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>MERKEZ NAKLİ</b></a>
                <!--https://api.izto.org.tr/storage/Documents/original/HLOCGaOgWZnf2AZD.docx--><a class="d-block py-2"
                    href=""><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>ORTAK İSİM SOYİSİM DEĞİŞİKLİĞ</b>İ</a>
                <!--https://api.izto.org.tr/storage/Documents/original/PMLkeFrNVf5ytZwV.docx--><a class="d-block py-2"
                    href=""><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>SERMAYE ARTIRIMI</b></a>
            </div>
        </a>
    </div>
    <div id="aa" class="shadow-sm my-3">
        <a href="">
            <p class="py-1 mx-1"> <span class="material-symbols-outlined">
                    expand_more
                </span><b>ANONİM ŞİRKET KARAR ÖRNEKLERİ</b></p>
            <div>
                <!--https://api.izto.org.tr/storage/Documents/original/tKH6YdcC8o2PIl9C.docx--><a class="d-block py-2"
                    href=""><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>198 YK KARARI</b></a>
                <!--https://api.izto.org.tr/storage/Documents/original/K0JQJQlWnTlJUC5K.docx--><a class="d-block py-2"
                    href=""><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>ADRES DEĞİŞİKLİĞİ</b></a>
                <!--https://api.izto.org.tr/storage/Documents/original/efpgkkA0Gkp663Rn.docx--><a class="d-block py-2"
                    href=""><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>
                        AMAÇ KONU DEĞİŞİKLİĞİ</b></a>
                <!--https://api.izto.org.tr/storage/Documents/original/o4o6iqPamuhylarX.docx--><a class="d-block py-2"
                    href=""><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>GÖREV BÖLÜMÜ</b></a>
                <!--https://api.izto.org.tr/storage/Documents/original/wyMKuaMIIAY1V2pY.docx--><a class="d-block py-2"
                    href=""><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>HİSSE DEVRİ</b></a>
                <!--https://api.izto.org.tr/storage/Documents/original/oZKrAf7mMZ5E8YT5.docx--><a class="d-block py-2"
                    href=""><span
                        class="material-symbols-outlined">
                        file_download
                    </span><b>
                        MERKEZ NAKLİ</b></a>
            </div>
        </a>
    </div>
</div>
