<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-4 container">
        <h4>Meclis Başkanlık Divanı</h4>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/ComuniteMembers/original/F5FIEevsN1h2ue0O.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Meclis Başkanı</p>
                    <p><b>SELAMİ ÖZPOYRAZ</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> AKÇAY CAD. NO:281/A GAZİEMİR-İZMİR</p>
                    <p><b>Telefon:</b> 0232 2746868</p>
                    <p><b>Fax:</b> 0232 2743400</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/ComuniteMembers/original/VlDmr7HkGPRZBdD1.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Meclis Başkan Yardımcısı</p>
                    <p><b>YAVUZ ATEŞALP</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> İTOB OSB MAHALLESİ 10031 SK. NO:10 MENDERES/İZMİR</p>
                    <p><b>Telefon:</b> 0232 4226586</p>
                    <p><b>Fax:</b> 0232 4226883</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/ComuniteMembers/original/lF9OocNqzmgmB9Lw.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>Meclis Başkan Yardımcısı</p>
                    <p><b>İRFAN EROL</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> 5618 SOKAK NO:4 K.2-3 ÇAMDİBİ / İZMİR</p>
                    <p><b>Telefon:</b> 0232 4598788</p>
                    <p><b>Fax:</b> 0232 4585837</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <div>
                    <img class="img-fluid"
                        src="https://api.izto.org.tr/storage/ComuniteMembers/original/IYgAEaBd8GCUQ6ck.jpeg" alt="">
                    <div class="abc"></div>
                </div>
                <div class="mx-3">
                    <p>
                        Katip Üye</p>
                    <p><b>ALİ YARAMIŞLI</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p><b>Adres:</b> İSMETKAPTAN MAHALLESİ NO:4/B/4B KONAK/İZMİR</p>
                    <p><b>Telefon:</b> 0232 4598788</p>
                    <p><b>Fax:</b> 0232 3237373</p>
                </div>
            </div>
        </div>
    </div>

