<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <div id="aa" class=" shadow-lg m-3">
        <a href="https://mersis.gtb.gov.tr/Portal/Home/Index">
            <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>Alüminyum İnşaat ve İnşaat Aksamı Grubu İhracat Pazar Araştırması</b></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a href="https://mersis.gtb.gov.tr/Portal/Home/Index">
            <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>
                    Baharatlar ve Baharat Çeşitleri İhracat Pazar Araştırması</b></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a href="https://mersis.gtb.gov.tr/Portal/Home/Index">
            <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>Demir-Çelikten Diğer İnşaat -Aksamı İhracat Pazar Araştırması</b></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a href="https://mersis.gtb.gov.tr/Portal/Home/Index">
            <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>Demir-Çelikten Diğer İnşaat -Aksamı İhracat Pazar Araştırması</b></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a href="https://mersis.gtb.gov.tr/Portal/Home/Index">
            <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>İnşaat Boyası İhracat Pazar Araştırması</b></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a href="https://mersis.gtb.gov.tr/Portal/Home/Index">
            <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>Kavun İhracat Pazar Araştırması</b></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a href="https://mersis.gtb.gov.tr/Portal/Home/Index">
            <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>Antep Fıstığı İhracat Pazar Araştırması</b></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a href="https://mersis.gtb.gov.tr/Portal/Home/Index">
            <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>Aydınlatma Ürünleri İhracat Pazar Araştırması</b></p>
        </a>
    </div>
</div>