<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>

<div class= "py-5">
    <div class="container">
        <p><strong>ODA’YA NASIL KAYIT OLURUM?</strong><br></p>
        <p>·
            Oda
            kayıt süreci tamamlanan üyelerimiz, Odamıza gelerek evraklarını teslim almak ve
            Oda kayıt ücretini veznemize ödemek için sıramatik kiosk cihazından “9-Yeni
            Kayıt işlemleri” butonundan numara alarak işlemlerini yürütebilirler.<strong></strong></p>
        <p><strong></strong></p>
        <p>·
            Ticaret
            Sicili Müdürlüğü’nde kuruluş tescil işleminin tamamlanmasının ardından Oda’ya
            kayıt işleminin çok kısa bir sürede gerçekleşmesi için Oda kayıt beyannamesinin
            ( <a
                href="https://www.izto.org.tr/tr/dy/oda-kayit-beyannameleri">https://www.izto.org.tr/tr/dy/oda-kayit-beyannameleri</a>
            ) tescil evrakları ile birlikte
            İzmir Ticaret Sicili Müdürlüğü’ne teslim edilmesi sürecin hızlanmasına katkı
            sağlayacaktır.</p>
        <p>·
            Meslek
            grubu; Kuruluş aşamasında dilekçe ile
            Ticaret Sicili Müdürlüğüne Mersis üzerinden bildirdiğiniz (faaliyet) nace kodunun kayıtlarımıza
            yansıtılarak Odamız meslek grupları ile eşleştirilmesi sonucunda otomatik
            olarak oluşturulur.</p>
        <p>·
            Oda
            kayıt işleminiz tamamlandığında tarafınıza SMS ile bilgilendirme mesajı
            gönderilecektir.</p>
        <p>·
            Kayıt
            ücreti, Odamız veznesine veya <a
                href="https://eoda.izto.org.tr/web/aidat_borc_odeme.aspx?id=290">https://eoda.izto.org.tr/web/aidat_borc_odeme.aspx?id=290</a>
            linkinden online olarak ödenebilmektedir.</p>
        <p>·
            İşlemlerin
            tamamlanmasının ardından tüm üyelerimize Üye Sicil Belgesi, gerçek kişi
            ve şube kayıtlarında ise Üye Sicil Belgesi ile birlikte Ticaret Sicil Tasdiknamesi
            teslim edilmektedir.</p>
        <p>
        </p>
        <p>
            Sermaye
            şirketleri ve kooperatiflerin yeni kayıt işlemleri sonrası Ticaret Sicil
            Tasdiknamesi defter teslimi sırasında Ticaret Sicili Müdürlüğünce teslim
            edilmektedir.</p>
        <p>·
            Oda’ya
            kayıt sürecinin hangi aşamada olduğu <a
                href="https://eoda.izto.org.tr/web/FirmaTescilSorgulama.aspx">https://eoda.izto.org.tr/web/FirmaTescilSorgulama.aspx</a>
            linkinden takip edilebilmektedir.</p>
        <p><strong></strong></p>
        <p><strong></strong></p>
        <p><strong></strong></p>
        <p><strong></strong></p>
        <p><strong></strong></p>
        <p><strong></strong></p>
        <p><strong><br></strong></p>
        <p><strong>MÜDÜRLÜĞÜMÜZDEN ALINABİLECEK BELGELER</strong></p>
        <p>·
            <strong>Oda Sicil Kayıt Ve Faaliyet Belgesi’ni Nasıl Temin Edebilirim?</strong>
        </p>
        <p><strong><u>Oda’ya gelerek Islak
                    İmzalı olarak belge temini:</u></strong> Sıramatik kiosk cihazından “1- Oda Kayıt ve Faaliyet
            Belgesi” butonundan numara aldıktan sonra Odamız veznesine kredi kartı ile harç
            ücretini ödemek suretiyle tarafımızdan hazırlanan ıslak imzalı belgeyi anında temin
            edebilirsiniz.</p>
        <p>Veya</p>
        <p>Talep edilen belgenin harç ücretini web sitemizden “Hizmeti
            Elden Almak İstiyorum” seçeneği ile ödemek suretiyle <a
                href="https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292">https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292</a>
            Odamız 1. Katındaki Oda Sicil
            Müdürlüğümüze gelerek belgeyi anında temin etmeniz de söz konusudur.</p>
        <p><strong><u>Odamıza gelmenize gerek kalmadan :</u></strong> Belgeyi değerli evrak kapsamında ıslak imzalı
            olarak “Hizmeti Kurye ile Almak
            İstiyorum” seçeneği ile <a
                href="https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292">https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292</a>
            linkinden, talep edeceğiniz adrese gönderilmesini
            sağlayabilirsiniz.</p>
        <p>Evrakın hazırlanarak postaya verilmesinden sonra, tarafınıza
            SMS mesajı ile göndereceğimiz “takip
            numarası” ile evrakın size teslim edilene kadar geçecek olan süreci takip edebilirsiniz.
        </p>
        <p><strong><u>Web sitemizden e-imzalı
                    olarak temini:</u></strong> Belgenin, Odamız web sitesinden online işlemler
            menüsünden <a
                href="https://eoda.izto.org.tr/web/oda_sicil_belge_kabul.aspx?belge=20">https://eoda.izto.org.tr/web/oda_sicil_belge_kabul.aspx?belge=20</a>
            talep edilmesi halinde söz konusu belgeyi
            beyan ettiğiniz e-posta adresinize 7/24 temin edebilirsiniz.</p>
        <p>2022 YILI HİZMET ÜCRETLERİ TARİFESİ</p>
        <p><a href="https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi"
                title="https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi">https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi</a>
        </p>
        <p>·
            <strong>G Bendine İstinaden İhale Belgesi’ni nasıl temin edebilirim?</strong>
        </p>
        <p><strong><u>Oda’ya gelerek Islak
                    İmzalı olarak belge temini:</u></strong> Sıramatik kiosk cihazından “2- İhale Belgesi (G Bendi )”
            butonundan
            numara aldıktan sonra Odamız veznesine kredi kartı ile harç ücretini ödemek
            suretiyle tarafımızdan hazırlanan ıslak imzalı belgeyi anında temin edebilirsiniz.</p>
        <p>Veya</p>
        <p>Talep edilen belgenin harç ücretini web sitemizden “Hizmeti
            Elden Almak İstiyorum” seçeneği ile ödemek suretiyle <a
                href="https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292">https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292</a>
            Odamız 1. Katındaki Oda Sicil
            Müdürlüğümüze gelerek belgeyi anında temin etmeniz de söz konusudur.</p>
        <p><u>Odamıza gelmenize gerek kalmadan</u><strong><u> :</u></strong> Belgeyi değerli evrak kapsamında ıslak
            imzalı olarak “Hizmeti Kurye ile Almak
            İstiyorum” seçeneği ile <a
                href="https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292">https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292</a>
            linkinden, talep edeceğiniz adrese
            gönderilmesini sağlayabilirsiniz.</p>
        <p>Evrakın hazırlanarak postaya verilmesinden sonra, tarafınıza
            SMS mesajı ile göndereceğimiz “takip
            numarası” ile evrakın size teslim edilene kadar geçecek olan süreci takip
            edebilirsiniz.</p>
        <p><strong><u>Web sitemizden
                    e-imzalı olarak temini:</u></strong> Belgenin, Odamız web sitesinden online
            işlemler menüsünden <a
                href="https://eoda.izto.org.tr/web/oda_sicil_belge_kabul.aspx?belge=20">https://eoda.izto.org.tr/web/oda_sicil_belge_kabul.aspx?belge=20</a>
            talep edilmesi halinde söz konusu belgeyi
            beyan ettiğiniz e-posta adresinize 7/24 temin edebilirsiniz.</p>
        <p>2022 YILI HİZMET ÜCRETLERİ TARİFESİ</p>
        <p><a href="https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi"
                title="https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi">https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi</a>
        </p>
        <p>·
            <strong>İngilizce Oda Sicil Kayıt ve Faaliyet Belgesi’ni nasıl temin edebilirim?</strong>
        </p>
        <p><strong><u>Oda’ya gelerek Islak
                    İmzalı olarak belge temini:</u></strong> Sıramatik kiosk cihazından “3- İngilizce Oda Kayıt ve
            Faaliyet Belgesi” butonundan numara aldıktan sonra Odamız veznesine kredi kartı
            ile harç ücretini ödemek suretiyle tarafımızdan hazırlanan ıslak imzalı belgeyi
            anında temin edebilirsiniz.</p>
        <p>Veya</p>
        <p>Talep edilen belgenin harç ücretini web sitemizden “Hizmeti
            Elden Almak İstiyorum” seçeneği ile ödemek suretiyle <a
                href="https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292">https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292</a>
            Odamız 1. Katındaki Oda Sicil
            Müdürlüğümüze gelerek belgeyi anında temin etmeniz de söz konusudur.</p>
        <p><strong><u>Odamıza gelmenize gerek kalmadan :</u></strong> Belgeyi değerli evrak kapsamında ıslak imzalı
            olarak “Hizmeti Kurye ile Almak
            İstiyorum” seçeneği ile <a
                href="https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292">https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292</a>
            linkinden, talep edeceğiniz adrese
            gönderilmesini sağlayabilirsiniz.</p>
        <p>Evrakın hazırlanarak postaya verilmesinden sonra, tarafınıza
            SMS mesajı ile göndereceğimiz “takip
            numarası” ile evrakın size teslim edilene kadar geçecek olan süreci takip
            edebilirsiniz.</p>
        <p><strong><u>Web sitemizden
                    e-imzalı olarak temini:</u></strong> Belgenin, Odamız web sitesinden online
            işlemler menüsünden <a
                href="https://eoda.izto.org.tr/web/oda_sicil_belge_kabul.aspx?belge=20">https://eoda.izto.org.tr/web/oda_sicil_belge_kabul.aspx?belge=20</a>
            talep edilmesi halinde söz konusu belgeyi
            beyan ettiğiniz e-posta adresinize 7/24 temin edebilirsiniz.</p>
        <p>2022 YILI HİZMET ÜCRETLERİ TARİFESİ</p>
        <p><a href="https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi"
                title="https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi">https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi</a>
        </p>
        <p><br></p>
        <p>·
            <strong>Ticaret Sicili Gazetesinin Onaylı Sureti</strong>
        </p>
        <p><strong><u>Odamıza gelerek
                    temini:</u></strong> Ticaret
            Sicili Gazetesinin onaylı suretinin temini için; Odamızın 1. Katında yer alan
            Oda Sicil Müdürlüğümüze gelerek sıramatik kiosk cihazından “4- Ticaret Sicili
            Gazetesi Suret Onayı” butonundan sıra numarası alınması ve Odamız veznesine
            harç ücretinin ödenmesinin ardından talep ettiğiniz gazetenin bilgileri ile üye
            hizmet görevlimizden söz konusu hizmet çok kısa bir sürede temin edebilir</p>
        <p>Veya</p>
        <p>Talep edilen belgenin harç ücretini web sitemizden “Hizmeti
            Elden Almak İstiyorum” seçeneği ile ödemek suretiyle <a
                href="https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292">https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292</a>
            Odamızın 1. Katında yer alan Oda
            Sicil Müdürlüğümüze gelerek belgeyi anında temin edebilirsiniz.</p>
        <p><strong><u>Odamıza gelmenize gerek kalmadan</u></strong>: Islak
            imzalı olarak değerli evrak kapsamında
            “Hizmeti Kurye ile Almak İstiyorum” seçeneği ile <a
                href="https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292">https://eoda.izto.org.tr/web/wdegerli_evrak_tahsilat.aspx?id=292</a>
            beyan edilen adrese talep edilerek
            temin edilebilir. Evrakın teslim süreci üyeye SMS ile kurye gönderilen “takip
            numarası” ile takip edilebilmektedir.</p>
        <p>2022 YILI HİZMET ÜCRETLERİ TARİFESİ</p>
        <p><a href="https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi"
                title="https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi">https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi</a>
        </p>
        <p><strong><br></strong></p>
        <p><strong>ODA KAYIT TASDİK İŞLEMLERİ</strong></p>
        <p>“Oda Kayıt Tasdik işlemi” niz için Odamız 1. Katında yer alan
            Oda Sicil Müdürlüğümüze gelerek sıramatik kiosk cihazından “5- Oda Kayıt Tasdiği”
            butonundan sıra numarası alınması gerekmektedir.</p>
        <p>Tasdik işlemi için&nbsp;<a href="https://api.izto.org.tr/storage/EditorUpload/original/Af41VIwPbdCG2cCD.docx"
                target="_blank" style="background-color: rgb(255, 255, 255); display: inline !important;">talep
                dilekçesi</a>&nbsp;(yetkili imzası ile) ve onaylanacak olan
            evrakların fotokopisi temin edilerek tasdik işlemi belge asıllarına uygulanır.</p>
        <p>Söz konusu işlemin yapılması için adı geçen firmanın Odamız
            üyesi olması ve onaylanacak belge üzerinde firma unvanının yer alması gerekmektedir.
        </p>
        <p>Odamız veznesine harç ücretinin ödenmesine müteakip ilgili
            evraklara üye hizmet görevlisi tarafından kontrol edilerek tasdik işlemi
            uygulanır.</p>
        <p>2022 YILI HİZMET ÜCRETLERİ TARİFESİ</p>
        <p><a href="https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi"
                title="https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi">https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi</a>
        </p>
        <p><br></p>
        <p><strong></strong></p>
        <p><strong></strong></p>
        <p><strong></strong></p>
        <p><strong></strong></p>
        <p><strong><br></strong></p>
        <p><strong>İMZA ONAYI İŞLEMLERİ</strong></p>
        <p>“İmza Onayı” işlemleriniz için, Odamız 1. Katında yer alan
            Oda Sicil Müdürlüğümüze gelerek sıramatik kiosk cihazından “6- İmza Onayı”
            butonundan sıra numarası alınması gerekmektedir.</p>
        <p>İmza ve kayıt tasdiği işlemlerinde üyeden, yapılacak işleme
            ilişkin yetkili imzası ile&nbsp;<a
                href="https://api.izto.org.tr/storage/EditorUpload/original/b8WgED71RkI8Fsxp.docx" target="_blank"
                style="background-color: rgb(255, 255, 255); display: inline !important;">talep dilekçesi</a>&nbsp;ve
            onaylanacak olan evrakların
            fotokopisinin de belge asılları ile birlikte temin edilmesi gerekmektedir.</p>
        <p>Tasdik işlemi belge asıllarına uygulanır.</p>
        <p>Söz konusu işlemin yapılması için adı geçen firmanın Odamız
            üyesi olması ve onaylanacak belge üzerinde firma unvanının ve yetkilisinin
            imzasının yer alması gerekmektedir.</p>
        <p>İmza vekâleten atıldı ise vekâletnamenin fotokopisine ve vekâlet
            sahibinin imza beyannamesine ihtiyaç durulmaktadır.</p>
        <p>Odamız veznesine harç ücretinin ödenmesin ardından ilgili
            evraklara üye hizmet görevlisi tarafından kontrol edilerek tasdik işlemi
            uygulanır.</p>
        <p>2022 YILI HİZMET ÜCRETLERİ TARİFESİ</p>
        <p><a href="https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi"
                title="https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi">https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi</a>
        </p>
        <p><br></p>
        <p>·
            <strong>MUHTELİF BELGE</strong>
        </p>
        <p>Muhtelif belge matbu (standart) belgeler dışında hazırlanan
            ve üyenin sicil kayıtlarımızdaki durumunu gösteren düz yazı şeklinde bir
            belgedir.</p>
        <p>Odamızın 1. Katında yer alan Oda Sicil Müdürlüğümüze gelerek
            sıramatik kiosk cihazından “7- Muhtelif Belge” butonundan numara aldıktan sonra
            söz konusu belgenin harç ücretinin Odamız veznesine ödenmesinin ardından söz
            konusu belge üye hizmet görevlisince hazırlanarak üyeye teslim edilir.</p>
        <p>2022 YILI HİZMET ÜCRETLERİ TARİFESİ</p>
        <p><a href="https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi"
                title="https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi">https://www.izto.org.tr/tr/tg/2022-yili-hizmet-ucretleri-tarifesi</a>
        </p>
        <p><strong>ÜYE KİMLİK KARTI VE EMLAK KOMİSYONCUSU KİMLİK KARTI</strong><br></p>
        <p>·
            <strong>İzmir Ticaret Odası Üye Kimlik Kartı</strong> sadece ilgili firmanın ortakları adına ya da imza
            yetkilisi adına düzenlenmektedir.
        </p>
        <p>Odamıza gelerek “Üye Kimlik Kartı” başvurusunda
            bulunmak için sıramatik kiosk cihazından “10- Üye Kimlik Kartı” butonundan
            numara alarak üye kartı talebinde bulunabilirsiniz.</p>
        <p>Kimlik kartı için firma bilgileri, bir
            adet vesikalık fotoğraf ve kişinin T.C. Kimlik numarasını içeren fotoğraflı bir
            kimlik belgesi ibrazı zorunludur. <strong></strong></p>
        <p><strong></strong></p>
        <p>Üye kimlik kartınız hazırladığından
            tarafınıza sms mesajı ile bilgilendirme sağlanacaktır.</p>
        <p>Başvuru için kişinin kendisinin
            gelmesine gerek bulunmamakta olup, kimlik kartını teslim almaya gelecek kişi
            farklı bir kişi olacak ise, <a
                href="https://api.izto.org.tr/storage/EditorUpload/original/POJWStflLoxB9l16.docx">Üye Kartı Teslim
                Dilekçesi</a> ile kişiye kart teslimi yapılabilecektir.</p>
        <p>Söz konusu işlem harç ücretine tabi değildir.
        </p>
        <p>·
            <strong>Emlak Komisyoncusu Kimlik Kartı</strong>sahibi olabilmek için firmanın Odamız sicil kayıtlarında 49.
            Gayrimenkul Faaliyetleri Grubuna kayıtlı olması gerekmektedir.
        </p>
        <p>Odamıza gelerek “Emlak Komisyoncusu
            Kimlik Kartı” başvurusunda bulunmak için sıramatik kiosk cihazından “10- Üye
            Kimlik Kartı” butonundan numara alarak üye kartı talebinde
            bulunabilirsiniz.</p>
        <p>Kimlik kartı için firma bilgileri,
            bir adet vesikalık fotoğraf ve kişinin T.C. Kimlik numarasını içeren fotoğraflı
            bir kimlik belgesi ibrazı zorunludur. <strong></strong></p>
        <p><strong></strong></p>
        <p>Üye kimlik kartınız hazırladığında tarafınıza sms mesajı ile bilgilendirme sağlanacaktır.</p>
        <p>Başvuru için kişinin kendisinin
            gelmesine gerek bulunmamakta olup, kimlik kartını teslim almaya gelecek kişi
            farklı bir kişi olacak ise,<strong></strong><a
                href="https://api.izto.org.tr/storage/EditorUpload/original/POJWStflLoxB9l16.docx">Üye Kartı Teslim
                Dilekçesi</a> ile kişiye kart teslimi yapılabilecektir.</p>
        <p>Söz konusu işlem harç ücretine tabi değildir.
        </p>
        <p>Kimlik kartları sadece ilgili
            firmanın ortakları adına ya da imza yetkilisi adına düzenlenir.</p>
        <p><strong><br></strong></p>
        <p><strong>BAĞKUR SİGORTALILIK BELGESİNİN, USTALIK, ÇIRAKLIK, KALFALIK
                VB. SÖZLEŞMELERİNİN VE BONSERVİSLERİN TASDİK İŞLEMLERİ</strong></p>
        <p>İlgili belgelerin onay işlemi için; Odamızın 1. Katında
            bulunan Oda sicil Müdürlüğümüze gelerek, sıramatik kiosk cihazından “11-Bağkur
            - Çıraklık - Kalfalık - Ustalık Tasdik İş” butonundan sıra numarası almanız
            yeterlidir. Üye hizmet görevlimizce gerekli kontrollerin ardından söz konusu
            işleminiz gerçekleştirilecektir.</p>
        <p>Söz konusu onay işlemi harç ücretine tabi değildir.</p>
        <p><strong><br></strong></p>
        <p><strong>ANA FAALİYET (NACE)
                KODU NASIL DEĞİŞTİRİLİR? (ŞİRKET TİPİ MERKEZ OLANLAR İÇİN)</strong>
            <strong></strong>
        </p>
        <p>·
            Firmanızın
            ağırlıklı iştigal konusunda bir değişiklik oldu ise nace (Faaliyet) kodunu öncelikle
            bağlı bulunduğunuz vergi dairesi kayıtlarına işleterek elektronik vergi
            levhanıza yansıtmanız gerekmektedir.</p>
        <p>Vergi dairesi
            kayıtlarında gerçekleşen nace kodu değişikliğini Odamız kayıtlarına yansıtmak
            için <a
                href="https://www.izto.org.tr/tr/dy/faaliyet-nace-kodu-degisiklik-talebi-dilekcesi">https://www.izto.org.tr/tr/dy/faaliyet-nace-kodu-degisiklik-talebi-dilekcesi</a>
            linkinde yer alan dilekçenin doldurulması
            ve firma yetkilisince imzalanması gerekmektedir.</p>
        <p>·
            <strong><u>Oda’ya gelerek:</u></strong> Yeni nace kodunuzu içeren elektronik
            vergi levhanız ve dilekçeniz ile birlikte Odamız 1. Katında bulunan Oda Sicil
            Müdürlüğümüze gelerek, sıramatik kiosk cihazından “13- Faaliyet Kodu (Nace)
            Değişiklik/Ekleme Talebi” butonundan sıra numarası alıp ilgili evrakları görevlimize
            elden teslim etmeniz halinde değişiklik sürecini başlatabilir ya da,
        </p>
        <p>·
            <strong><u>Oda’ya gelmeden:</u></strong> Yeni nace kodunuzu içeren elektronik
            vergi levhanız ve dilekçeniz ile birlikte <a
                href="mailto:bilgiguncelleme@izto.org.tr">bilgiguncelleme@izto.org.tr</a> adresinden bizlere
            ulaştırmanız halinde talebinizin
            işleme alınmasını sağlayabilirsiniz.
        </p>
        <p>Nace (Faaliyet Kodu) değişiklikleri
            5174 sayılı Tobb Kanunu ve ilgili Yönetmelikleri uyarınca Yönetim Kurulumuz
            Kararı ile değiştirilebilmektedir.</p>
        <p>Talep edilen nace kodu tanımının firmanın
            ana mukavelesinde/unvan beyannamesinde yer alması gerekmektedir.</p>
        <p>Söz konusu işlem harç ücretine tabi
            değildir.</p>
        <p><strong><br></strong></p>
        <p><strong>ŞUBELER İÇİN ANA FAALİYET (NACE) KODU NASIL DEĞİŞTİRİLİR?</strong></p>
        <p>·
            Şubenizin
            ağırlıklı iştigal konusunda bir değişiklik oldu ise nace (faaliyet) kodunuzu öncelikle
            bağlı bulunduğunuz vergi dairesinde gerçekleştirerek kayıtlara yansıtmanız
            gerekmektedir.</p>
        <p>Vergi dairesi
            kayıtlarında gerçekleşen nace kodu değişikliğini Odamız kayıtlarına yansıtmak
            için <a
                href="https://www.izto.org.tr/tr/dy/faaliyet-nace-kodu-degisiklik-talebi-dilekcesi">https://www.izto.org.tr/tr/dy/faaliyet-nace-kodu-degisiklik-talebi-dilekcesi</a>
            linkinde yer alan dilekçenin doldurulması
            ve firma yetkilisince imzalanması gerekmektedir.</p>
        <p>·
            <strong><u>Oda’ya gelerek:</u></strong> Gelir İdaresi Başkanlığı’nın web
            sitesinden temin edilen ve yeni nace kodunuzu içeren “mükellefiyet durum
            belgesi” ni dilekçeniz ile birlikte Odamız 1. Katında bulunan Oda Sicil
            Müdürlüğümüze gelerek, sıramatik kiosk cihazından “13- Faaliyet Kodu (Nace)
            Değişiklik/Ekleme Talebi” butonundan sıra numarası alıp ilgili evrakları
            görevlimize elden teslim etmeniz halinde değişiklik sürecini başlatabilir ya
            da,
        </p>
        <p>·
            <strong><u>Oda’ya gelmeden:</u></strong> Gelir İdaresi Başkanlığı’nın web
            sitesinden temin edilen ve yeni nace kodunuzu içeren “mükellefiyet durum
            belgesi” ni dilekçeniz ile birlikte <a
                href="mailto:bilgiguncelleme@izto.org.tr">bilgiguncelleme@izto.org.tr</a> adresinden bizlere
            ulaştırmanız halinde talebinizin
            işleme alınmasını sağlayabilirsiniz.
        </p>
        <p>Nace (Faaliyet Kodu) değişiklikleri
            5174 sayılı Tobb Kanunu ve ilgili Yönetmelikleri uyarınca Yönetim Kurulumuz
            Kararı ile değiştirilebilmektedir.</p>
        <p>Talep edilen nace kodu tanımının firmanın
            ana mukavelesinde/unvan beyannamesinde yer alması gerekmektedir.</p>
        <p>Söz konusu işlem harç ücretine tabi
            değildir.</p>
        <p><strong><u>Gelir İdaresi
                    Başkanlığı web sitesinden “Mükellefiyet Durum Belgesi”ni aşağıdaki adımları
                    takip ederek ücretiz olarak temin edebilirsiniz.</u></strong></p>
        <p>·
            Vergi Mükellefiyet Belgesi için; Gelir İdaresi Başkanlığı sitesine
            girilir,<a
                href="https://ivd.gib.gov.tr/tvd_side/main.jsp?token=d1078f5e3dc646b78d5d4e5842f21e97feb48d366bc7617458b6679dec12675154a01fccc42292bb04d926bc259dbc75e39dd8e202535fd70a7098396c74a6f7"><em>https://ivd.gib.gov.tr/tvd_side/main.jsp?token=d1078f5e3dc646b78d5d4e5842f21e97feb48d366bc7617458b6679dec12675154a01fccc42292bb04d926bc259dbc75e39dd8e202535fd70a7098396c74a6f7</em></a><em></em>
        </p>
        <p><em></em></p>
        <p>İnteraktif vergi dairesi seçilir,</p>
        <p>Kullanıcı girişleri yapılarak sisteme
            girilir,</p>
        <p>Giriş yapıldıktan sonra sol tarafta
            seçeneklerden,</p>
        <p>İşlem başlat menüsünden,</p>
        <p>Mükellefiyet Bilgilerinden,</p>
        <p>Mükellefiyet Yazı Bilgileri seçilir,</p>
        <p>Bu alanda Merkez/Şube seçimi
            bulunmaktadır,</p>
        <p>İşlem yapacağınız firmanızın durumuna
            göre Merkez ya da Şube seçilerek belge oluşturulur.</p>
        <p><strong><br></strong></p>
        <p><strong>EK FAALİYET (NACE) KODU EKLENMESİ</strong></p>
        <p>Öncelikle firma merkezinizin/şubenizin ana faaliyeti
            dışındaki diğer iştigal konularını kapsayan nace kodlarını bağlı bulunduğunuz
            vergi dairesi kayıtlarına ekletmeniz gerekmektedir.</p>
        <p>·
            <strong><u>Odamıza gelerek:</u></strong> Gelir İdaresi Başkanlığı’nın web
            sitesinden temin edilen ve firma merkezinizin/şubenizin nace kodlarını (ek nace
            kodu dahil) içeren “mükellefiyet durum belgesi” ni, dilekçeniz <a
                href="https://www.izto.org.tr/tr/dy/ek-faaliyet-nace-kodu-talebi-dilekcesi">https://www.izto.org.tr/tr/dy/ek-faaliyet-nace-kodu-talebi-dilekcesi</a>
            ile birlikte Odamız 1. Katında
            bulunan Oda Sicil Müdürlüğümüze gelerek, sıramatik kiosk cihazından “13- Nace (Faaliyet
            Kodu) Değişiklik/Ekleme Talebi” butonundan sıra numarası alıp ilgili
            evrakları görevlimize elden teslim etmeniz halinde talebiniz ile ilgili süreci
            başlatabilir ya da,
        </p>
        <p>·
            <strong><u>Oda’ya gelmeden:</u></strong> Gelir İdaresi Başkanlığı’nın web
            sitesinden temin edilen ve firma merkezinizin/şubenizin nace kodlarını (ek nace
            kodu dahil) içeren “mükellefiyet durum belgesi” ni, <a
                href="mailto:bilgiguncelleme@izto.org.tr">bilgiguncelleme@izto.org.tr</a> adresinden bizlere
            ulaştırmanız halinde talebinizin
            işleme alınmasını sağlayabilirsiniz.
        </p>
        <p>Talep edilen nace kodu tanımının firmanın ana mukavelesinde/unvan
            beyannamesinde yer alması gerekmektedir.</p>
        <p>Bu hizmetimiz için de herhangi bir harç ücreti tahsil
            edilmemektedir.</p>
        <p><strong><u>Gelir İdaresi
                    Başkanlığı web sitesinden “Mükellefiyet Durum Belgesi”ni aşağıdaki adımları
                    takip ederek ücretiz olarak temin edebilirsiniz.</u></strong></p>
        <p>·
            Vergi Mükellefiyet Belgesi için; Gelir İdaresi Başkanlığı sitesine
            girilir, <em></em><a
                href="https://ivd.gib.gov.tr/tvd_side/main.jsp?token=d1078f5e3dc646b78d5d4e5842f21e97feb48d366bc7617458b6679dec12675154a01fccc42292bb04d926bc259dbc75e39dd8e202535fd70a7098396c74a6f7"><em>https://ivd.gib.gov.tr/tvd_side/main.jsp?token=d1078f5e3dc646b78d5d4e5842f21e97feb48d366bc7617458b6679dec12675154a01fccc42292bb04d926bc259dbc75e39dd8e202535fd70a7098396c74a6f7</em></a>
        </p>
        <p><em></em></p>
        <p>İnteraktif vergi dairesi seçilir,</p>
        <p>Kullanıcı girişleri yapılarak sisteme
            girilir,</p>
        <p>Giriş yapıldıktan sonra sol tarafta
            seçeneklerden,</p>
        <p>İşlem başlat menüsünden,</p>
        <p>Mükellefiyet Bilgilerinden,</p>
        <p>Mükellefiyet Yazı Bilgileri seçilir,</p>
        <p>Bu alanda Merkez/Şube seçimi
            bulunmaktadır,</p>
        <p>İşlem yapacağınız firmanızın durumuna
            göre Merkez ya da Şube seçilerek belge oluşturulur.</p>
        <p><strong><br></strong></p>
        <p><strong>ÜYELİĞİNİZİ AİDAT BORÇLARI NEDENİYLE ASKIDAN İNDİRMEK İÇİN;</strong></p>
        <p>·
            <strong><u>Odamıza gelerek;</u></strong>
            Odamız 1. katında bulunan Oda Sicil Müdürlüğümüze gelerek bilgi
            güncelleme formunu doldurduktan sonra sıramatik cihazından “8- Bilgi Güncelleme
            - Askı İndirme İşlemleri” butonundan sıra numarası alınması,
        </p>
        <p>Bilgilerinizin görevlimiz tarafından
            güncellenmesi,</p>
        <p>Odamız veznesine aidat borçlarınıza
            ilişkin ödemenin gerçekleştirilmesi ve</p>
        <p>Askıdan indirme tebligatınızın üye
            hizmet görevlimiz tarafından hazırlanarak tarafınıza tebliğ edilmesi suretiyle
            süreçler işletilmektedir.</p>
        <p><strong><u></u></strong></p>
        <p>·
            <strong><u>Odamıza gelmeden;</u></strong><a
                href="https://eoda.izto.org.tr/web/uye_bilgi_guncelleme.aspx">https://eoda.izto.org.tr/web/uye_bilgi_guncelleme.aspx</a>
            linkinden iletişim bilgilerinizi online
            olarak güncelledikten sonra vergi levhanızı (şubelerde Gelir İdaresi
            Başkanlığı’nın internet sitesinden temin edilecek “mükellefiyet durum belgesi” ni) "firmamın askıdan
            indirilmesi talebim" konu başlığıyla <a
                href="mailto:bilgiguncelleme@izto.org.tr">bilgiguncelleme@izto.org.tr</a> adresine göndererek, aidat
            borçlarınızın ödenmesinin ardından firmanızın askıdan indirilmesini sağlayabilirsiniz.
        </p>
        <p><strong><br></strong></p>
        <p><strong>ÜYELİĞİNİZ ADRES VE DURUMUNUZUN TESPİT EDİLEMEMESİ NEDENİYLE
                ASKIDAN İNDİRMEK İÇİN;</strong></p>
        <p>·
            <strong>Odamıza gelerek;</strong>Odamız 1. katından bulunan Oda Sicil Müdürlüğümüze gelerek bilgi
            güncelleme formunu doldurduktan sonra sıramatik cihazından “8- Bilgi Güncelleme
            - Askı İndirme İşlemleri” butonundan sıra numarası alınması,
        </p>
        <p>Bilgilerinizin görevlimiz tarafından
            güncellenmesi,</p>
        <p>Askıdan indirme tebligatınızın üye
            hizmet görevlimiz tarafından hazırlanarak tarafınıza tebliğ edilmesi suretiyle
            süreçler işletilmektedir.</p>
        <p>·
            <strong>Odamıza gelmeden; Firmanız faaliyete devam edecek ise;</strong>Odamıza gelmenize gerek kalmadan,
            yetkili tarafından imzalanan <a
                href="https://api.izto.org.tr/storage/EditorUpload/original/bxCj8izcoN6i0czK.doc">Adres Askı İndirme
                Dilekçesi</a>, <a href="mailto:bilgiguncelleme@izto.org.tr">bilgiguncelleme@izto.org.tr</a> adresine "
            Adres askı indirme Dilekçesi"
            konu başlığıyla göndererek de sürecin işletilmesini sağlayabilirsiniz. Dilekçenize
            cevap verildikten sonra <a
                href="https://eoda.izto.org.tr/web/uye_bilgi_guncelleme.aspx">https://eoda.izto.org.tr/web/uye_bilgi_guncelleme.aspx</a>
            linkinden online bilgi güncelleme
            işlemini gerçekleştirmeniz ve İnteraktif vergi dairesinden edinebileceğiniz ( <a
                href="https://ivd.gib.gov.tr/tvd_side/main.jsp?token=d1078f5e3dc646b78d5d4e5842f21e97feb48d366bc7617458b6679dec12675154a01fccc42292bb04d926bc259dbc75e39dd8e202535fd70a7098396c74a6f7"><em>https://ivd.gib.gov.tr/tvd_side/main.jsp?token=d1078f5e3dc646b78d5d4e5842f21e97feb48d366bc7617458b6679dec12675154a01fccc42292bb04d926bc259dbc75e39dd8e202535fd70a7098396c74a6f7</em></a>
            <em>)</em>vergi mükellefiyet durum belgeniz ile vergi levhanızı <a
                href="mailto:bilgiguncelleme@izto.org.tr">bilgiguncelleme@izto.org.tr</a> adresine gönderdikten sonra <a
                href="https://eoda.izto.org.tr/web/aidat_borc_odeme.aspx?id=290">https://eoda.izto.org.tr/web/aidat_borc_odeme.aspx?id=290</a>
            linkinden borç ödemesi yapılır ve
            firmanızın askıdan indirme işlemlerine ilişkin süreçleri tamamlanmış olur.
        </p>
        <p>·
            <strong>Firmanızın faaliyeti sona erdi ise;</strong>Odamıza gelmenize gerek kalmadan, yetkili tarafından
            imzalanan dilekçeyi <a
                href="https://api.izto.org.tr/storage/EditorUpload/original/yOWkUu68nJRA4vgH.doc">Adres Askı Devam
                Dilekçesi</a> , <a href="mailto:bilgiguncelleme@izto.org.tr">bilgiguncelleme@izto.org.tr</a> adresine
            "Adres askı Devam Dilekçesi" konu
            başlığıyla gönderdikten sonra <a
                href="https://eoda.izto.org.tr/web/aidat_borc_odeme.aspx?id=290">https://eoda.izto.org.tr/web/aidat_borc_odeme.aspx?id=290</a>
            linkinden borç ödemesi yapılır.
        </p>
        <p>VEYA</p>
        <p>·
            <strong>Firmanız faaliyete devam etmeyecekse</strong>Odamıza gelip, yetkili tarafından
            imzalanan<strong></strong><a
                href="https://api.izto.org.tr/storage/EditorUpload/original/yOWkUu68nJRA4vgH.doc">Adres Askı Devam
                Dilekçesi <strong>,</strong></a><a
                href="file:///C:/Users/okcan/Desktop/B%C4%B0LG%C4%B0%20G%C3%9CNCELLEME%20FORMU.doc"></a><a
                href="https://api.izto.org.tr/storage/EditorUpload/original/yqRhuDY7oGE7io8X.docx" target="_blank">BİLGİ
                GÜNCELLEME FORMU</a> ile
            başvurulur, bilgileriniz güncellendikten sonra Odamız veznesinde ödeme yapılır,
            askı tebligatınız üye hizmet görevlisi tarafından hazırlanır ve tarafınıza
            tebliğ edilir.
        </p>
        <p><strong><u>Faaliyeti sona eren firmaların durumlarını İzmir Ticaret
                    Sicili Müdürlüğüne bildirerek kapanış tescili yaptırmaları gerekmektedir.</u></strong></p>
        <p><strong><br></strong></p>
        <p><strong>VERGİ MÜKELLEFİYET DURUMU VE BİLGİLERİNİN GÜNCELLENMESİ</strong></p>
        <p><strong><u>Odamıza gelmeden;</u></strong> Firmanıza ait güncel vergi
            levhasını, şube ise Gelir İdaresi Başkanlığı sitesinden temin edilecek güncel
            tarihli vergi mükellefiyet durum belgesini <a
                href="mailto:bilgiguncelleme@izto.org.tr">bilgiguncelleme@izto.org.tr</a> e-posta adresimize göndererek
            gerekli güncellemelerin
            yapılmasını sağlayabilirsiniz.</p>
        <p><strong><u>Odamıza gelerek;</u></strong> Odamız 1. katında bulunan Oda Sicil
            Müdürlüğümüzdeki sıramatik cihazından “8- Bilgi Güncelleme - Askı İndirme
            İşlemleri” butonundan sıra numarası alarak, Gelir İdaresi Başkanlığı sitesinden
            temin edeceğiniz güncel tarihli vergi mükellefiyet durum belgesini görevlimize
            ibraz ederek söz konusu güncellemeyi gerçekleştirebilirsiniz.</p>
        <p><strong><u>Gelir İdaresi
                    Başkanlığı web sitesinden “Mükellefiyet Durum Belgesi”ni aşağıdaki adımları
                    takip ederek ücretiz olarak temin edebilirsiniz.</u></strong></p>
        <p>·
            Vergi Mükellefiyet Belgesi için; Gelir İdaresi Başkanlığı sitesine
            girilir, <em></em><a
                href="https://ivd.gib.gov.tr/tvd_side/main.jsp?token=d1078f5e3dc646b78d5d4e5842f21e97feb48d366bc7617458b6679dec12675154a01fccc42292bb04d926bc259dbc75e39dd8e202535fd70a7098396c74a6f7"><em>https://ivd.gib.gov.tr/tvd_side/main.jsp?token=d1078f5e3dc646b78d5d4e5842f21e97feb48d366bc7617458b6679dec12675154a01fccc42292bb04d926bc259dbc75e39dd8e202535fd70a7098396c74a6f7</em></a>
        </p>
        <p><em></em></p>
        <p>İnteraktif vergi dairesi seçilir,</p>
        <p>Kullanıcı girişleri yapılarak sisteme
            girilir,</p>
        <p>Giriş yapıldıktan sonra sol tarafta
            seçeneklerden,</p>
        <p>İşlem başlat menüsünden,</p>
        <p>Mükellefiyet Bilgilerinden,</p>
        <p>Mükellefiyet Yazı Bilgileri seçilir,</p>
        <p>Bu alanda Merkez/Şube seçimi
            bulunmaktadır,</p>
        <p>İşlem yapacağınız firmanızın durumuna
            göre Merkez ya da Şube seçilerek belge oluşturulur.</p>
        <p><strong><br></strong></p>
        <p><strong>ONLİNE ÜYE BİLGİ GÜNCELLEME</strong></p>
        <p>Odamıza gelmenize gerek kalmadan <a
                href="https://eoda.izto.org.tr/web/uye_bilgi_guncelleme.aspx">https://eoda.izto.org.tr/web/uye_bilgi_guncelleme.aspx</a>
            linki üzerinden iletişim
            bilgilerinizi anında güncelleyebilir veya bilgi güncelleme formunu <a
                href="https://izto.org.tr/tr/tg/uye-bilgi-guncelleme-formu">https://izto.org.tr/tr/tg/uye-bilgi-guncelleme-formu</a>
            doldurup imzalı olarak<strong></strong><a
                href="mailto:bilgiguncelleme@izto.org.tr">bilgiguncelleme@izto.org.tr</a> adresine e-posta göndererek
            bilgilerinizin
            güncellenmesini sağlayabilirsiniz.</p>
        <p><strong></strong></p>
        <p><strong><br></strong></p>
        <p><strong>ÖDÜLLENDİRME</strong></p>
        <p>Ödüllendirmeye aday olan Oda üyelerinin listesi; değerlendirmenin
            yapıldığı yılın 01 Temmuz tarihinde, Oda kayıtlarında yer alan munzam aidat
            hesaplamasına esas teşkil eden ticari kazanç bilgileri doğrultusunda, Yönetim
            Kurulumuzun belirlediği hadlere göre hazırlanır.</p>
        <p>Her meslek grubundan en yüksek ticari kazancı elde eden ilk 3
            firma sırasıyla altın, gümüş ve bronz madalya, ilk 3’e giremeyip belirlenen
            hadlerin üstünde yer alan üyeler de “Takdirname” ile ödüllendirilir.</p>
        <p>İhracat ve döviz kazandırıcı faaliyet kategorisinde ise; Türkiye
            İhracatçılar Meclisi’nden temin edilen en fazla ihracat ve döviz kazandırıcı
            faaliyet gerçekleştiren 1000 firma listesinde yer alan Oda üyeleri “Altın Madalya”
            ile ödüllendirilir.</p>
        <p>Yönetim Kurulumuz tarafından belirlenen tarih aralığında
            Ödüllendirme listelerinde yer alan üyelerin bilgileri internet sitemizden
            üyelerin kontrolüne açılır, olası düzeltmeler bu tarihler arasında
            gerçekleştirilir.</p>
        <p><strong><br></strong></p>
        <p><strong>ONUR BELGELERİ</strong></p>
        <p>Odamıza kayıtlı 5 yıl ve 5 yılın katları üyelerimize verilen
            Onur belgeleri, her ay düzenli olarak
            posta yoluyla üyelerimizin tescilli adreslerine Müdürlüğümüz tarafından
            gönderilir.</p>
        <p><strong><br></strong></p>
        <p><strong>ODAMIZA ÜYE FİRMALARIN LİSTESİ</strong></p>
        <p>Askıda olmayan ve meslek gruplarına dahil olan Odamıza
            kayıtlı tüm üyelerimizin güncel listesi web sitemizden Üyelik/Üyeler/Üye firma
            sorgulama bölümünden <a
                href="https://eoda.izto.org.tr/web/uye_firmalar_yeni.aspx?id=286">https://eoda.izto.org.tr/web/uye_firmalar_yeni.aspx?id=286</a>
            temin edilebilmekte ve excel
            ortamına aktarılabilmektedir.</p>
        <p><strong></strong></p>
        <p><br></p>
        <p><strong><br></strong></p>
        <p><strong>ÜYENİN ODA KAYDININ
                SİLİNMESİ İŞLEMLERİ</strong></p>
        <p>Faaliyeti sona eren firmalar durumlarını İzmir Ticaret Sicili
            Müdürlüğüne bildirerek kapanış tescil işlemi yaptırmaları gerekmektedir.</p>
        <p>
  </p>
        <p>Ticaret Sicilinde kapanış tescil işlemi yapılan üyelerin
            durumları veri entegrasyonu ile kayıtlarımıza yansıtılarak Oda kayıtlarının silinmesi
            sağlanmaktadır.</p>
        <p><strong><br></strong></p>
        <p><strong>AİDAT
                ÖDEMELERİ/GAZETE İLAN BEDELLERİNİN ÖDENMESİ</strong></p>
        <p><strong>Odamıza
                Gelerek;</strong> Odamızın 1. Katında yer alan
            veznemizden aidat ödemelerimizi yapmak ya da gazete ilan bedellerini ödemek
            için sıramatik kiosk cihazından<strong></strong>“12- Aidat/ Gazete İlan işlemleri “
            butonundan sıra almanız yeterlidir.</p>
        <p>
        </p>
        <p><strong>Yukarıda
                belirtilen hususlara ilave olarak internet sitemizden online işlemler menüsünde
                yer alan tüm işlemlerimizi Odamıza gelmeden gerçekleştirebilirsiniz.</strong></p>
    </div>
    <div class="seperator">
        <div></div>
    </div>
    <div class="w-100 d-flex social-share justify-content-end align-items-center py-2"><div class="share-text p-2">
        Paylas
      </div> <div class="d-flex justify-content-end align-items-center">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank">
            <span tabindex="0" data-link="#share-twitter" class="d-flex justify-content-center align-items-center p-2">
                <i class="bi bi-twitter"></i>
            </span> 
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.izto.org.tr%2F&amp;src=sdkpreparse">
            <span tabindex="0" data-link="#share-facebook" class="d-flex justify-content-center align-items-center p-2">
                <i class="bi bi-facebook"></i>
            </span> 
        </a>
        <a href="whatsapp://send?text">
            <span tabindex="0" data-link="#share-whatsapp" class="d-flex justify-content-center align-items-center p-2">
                <i class="bi bi-whatsapp"></i>
            </span>
        </a>
        <span tabindex="0" data-link="#share-linkedin" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-linkedin"></i></span> <span tabindex="0" data-link="#share-pinterest" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-pinterest "></i></span> <span tabindex="0" data-link="#share-reddit" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-reddit"></i></span>
        </div>
    </div>