<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="py-5 container">
    <div style="box-shadow: 1px 2px 3px black;" class="my-2">
        <a class="nav-link dropdown-toggle hbs-font" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-expanded="false">
            Süresi Sona Ermiş İhaleler
        </a>
 
        <div style="width: 93%; background-color:#f8f9fa; color: #1d3557; top: 5px;" class="dropdown-menu  p-0 top-0 border-0" aria-labelledby="navbarDropdownMenuLink">
            <ul class="list-unstyled">
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                text_snippet
                                </span>05/04/2022</p>
                            <p>
                                <b>İzmir Ticaret Odası Eğitim Ve Sağlık Vakfı 2022 Yılı İkinci 6 Aylık Dönem Eğitim Hizmet Alımı</b></p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                text_snippet
                                </span>04/02/2022</p>
                            <p>
                                <b>İZTO Vakfı Gezici Dijital Karavan Kapsamında Eğitim Hizmet Alım İhalesi</b></p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                text_snippet
                                </span>12/10/2021</p>
                            <p>
                                <b>MDR Tıbbi Cihazlar Regülasyonu Eğitimi Hizmet Alımı</b></p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                text_snippet
                                </span>
                                11/10/2021</p>
                            <p>
                                <b>2022 Yılı Eğitim Hizmet Alım İhalesi</b></p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                text_snippet
                                </span>21/06/2021</p>
                            <p>
                                <b>2021 Yılı İzmir Ticaret Odası Personeli Eğitim Hizmet Alımı</b></p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                text_snippet
                                </span>25/11/2020</p>
                            <p>
                                <b>İZTO Eğitim ve Sağlık Vakfı Eğitim Hizmet Alımı İhalesi</b></p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                text_snippet
                                </span>06/02/2020</p>
                            <p>
                                <b>İZTO Vakfı 3 Adet Dizüstü Bilgisayar Alımı</b></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
</div>