<h3>İletişim</h3>
<div class="py-5 bg">
    <div class="container">
        <h4>Bizimle iletişime geçin</h4>
        <div class="seperator">
            <div></div>
        </div>
        <div class="row">
            <div class="col">
                <p><span class="material-symbols-outlined">
                        location_on
                    </span><b>İLETİŞİM ADRESİ</b></p>
                <p>Atatürk Caddesi No: 190 , 35220 Alsancak / İzmir</p>
                <p><span class="material-symbols-outlined">
                        schedule
                    </span><b>MESAİ SAATLERİ</b></p>
                <p>08:30 - 17:30</p>
            </div>
            <div class="col">
                <p><span class="material-symbols-outlined">
                        call
                    </span><b>ÇAĞRI MERKEZİ</b></p>
                <p>444 92 92</p>
                <p><span class="material-symbols-outlined">
                        fax
                    </span><b>MESAİ SAATLERİ</b></p>
                <p>+90 232 498 46 98</p>
            </div>
            <div class="col">
                <p><span class="material-symbols-outlined">
                        contact_emergency
                    </span><b>E-POSTA</b></p>
                <p>info@izto.org.tr</p>
                <p><span class="material-symbols-outlined">
                        fax
                    </span><b>VERGİ KİMLİK BİLGİLERİ</b></p>
                <p>KORDON - 484 001 5699X</p>
            </div>
        </div>
        <div class="wp">
            <p>WhatsApp Destek Hattı: 905380544027</p>
        </div>
        <div class="wp">
            <p>WhatsApp Destek Hattı 2: 905380544028</p>
        </div>
        <div class="row">
            <div style="text-align: center;" class="col py-2">
                <h6>Kep Adresimiz</h6>
                <p>izmirticaretodasi@hs01.kep.tr</p>
            </div>
            <div style="text-align: center;" class="col py-2">
                <h6>Her Türlü Dilek-Öneri ve Şikayetiniz İçin:</h6>
                <p>dilekleriniz@izto.org.tr</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center my-5">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12501.19833646397!2d27.128216236066066!3d38.434548574313375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbd8fbfe9c8f59%3A0xd4fe68659b7e2834!2zxLB6bWlyIFRpY2FyZXQgT2Rhc8Sx!5e0!3m2!1str!2str!4v1659514554574!5m2!1str!2str"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>