<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="py-5 container " id="accordion">
    <div style="box-shadow: 1px 2px 3px black;" class="py-2">
        <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            <i class="bi bi-caret-down-fill"></i>Devam Eden İhaleler
        </a>

        <div style="width: 93%; background-color:#f8f9fa; color: #1d3557; top: 5px;" id="collapseOne"
            class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <ul class="list-unstyled">
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>
                                02/08/2022</p>
                            <p>
                                <b>
                                    İzmir Ekonomi Üniversitesi Tıp Fakültesi Sarf Malzeme Alımı</b>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>
                                28/04/2022</p>
                            <p>
                                <b>
                                    İzmir Ekonomi Üniversitesi Kitap Bastırılması İşi</b>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div style="box-shadow: 1px 2px 3px black;" class="py-2">
        <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">
            <i class="bi bi-caret-down-fill"></i>Süresi Sona Ermiş İhaleler
        </a>
        <div style="width: 93%; background-color:#f8f9fa; color: #1d3557; top: 5px;" id="collapseTwo" class="collapse"
            aria-labelledby="headingTwo" data-parent="#accordion">
            <ul class="list-unstyled">
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>01/08/2022</p>
                            <p>
                                <b>İzmir Ekonomi Üniversitesi Çocuk Üniversitesi Perde Alımı.</b>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>29/07/2022</p>
                            <p>
                                <b>İzmir Ekonomi Üniversitesi Haşere ve Kemirgenlerle Mücadele Hizmeti Alımı</b>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>20/07/2022</p>
                            <p>
                                <b>İzmir Ekonomi Üniversitesi Bahçe Kapısı Değişimi İşi</b>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>
                                18/07/2022</p>
                            <p>
                                <b>İzmir Ekonomi Üniversitesi 121Z972 nolu Tübitak Projesi Real Time PCR Cihazı
                                    Alımı</b>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                    text_snippet
                                </span>07/07/2022</p>
                            <p>
                                <b>İzmir Ekonomi Üniversitesi Gastronomi Ve Mutfak Sanatları Eğitim Alanı Tadilatı
                                    Elektrik İşleri</b>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>