<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/sikca-sorulan-sorular">
            <p class="m-3"><b>SIKÇA SORULAN SORULAR (SSS)</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/evrak-kontrol-listesi">
            <p class="m-3"><b>EVRAK KONTROL LİSTESİ</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/tescilde-istenen-belgeler">
            <p class="m-3"><b>TESCİLDE İSTENEN BELGELER</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/karar-ornekleri">
            <p class="m-3"><b>KARAR ÖRNEKLERİ</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/belge-form-ve-ornek">
            <p class="m-3"><b>BELGE, FORM VE ÖRNEK</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a href="">
            <p class="m-3"><b>MEVZUAT</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/mersis-projesi">
            <p class="m-3"><b>MERSİS PROJESİ</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/genel-bilgiler">
            <p class="m-3"><b>
                    GENEL BİLGİLER</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>

</div>
