<ng-container *ngIf="subSection.includes('İhracat Destek Ofisi')">
    <div class="py-4 ">
        <p><b>İZMİR TİCARET ODASI İHRACAT DESTEK OFİSİ</b></p>
        <p></p>
        <p>T.C. Ticaret Bakanlığı ve TOBB ülkemiz ihracatına çok önemli katkıda bulunacak bir proje başlatmıştır.
            Ülkemizde ihracatçı sayısının arttırılabilmesi ve mevcut ihracatçılarımızın doğru ve hızlı bilgiye
            ulaşmalarını teminen belirlenen Odalarda ‘’İhracat Destek Ofisleri’’ kurulması için 13 Kasım 2018 tarihinde
            Ticaret Bakanlığımız ve TOBB arasında İşbirliği Protokolü imzalanmıştır.<br><br>
            İmzalanan protokol kapsamında aralarında Odamızın da bulunduğu Odalarda ‘’İhracat Destek Ofisi’’
            kurulmuştur.
            Odamız İhracat Destek Ofisi olarak, amacımız, henüz ihracat yapmamış ve/veya sürdürülebilir ihracat
            gerçekleştirememiş Üyelerimizin kısa zamanda ihracat gerçekleştirerek uluslararası pazara girmelerine
            katkıda bulunmak ve ihracatı KOBİ'lerden başlayarak bütün iş dünyasına yaymaktır. <br><br> Odamız İhracat
            Destek Ofisi aracılığıyla, aşağıda yer alan konularda üyelerimize danışmanlık hizmeti sunulmaktadır:</p>
        <li>Ürüne özel pazar araştırması yapılarak, hangi ülkelere öncelik verilmesi gerektiği</li><br>
        <li>İhracatın nasıl gerçekleştirileceği ve izlenmesi gereken adımlar</li><br>
        <li>İhracat fiyatı oluşturulurken dikkat edilmesi gereken hususlar</li><br>
        <li>İhracata yönelik devlet desteklerinden hangilerinin firmanın ihtiyacına uygun olduğu ve başvuru süreci</li>
        <br>
        <p><b>Bu çerçevede, ihracat ile ilgili destek almak istediğiniz konularda <a href="">(
                    ihracatdestek@izto.org.tr)</a> eposta adresi ile İhracat Destek Ofisimizle iletişime
                geçebilirsiniz.’</b></p><br>
        <p>Saygılarımızla</p><br>
        <p>İzmir Ticaret Odası</p>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Girişimcilik')">
    <div class="py-4 ">
        <p><b>Değerli Üyelerimiz ve Girişimciler, </b></p>
        Odamızın girişimcilik çalışmaları kapsamında; yeni bir fikri olan girişimcilerin fikirlerinin hayata
        geçirilmesi, yatırımcı ve mentorlar ile bir araya gelmelerinin sağlanması, finansman kaynaklarına erişim
        konularında ÜCRETSİZ danışmanlık hizmeti verilmektedir. Girişimcilik hizmetlerimiz kapsamında;<br><br>* İş
        fikirlerinizle ilgili soru ve taleplerinizi paylaşabilirsiniz. <br><br>* Yeni iş fikrinizin geliştirilmesi veya
        hayata geçmesine yönelik yatırımcı ve/veya mentorlarla bir araya gelebilirsiniz. <br><br> * İş kurma,
        tutundurma, büyütme, pazarlama-satış süreçleri, marka tescil, patent, faydalı model, endüstriyel tasarım vb.
        fikri mülkiyet haklarına ilişkin karşılaşabileceğiniz her türlü sorununuza yönelik danışmanlık hizmeti
        alabilirsiniz. <br><br>
        * Çeşitli kurum ve kuruluşlar tarafından verilen teşvik, destekler gibi finansman kaynaklarına erişim yöntemleri
        ve bunlardan yararlanma yollarını öğrenebilirsiniz. <br><br>* Teknoparkların ve organize sanayi bölgelerinin
        sağladığı imkan ve teşvikler hakkında bilgi alabilirsiniz. <br><br>* Ulusal ve uluslararası kurumlar tarafından
        girişimcilik alanında çağrısına çıkılan, Odamızın paydaş olacağı projelere katılabilir, proje kapsamında
        sunulacak fonlardan yararlanabilirsiniz. <br><br>* Girişimcilere yönelik düzenlediğimiz toplantı, seminer,
        atölye çalışmaları ve eğitimlere katılabilirsiniz. <br><br>* Türkiye Odalar ve Borsalar Birliği İl Kadın
        Girişimciler ve İl Genç Girişimciler Kurulları’nda Odamız kontenjanından görev almak üzere başvuru
        yapabilirsiniz. <br><br>Bilgi ve danışmanlık hizmeti talepleriniz için <a href="">girisimcilik@izto.org.tr</a>
        e-posta adresimiz üzerinden başvuru yapmanızı rica ederiz. <br><br>
        <p>Saygılarımızla</p><br>
        <p>İzmir Ticaret Odası</p>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Vize Hizmetleri')">
    <div class="py-4 ">
        İzmir Ticaret Odası Vize Bölümü, tüm üyelere Ticari vize alımında yardımcı olmaktadır. Vize ile ilgili genel
        bilgiler, işbirliği içerisinde çalışılan Konsolosluklar, dikkat edilmesi gereken konular ve vize başvurusu için
        gerekli olan evraklara bu bölümden ulaşabilirsiniz. <br><br>Schengen Vizeleri Önemli Bilgiler Vize
        Yükümlülükleri <br><br>Vize başvuru hizmeti İzmir Ticaret Odası üyelerinin tamamı için sağlanır. Odamız sadece
        ticari amaçla seyahatlerde vize işlemlerini yürütmektedir. Turistik seyahatler için kişiler konsolosluklara Oda
        aracılığı ile başvuramazlar. SCHENGEN ÜLKELERİ, İLK VERİLİŞ TARİHİ 10 YILDAN ESKİ PASAPORTLARI KESİNLİKLE KABUL
        ETMEMEKTEDİR. Başvuru dosyalarını incelemek, vize verilmesi konusunda karar vermek ve vize sürelerini belirlemek
        için tek karar mercii ilgili Konsolosluklardır. Odamızın Konsolosluklara vize verilip verilmeyeceği konusunda ya
        da vize süreleri ile ilgili müdahale yetkisi bulunmamaktadır. Vize başvurusunun reddedilmesi durumunda hiçbir
        Konsolosluk tarafından vize ücreti iadesi yapılmamaktadır. Konsolosluklar her zaman başvurunun durumuna göre ek
        evrak isteme yetkisine sahiptir. Konsolosluk işlem süreleri belirtilen tarihlerden daha uzun sürebilir.
        Konsolosluktan kaynaklanan idari ya da teknik nedenler ile vize alım süresinin uzamasından Odamız sorumlu
        değildir. <br><br>Sorumlu Kişi: <br><br>Özlem Yalçınkaya <br>Uluslararası Etkinlikler ve Turizm Müdürlüğü – Vize
        Görevlisi <br><br>Tel : 0 232 498 43 09 <br>Faks : 0 232 498 46 44 <br>E-mail : ozlem.ors@izto.org.tr
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Fuarlar')">
    <div class="py-5">
        <div class="row pn">
            ULUSLARARASI ETKİNLİKLER VE TURİZM MÜDÜRLÜĞÜ
        </div>
        <div class="row pn">
            AYKUT TERZİOĞLU <br>
            Yerel Etkinlikler ve Yurtiçi Fuar Hizmetleri Yönetmeni <br>
            Tel: 0 232 4984285 <br>
            aykut.terzioglu@izto.org.tr
        </div>
        <div class="row pn">
            GÖRKEM ŞAVLUĞ <br>
            Yerel Etkinlik Fuar Planlama ve Operasyon Uzmanı <br>
            Tel: 0 232 4984116 <br>
            gorkem.savlug@izto.org.tr
        </div>
        <div class="row pn">
            DAMLA AKDENİZ <br>
            Yerel Etkinlik Fuar Planlama ve Operasyon Görevlisi <br>
            Tel: 0232 4984170 <br>
            damla.akdeniz@izto.org.tr
        </div>
        <div class="row pn">
            İLSU GENÇOĞLU <br><br>
            Fuar Teşvik ve Destek Görevlisi <br>
            Tel: 0 232 4984677 <br>
            ilsu.gencoglu@izto.org.tr
        </div>
        <div class="row pn">
            Faks: 0 232 498 43 29
        </div>
        <div id="aa" class="col shadow-md m-3">
            <a href="">
                <p>
                    <b>
                        Fuar Teşvkleri</b>
                    <span style="height: 100%;" class="material-symbols-outlined">
                        open_in_new
                    </span>
                </p>
            </a>
        </div>
        <div id="aa" class="col shadow-md m-3">
            <a href="">
                <p>
                    <b>
                        Fuar Ziyaretleri</b>
                    <span style="height: 100%;" class="material-symbols-outlined">
                        open_in_new
                    </span>
                </p>
            </a>
        </div>
        <div id="aa" class="col shadow-md m-3">
            <a href="">
                <p>
                    <b>Fuar Duyuruları
                    </b>
                    <span style="height: 100%;" class="material-symbols-outlined">
                        open_in_new
                    </span>
                </p>
            </a>
        </div>
        <div id="aa" class="col shadow-md m-3">
            <a href="">
                <p>
                    <b>Fuar Arama
                    </b>
                    <span style="height: 100%;" class="material-symbols-outlined">
                        open_in_new
                    </span>
                </p>
            </a>
        </div>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>