<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-5 container" >
        İzmir Ticaret Odası'na üyelik, 01/06/2004 Tarihinde yürürlüğe giren 5174 Sayılı Türkiye Odalar ve Borsalar
        Birliği Kanunu'nun 9. maddesi gereğince zorunludur. İlgili madde şöyledir:<br><br>MADDE 9. - Ticaret siciline
        kayıtlı tacirler ve 5 inci maddeye göre sanayici ve deniz taciri sıfatına haiz tüm gerçek ve tüzel kişiler ile
        bunların şubeleri ve fabrikaları bulundukları yerdeki odaya kaydolmak zorundadırlar. Meslek gruplarına göre
        yapılacak üye kayıtları, elektronik ortamda Bakanlık ve Birlik bünyesinde düzenlenen ortak veri tabanında güncel
        olarak tutulur. <br><br>Bir merkeze bağlı olduğu halde, ister merkezin bulunduğu odanın, ister başka odanın
        çalışma alanı içinde olan müstakil sermayesi ve müstakil muhasebesi bulunan ve/veya muhasebesi merkezde
        tutulduğu ve müstakil sermayesi bulunmadığı halde kendi başına sınai faaliyet ve ticari muamele yapan yerler ve
        satış mağazaları bu Kanunun uygulanması bakımından şube sayılır. <br><br>Sanayi odası kurulan illerde
        sanayiciler, sanayi odasına kaydolmakla ticaret odasına kaydolma yükümlülüğünü de yerine getirmiş olurlar.
        Sanayi işletmesi sahiplerinin, sınaî nitelikli işlerinin gereği olarak meşgul olduklara ticaret işleri bunların
        sanayici vasfını ortadan kaldırmaz; bunlar isterlerse ticaret odasına da kaydolabilirler. <br><br>Sanayiciler,
        kendi sanayi ürünlerini satmak üzere birden fazla satış yeri açtıkları takdirde, fazlası için satış yerlerinin
        bulunduğu ticaret ve sanayi veya ticaret odasına da kaydolmak zorunda oldukları gibi; kendi sanayi ürünlerinin
        satışı dışında başka ticarî işlerle uğraştıkları takdirde, ticaret ve sanayi veya ticaret odasına da kaydolmakla
        yükümlüdürler.
        Sermayesinin tamamı Devlete ve özel idarelere veya belediyelere veya bunların ortaklığına ait olan iktisadî
        müesseselerle bunların şubeleri, özel kanun veya sözleşme ile kurulmuş olup, Devletin ve özel idarelerin veya
        belediyenin iştiraki bulunan tüzel kişiliği haiz müesseseler veya bunların şubeleri ve fabrikaları, bulundukları
        ildeki odalara kaydolmak zorundadırlar. <br><br>Ticaret siciline kayıtlı gerçek ve tüzel kişilerden 5 inci
        maddede belirtilen deniz tacirleri ile beşinci fıkra hükmünde belirtilenlerden deniz ticaretiyle uğraşanlar,
        bulundukları ildeki deniz ticaret odasına kaydolmak zorundadırlar. Bu kapsamda sayılanlar, deniz ticaret odasına
        kaydolmakla diğer odalara kaydolma yükümlülüğünü de yerine getirmiş sayılırlar. Ancak, bu kapsamdakiler, deniz
        ticaret odasına kaydolmasını gerektiren faaliyetler dışında başka işlerle de uğraştığı takdirde, ayrıca ilgili
        odaya da kaydolmak zorundadır.
        Odalara kaydı zorunlu olan gerçek ve tüzel kişilerle bunların şubeleri, kamu kurumu niteliğindeki başka meslek
        kuruluşlarına, birlik ve teşekküllere üye olmaya ve aidat ödemeye mecbur tutulamaz. <br><br>Bu maddede
        düzenlenen kayıt zorunluluğunu bir ay içinde yerine getirmeyenler, odalar tarafından re'sen kaydedilir ve durum
        kendilerine tebliğ edilir."<br><br>Odamıza diğer işlemleri tamamlayarak kayıt için başvuran tacir niteliğindeki
        gerçek ve tüzel kişiler 79 adet meslek grubundan birisi altına kaydolunur. Derecelere göre kayıt ücretleri ve
        yıllık aidat tarife cetveli 2020 yılı için aşağıdaki gibidir: <br><br>2021 YILI KAYIT ÜCRETİ VE YILLIK AİDAT
        TARİFE CETVELİ<br><br>
        <table class="container">
            <tr>
                <td class="col-3">Dereceler</td>
                <td class="col-5">Sermaye Aralıkları</td>
                <td class="col-4">Kayıt Ücretleri Tarifesi</td>
            </tr>
            <tr>
                <td class="col-3">Yeni Kayıt</td>
                <td class="col-5">-</td>
                <td class="col-4">485 TL</td>
            </tr>
            <tr>
                <td class="col-3">1.Derece</td>
                <td class="col-5">1.000.000.00 TL üstü</td>
                <td class="col-4">1280 TL</td>
            </tr>
            <tr>
                <td class="col-3">2.Derece</td>
                <td class="col-5">500.000.00 TL - 1.000.000.00 TL</td>
                <td class="col-4">940 TL</td>
            </tr>
            <tr>
                <td class="col-3">3.Derece</td>
                <td class="col-5">250.000.00 TL - 500.000.00 TL</td>
                <td class="col-4">875 TL</td>
            </tr>
            <tr>
                <td class="col-3">4.Derece</td>
                <td class="col-4">100.000.00 TL - 250.000.00 TL</td>
                <td class="col-5">810 TL</td>
            </tr>
            <tr>
                <td class="col-3">5.Derece</td>
                <td class="col-4">10.000.00 TL - 100.000.00 TL</td>
                <td class="col-5">740 TL</td>
            </tr>
        </table>
        5174 sayılı “Türkiye Odalar Ve Borsalar Birliği İle Odalar Ve Borsalar Kanunu”<br><br>Madde: 24 <br><br>Kayıt
        ücreti ile yıllık aidat, onaltı yaşından büyükler için uygulanan aylık asgarî ücretin brüt tutarının yüzde
        onundan az, yarısından fazla olamaz. <br><br>“Kayıt Ücreti ile Yıllık Aidat ve Munzam Aidatın Tespiti ve
        Ödenmesi Hakkında Yönetmelik”<br><br>Dereceler <br><br>Madde: 12 <br><br>Oda ve borsalar derece sayısını kendi
        durumlarına göre tespit eder. Ancak, bu derecelerin sayısı beşten az yediden fazla olamaz. (Ek
        cümle:RG-31/1/2017-29965) Ayrıca, bu derecelerden ayrı bir derece ihdas edilerek yeni kurulan sermaye şirketleri
        bu dereceye atanır. Bu derece için belirlenecek kayıt ücreti, aylık asgari ücretin brüt tutarının yüzde onundan
        az, yüzde on beşinden fazla olamaz. <br><br><a id="textLink" href="">GERÇEK KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ
            (Word Dokümanı)</a><br><br><a id="textLink" href="">GERÇEK KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (Pdf
            Dokümanı)</a><br><br>Not: Nakil yoluyla Odamıza yeni kayıt olacak üyelerin Mali işler Müdürlüğü kayıtlarına
        esas alınmak üzere en son verilen kurumlar vergisi/gelir vergisi beyannamesini aidat@izto.org.tr adresine
        iletmeleri gerekmektedir.
        <div class="seperator">
            <div></div>
        </div>
    </div>
