<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
   <div class="py-4 container ">
        <p><b>Değerli Üyelerimiz ve Girişimciler, </b></p>
        Odamızın girişimcilik çalışmaları kapsamında; yeni bir fikri olan girişimcilerin fikirlerinin hayata
        geçirilmesi, yatırımcı ve mentorlar ile bir araya gelmelerinin sağlanması, finansman kaynaklarına erişim
        konularında ÜCRETSİZ danışmanlık hizmeti verilmektedir. Girişimcilik hizmetlerimiz kapsamında;<br><br>* İş
        fikirlerinizle ilgili soru ve taleplerinizi paylaşabilirsiniz. <br><br>* Yeni iş fikrinizin geliştirilmesi veya
        hayata geçmesine yönelik yatırımcı ve/veya mentorlarla bir araya gelebilirsiniz. <br><br> * İş kurma,
        tutundurma, büyütme, pazarlama-satış süreçleri, marka tescil, patent, faydalı model, endüstriyel tasarım vb.
        fikri mülkiyet haklarına ilişkin karşılaşabileceğiniz her türlü sorununuza yönelik danışmanlık hizmeti
        alabilirsiniz. <br><br>
        * Çeşitli kurum ve kuruluşlar tarafından verilen teşvik, destekler gibi finansman kaynaklarına erişim yöntemleri
        ve bunlardan yararlanma yollarını öğrenebilirsiniz. <br><br>* Teknoparkların ve organize sanayi bölgelerinin
        sağladığı imkan ve teşvikler hakkında bilgi alabilirsiniz. <br><br>* Ulusal ve uluslararası kurumlar tarafından
        girişimcilik alanında çağrısına çıkılan, Odamızın paydaş olacağı projelere katılabilir, proje kapsamında
        sunulacak fonlardan yararlanabilirsiniz. <br><br>* Girişimcilere yönelik düzenlediğimiz toplantı, seminer,
        atölye çalışmaları ve eğitimlere katılabilirsiniz. <br><br>* Türkiye Odalar ve Borsalar Birliği İl Kadın
        Girişimciler ve İl Genç Girişimciler Kurulları’nda Odamız kontenjanından görev almak üzere başvuru
        yapabilirsiniz. <br><br>Bilgi ve danışmanlık hizmeti talepleriniz için <a href="">girisimcilik@izto.org.tr</a>
        e-posta adresimiz üzerinden başvuru yapmanızı rica ederiz. <br><br>
        <p>Saygılarımızla</p><br>
        <p>İzmir Ticaret Odası</p>
        <div class="seperator">
            <div></div>
        </div>
        <div class="w-100 d-flex social-share justify-content-end align-items-center py-2"><div class="share-text p-2">
            PAYLAŞ
          </div> <div class="d-flex justify-content-end align-items-center">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank">
                <span tabindex="0" data-link="#share-twitter" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-twitter"></i>
                </span> 
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.izto.org.tr%2F&amp;src=sdkpreparse">
                <span tabindex="0" data-link="#share-facebook" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-facebook"></i>
                </span> 
            </a>
            <a href="whatsapp://send?text">
                <span tabindex="0" data-link="#share-whatsapp" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-whatsapp"></i>
                </span>
            </a>
            <span tabindex="0" data-link="#share-linkedin" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-linkedin"></i></span> <span tabindex="0" data-link="#share-pinterest" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-pinterest "></i></span> <span tabindex="0" data-link="#share-reddit" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-reddit"></i></span>
            </div>
    </div>
