<div class="row justify-content-center rounded shadow-sm p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <a style="box-shadow: 1px 1px 3px;" class="row p-3 " data-toggle="collapse" href="#collapse" role="button"
        aria-expanded="false" aria-controls="collapseExample">
        <span class="material-symbols-outlined">
            help
        </span>Ticari işletme rehininin tescilinde nelere dikkat edilir?
    </a>
    <div class="collapse border-0" id="collapse">
        <div style="box-shadow: 1px 1px 3px; font-size: 0.9rem;" class=" p-3 border-0">
            Rehin sözleşmesi taraflara sözleşmenin sicile tescil yetkisini verir. Bu sebeple, rehin sözleşmesi tasarrufi
            bir işlem olmayıp, sadece sicile tescili talep yetkisi verir. Ticari İşletme Rehni Kanunu’nun 5. maddesinin
            birinci fıkrasına göre, tescil talebi rehin veren veya rehin alacaklısı tarafından gerçekleştirilebilir.
            Aynı maddenin ikinci fıkrasına göre talebin yazılı olması gerektiğinden, rehin tescil isteği, ticari
            işletmenin bulunduğu sicile yazılı bir dilekçe ile yapılır. <br><br>Ticari İşletme Rehni Kanunu’nun 5.
            maddesi gereğince, tescil talebinde bulunma hakkı rehin sözleşmesinin yapıldığı tarihten itibaren 10 gün
            için geçerlidir. Ticari İşletme Rehni Kanunu’nun 5. maddesinin son fıkrası uyarınca tescil harç ve
            masraflarının hangi tarafa ait olacağının rehin sözleşmesinde belirtilmesi zorunludur. Aynı şekilde, ticari
            işletme rehni sözleşmesinde, ticari işletmenin sigortasının hangi tarafça yapılacağı, sigorta poliçelerinin
            ödenme şekline ilişkin hususların da yer alması gerekir. Bu koşulların amacı, taraflar arasında çıkabilecek
            anlaşmazlıkları en aza indirgemektir. <br><br>Ticari İşletme Rehni Kanunu’nun 6. maddesine göre, yapılacak
            tescile esas olmak üzere, alacaklının isim veya ticaret ünvanı, açık adres veya ikametgâhı, alacağın
            miktarı, eğer miktar belli değil ise ticari işletmenin ne kadar miktarda teminat oluşturacağı ve alacağa
            bağlı faiz varsa faiz oranının da rehin sözleşmesinde yer alması zorunludur. Yukarıda bahsedilen unsurların
            rehin sözleşmesinde eksik olması durumunda rehin sözleşmesinin geçersizlik yaptırımı ile karşılaşma ihtimali
            doğabilir.
        </div>
    </div>
    <br><br>
    <a style="box-shadow: 1px 1px 3px;" class="row p-3 " data-toggle="collapse" href="#collapse2" role="button"
        aria-expanded="false" aria-controls="collapseExample2">
        <span class="material-symbols-outlined">
            help
        </span>Ticari işletme rehni sözleşmesi hazırlanırken nelere dikkat edilmeli?
    </a>
    <div class="collapse border-0" id="collapse2">
        <div style="box-shadow: 1px 1px 3px; font-size: 0.9rem;" class=" p-3 border-0">
            Ticari işletme rehni sözleşmesinde zorunlu olarak bulunması gereken unsurlar Ticari İşletme Rehni Kanunu’nun
            4. maddesinde açıkça belirlenmiştir. Buradaki önemli koşul, sicile güven ve açıklık ilkelerinden dolayı,
            zorunlu veya isteğe bağlı tüm unsurların ayırt edici özellikleri ile beraber rehin sözleşmesinde yer
            almasıdır. Hazırlanacak rehin sözleşmesinde, rehne dahil edilen mallara dair cins, marka, renk, seri
            numarası gibi ayırt edilmesini mümkün kılacak bilgiler gösterilmelidir. Aksi takdirde, hem rehin alan
            tarafından yapılan denetlemelerde, hem de paraya çevirme sürecinde icra takibinde rehne dair unsurların
            ayırt edilmesi zorlaşacaktır. Ayrıca rehinin aleniyet ilkesi ışığında rehni incelemek isteyen üçüncü kişiler
            bu ayrınlar sayesinde rehnin kapsamı hakkında fikir yürütebileceklerdir. <br><br>Ticari İşletme Rehin
            Kanunu’nda rehin sözleşmesi sıkı şekil koşullarına bağlanmıştır. Ticari işletme rehin sözleşmesi, işletmenin
            kayıtlı olduğu sicil çevresindeki bir noter tarafından düzenleme şeklinde yapılması gerekir. Yani, noter
            rehin sözleşmesini başından sonuna kadar kendisi düzenlemelidir. Tarafların bizzat kaleme alarak notere
            onaylattırdıkları rehin sözleşmesi geçerli olmayacaktır. Hatta bu şekilde düzenlenmiş bir rehin sözleşmesi
            sicile tescil olsa bile hiçbir hak ve borç doğurmaz. <br><br>Rehin sözleşmesi noter tarafından
            düzenlendikten sonra sözleşmenin her iki tarafın da noterde hazır bulunarak sözleşmeyi imzalaması gerekir.
            Rehin borçlusu olarak sözleşmeyi işletmenin tüzel veya gerçek maliki ya da bu kişilerin özel olarak
            yetkilendirdiği temsilciler imzalayabilir.
        </div>
    </div>
    <br><br>
    <a style="box-shadow: 1px 1px 3px;" class="row p-3 " data-toggle="collapse" href="#collapse3" role="button"
        aria-expanded="false" aria-controls="collapseExample2">
        <span class="material-symbols-outlined">
            help
        </span>Ticari işletme rehninin konusu ve tarafları nelerdir?
    </a>
    <div class="collapse border-0" id="collapse3">
        <div style="box-shadow: 1px 1px 3px; font-size: 0.9rem;" class=" p-3 border-0">
            Ticari İşletme Rehni Kanunu’na göre ticari işletme rehninin konusu ticari ve sanayi işletmelerdir. Ticari
            İşletme Rehni Kanunu 1.maddesine göre rehne konu olan işletmeler ticaret veya esnaf ve sanatkâr sicilinde
            kayıtlı olmalıdır. <br><br>Ticari İşletme Rehni Kanunu’nun 2. maddesine göre ticari işletme rehni
            sözleşmesi, tüzel kişiliği olan ve sermaye ortaklığı olarak kurulmuş kredi kurumları, kredili satış yapan
            gerçek ve tüzel kişiliği olan kurumlar, kooperatifler ile işletmenin maliki olan gerçek ve tüzel kişiler
            arasında yapılır. Yani, ticari işletme rehni sözleşmesinin taraflarını, kredi veren gerçek kişi ve tüzel
            kişilerle, kredi alan kurumun gerçek ve tüzel kişi malikleri oluşturur. <br><br>Ticari işletme rehni
            kapsamına giren unsurlar ise Ticari İşletme Rehni Kanunu’nun 3.maddesinde belirtilmiştir. Bu maddede
            sayılmayan fakat ticari işletmelere özgülenen taşınmaz mallar, kiracılık hakları, alacak, borç ve nakitler,
            işletme değeri ve müşteri çevresi üzerindeki haklar rehin kapsamına alınamaz.
        </div>
    </div>
    <br><br>
    <a style="box-shadow: 1px 1px 3px;" class="row p-3 " data-toggle="collapse" href="#collapse4" role="button"
        aria-expanded="false" aria-controls="collapseExample2">
        <span class="material-symbols-outlined">
            help
        </span>Ticari işletme rehni nedir?
    </a>
    <div class="collapse border-0" id="collapse4">
        <div style="box-shadow: 1px 1px 3px; font-size: 0.9rem;" class=" p-3 border-0">
            1971 Tarih 1447 Sayılı Ticari İşletme Rehni Kanunu ile ticari işletmenin ünvanı, menkul işletme tesisatı ve
            sahip olduğu sınai haklar kredi alacaklısına teslim edilme koşulu olmadan teminat olarak
            gösterilebilmektedir. Ticari işletme rehninin amacı ticari işletmelerin menkul malvarlığını, sınai haklarını
            ve çoğu zaman bu saydıklarımızdan daha değerli ticaret ünvanını teminat olarak göstermelerini sağlamaktır,
            bu yüzden ticari işletme rehni, özellikle mal varlığı menkul kıymetlerden oluşan işletmeler için hayati rol
            oynar.
        </div>
    </div>
    <br><br>
    <a style="box-shadow: 1px 1px 3px;" class="row p-3 " data-toggle="collapse" href="#collapse5" role="button"
        aria-expanded="false" aria-controls="collapseExample2">
        <span class="material-symbols-outlined">
            help
        </span>Birleşmeye taraf olan şirketler inceleme hakkından vazgeçebilirler mi?
    </a>
    <div class="collapse border-0" id="collapse5">
        <div style="box-shadow: 1px 1px 3px; font-size: 0.9rem;" class=" p-3 border-0">
            Küçük ve Orta ölçekli işletmeler bu hususun tüm ortaklar tarafından onaylandığını gösterir belgenin
            müdürlüğe vermesi halinde inceleme hakkından vazgeçebilirler.
        </div>
    </div>
    <br><br>
    <a style="box-shadow: 1px 1px 3px;" class="row p-3 " data-toggle="collapse" href="#collapse6" role="button"
        aria-expanded="false" aria-controls="collapseExample2">
        <span class="material-symbols-outlined">
            help
        </span>Devir alan şirketin ortağı devir olacak olan şirketin hisselerinin tamamına sahip kolaylaştırılmış usulde
        birleşme yapabilir miyim?
    </a>
    <div class="collapse border-0" id="collapse6">
        <div style="box-shadow: 1px 1px 3px; font-size: 0.9rem;" class=" p-3 border-0">
            Devralan sermaye şirketi devrolunan sermaye şirketinin oy hakkı veren bütün paylarına veya bir şirket ya da
            bir gerçek kişi veya kanun yahut sözleşme dolayısıyla bağlı bulunan kişi grupları, birleşmeye katılan
            sermaye şirketlerinin oy hakkı veren tüm paylarına, sahiplerse sermaye şirketleri kolaylaştırılmış düzene
            göre birleşebilirler.
        </div>
    </div>
    <br><br>
    <a style="box-shadow: 1px 1px 3px;" class="row p-3 " data-toggle="collapse" href="#collapse7" role="button"
        aria-expanded="false" aria-controls="collapseExample2">
        <span class="material-symbols-outlined">
            help
        </span>Birleşme nedeni ile devir olan şirketin sermayesi devir alan şirkete eklenmesi gerekir mi?
    </a>
    <div class="collapse border-0" id="collapse7">
        <div style="box-shadow: 1px 1px 3px; font-size: 0.9rem;" class=" p-3 border-0">
            Birleşme tescili ile eş zamanlı olarak sermaye artırımı tescili de yapılmalıdır.
        </div>
    </div>
    <br><br>
</div>