<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    5174 Sayılı TOBB kanunun 12. Maddesi 1. Fıkrasının(ı)bendine dayanılarak isteyen meslek grupları dilekçe ile
    Araştırma ve Meslekleri Geliştirme Müdürlüğü’ne gerekli başvuruyu yapar. Belirlenecek mal ve hizmetlerin azami fiyat
    tarifelerinin kendi üyelerimizle ilgili olanları komitenin görüşü alınarak Yönetim kurulunun teklifi ve Oda
    Meclisinin onayı ile yürürlüğe girer. <br><br>TOBB’ca belirlenen ölçülerde hazırlanan tarifeler ile ilgili bilgiler
    için Ticari İşlemler Müdürlüğü’ne dilekçe ile başvurulur. <br><br>Gerekli hizmet ücreti yatırılarak belge tanzim
    edilir. <br><br><a id="textLink"
        href="">Ek bilgi için tıklayınız.</a><!--https://api.izto.org.tr/storage/EditorUpload/original/jXQN3VEPGtibH9TY.pdf-->
</div>
<div class="seperator">
    <div></div>
</div>
<div class="w-100 d-flex justify-content-end align-items-center py-2">
    <div class="p-2">
        PAYLAŞ
    </div>
    <div class="d-flex justify-content-end align-items-center">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank">
            <span tabindex="0" data-link="#share-twitter" class="d-flex justify-content-center align-items-center p-2">
                <i class="bi bi-twitter"></i>
            </span>
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.izto.org.tr%2F&amp;src=sdkpreparse">
            <span tabindex="0" data-link="#share-facebook" class="d-flex justify-content-center align-items-center p-2">
                <i class="bi bi-facebook"></i>
            </span>
        </a>
        <a href="whatsapp://send?text">
            <span tabindex="0" data-link="#share-whatsapp" class="d-flex justify-content-center align-items-center p-2">
                <i class="bi bi-whatsapp"></i>
            </span>
        </a>
        <span tabindex="0" data-link="#share-linkedin" class="d-flex justify-content-center align-items-center p-2"><i
                class="bi bi-linkedin"></i></span> <span tabindex="0" data-link="#share-pinterest"
            class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-pinterest "></i></span>
        <span tabindex="0" data-link="#share-reddit" class="d-flex justify-content-center align-items-center p-2"><i
                class="bi bi-reddit"></i></span>
    </div>
</div>
