<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <div id="aa" class=" shadow-lg m-3">
        <a href="">
            <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>YERLİ MALI TEBLİĞİ</b></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a href="">
            <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>TOBB YERLİ MALI BELGESİ DÜZENLENMESİNE İLİŞKİN UYGULAMA ESASLARI</b></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a href="">
            <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>YERLİ MALI İÇİN TAAHHÜTNAME</b></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a href="">
            <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>KATKI ORANI HESAP CETVELİ</b></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a href="">
            <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>YERLİ MALI BELGESİ BAŞVURU DİLEKÇESİ</b></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a href="">
            <p class="m-3"><span class="material-symbols-outlined">
                    file_download
                </span><b>YERLİ MALI BELGESİ ÜCRETLENDİRME</b></p>
        </a>
    </div>
</div>
