<div class="row justify-content-center rounded shadow-sm p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <b>TİCARET SİCİL YÖNETMELİĞİNİN 22. MADDESİNE GÖRE BAŞVURULAR</b><br><br>
    <li>TACİRİN KENDİSİ</li>
    <li>VEKİLİ</li>
    <li>SÖZLEŞME İLE YETKİ VERİLMİŞ TEMSİLCİ olmak zorundadır.</li><br><br>Bunun dışında gelen başvurular yönetmelik
    gereği kabul edilmeyecektir. <br><br>Tüm tescil taleplerinin MERSİS üzerinden yapılması ve MERSİS başvuru
    numarasının talep dilekçesine yazılması gerekmektedir.
    <br><br>
    <div class="justify-content-center"></div>
    <div id="aa" class=" shadow-sm mx-3">
        <a href="">
            <p class="px-3">
                Anonim Şirketler<span class="material-symbols-outlined">
                    file_download
                </span></p>
        </a>
    </div>
    <div class="justify-content-center"></div>
    <div id="aa" class=" shadow-sm mx-3">
        <a href="">
            <p class="px-3">Limited Şirketler<span class="material-symbols-outlined">
                    file_download
                </span></p>
        </a>
    </div>
    <div class="justify-content-center"></div>
    <div id="aa" class=" shadow-sm mx-3">
        <a href="">
            <p class="px-3">Şahıs İşletmeleri<span class="material-symbols-outlined">
                    file_download
                </span></p>
        </a>
    </div>
    <div class="justify-content-center"></div>
    <div id="aa" class=" shadow-sm mx-3">
        <a href="">
            <p class="px-3">Kollektif Şirketler<span class="material-symbols-outlined">
                    file_download
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-sm mx-3">
        <a href="">
            <p class="px-3"><b>Komandit Şirketler</b> <span class="material-symbols-outlined">
                    file_download
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-sm mx-3">
        <a href="">
            <p class="px-3">Kooperatifler<span class="material-symbols-outlined">
                    file_download
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-sm mx-3">
        <a href="">
            <p class="px-3">Vakıf ve Dernek İktisadi İşletmeleri<span class="material-symbols-outlined">
                    file_download
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-sm mx-3">
        <a href="">
            <p class="px-3">Vakıf ve Dernek İktisadi İşletmeleri<span class="material-symbols-outlined">
                    file_download
                </span></p>
        </a>
    </div>
</div>