* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body {
    background-color: #f1faee;

}

.header {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-image: url(materials/bg.png);
    background-image: linear-gradient(#1d3557ad, #1d3557ad), url(materials/bg.png);
    background-size: cover;
    position: relative;
}

nav img {
    width: 120px;
}

nav {
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

.hbf {
    width: 80%;
    margin-left: 10%;
}

.hbf div div a {
    color: #f1faee;
}

.hbf div div a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f1faee;
    display: block;
    margin: auto;
}

.hbf div div a:hover::after {
    transition: 0.3s;
    width: 100%;
}

.hbs {
    width: 90%;
    margin-left: 5%;
    border-radius: 4px;
}

.hbs-font {
    font-size: 0.8rem;
    color: #1d3557;
}

div h4 {
    text-align: center;
}


.dropdown-menu ul li a {
    color: #1d3557;
    font-size: 0.7rem;
}

.dropdown-menu ul li ul li a {
    color: #1d3557;
    font-size: 0.6rem;
}

#env {
    vertical-align: bottom;
    text-align: center;
    font-size: 18px !important;
}

#carouselExampleFade {
    padding: 10px;
}

#cimg {
    top: 0;
}

#carousel-panel {
    background-color: #457b9d86;
}

#carousel-panel-text {
    color: #f1faee;
    font-size: 0.8rem;
    background-color: #1d3557;
}

.carousel-control-prev {
    left: auto;
}

.middle-row {
    left: 5%;
    right: 5%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

#rb {
    border-radius: 18px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.175);
}

/* .middle-u {
    display: inline-block;
    width: 30%;
    position: static;
    text-align: left;
    border-radius: 18px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.175);
} */

.middle-u img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.middle-u-c p {
    padding-right: 0.5em;
}

.middle-u-c {
    margin-left: 1em;
    font-size: 0.8em;
    margin-right: 1em;
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle-u-c a {
    color: #e63946;
    text-decoration: none;
    font-size: 0.8rem;
}

.panel {
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
}

.panel ul {
    display: flex;
    justify-content: space-between;
}

.panel li {
    display: inline-block;
    width: 16%;
    height: 100px;
}

.ph-block {
    text-align: center;
    border-top: #3a28da 1px solid;
}

.button-con {
    display: flex;
    justify-content: center;
}

.bc-con {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;
}

.bc-con div {
    width: 300px;
    height: 30px;
    margin: 0.5em;
    color: #a8dadc;
    border: 1px rgba(0, 0, 0, 0.125) solid;
    text-align: center;
    box-shadow: 1px 1px 1px 1px;
    text-decoration: none;
    border-radius: 4px;
}

.presentation {
    padding: 5em;
}

.imgHold {
    display: flex;
    justify-content: space-around;
}

.imgdivs {
    display: inline-block;
    width: 248px;
    height: 208px;
    border-radius: 5px;
}

.imgdivs p {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: center;
    color: #3a28da;
    background-color: #f1f1f17e;
}

.imgdivs p:hover {
    color: #f1f1f1;
    background-color: #3a28da;
    transition: 0.7s;
}

.footer {
    background-image: url(materials/footer-bg.jpg);
    position: static;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    color: white;
}

.footer-div {
    width: 30%;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
}

.footer-div p {
    margin-top: 2em;
    font-size: 13px;
}

.footer-div h4 {
    margin-top: 1em;
    text-align: center;
}

.endNote p {
    padding: 0.5em;
    background-color: white;
    font-weight: 200;
    text-align: center;
    color: #3a28da;
    font-size: 15px;
}

.seperator {
    padding: 3em;
    display: flex;
    justify-content: center;
}

.seperator {
    padding: 3em;
    display: flex;
    justify-content: center;
}

.seperator-t {
    padding: 0.5em;
    display: flex;
    justify-content: center;
}

.seperator div {
    height: 2px;
    width: 100px;
    background-color: #e63946;
}

.seperator-t div {
    height: 2px;
    width: 100px;
    background-color: #e63946;
}


@media (max-width: 768px) {
    nav {
        display: flex;
        justify-content: center;
    }

    .stuck {
        position: relative;
    }

    .n-l {
        display: none;
    }

    .dropdown {
        flex-wrap: wrap;
        justify-content: center;
    }

    .middle-u-c,
    .middle-u-c a {
        font-size: 8px;
    }

    .footer-div,
    .footer-div p {
        font-size: 8px;
    }
}