<router-outlet></router-outlet>

<!-- <ng-container *ngIf="section.includes('Kurumsal')">
    <app-kurumsal [subSection]="title"></app-kurumsal>
</ng-container>
<ng-container *ngIf="section.includes('Üyelik ve Üyeler')">
    <app-uye [subSection]="title"></app-uye>
</ng-container>
<ng-container *ngIf="section.includes('E-Oda')">
    <app-eoda [subSection]="title"></app-eoda>
</ng-container>
<ng-container *ngIf="section.includes('Duyuru ve Etkinlikler')">
    <app-dve [subSection]="title"></app-dve>
</ng-container>
<ng-container *ngIf="section.includes('Ticaret Noktası')">
    <app-ticaret [subSection]="title"></app-ticaret>
</ng-container>
<ng-container *ngIf="section.includes('Bilgi Bankası')">
    <app-bank [subSection]="title"></app-bank>
</ng-container>
<ng-container *ngIf="section.includes('İZTOTAM')">
    <app-iztotam [subSection]="title"></app-iztotam>
</ng-container>


<ng-container *ngIf="title.includes('İzmir Ticaret Odası İhaleleri')">
    <div class="py-5">
        <div class="ladder d-flex justify-content-between">
            <p>Devam eden ihaleler</p>
            <p id="textLink">Toplam 3 adet ihale listelendi</p>
        </div>
    </div>
</ng-container>



 -->
