<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="py-5 container">
    <div style="box-shadow: 1px 2px 3px black;" class="my-2">
        <a class="nav-link dropdown-toggle hbs-font" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-expanded="false">
            Süresi Sona Ermiş İhaleler
        </a>
 
        <div style="width: 93%; background-color:#f8f9fa; color: #1d3557; top: 5px;" class="dropdown-menu  p-0 top-0 border-0" aria-labelledby="navbarDropdownMenuLink">
            <ul class="list-unstyled">
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                text_snippet
                                </span>02/08/2022</p>
                            <p>
                                <b>İzmir Ticaret Odası Vergi Ödemede ve Döviz Sağlamada Başarı Ödülü Sertifikası Yaptırılması İşi</b></p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                text_snippet
                                </span>02/08/2022</p>
                            <p>
                                <b>İzmir Ticaret Odası tarafından Vergi Ödemede ve Döviz Sağlamada Başarı Madalyaları Yaptırılması İşi</b></p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                text_snippet
                                </span>01/08/2022</p>
                            <p>
                                <b>İzmir Ticaret Odası Hizmet Binası Dış Cephe Bayraklarının Değişimi ve Bayrak Motoru Bakımı İşleri</b></p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                text_snippet
                                </span>27/07/2022</p>
                            <p>
                                <b>Güncelleme - İzmir Ticaret Odası 500 Adet Matbaacılık Sektörü Analizi Envanter Raporu Kitabı Yaptırılması İşi</b></p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                text_snippet
                                </span>26/07/2022</p>
                            <p>
                                <b>SÜRE UZATIMI- İzmir Ticaret Odası Elektrik Malzemesi Alımı İşi</b></p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                text_snippet
                                </span>21/07/2022</p>
                            <p>
                                <b>İzmir Ticaret Odası Alsancak Kruvaziyer Limanı Tadilat İşleri</b></p>
                        </div>
                    </a>
                </li>
                <li class="my-1">
                    <a class="dropdown-item">
                        <div style="border-bottom: 2px dashed black;">
                            <p><span class="material-symbols-outlined">
                                text_snippet
                                </span>20/07/2022</p>
                            <p>
                                <b>İzmir Ticaret Odası Elektrik Malzemesi Alımı İşi</b></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>