<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-4 container">
        <div id="aa" class="shadow-sm my-3">
            <a href="">
                <h5 class="py-1 mx-1"> <span class="material-symbols-outlined">
                        file_download
                    </span>Stratejik Planlar</h5>
                <div>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2019-2022 STRATEJİK PLANI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2014-2017 STRATEJİK PLANI</a>
                </div>
            </a>
        </div>
        <div id="aa" class="shadow-sm my-3">
            <a href="">
                <h5 class="py-1 mx-1"> <span class="material-symbols-outlined">
                        file_download
                    </span>ÇALIŞMA PROGRAMLARI</h5>
                <div>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2022 ÇALIŞMA PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2021 ÇALIŞMA PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2020 ÇALIŞMA PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2019 ÇALIŞMA PROGRAMI</a>
                </div>
            </a>
        </div>
        <div id="aa" class="shadow-sm my-3">
            <a href="">
                <h5 class="py-1 mx-1"> <span class="material-symbols-outlined">
                        file_download
                    </span>ÇALIŞMA PROGRAMLARI</h5>
                <div>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2022 FAALİYET PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2021 FAALİYET PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2020 FAALİYET PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2019 FAALİYET PROGRAMI</a>
                </div>
            </a>
        </div>
    </div>
