<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-4 container ">
        <div class="row">
            <div class="col">
                <a href="https://api.izto.org.tr/storage/SectoralReport/original/iBRRPv65Kr8z7zwe.pdf">
                    <img src="https://api.izto.org.tr/storage/SectoralReportCategory/original/zXv7Jqaik1fepc9X.jpg"
                        alt="sadas" class="img-fluid w-100">
                    <h6 class="imgP">SANAYİ</h6>
                </a>
            </div>
            <div class="col">
                <a href="https://api.izto.org.tr/storage/SectoralReport/original/DhojIKKSVFPWJ2kO.pdf">
                    <img src="https://api.izto.org.tr/storage/SectoralReportCategory/original/2sdvzGgxKc5RgtLW.jpeg"
                        alt="sadas" class="img-fluid w-100">
                    <h6 class="imgP">TURİZM</h6>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://api.izto.org.tr/storage/SectoralReport/original/GAk8yNyFKJfs2LhG.pdf">
                    <img src="https://api.izto.org.tr/storage/SectoralReportCategory/original/a3BlR7gYXlzE3Ldy.jpeg"
                        alt="sadas" class="img-fluid w-100">
                    <h6 class="imgP">TEKSTİL, HAZIR GİYİM VE KONFEKSİYON</h6>
                </a>
            </div>
            <div class="col">
                <a href="https://api.izto.org.tr/storage/SectoralReport/original/SirrxCzOYFGuUbH0.pdf">
                    <img src="https://api.izto.org.tr/storage/SectoralReportCategory/original/8pzgtTTXydVnyik3.jpeg"
                        alt="sadas" class="img-fluid w-100">
                    <h6 class="imgP">TEKNOLOJİ, İNOVASYON VE AR-GE</h6>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://api.izto.org.tr/storage/SectoralReport/original/gXyk4j5IuTMjoSGx.pdf">
                    <img src="https://api.izto.org.tr/storage/SectoralReportCategory/original/VVwG6OEf3jziPTr3.jpeg"
                        alt="sadas" class="img-fluid w-100">
                    <h6 class="imgP">SAĞLIK</h6>
                </a>
            </div>
            <div class="col">
                <a href="https://api.izto.org.tr/storage/SectoralReport/original/leUv6U01XwSePxNC.pdf">
                    <img src="https://api.izto.org.tr/storage/SectoralReportCategory/original/p695K07foyRvN0dK.jpeg"
                        alt="sadas" class="img-fluid w-100">
                    <h6 class="imgP">OTOMOTİV</h6>
                </a>
            </div>
        </div>
    </div>
