<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <div id="accordion">
        <div class="card">
            <div class="card-header collar" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        <span class="material-symbols-outlined">
                            expand_more
                        </span>TOBB SİGORTA LEVHAYA KAYIT BİLGİ DOKÜMANLARI <br> <br>
                        <div class="newSeperator">
                        </div>
                    </a>

                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body collar">
                    <p><a href=""><span
                                class="material-symbols-outlined">
                                file_download
                            </span>SİGORTA ACENTELERİ YÖNETMELİĞİ</a></p>

                    <p><a href=""><span
                                class="material-symbols-outlined">
                                file_download
                            </span>SİGORTA ACENTELERİ YÖNETMELİĞİNDE DEĞİŞİKLİK YAPILMASINA İLİŞKİN YÖNETMELİK
                            (RG.09.06.2016/29737)</a></p>

                    <p><a href=""><span
                                class="material-symbols-outlined">
                                file_download
                            </span>SİGORTA ACENTELERİ YÖNETMELİĞİNDE DEĞİŞİKLİK YAPILMASINA İLİŞKİN YÖNETMELİK
                            (RG.16.01.2016/29595)</a></p>
                    <p><a href=""><span
                                class="material-symbols-outlined">
                                file_download
                            </span>SİGORTA ACENTELERİ YÖNETMELİĞİNİN UYGULANMASINA İLİŞKİN GENELGE</a></p>
                    <p><a href=""><span
                                class="material-symbols-outlined">
                                file_download
                            </span>EK-1: ÖĞRENİM DÜZEYİ VE ASGARİ MESLEKİ DENEYİM SÜRELERİ</a></p>
                    <p><a href=""><span
                                class="material-symbols-outlined">
                                file_download
                            </span>ŞUBELEŞEREK TEŞKİLATLANAN SİGORTA ACENTELERİ İŞLEMLERİ</a></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collar" id="headingTwo">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                        aria-controls="collapseTwo">
                        <span class="material-symbols-outlined">
                            expand_more
                        </span>TOBB-SİGORTA ACENTELERİ LEVHA KAYDI İÇİN İSTENEN BELGELER <br> <br>
                        <div class="newSeperator">
                        </div>
                    </a>

                </h5>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body collar">
                    <p><a href=""><span
                                class="material-symbols-outlined">
                                file_download
                            </span>BAŞVURU DİLEKÇESİ(ÖN BAŞVURU NUMARASINI İÇEREN)</a></p>
                    <p><a href=""><span
                                class="material-symbols-outlined">
                                file_download
                            </span>LEVHAYA YENİ KAYIT İÇİN ASGARİ FİZİKİ ŞARTLAR DİLEKÇESİ</a></p>
                    <p><a href=""><span
                                class="material-symbols-outlined">
                                file_download
                            </span>GERÇEK KİŞİ SİGORTA ACENTELERİ İÇİN İSTENEN BELGELER (EK-7)</a></p>
                    <p><a href=""><span
                                class="material-symbols-outlined">
                                file_download
                            </span>TÜZEL KİŞİ SİGORTA ACENTELERİ İÇİN İSTENEN BELGELER (EK-8)</a></p>
                </div>
            </div>
        </div>
