<div id="bg">
    <section class=" container">
        <div class="row">
            <div class="col mx-1">
                <a href="">
                    <p class="position-absolute">Projelerimiz</p>
                </a>
                <img class="img-fluid" src="assets/materials/fade/1.png" alt="">
            </div>
            <div class="col mx-1">
                <a href="">
                    <p class="position-absolute">İZTO Müze Tanıtım Filmi</p>
                </a>
                <img class="img-fluid" src="assets/materials/fade/2.jpg" alt="">
            </div>
            <div class="col mx-1">
                <a href="">
                    <p class="position-absolute">İzmir Turizmi</p>
                </a>
                <img class="img-fluid" src="assets/materials/fade/3.png" alt="">
            </div>
            <div class="col mx-1">
                <a href="https://www.youtube.com/watch?v=0rnTn75CdTc">
                    <p class="position-absolute">İzmir Tanıtım Filmi</p>
                </a>
                <img class="img-fluid" src="assets/materials/fade/4.png" alt="">
            </div>
        </div>
    </section>
</div>
