<div id="bg" class="d-flex">
    <section class="container">
        <div class="row justify-content-around my-3">
            <div id="rb" class="col mx-2">
                <a href="" ><!--https://eoda.izto.org.tr/web/aidat_odeme.aspx?id=290 target="_blank"--><img class="img-fluid"
                        src="assets/materials/menu/one.png"> </a>
                <div class="middle-u-c">
                    <p>Aidat Sorgulama / Ödeme İşlemleri</p>
                    <i>Tıklayın</i>
                </div>
            </div>
            <div id="rb" class="col mx-2">
                <a routerLink="menu/pc/duyurular-ve-etkinlikler/izqda-toplantı-ve-etkinliklerinize-prestij-katın"
                    target="_blank"><img class="img-fluid" src="assets/materials/menu/two.png"> </a>
                <div class="middle-u-c">
                    <p>İZQ'da Toplantı ve Etkinliklerinize Prestij Katın</p>
                    <i>Tıklayın</i>
                </div>
            </div>
        </div>
        <div class="row justify-content-around my-3">
            <div id="rb" class="col mx-2">
                <a routerLink="menu/pc/bilgi-bankasi/covid"><img class="img-fluid"
                        src="assets/materials/menu/three.png"> </a>
                <div class="middle-u-c">
                    <p>Covid-19 Tedbir ve Destekleri</p>
                    <i>Tıklayın</i>
                </div>
            </div>
            <div id="rb" class="col mx-2">
                <a routerLink="menu/pc/duyurular-ve-etkinlikler/vergi-mükellefiyet-durumu-kontrolu" target="_blank"><img
                        class="img-fluid" src="assets/materials/menu/five.png"> </a>
                <div class="middle-u-c">
                    <p>
                        Vergi Mükellefiyet Durumu Kontrolü
                    </p>
                    <i>Tıklayın</i>
                </div>
            </div>
        </div>
        <div class="row justify-content-around my-3">
            <div id="rb" class="col mx-2">
                <a routerLink="menu/pc/duyurular-ve-etkinlikler/2022-yilinda-izmir-limanına-gelecek-olan-kruvaziyer-gemileri"
                    target="_blank"><img class="img-fluid" src="assets/materials/menu/four.png"> </a>
                <div class="middle-u-c">
                    <p>2022 Yılında İzmir Limanına Gelecek Olan Kruvaziyer Gemileri</p>
                    <i>Tıklayın</i>
                </div>
            </div>
            <div id="rb" class="col mx-2">
                <a
                    routerLink="menu/pc/duyurular-ve-etkinlikler/odamıza-gelmeden-oda-kayıt-isleminizi-elektronik-imza-ile-gerceklestirebilirsiniz"><img
                        class="img-fluid" src="assets/materials/menu/six.png"> </a>
                <div class="middle-u-c">
                    <p>Odamız Online Belge Hizmetlerimize Bir Yenisi Daha Eklendi
                    </p>
                    <i>Tıklayın</i>
                </div>
            </div>
        </div>
        <div class="row justify-content-around my-3">
            <div id="rb" class="col mx-2">
                <a routerLink="menu/pc/kurumsal/hizmet-rehberi"><img class="img-fluid"
                        src="assets/materials/menu/seven.png"> </a>
                <div class="middle-u-c">
                    <p>Hizmet Rehberi</p>
                    <i>Tıklayın</i>
                </div>
            </div>
            <div id="rb" class="col mx-2">
                <a routerLink="/menu/pc/bilgi-bankasi/raporlar"><img class="img-fluid"
                        src="assets/materials/menu/nine.png" alt="img"> </a>
                <div class="middle-u-c">
                    <p>Bilgi Bankası/Raporlar</p>
                    <i>Tıklayın</i>
                </div>
            </div>
        </div>
        <div class="row justify-content-around my-3">
            <div id="rb" class="col mx-2">
                <a routerLink="menu/pc/duyurular-ve-etkinlikler/mersis"><img class="img-fluid"
                        src="assets/materials/menu/eight.png" alt="img"> </a>
                <div class="middle-u-c">
                    <p>01.03.2022 Tarihinden İtibaren Mersis Üzerinde Yapılacak Atama Ve Kuruluş Başvurularında
                        E-İmza Uygulaması Başlıyor</p>
                    <i>Tıklayın</i>
                </div>
            </div>
            <div id="rb" class="col mx-2">
                <a routerLink="/menu/pc/bilgi-bankasi/oda-sicili-rehberi"><img class="img-fluid"
                        src="assets/materials/menu/eleven.png" alt="img"></a>
                <div class="middle-u-c">
                    <p>Oda Sicil Rehberi</p>
                    <i>Tıklayın</i>
                </div>
            </div>
        </div>
    </section>
</div>
