<div class="container">
    <div class="row justify-content-center rounded shadow-lg p-5 th m-0">
        <h3 id="bb">{{title}}</h3>
    </div>
    <div class="py-5 container">
        <h5>Vizyonumuz:</h5>
        <p>Üyelerini güçlendiren, üyeleri ile güçlenen, bu güç ile İzmir’i yaşam ve yatırımda dünyada cazip kent kılan
            «geleceğin odası» olmak.</p>
        <h5>Misyonumuz:</h5>
        <p>İzmir’in ticari, ekonomik ve sosyal hayatında fark yaratmak için, kaynakları ve teknolojiyi etkin kullanarak
            etik değerlere bağlı, yetkin ve pozitif kadrosu ile iş dünyasına ve topluma sürdürülebilir hizmetler sunmak.
        </p>
    </div>
    <div class="seperator">
        <div></div>
    </div>