<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <h5>Mevzuat</h5>
    <div id="aa" class=" shadow-lg m-3">
        <!--https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=9414&MevzuatTur=7&MevzuatTertip=5--><a href="">
            <p class="m-3"><b>ODA MUAMELAT YÖNETMELİĞİ</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <!--https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=8104&MevzuatTur=7&MevzuatTertip=5--><a href="">
            <p class="m-3"><b>
                    TÜRKİYE ODALAR VE BORSALAR BİRLİĞİ İLE ODALAR VE BORSALAR ORGAN SEÇİMLERİ HAKKINDA
                    YÖNETMELİĞİ</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <!--https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=5559&MevzuatTur=7&MevzuatTertip=5--><a href="">
            <p class="m-3"><b>KAYIT ÜCRETİ VE YILLIK AİDAT VE MUNZAM AİDATIN TESPİTİ VE ÖDENMESİ HAKKINDA
                    YÖNETMELİĞİ</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <!--https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=9413&MevzuatTur=7&MevzuatTertip=5--><a href="">
            <p class="m-3"><b>TÜRKİYE ODALAR VE BORSALAR BİRLİĞİ İLE ODALAR VE BORSALAR BÜTÇE VE MUHASEBE
                    YÖNETMELİĞİ</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <!--https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=14896&MevzuatTur=7&MevzuatTertip=5--><a href="">
            <p class="m-3"><b>ODALARDA MESLEKLERİN GRUPLANDIRILMASI YÖNETMELİĞİ</b><span
                    class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <h5>Tahkim</h5>
    <div id="aa" class=" shadow-lg m-3">
        <!--https://izto.org.tr/tr/tg/ticari-uzlastirma-ve-ticari-tahkim-esaslari--><a href="">
            <p class="m-3"><b>TİCARİ UZLAŞTIRMA VE TİCARİ TAHKİM ESASLARI</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
</div>
