<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-4 ">
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>Coğrafi İşaret ve Geleneksel Ürün Adı Tescil Sonrası İşlemler ve Ticar...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>04.08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Türkiye Odalar ve Borsalar Birliği’nden elimize yeni ulaşan yazıda, bugün saat
                14:00’te Türk Patent ve Marka Kurumu iş birliğinde “Coğrafi İşaret ve Geleneksel Ürün Adı Tescil Sonrası
                İşlemler ve Ticarileşme Bilgilendirme Semineri“ gerçekleştirileceği belirtilmektedir.Seminere katılım
                adresi: <br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>Tepav Öne Çıkan Düzenlemeler (28 Temmuz-3 Ağustos 2022)...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>04.08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Türkiye Ekonomi Politikaları Araştırma Vakfı’nın 28 Temmuz-3 Ağustos 2022
                tarihleri arasındaki Öne Çıkan Düzenlemeleri İçeren bülten ekte yer almaktadır.Bilgilerinize
                sunarız.Saygılarımızla,İzmir Ticaret Odası<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>15. İstanbul Hazır Giyim Konferansı Hk....</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>02.08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Türkiye Giyim Sanayicileri Derneği (TGSD) tarafından Odamıza iletilen 2 Ağustos
                tarihli yazıda; 5-6 Ekim 2022 tarihlerinde Çırağan Sarayı’nda “Green Revolution” teması ile
                gerçekleştirilecek 15. İstanbul Hazır Giyim Konferansı’nın detayları aktarılmaktadır. Konferansta Avrupa
                Yeşil Mutabakat günd...<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <a  class="pageBtn">1</a>
            <a class="pageBtn">2</a>
        </div>
    </div>
