<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-4 d-flex justify-content-center">
        <div class="">
            <h5 style="text-align: center;">KURUMSAL KİMLİK</h5>
            <div class="d-flex justify-content-center">
                <img src="https://api.izto.org.tr/storage/LogoCategory/original/O4flmHobLL4FwJn0.png" alt="">
            </div>
            <div id="aa" class="col shadow-lg mx-3 my-3">
                <a href="https://api.izto.org.tr/storage/Logo/original/Gdh6OzQGh3ibLfcG.jpg">
                    <h5 style="text-align: center;">İZTO LOGO İNGİLİZCE(jpg) <span style="height: 100%;"
                            class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
            <h5 style="text-align: center;">İZMİR TİCARET ODASI LOGOLARI</h5>
            <div class="d-flex justify-content-center">
                <img src="https://api.izto.org.tr/storage/LogoCategory/original/1NPKyfZen3YOlbPh.png" alt="">
            </div>
            <div class="row my-3">
                <div id="aa" class="col shadow-lg mx-3">
                    <a href="https://api.izto.org.tr/storage/Logo/original/7Znrd1xtqe8hQM1Q.jpg">
                        <h5>İZTO LOGO TÜRKÇE (jpg) <span style="height: 100%;" class="material-symbols-outlined">
                                file_download
                            </span></h5>
                    </a>
                </div>
                <div id="aa" class="col shadow-lg mx-3">
                    <a href="https://api.izto.org.tr/storage/Logo/original/Gdh6OzQGh3ibLfcG.jpg">
                        <h5>İZTO LOGO İNGİLİZCE(jpg) <span style="height: 100%;" class="material-symbols-outlined">
                                file_download
                            </span></h5>
                    </a>
                </div>
            </div>
            <div class="row my-3">
                <div id="aa" class="col shadow-lg mx-3">
                    <a href="https://api.izto.org.tr/storage/Logo/original/7Znrd1xtqe8hQM1Q.jpg">
                        <h5>İZTO LOGO TÜRKÇE (jpg) <span style="height: 100%;" class="material-symbols-outlined">
                                file_download
                            </span></h5>
                    </a>
                </div>
                <div id="aa" class="col shadow-lg mx-3">
                    <a href="https://api.izto.org.tr/storage/Logo/original/4ESl2QGXbNH5pQZs.png">
                        <h5>İZTO LOGO İNGİLİZCE(jpg) <span style="height: 100%;" class="material-symbols-outlined">
                                file_download
                            </span></h5>
                    </a>
                </div>
            </div>
            <h5 style="text-align: center;">MARKA ŞEHİR ‘İZMİR’ LOGOSU</h5>
            <div class="d-flex justify-content-center">
                <img src="https://api.izto.org.tr/storage/LogoCategory/original/4LQDFe9Zb7h7LjI4.png" alt="">
            </div>
            <div></div>
        </div>
    </div>
    <div>
        <div class="row my-3">
            <div id="aa" class="col shadow-lg mx-3">
                <a href="https://api.izto.org.tr/storage/Logo/original/JFVxn9PZUumnYAUM.jpg">
                    <h5>MARKA ŞEHİR 'İZMİR' LOGOSU TÜRKÇE (jpg) <span style="height: 100%;"
                            class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
            <div id="aa" class="col shadow-lg mx-3">
                <a href="https://api.izto.org.tr/storage/Logo/original/NaJ23C7pHQ20nW0r.pdf">
                    <h5>MARKA ŞEHİR 'İZMİR' LOGOSU TÜRKÇE (jpg) <span style="height: 100%;"
                            class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
        </div>
        <div class="row my-3">
            <div id="aa" class="col shadow-lg mx-3">
                <a href="https://api.izto.org.tr/storage/Logo/original/ZReprklN8tY9u98t.jpg">
                    <h5>MARKA ŞEHİR 'İZMİR' LOGOSU TÜRKÇE (pdf) <span class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
            <div id="aa" class="col shadow-lg mx-3">
                <a href="https://api.izto.org.tr/storage/Logo/original/kKNqc3e2qdzhSAaA.pdf">
                    <h5>MARKA ŞEHİR 'İZMİR' LOGOSU İNGİLİZCE (pdf) <span class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
        </div>
    </div>
