<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
   <div class="py-4 container ">
        İzmir Ticaret Odası Vize Bölümü, tüm üyelere Ticari vize alımında yardımcı olmaktadır. Vize ile ilgili genel
        bilgiler, işbirliği içerisinde çalışılan Konsolosluklar, dikkat edilmesi gereken konular ve vize başvurusu için
        gerekli olan evraklara bu bölümden ulaşabilirsiniz. <br><br>Schengen Vizeleri Önemli Bilgiler Vize
        Yükümlülükleri <br><br>Vize başvuru hizmeti İzmir Ticaret Odası üyelerinin tamamı için sağlanır. Odamız sadece
        ticari amaçla seyahatlerde vize işlemlerini yürütmektedir. Turistik seyahatler için kişiler konsolosluklara Oda
        aracılığı ile başvuramazlar. SCHENGEN ÜLKELERİ, İLK VERİLİŞ TARİHİ 10 YILDAN ESKİ PASAPORTLARI KESİNLİKLE KABUL
        ETMEMEKTEDİR. Başvuru dosyalarını incelemek, vize verilmesi konusunda karar vermek ve vize sürelerini belirlemek
        için tek karar mercii ilgili Konsolosluklardır. Odamızın Konsolosluklara vize verilip verilmeyeceği konusunda ya
        da vize süreleri ile ilgili müdahale yetkisi bulunmamaktadır. Vize başvurusunun reddedilmesi durumunda hiçbir
        Konsolosluk tarafından vize ücreti iadesi yapılmamaktadır. Konsolosluklar her zaman başvurunun durumuna göre ek
        evrak isteme yetkisine sahiptir. Konsolosluk işlem süreleri belirtilen tarihlerden daha uzun sürebilir.
        Konsolosluktan kaynaklanan idari ya da teknik nedenler ile vize alım süresinin uzamasından Odamız sorumlu
        değildir. <br><br>Sorumlu Kişi: <br><br>Özlem Yalçınkaya <br>Uluslararası Etkinlikler ve Turizm Müdürlüğü – Vize
        Görevlisi <br><br>Tel : 0 232 498 43 09 <br>Faks : 0 232 498 46 44 <br>E-mail : ozlem.ors@izto.org.tr
        <div class="seperator">
            <div></div>
        </div>
        <div class="w-100 d-flex social-share justify-content-end align-items-center py-2"><div class="share-text p-2">
            PAYLAŞ
          </div> <div class="d-flex justify-content-end align-items-center">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank">
                <span tabindex="0" data-link="#share-twitter" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-twitter"></i>
                </span> 
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.izto.org.tr%2F&amp;src=sdkpreparse">
                <span tabindex="0" data-link="#share-facebook" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-facebook"></i>
                </span> 
            </a>
            <a href="whatsapp://send?text">
                <span tabindex="0" data-link="#share-whatsapp" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-whatsapp"></i>
                </span>
            </a>
            <span tabindex="0" data-link="#share-linkedin" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-linkedin"></i></span> <span tabindex="0" data-link="#share-pinterest" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-pinterest "></i></span> <span tabindex="0" data-link="#share-reddit" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-reddit"></i></span>
            </div>
    </div>
