<section id="bg">
    <div class="container">
        <div id="carousel-panel" class="m-5 rounded shadow-lg">
            <div id="carouselExampleFade" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner rounded">
                    <div class="carousel-item active">
                        <div class="row justify-content-center">
                            <app-slide-list [index]="0"></app-slide-list>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center">
                            <app-slide-list [index]="1"></app-slide-list>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center">
                            <app-slide-list [index]="2"></app-slide-list>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center">
                            <app-slide-list [index]="3"></app-slide-list>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center">
                            <app-slide-list [index]="4"></app-slide-list>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center">
                            <app-slide-list [index]="5"></app-slide-list>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center">
                            <app-slide-list [index]="6"></app-slide-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>