<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="my-2">
    <div class="row anno">
        <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png" alt="">
        <div class="mx-3">
            <p><b>
                    Balıkçılar Sorunlarını Masaya Yatırdı</b></p>
            <div class="newSeperator mx-2"></div>
            <p>04.08/2022</p>
        </div>
    </div>
    <div class="row my-4">
        <b>14 madde tartışıldı

        </b> <br><br>İzmir’deki Balıkçılık Sektörünün tüm paydaşları, sektörün sorunlarını görüşmek için İzmir Ticaret
        Odası’nda bir araya geldi. Kamu, özel sektör ve üniversitelerden toplam 60 kişinin katıldığı toplantıda sektörün
        en öncelikli sorunları olarak görülen 14 madde tartışıldı, çözüm önerileri üretildi. Toplantıya katılan Tarım ve
        Orman Bakanlığı Balıkçılık ve Su Ürünleri Genel Müdürü Dr. Mustafa Altuğ Atalay, “Sorunlar olacak ki bizler
        çözeceğiz, daha iyisine ulaşacağız. Her şeyin üstesinden geleceğimize inanıyorum. Bizler sorunların çözümü için
        elimizden geleni yapmaya her zaman hazırız” dedi.<br><br>Balıkçılık Sektörünün Sorunları ve Çözüm Önerileri
        Toplantısı, Tarım ve Orman Bakanlığı Balıkçılık ve Su Ürünleri Genel Müdürü Dr. Mustafa Altuğ Atalay, İzmir
        Tarım ve Orman İl Müdürü Mustafa Özen, İzmir Ticaret Odası (İZTO) Yönetim Kurulu Üyesi Mehmet Şahin Çakan ve Ege
        Bölgesi Gırgır Balıkçıları Derneği Başkanı Mehmet Aksoy’un açılış konuşmalarıyla başladı. İZTO ev sahipliğinde
        gerçekleşen toplantıya, Sahil Güvenlik Orta Ege Grup Komutanlığı Harekât Şube Müdürü Binbaşı Çağlar Hanımeli,
        Ege Üniversitesi Su Ürünleri Fakültesi Dekanı Prof. Dr. Uğur Sunlu, İzmir Katip Çelebi Üniversitesi Su Ürünleri
        Fakültesi Dekanı Prof. Dr. Teyfik Tansel Tanrıkulu, Deniz Ürünleri Avcıları Üreticileri Merkez Birliği Başkanı
        Nihat Işık, İstanbul İli Deniz Ürünleri Avcıları Üreticileri Merkez Birliği Başkanı Şekip Yalçın ile Ege
        İhracatçı Birlikleri Ege Su Ürünleri Ve Hayvansal Mamüller İhracatçıları Birliği Yönetim Kurulu Üyesi Ufuk
        Atakan Demir katıldı.. <br><br> <b>DR. ATALAY: “SORUNLARIMIZI ÇÖZECEĞİZ”
        </b><br><br>Tarım ve Orman Bakanlığı Balıkçılık ve Su Ürünleri Genel Müdürü Dr. Mustafa Altuğ Atalay, “Sayın
        Bakanımız Vahit Kirişçi balıkçılarımızın sorunlarını her zaman dinliyor. Sorunlarımız elbette oluyor, insan
        yaşadıkça sorunlarımız olacaktır. Sorunlar olacak ki bizler çözeceğiz, daha iyisine ulaşacağız. Bundan 10 yıl
        öncesine göre su ürünlerinde çok daha iyiyiz. Ülkemiz üreten bir ülke. Her şeyin üstesinden geleceğimize
        inanıyorum. Dünyanın neresine giderseniz mazot fiyatlarındaki artıştan bahsedildiğini görüyoruz. Bizler
        sorunların çözümü için elimizden geleni yapmaya her zaman hazırız” dedi.<br><br>İzmir Tarım ve Orman İl Müdürü
        Mustafa Özen, “İzmir önemli bir potansiyele sahip. 640 kilometreye yakın bir sahil şeridimiz var. 2021 yılında,
        113 bin ton su ürünleri üretim miktarı ile ekonomiye 9 milyar TL katkısı olan bir sektör. 1750’ye yakın balıkçı
        teknemiz, 29 balıkçı barınağımız, 45 su ürünleri kooperatifimiz var. Bu sektörü korumak, bu sektörün içindeki
        tüm paydaşlarımızın asli görevi. İzmir ölçeğinde özellikle denetim noktasında Sahil Güvenlik Komutanlığımızın
        bize vermiş olduğu destek için çok teşekkür ediyorum. Su ürünlerini ayakta tutmak, geleceğe taşımak için bu
        denetimler büyük önem taşıyor” diye konuştu.<br><br>
    </div>
    <div class="seperator">
        <div></div>
    </div>
    <div class="w-100 d-flex social-share justify-content-end align-items-center py-2">
        <div class="share-text p-2">
            PAYLAŞ
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank">
                <span tabindex="0" data-link="#share-twitter"
                    class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-twitter"></i>
                </span>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.izto.org.tr%2F&amp;src=sdkpreparse">
                <span tabindex="0" data-link="#share-facebook"
                    class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-facebook"></i>
                </span>
            </a>
            <a href="whatsapp://send?text">
                <span tabindex="0" data-link="#share-whatsapp"
                    class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-whatsapp"></i>
                </span>
            </a>
            <span tabindex="0" data-link="#share-linkedin"
                class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-linkedin"></i></span> <span
                tabindex="0" data-link="#share-pinterest"
                class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-pinterest "></i></span>
            <span tabindex="0" data-link="#share-reddit" class="d-flex justify-content-center align-items-center p-2"><i
                    class="bi bi-reddit"></i></span>
        </div>
    </div>
</div>