<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>

<div class="py-5 container">
    <div id="aa" class=" shadow-md m-3">
        <a target="_blank" href="">
            <p class="px-3"><b> Ticaret Bakanlığı : Web sitesi için tıklayınız.</b><span
                    class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-md m-3">
        <a target="_blank" href="">
            <p class="px-3"><b> Türkiye Odalar ve Borsalar Birliği : Web sitesi için tıklayınız.</b><span
                    class="material-symbols-outlined">
                    file_download
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-md m-3">
        <a target="_blank" href="">
            <p class="px-3"><b> EuroChambers : Web sitesi için tıklayınız.</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class="shadow-md m-3">
        <a target="_blank" href="">
            <p class="px-3"><b>KOSGEB : Web sitesi için tıklayınız.</b> <span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class="shadow-md m-3">
        <a target="_blank" href="">
            <p class="px-3"><b>ICC (Milletlerarası Ticaret Odası) : Web sitesi için tıklayınız.</b> <span
                    class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class="shadow-md m-3">
        <a target="_blank" href="">
            <p class="px-3"><b> ASCAME (Akdeniz Ticaret ve Sanayi Odaları Birliği): Web sitesi için tıklayınız.</b><span
                    class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
</div>
