<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-5 container">
        <div id="aa" class="row shadow-lg m-3">
            <a href="">
                <p><span style="height: 100%;" class="material-symbols-outlined">
                        file_download
                    </span>
                    <b>
                        Komite Toplantı Takvimi (1-5 Ağustos 2022)</b>
                </p>
            </a>
        </div>
        <div id="aa" class="row shadow-lg m-3">
            <a href="https://api.izto.org.tr/storage/Documents/original/S0y0IQLVRRzCNcUB.pdf">
                <p><span style="height: 100%;" class="material-symbols-outlined">
                        file_download
                    </span>
                    <b>
                        Komite Toplantı Takvimi (25-29 Temmuz 2022)</b>
                </p>
            </a>
        </div>
    </div>