<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-4 container ">
        Değerli Üyemiz,<br><br>Günümüzde dünyayı görünmez ağlarla saran bilgi otoyolları işimizi ve hayatımızı hiç
        olmadığı kadar derinden etkiliyor. <br><br>Bilgi çağını yakından takip eden Odamız üyelerimize çok daha hızlı ve
        dolaysız olarak ulaşmayı, onların sorunlarını anında tespit edip çözüm önerilerini üretmeyi ve üyelerimize aynı
        hızda geri dönmeyi hedefliyor. <br><br>Bu stratejik amacımıza ulaşmak için Meslek Komiteleri İletişim Formu
        hizmetimiz önemli bir fonksiyon icra etmektedir; <br><br>Meslek Komiteleri İletişim Formu: <br><br>
        <li>Meslek Komitenize anında ulaşmak,</li>
        <li>Mesleki ve sektörel sorunlarınızı sektör temsilcilerinize iletmek,</li>
        <li>Her türlü yorumlarınızı, mesleki sorunlarınızı, çözüm önerilerinizi, görüş ve projelerinizi iletmek,</li>
        <li>Daha katılımcı bir Oda-Üye bütünleşmesi</li><br>için aşağıdaki formu doldurabilirsiniz. <br><br>NOT: Lütfen
        Meslek Komiteleri İletişim Formuna sadece mesleki ve sektörel konulara ilişkin sorun ve taleplerinizi yazınız.
        Bunun dışındaki konulara ilişkin görüş ve önerilerinizi info@izto.org.tr adresine yazabilirsiniz. İş başvuruları
        meslek komiteleri iletişim formundan yapılmamakta, yapılan başvurulara da yanıt verilmemektedir. Bu nedenle, iş
        başvurularını <a id="textLink" href="http://ekariyer.izto.org.tr/izto-is-basvurulari">bu linkten</a>
        yapabilirsiniz. Odamız kayıtlarındaki üye iletişim bilgilerini güncellemek istiyorsanız, <a id="textLink"
            href="https://api.izto.org.tr/storage/EditorUpload/original/ZarmIvCoZIhCpOcQ.doc">bu linkte</a> yer alan
        formu doldurmak ve 498 46 92 nolu faksa göndermek suretiyle gerçekleştirebilirsiniz. <br><br><b>MESLEK
            KOMİTELERİ İLETİŞİM FORMU</b>
        <div class="seperator">
            <div></div>
        </div><br><b>1 - Adınız</b><br><input id="textA" type="text"><br><br><b>2 - Soyadınız</b><br><input id="textA"
            type="text"><br><br><b>3 - E-posta</b><br><input id="textA" type="text"><br><br><b>4 - Telefon</b><br><input
            id="textA" type="text"><br><br><b>5 - Faks</b><br><input id="textA" type="text"><br><br><b>6 -
            Komiteniz</b><br><input id="textA" type="text"><br><br><b>7 - Cevap Şekli</b><br><input id="textA"
            type="text"><br><br><b>8 - Soru, Öneri, Görüş ve Talepleriniz</b><br><input id="textA" type="text"><br><br>
            <input type="checkbox">Kişisel Verileri Koruma Kanunu Bilgilendirmesini Kabul Ediyorum.
            <br><br>
            <button class="btn btn-info w-100">Gonder</button>
    </div>
