<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-5 container">
        <a id="textLink" href="" target="_blank">ONLINE ÜYE BİLGİ
            GÜNCELLEME İÇİN
            TIKLAYINIZ</a><br><br>Değerli Üyemiz,<br><br>Online
        bilgi güncelleme ile sistemimizde kayıtlı<br><br>
        <li>yetkili cep telefonu,</li>
        <li>ortak cep telefonu,</li>
        <li>sabit telefon,</li>
        <li>faks,</li>
        <li>e-mail adresi,</li>
        <li>web adresi,</li>
        <li>muhasebe telefonu,</li>
        <li>muhasebe e-mail adresi, </li><br><br>bilgilerinizi online olarak anında güncelleyebilirsiniz.
        <br><br><i>Adres değişikliği konusu tescile tabi bir değişiklik olması nedeniyle, firma adresinizin (değişti
            ise) Ticaret Sicili Müdürlüğü’nde tescil yolu ile değiştirilmesi gerekmektedir.</i><br><br>Gerektiğinde,
        konu ile ilgili soru veya sorunlarınız için 0.232.498 42 58 nolu telefon numarasından Oda Sicil Müdürlüğümüz ile
        irtibat kurulabilirsiniz. <br><br>Saygılarımızla,<br><br><b>İzmir Ticaret Odası</b>
        <div class="seperator">
            <div></div>
        </div>
    </div>
