<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <div id="aa" class="row shadow-lg m-3">
        <a href=""> <!-- https://api.izto.org.tr/storage/Documents/original/Q8Hakv4MI4w24r61.pdf -->
            <p> <b>Avrupa Birliği Emisyon Ticaret Sistemi- Ocak 2022</b><span style="height: 100%;" class="material-symbols-outlined">
                download
            </span></p>
        </a>
    </div>
    <div id="aa" class="row shadow-lg m-3">
      <!--https://api.izto.org.tr/storage/Documents/original/LvP6tfmeGtDRe7hS.pdf-->
        <a href="">
            <p> <b>
                Evde Bakım Sektöründe Düşük Beceri ve Nitelikli Yetişkinlerin İstihdamının Güçlendirilmesi Projesi -Aralık 2021</b><span style="height: 100%;" class="material-symbols-outlined">
                download
            </span></p>
        </a>
    </div>
  <!--https://api.izto.org.tr/storage/Documents/original/30cdhfzq8DN7VIA0.pdf-->
    <div id="aa" class="row shadow-lg m-3">
        <a href="">
            <p> <b>
                2020 Yılı 3. ve 4. Çeyrek AB Ekonomisi ve Büyüme Öngörüleri</b><span style="height: 100%;" class="material-symbols-outlined">
                download
            </span></p>
        </a>
    </div>
    <div id="aa" class="row shadow-lg m-3">
      <!--https://api.izto.org.tr/storage/Documents/original/aVCbeKmBhHEg5lmz.pdf-->
        <a href="">
            <p> <b>
                Döngüsel Ekonomi Kavramı ve Avrupa Birliği Döngüsel Ekonomi Yeni Eylem Planı-Mayıs 2021</b><span style="height: 100%;" class="material-symbols-outlined">
                download
            </span></p>
        </a>
    </div>
    <div id="aa" class="row shadow-lg m-3">
      <!--https://api.izto.org.tr/storage/Documents/original/kIZumSwB5KQZmpXH.pdf-->
        <a href="">
            <p> <b>
                AB 2030 Dijital Pusulası - Nisan 2021</b><span style="height: 100%;" class="material-symbols-outlined">
                download
            </span></p>
        </a>
    </div>
    <div id="aa" class="row shadow-lg m-3">
      <!--https://api.izto.org.tr/storage/Documents/original/XqMKcb6iZrvhi22m.pdf-->
        <a href="">
            <p> <b>
                Avrupa Yeşil Mutabakatı –Mart 2021</b><span style="height: 100%;" class="material-symbols-outlined">
                download
            </span></p>
        </a>
    </div>
</div>
