<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-4 ">
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>Worldfood İstanbul 2022 30.Uluslararası Gıda Ürünleri ve Teknolojiler...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>04/08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>HYVE Fuarcılık A.Ş. tarafından 1-4 Eylül 2022 tarihleri arasında İstanbul Tüyap
                Fuar ve Kongre Merkezi’nde “Worldfood İstanbul 2022 30.Uluslararası Gıda Ürünleri ve Teknolojileri
                Fuarı” düzenlenecektir.Söz konusu fuara yönelik <br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>
                            Livestock & Agri Expo 2022...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>27.07/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Sayın Üyemiz,Hindistan Ankara Büyükelçiliği’nden Odamıza iletilen yazıda, 28 – 30
                Ekim 2022 tarihleri arasında India Expo Mart & Centre, Greater Noida, Delhi- NCR Hindistan’da Livestock
                & Agri Expo 2022 Fuarı düzenleneceği bildirilmiştir.Fuara ilişkin broşür ekte yer almaktadır....<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="my-2">
            <div class="row anno">
                <img class="img-fluid" src="https://syconx.s3.eu-central-1.amazonaws.com/logo/announcement_photo.png"
                    alt="">
                <div class="mx-3">
                    <p><b>5. InnoRail India 2022 Fuarı...</b></p>
                    <div class="newSeperator mx-2"></div>
                    <p>02.08/2022</p>
                </div>
            </div>
            <div class="row">
                Sayın Üyemiz, <br><br>Hindistan Ankara Büyükelçiliği’nden Odamıza iletilen yazıda, 17 – 19 Kasım 2022
                tarihleri arasında RDSO Stadium ground, Lucknow, Hindistan’da 5. InnoRail Fuarı düzenleneceği
                bildirilmiştir.Fuara ilişkin broşür ekte yer almaktadır.Bilgilerine sunarız.Saygıl...<br>
                <a href="">Devamını Oku</a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <a  class="pageBtn">
                <p>1</p>
            </a>
            <a class="pageBtn">2</a>
        </div>
    </div>
