<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <b>KATILIM ÖNCESİ YARDIM ARACI (IPA) KAPSAMINDA “TÜRK MALI BELGESİ”</b><br><br>Türkiye Cumhuriyeti Hükümeti ile
    Avrupa Toplulukları Komisyonu arasında Katılım Öncesi Mali Yardım Aracı(IPA) ile Temin Edilen Yardımın Uygulanması
    Çerçevesinde Türkiye Cumhuriyetine sağlanan Avrupa Topluluğu Mali Yardımlarıyla İlgili İşbirliği Kuralları Çerçeve
    Anlaşması kapsamında malın menşeinin sertifikalandırılması öngörülmüştür <br><br>IPA Projeleri ile ilgili ihale
    sözleşmeleri kapsamında satın alınan malın “tercihsiz menşe kurallarına” göre Türk menşeli veya Türk menşei kazanmış
    olduğunu belgelemek üzere; Bakanlıkça ihtiyaçları karşılamadığı değerlendirilen “Yerli Malı Belgesi”nin yerine yeni
    bir belgenin tasarımını hazırlanması ve belgenin tanzim ve onayına ilişki usul ve esasların belirlenmesine karar
    verilmiş ve Birliğimizce “Katılım Öncesi Yardım Aracı(IPA) Kapsamında Türkiye Odalar ve Borsalar Birliği tarafından
    bastırılan Türk Malı Belgesi’nin tanzim ve Onayına İlişkin Usul ve Esaslar” ile “ Türk Malı Belgesi” hazırlanmıştır.
    <br><br>IPA Fonları ihaleleri için kullanılan Odalarca düzenlenen Yerli Malı Belgesi yerine Türk Malı Belgesi
    kullanılması uygulamasının başlatılması için Birliğimizce bir geçiş süreci planlanmıştır. <br><br>Buna göre;<br><br>
    <li>Birliğimiz tarafından bastırılan Türk Malı Belgesi, 01.11.2012 Perşembe günü itibariyle kullanılmaya
        başlanacaktır.</li>
    <li>Odalarımız tarafından, 01.11.2012 tarihinden 01.05.2013 tarihine kadar Yerli Malı Belgesi de kullanılmaya devam
        edilebilecektir.</li>
    <li>01.11.2012 tarihinden itibaren, yürürlükteki Yerli Malı Belgesinin onaylanması sırasında (Ek2) de verilen
        Katılım Öncesi Yardım Aracı(IPA) Kapsamında Türkiye Odalar ve Borsalar Birliği tarafından bastırılan Türk Malı
        Belgesi’nin tanzim ve Onayına İlişkin Usul ve Esaslar” ın belge onayı ile ilgili 9 unu maddesinin 8 inci
        fıkrasını ilk beş paragrafı ile 9 uncu fıkrasının ikinci, üçüncü ve dördüncü paragraflarında yer alan onay
        esnasında ibraz edilebilecek belgelerin belirtildiği hükümler uygulanacaktır. </li>
    <li>01.05.2013 tarihinden itibaren IPA Fonları ihaleleri için Yerli Malı Belgesi kullanılmayacak, sadece Türk Malı
        Belgesi kullanılacaktır.Bu tarihten sonra Yerli Malı Belgesi ibraz edilse dahi, ihaleyi açan Kurum tarafından
        kabul edilmeyecektir. </li>
    <li>IPA programları kapsamında Odalar sadece satışını yapmış oldukları belgeleri onaylamaya yetkilidir.</li>
    <br><br>Birliğimiz tarafından, Türk Malı Belgesi’nin firmalara satış ve onay bedeli, 250,00-TL olarak
    belirlenmiştir. <br><br>Türk Malı Belgesi, IPA programları kapsamındaki sözleşmenin yüklenici firması tarafından
    satın alınacaktır. Belge satışından Odamıza üyelik şartı aranmayacaktır. <br><br>Odamız tarafından belgenin tanzimi
    ile ilgili olarak istenecek belgeler: <br><br>
    <li>IPA Programı sözleşmesinin bir sureti</li>
    <li>Oda üyesi olmayan firmaların son 3(üç) ay içerisinde bağlı bulunduğu Oda tarafından onaylı faaliyet belgesi.
    </li>
    <li> IPA Sözleşmesinde yer alan mal veya malzemelerin GTİP numaraları.</li>
    <li>Tümüyle Türkiye Gümrük Bölgesinde elde edilmiş veya üretilmiş eşya için; söz konusu eşyanın teminine ilişkin
        müstahsil makbuzu, borsa tescil beyannamesi, maden ruhsatı, alış faturaları vb.</li>
    <li>Menşeli olmayan girdilerin kullanılması suretiyle üretimi gerçekleştirilen eşya için ithalat beyannamesi, alış
        faturası vb.</li>
    <li>Üretici firmalara ait, düzenleme tarihi üç yılı geçmeyen kapasite raporları(Oda üyesi olmayan firmalar için son
        1 ay içerisinde onaylanmış “aslı gibidir” onaylı sureti)</li>
    <li>Yüklenici ve üretici firma Gümrük Yönetmeliği’nin 33 üncü ve 42 inci maddelerindeki hükümler çerçevesinde Türk
        menşeli olduğunu kanıtlayan her türlü bilgi ve belgeleri temin etmekle yükümlüdür.</li><br><br>Yukarıdaki
    belgelerden bir veya birkaçı yada varsa gerekli görülen başka belgeler, Yüklenici firma tarafından sunulacağı gibi,
    olay bazında yapılacak değerlendirmeye göre ilgili Oda tarafından talep edilebilecektir. <br><br>IPA Fonlarından
    yararlanmak isteyenlerin Avrupa Birliği Bakanlığı ile irtibata geçmeleri gerekmektedir.(Telefon: 0312 218 14 94)
    <br><br><a id="textLink" href="https://api.izto.org.tr/storage/EditorUpload/original/W9UFFyuEpgtXTRuC.doc">Katılım
        Öncesi Yardım Aracı (IPA) Kapsamında Türkiye Odalar ve Borsalar Birliği Tarafından Bastırılan Türk Malı
        Belgesi’nin Tanzim ve Onayına İlişkin Usul ve Esaslar (01.02.2013)</a>
    <div class="seperator">
        <div></div>
    </div>
    <div class="w-100 d-flex social-share justify-content-end align-items-center py-2">
        <div class="share-text p-2">
            PAYLAŞ
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank">
                <span tabindex="0" data-link="#share-twitter"
                    class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-twitter"></i>
                </span>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.izto.org.tr%2F&amp;src=sdkpreparse">
                <span tabindex="0" data-link="#share-facebook"
                    class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-facebook"></i>
                </span>
            </a>
            <a href="whatsapp://send?text">
                <span tabindex="0" data-link="#share-whatsapp"
                    class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-whatsapp"></i>
                </span>
            </a>
            <span tabindex="0" data-link="#share-linkedin"
                class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-linkedin"></i></span> <span
                tabindex="0" data-link="#share-pinterest"
                class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-pinterest "></i></span>
            <span tabindex="0" data-link="#share-reddit" class="d-flex justify-content-center align-items-center p-2"><i
                    class="bi bi-reddit"></i></span>
        </div>
    </div>

</div>