<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-5 container">
        <table class="container">
            <tr class="row">
                <td class="col-2">
                    NO
                </td>
                <td class="col-10">
                    TARİH / KONU
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    1
                </td>
                <td class="col-10">
                    10 Ocak Gazeteciler Günü
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    2
                </td>
                <td class="col-10">
                    13 Ocak 2012 KKTC 1. CB Rauf Denktaş Vefa
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    3
                </td>
                <td class="col-10">
                    Yarı Yıl Tatili
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    4
                </td>
                <td class="col-10">
                    26 Ocak Dünya Gümrük Günü
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    5
                </td>
                <td class="col-10">
                    9 Şubat Dünya Sigarayı Bırakma Günü
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    6
                </td>
                <td class="col-10">
                    14 Şubat Sevgililer Günü
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    7
                </td>
                <td class="col-10">
                    27 Şubat Regaib Kandili
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    8
                </td>
                <td class="col-10">
                    8 Mart Dünya Kadınlar Günü
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    5
                </td>
                <td class="col-10">
                    9 Şubat Dünya Sigarayı Bırakma Günü
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    9
                </td>
                <td class="col-10">
                    12 Mart İstiklal Marşı kabulu ve Mehmet Akif ERSOY'u anma günü
                </td>
            </tr>
            <tr class="row">
                <td class="col-2">
                    10
                </td>
                <td class="col-10">
                    14 Mart Tıp Bayram
                </td>
            </tr>
        </table>
        <br><br>
        <div class="seperator">
            <div></div>
        </div>
    </div>
