<ng-container *ngIf="subSection.includes('Alternatif Çözüm Yolları')">
    <div class="py-5">
        <b>ARABULUCULUK</b><br><br>Her geçen gün alternatif çözüm yöntemi olan arabuluculuğun faaliyet alanının
        genişlemesinden ötürü hukuk sistemimizde son derece önemli hale gelmiştir. Arabuluculuk İhtiyari arabuluculuğun
        yanında, dava şartı olan arabuluculuk, İş Hukukundan doğan davalardan sonra, 1. Ocak 2019 tarihi itibari ile
        Ticaret Hukukundan doğan uyuşmazlıklara da uygulanmaya başlanmıştır. <br><br><b>Arabuluculuk
            Nedir?</b><br><br>Tarafların üzerinde serbestçe tasarruf edebilecekleri, iş ve işlemlerden doğan özel hukuk
        uyuşmazlıklarının, çözülmesi amacıyla, uzmanlık eğitimi almış olan tarafsız ve bağımsız bir üçüncü kişinin
        katılımıyla yürütülen uyuşmazlık çözüm yöntemidir. <br><br>Uyuşmazlıklarda tarafsız üçüncü kişi olan arabulucu;
        sistematik teknikler uygulayarak, görüşmek ve müzakerelerde bulunmak amacıyla tarafları bir araya getirerek
        onların birbirlerini anlamalarını ve bu suretle çözümlerini kendilerinin üretmesini ve aralarında iletişim
        sürecinin kurulmasını sağlamaya çalışmaktadır. <br><br>Arabuluculuk ihtiyari arabuluculuk ve zorunlu
        arabuluculuk olarak ikiye ayrılır. <br><br><b>İhtiyari Arabuluculuk Nedir?</b><br><br>Bir özel hukuk
        uyuşmazlığının çözüme kavuşturulması için, tarafların dava açılmadan önce ya da dava sırasında “kendi isteği”
        ile arabulucuya başvurmasıdır. Bir başka ifade ileihtiyari arabuluculuk, tarafların bir arabulucuya gitme
        zorunluluğu olmadığı halde uyuşmazlığın çözümü için dava açmadan önce arabulucuya başvurmayı tercih etmesidir.
        <br><br><b>İhtiyari Arabuluculuk: Hangi Uyuşmazlık ve Davalar İçin Arabuluculuğa
            Başvurulabilir?</b><br><br>Tarafların üzerinde serbestçe tasarruf edebilecekleri tüm özel hukuk
        uyuşmazlıkları, işleri ve davaları arabuluculuk yasası uygulaması ile çözüme kavuşturulabilir (Arabuluculuk
        Kanunu md.1/2). <br><br>Tarafların üzerinde serbestçe tasarruf edebilecekleri uyuşmazlıklar, genel olarak kamu
        düzenini ilgilendirmeyen, taraflar dışındaki kişilerin, özellikle kamu kurumlarının haklarına zarar vermeyen
        uyuşmazlıklardır. <br><br><b>Hangi Uyuşmazlık ve Davalar İçin Arabuluculuğa Başvurulamaz?</b><br><br>Tarafların
        üzerinde serbestçe tasarruf edemeyecekleri hukuki sorunlara ilişkin uyuşmazlıklar arabuluculuk yoluyla
        çözülemez. Tarafların üzerinde tasarruf edemeyeceği uyuşmazlıklar çoğunlukla kamu hukukundan kaynaklanan
        uyuşmazlıklardır. Kamu hukukunun yanı sıra özel hukuk alanlarına ilişkin bazı hukuki problemler de arabuluculuk
        yoluyla çözülemez. <br><br>Önemle belirtilmeli ki, Ceza Muhakemesi Kanunu’na göre uzlaştırma kapsamında olan bir
        suç ile bağlantılı uyuşmazlıklar da arabuluculuk kanunu dışındadır. Bu uyuşmazlıklar için Ceza Muhakemesi Kanunu
        hükümlerine göre uzlaşma yoluna gidilerek tüm uyuşmazlık savcılıklara bağlı uzlaştırma büroları tarafından
        çözülmelidir. <br><br><b>Zorunlu Arabuluculuk Nedir?</b><br><br>Bir diğer adı da dava şartı olan arabuluculuk,
        dava açılmadan önce, arabulucuya başvuruyu zorunlu hale getirmiştir. Bilindiği üzere İş hukukundan kaynaklanan
        ve Ticaret hukukundan kaynaklanan uyuşmazlıklar için zorunlu arabuluculuk uygulanır. Arabulucuya başvurulmadan
        açılan bu davalar Mahkeme tarafından reddedilmektedir. <br><br><b>Arabuluculuğun ilkeleri
            nelerdir?</b><br><br>Arabuluculuğun tüm dünyada kabul görmüş temel ilkeleri vardır. Bu ilkeler
        arabuluculuğun ortak dilini oluşturur. Bunlardan ilki iradilik ilkesidir. İradilik tarafların arabuluculuğa
        başvurmada, süreci yürütmede ve yürütülen süreci sonlandırmada her an özgür olduklarını ifade etmektedir. Kimse
        bir arabuluculuk sürecine başvurmaya, sürdürmeye ve anlaşmaya/anlaşmamaya zorlanamaz. Tarafların her aşamada
        süreçten çekilme hakkı vardır. Arabuluculuğun ilkelerinden birisi de eşitliktir. Arabuluculuğa katılan taraflar,
        ekonomik durumlarına, sosyal statülerine bakılmaksızın eşit haklara sahiptirler. Arabulucu da süreç boyunca
        taraflar arasındaki eşitliği gözetmekle yükümlüdür. Arabuluculuğun en önemli ilkelerinden birisi de gizliliktir.
        Arabulucu, taraflar ve sürece katılan diğer kişiler, arabuluculuk boyunca görüşülenleri gizli tutmakla
        yükümlüdür. Ancak taraflar karşılıklı olarak anlaştıkları konularda gizliliği kaldırabilirler. Diğer bir ilke de
        tarafsızlıktır. Arabulucu süreç boyunca tarafsız olmak zorundadır. Arabulucu bir tarafı tutamaz, süreci bir
        tarafın lehine yönetemez, aksi halde arabulucunun arabuluculuk faaliyetinin ifası sırasında hukuka aykırı
        davranışı sonucunda cezai ve hukuki sorumluluğu doğacaktır. <br><br><b>TAHKİM NEDİR?</b><br><br>Tahkimi
        düzenleyen mevzuattan yola çıkarak bir tahkim tanımı yapılacak olursa; tahkim, kanunun tahkim yoluyla
        çözümlenmesine izin verdiği konular kapsamında olmak koşuluyla, taraflar arasında doğmuş veya doğabilecek
        uyuşmazlıkların devlet yargısında çözümlenmesi yerine, hakemler aracılığı ile çözümlenmesi konusunda tarafların
        anlaşmaları şeklinde tanımlanabilir. <br><br>Günümüzde uluslararası uyuşmazlıkların çözümünde en çok kullanılan
        yöntem tahkimdir. <br><br>Kural olarak kişiler arasında meydana gelen uyuşmazlıklar mahkemeler aracılığı ile
        çözüme bağlanır; ancak maddi hukukta tanınan irade serbestisi prensibinin usul hukukunda uygulanmasının sonucu
        olarak, aralarında uyuşmazlık bulunan taraflar yapacakları anlaşma ile bu uyuşmazlık hakkında karar verme
        yetkisini özel kişilere devredebilirler. <br><br>Tahkim, kanunun tahkim yolu ile çözümlenmesine izin verdiği
        konuların kapsamında kalması koşuluyla, taraflar arasında doğmuş ya da doğabilecek uyuşmazlıkların devlet
        yargısında çözümlenmesi yerine hakem adı verilen kimseler aracılığı ile çözümlenmesi hususunda tarafların
        anlaşmasıdır. <br><br><b>Tahkim Sözleşmesi ve Tahkim şartı</b><br><br>Tahkim anlaşması, uyuşmazlığın tahkim
        yoluyla çözümleneceği hususundaki taraf iradesini beyan eden bir sözleşme ile yapılabilmektedir. Tahkim
        sözleşmesi, uyuşmazlığın tarafları arasındaki anlaşmayı ifade ettiğinden, hakem sözleşmesinden farklılık arz
        etmektedir. Nitekim hakem sözleşmesi, taraflarla hakemler arasında hakemlik ücreti ve diğer koşullara ilişkin
        olarak yapılan sözleşmeyi ifade etmektedir. <br><br><b>Tahkim İradesi</b><br><br>Uyuşmazlıkların tahkim yolu ile
        çözümlenmesine ilişkin irade açıklaması, tahkim sözleşmesinin kurucu unsurlarından bir tanesidir. Bu irade
        açıklamasının geçerliliğinden bahsedebilmek için kesin bir şekilde, yazılı olarak ve herhangi bir karışıklığa
        yer vermeyecek açıklıkta yapılması gerekmektedir. <br><br>Geçerli bir tahkim şartı veya sözleşmesinden
        bahsedebilmek için, hangi uyuşmazlıkların tahkim yolu ile çözüleceğine dair taraf iradelerinin de anlaşılabilir
        olması gerekmektedir. Ancak belirli bir uyuşmazlık hakkında tahkim sözleşmesi yapılabilmektedir.
        <br><br><b>Tahkim Anlaşmasının İçeriği</b><br><br>Milletlerarası Tahkim Kanunu, tahkim anlaşmasının geçerli
        olması için herhangi bir unsurun bulunmasını şart koşmamaktadır. Tarafların tahkime yönelik irade açıklamaları
        su götürmez şekilde açık olduğu sürece, içerik itibariyle geçerli bir tahkim anlaşmasının varlığından söz
        edilebilir. <br><br><b>Tahkimin faydaları Nelerdir?</b><br><br>Tahkim mekanizmasının mahkemelere göre sahip
        olduğu avantajlardan bahsetmek gerekir ise; mahkemelerinin yükünün azaltılması, ticari ilişki içindeki taraflar
        bakımından daha istikrarlı ve güvenli bir çözüme ulaşma imkanı sağlaması, uyuşmazlığın konuyu iyi bilen uzman
        kişilerce çözüme ulaştırılması, mahkemelerden daha kısa sürede sonuç alınması, mahkemelere oranla ticari
        hususların daha az kamuya açık olması, tahkim anlaşmasında düzenleme yoluyla tarafların yargılama usulünü kendi
        istek ve ihtiyaçlarına göre düzenleyebilmesinin mümkün olması, tarafların istedikleri takdirde uyuşmazlığın
        maddi hukuk dışında hak ve nefaset kurallarına göre çözümlenmesine karar verilmesine imkan vermesi ve son olarak
        da temyiz nedenlerinin mahkemelere göre daha sınırlı olması olarak listelenebilir.
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Arabuluculuk Kuralları')">
    <div class="py-5">
        <p>TOBB UYUM ARABULUCULUK VE UYUŞMAZLIK ÇÖZÜM MERKEZİ ARABULUCULUK, ETİK VE MED-ARB KURALLARI</p>
        <p>MADDE 1 AMAÇ</p>
        <p>TOBB UYUM Arabuluculuk ve Uyuşmazlık Çözüm Merkezi Arabuluculuk, Etik ve Med-Arb Kurallarının
            (TOBB UYUM Arabuluculuk Kuralları) belirlenmesinin amacı, ulusal ve uluslararası alanda
            arabuluculuğa konu olabilecek hukuk uyuşmazlıklarının çözümünde TOBB UYUM, Arabulucular ve
            sürece katılan tüm paydaşlar tarafından takip edilecek usul ve esasları belirlemektir. </p>
        <p>MADDE 2<br>KURALLARIN UYGULANMASI</p>
        <ol>
            <li>TOBB UYUM Arabuluculuk Kuralları taraflar aksini kararlaştırmamışsa TOBB UYUM’a başvuru
                tarihinden itibaren kabul edilir ve uygulanır. </li>
            <li>TOBB UYUM Arabuluculuk Kuralları ihtiyari ve dava şartı arabuluculuk sürecinde de
                yürürlükte olan Arabuluculuk Kanununa ve Bakanlık tarafından belirlenen kurallara aykırı
                olmamak kaydıyla kabul edilir ve uygulanır. </li>
        </ol>
        <p>MADDE 3<br>ARABULUCULUK SÜRECİNİN BAŞLATILMASI</p>
        <ol>
            <li>TOBB UYUM arabuluculuk süreci taraflardan birinin TOBB UYUM’a yazılı, web sitesi, e-posta, faks
                ya da TOBB UYUM’un fiziki mekânında şahsen başvurduktan sonra diğer taraf ya da tarafların
                arabuluculuk sürecinin devamı konusunda anlaşmaları ya da tarafların birlikte başvurmaları
                ile başlar. </li>
            <li>Başvuru formunda, başvurucu/başvurucular uyuşmazlığın taraflarını ve/veya temsilcilerini,
                tüm iletişim bilgilerini ve yetki belgelerini sunarak, başvurucu/başvurucular uyuşmazlığın
                konusunu ve içeriğini tanımlarlar. </li>
            <li>Başvuru yabancı dilde olacak ise resmî kurumlardan alınmış tercümesinin aslını taraf(lar)
                TOBB UYUM’un sekretaryasına sunarlar. Başvuru bilgi ve belgeleri eksiksiz tamamlana kadar TOBB
                UYUM arabuluculuk sürecini başlatmaz.</li>
            <li>4. TOBB UYUM’a taraflardan birinin başvurması halinde TOBB UYUM sekretaryası diğer tarafı
                bilgilendirir ve sürecin nasıl işleyeceğini anlatır. Belirlenen gün içerisinde, diğer
                taraf arabuluculuk sürecini ve Arabulucunun seçilmesi/atanması konusunda mutabık ise TOBB UYUM
                sekretaryası arabuluculuk sürecini başlatır, aksi halde süreç sonlandırılır. </li>
        </ol>
        <p>MADDE 4<br>ARABULUCUNUN ATANMASI</p>
        <ol>
            <li>Taraflar, ortak kararları doğrultusunda TOBB UYUM Arabulucu Listesi’nden bir arabulucu
                seçebilirler. </li>
            <li>Taraflarca ortak aday gösterilmemesi halinde, TOBB UYUM, TOBB UYUM Arabulucu Listesi’nden bir
                Arabulucu atayacaktır. </li>
            <li>Taraflar, ortak kararları doğrultusunda yazılı olarak TOBB UYUM Arabulucu Listesi dışından bir
                Arabulucu atanmasını talep edebilir. TOBB UYUM Arabulucu Listesi dışından atanan Arabulucu TOBB
                UYUM Arabuluculuk Kurallarını kabul eder ve bu doğrultuda çalışır.</li>
            <li>Tarafların Arabulucuyu seçmesi ve/veya TOBB UYUM’un bir Arabulucu ataması; Arabulucunun
                Uygunluk ve Tarafsızlık ve Bağımsızlık Beyanını imzalamasından sonra gerçekleşecektir.
                Arabulucu, süreç öncesinde bağımsızlığı ve tarafsızlığı konusunda şüphe uyandırabilecek
                herhangi bir durumu açıklamalıdır. </li>
            <li>TOBB UYUM, Arabulucunun atanması konusunda uzmanlık, yeterlilik, tecrübe ve uygunluk gibi
                kriterleri göz önünde bulundurur. </li>
            <li>Taraflar, Arabulucu seçiminden/atanmasından sonra sürecin herhangi bir noktasında atanan
                Arabulucu ile devam etmeme kararı alabilir ve ortak kararla başka bir arabulucu seçebilir veya
                TOBB UYUM’dan başka bir Arabulucu atanmasını talep edebilirler. Taraflardan birinin veya
                ikisinin sürece yeni bir Arabulucu atama talebi TOBB UYUM sekretaryasına yazılı olarak
                bildirilir. TOBB UYUM yazılı talebin alınmasından 5 iş günü içerisinde 4. Madde 5. Fıkra
                gereğince yeni bir Arabulucu atar. </li>
            <li>Uyuşmazlığın niteliğine göre TOBB UYUM birden fazla uzman Arabulucu atanmasını taraflara
                önerebilir. </li>
        </ol>
        <p>MADDE 5<br>ARABULUCUNUN TARAFSIZLIĞI VE BAĞIMSIZLIĞI</p>
        <p>1. Arabulucu, sürecin her aşamasında tarafsız kalabileceğinden emin olmalıdır. Arabulucu, sürecin
            herhangi bir aşamasında tarafsız olamayacağı konusunda en ufak şüphesi olursa tarafları ve TOBB
            UYUM’u bilgilendirerek zaman geçirmeden arabuluculuk sürecinden feragat etmelidir. </p>
        <p>2.Atanacak/atanan Arabulucunun taraflardan biri ve/veya daha fazlasıyla daha önceden veya devam
            etmekte olan ticari, ekonomik, sosyal ve diğer ilişkisi bulunması durumlarını da TOBB UYUM’a
            bildirmekle yükümlüdür. </p>
        <p>Arabulucunun kaçınması gereken bazı unsurlar:</p>
        <p>a) Arabulucu, kendi siyasi, dinî ve sosyal görüşü ne olursa olsun, ön yargılı</p>
        <p>olmamalıdır. Aynı zamanda da tarafların kişisel özellikleri, geçmişleri, inançları, değerleri,
            arabuluculuktaki davranışları gibi konularda tarafsızlığı bozacak veya ön yargıyı öne çıkaracak
            davranışlardan ve söylemlerden uzak durmalıdır.</p>
        <p>b) Arabulucu, niyeti ne kadar iyi olursa olsun bir tarafla diğerinden daha fazla zaman geçirmek,
            sosyalleşmek ve hitap etme konularında taraf tutma veya ön yargı olarak yorumlanabilecek
            davranışların bilincinde olup süreci yönetmelidir.</p>
        <p>c) Müzakereler iyi bir şekilde ilerlerken son noktada taraflar Arabulucudan çözüm önerisi
            istediklerinde arabulucu ön yargı ve tarafsızlık olarak algılanabilecek yorumları önceden etüt
            etmeli ve muhtemel risklerin farkında olmalıdır.</p>
        <p>3.Taraflar, sürecin herhangi bir yerinde Arabulucunun tarafsızlığının bozulduğunu TOBB UYUM’a
            bildirip Arabulucunun değiştirilmesini talep edebilirler.</p>
        <p>4.Arabuluculuk süreci sonunda anlaşılamaması durumda tarafların tahkim yargılamasını seçtikleri
            durumda tarafsız bir Hakem ya da Hakem Kurulu seçmelerine olanak verilir ve tahkim sürecinin ve
            tahkim Hakeminin/Kurulunun seçimi konusunda yetkinin kendilerinde olduğu açıkça belirtilir.</p>
        <p>MADDE 6<br>ARABULUCUNUN YÜKÜMLÜLÜKLERİ</p>
        <ol>
            <li>&nbsp;Arabulucunun başlıca görevleri taraflar arasındaki, iletişimi kolaylaştırarak
                birbirlerini anlamalarını sağlamak, sorunların analizini yaparak; talepleri ve menfaatleri
                belirleyip tarafların en iyi çözümlerin detaylarını ve temellerini keşfetmelerine yardımcı
                olmaktır. Aynı zamanda Arabulucu, arabuluculukta tarafların anlaşamaması durumunda tarafların
                diğer alternatif uyuşmazlık çözüm tekniklerini kullanarak çözüme ulaşmalarını teşvik
                eder. Yargı yolunun da her zaman açık olduğunu belirtir.<br></li>
            <li>Arabulucu, tarafsızlık ve bağımsızlık kurallarına ve TOBB UYUM Arabuluculuk Kurallarına bağlı
                olarak arabuluculuk sürecini yönetmekle yükümlüdür. </li>
            <li>Arabulucu, arabuluculuk müzakerelerinde tarafların sürdürülebilir çözümler üretmelerini
                sağlarken taraflara karşı eşit, dürüst ve objektif bir şekilde davranmakla yükümlüdür.
            </li>
            <li>Arabulucu, yürürlükte olan Arabuluculuk Kanunu ve Yönetmeliğine aykırı bir tutum ya da
                davranış sergileyemez. </li>
            <li>Arabuluculuk, başlı başına dinamik ve esnek bir süreçtir. Arabulucu, tecrübesi ve bilgisi
                süreci etkin ve verimli yönetmesi konusunda herhangi bir iç veya dış etkenden etkilenmeden
                yönetmesi için teşvik edilir. </li>
            <li>Arabulucu, taraflara karar verme aşamasında dinlenmeleri, sağlıklı düşünmeleri ve
                gerçeklik testlerinin yapılması açısından eşit ve yeterli fırsat tanımakla yükümlüdür.
            </li>
            <li>Arabulucu, taraflara ve varsa vekillerine arabuluculuk sürecini tüm detaylarıyla açıklamakla
                yükümlüdür. Özellikle Arabulucu arabuluculuk süreci başlamadan hazırlık aşaması için
                görüşmelerin olacağı ve uyuşmazlığın analizi için gerekli bilgileri toplayacağını
                taraflara bildirmekle yükümlüdür. </li>
            <li>Arabulucu, arabuluculuk süreci sonunda TOBB UYUM’a gizlilik ilkesi çerçevesinde uyuşmazlık
                ile ilgili kapsamı sınırlı bilgileri rapor eder. Bu bilgiler:</li>
        </ol>
        <p>i. Uyuşmazlığın güncel tanımı,</p>
        <p>ii. Uyuşmazlık için harcanan süre,</p>
        <p>iii. Uyuşmazlığın müzakere edilmiş değeri,</p>
        <p>iiii.Uyuşmazlığın anlaşma ya da anlaşmama durumundan hangisi ile sonuçlandığı.</p>
        <p>MADDE 7<br>TARAFLARIN YÜKÜMLÜLÜKLERİ</p>
        <p>1. Taraflar, arabuluculuk sürecinin hazırlık aşamasından son tutanak aşamasına kadar ve
            arabuluculuk sürecinden sonra gizlilik hükümlerine uymakla yükümlüdür. </p>
        <p>2. Taraflar, TOBB UYUM’a, Arabulucuya ve sürece katılan herkese dürüst ve saygılı davranmakla
            yükümlüdür.</p>
        <p>3. Taraflar arabuluculuk ücret sözleşmesinde belirlenen arabuluculuk ücretlerini sözleşmede
            belirlenen süre içerisinde ödemekle yükümlüdür.</p>
        <p>4. Taraflar arabuluculuk süreci içerisinde TOBB UYUM ve Arabulucuya sürecin doğru işlemesi için
            gerekli bilgi ve belgeleri paylaşmakla yükümlüdür.</p>
        <p>MADDE 8<br>HAZIRLIK AŞAMASI</p>
        <ol>
            <li>Arabuluculuk sürecinin etkili ve verimli yürütülebilmesi açısından Arabulucunun yeterli
                bilgi ve tecrübeye sahip olması gerekir. Taraflarca sunulan herhangi bir belge, beyan ve her
                türlü bilginin arabuluculuk müzakerelerinden önce incelenip analiz edilmesi ve
                hazırlanılması Arabulucunun sorumluluğudur. </li>
            <li>Arabulucu, atanan dosyayı kabulünden sonra gecikmeksizin taraflarla görüşerek hazırlık
                aşamasına başlar. </li>
            <li>Hazırlık aşamasında müzakerelerin sürdürülebilir çözüme ulaşmasına yardımcı olması
                açısından Arabulucu uyuşmazlığın detaylı analizini yapar, uyuşmazlığın şemasını çıkararak
                bilgiler toplar ve planlamasını yapar. </li>
            <li>Arabulucu hazırlık aşamasında sürecin nasıl ve kimlerle ilerleyeceği konusunda taraflar ile
                çalışır ve nihai planı hazırlar. </li>
        </ol>
        <p>MADDE 9 MÜZAKERELER</p>
        <ol>
            <li>Arabulucu, açılış konuşması ile süreci detaylı bir şekilde açıklar ve gizlilik ilkesini
                eksiksiz anlatır.<br></li>
            <li>Arabulucu, tarafların işbirliği ile kendilerinin temeldeki çıkarlarına ve endişelerine
                ulaşabilmek ve sabit taleplerinden/pozisyonlarından kurtarabilmek için iletişim ve müzakere
                tekniklerini kullanır. </li>
            <li>Arabulucu, tarafların işbirliği ile birbirlerini anlamaları ve empati kurmaları içinde azami
                çaba gösterir.</li>
            <li>Arabulucu gerekli gördüğü zamanda süreç içerişine mekik diplomasisi (özel toplantı)
                gerçekleştirir ve/veya süreci tamamen bu şekilde görülebilir. </li>
            <li>5. Arabulucu, hazırlık aşamasından sürecin sonuçlanmasına kadar geçen sürede süreci kötü
                yönde etkileyecek her türlü aldatma, etik dışı yönlendirme, güç dengelerinin menfaatler
                açısından kötüye kullanılması, yanıltıcı beyan ve vb. durumları tecrübesi ve
                profesyonelliği ile gözlemler ve gerekli durumlarda müdahale eder.</li>
            <li>Arabulucu, taraflardan birinin fiziksel veya zihinsel olarak bir bozukluğun etkisi nedeniyle
                sürece sağlıklı karar alamayacağını algılarsa kendisi ikna olana kadar sürece devam
                etmemelidir. Bu durumda, Arabulucu, usulüne uygun olarak yetkilendirilmiş temsilcilerle
                sürece devam edebilir.</li>
            <li>Arabulucu, gerekli gördüğü durumlarda arabuluculuk sürecine uzman kişilerin gizlilik
                ilkesi çerçevesinde katılmasını önerebilir veya taraflar istemişler ise sürece dâhil
                edebilir.</li>
        </ol>
        <p>MADDE 10 ANLAŞMA</p>
        <ol>
            <li>Müzakereler sonucunda müzakere edilen konuların tamamında veya bir kısmında anlaşmaya
                varabilirler ya da hiç anlaşma olmaksızın süreci sonlandırabilirler. </li>
            <li>Arabulucu, tarafların tamamen veya kısmı anlaşması halinde müzakere edilmiş konuların detaylı
                bir şekilde belirtildiği ve taraflarında mutabık olduğu bir Anlaşma Belgesi hazırlanmasına
                yardımcı olur. Kısmi olarak anlaşma var ise Arabulucu taraflara anlaşamaya varılamayan konular
                için tekrar arabuluculuk sürecine girilmesini veya diğer alternatif uyuşmazlık çözümleri
                yollarını denemelerini önerebilir. </li>
            <li>Taraflar anlaşma belgelerini imzalamadan uzman kişilerden görüş alma hakkına sahiplerdir.
            </li>
        </ol>
        <p>MADDE 11<br>ARABULUCULUĞUN SONA ERMESİ</p>
        <p>Kurallar gereğince başlatılmış arabuluculuk süreci, aşağıdaki maddelerde belirtilenlerin
            gerçekleşmesi durumunda TOBB UYUM tarafından taraflara ve Arabulucuya yazılı olarak tebliğ
            edilmesi ile sona erecektir: </p>
        <p>a) Taraflardan birinin ya da hepsinin arabuluculuk sürecini sone erdirme konusunda son tutanağı
            imzalaması, </p>
        <p>b) Müzakereler sonucunda anlaşma olmaması durumunda,</p>
        <p>c) Arabulucunun kendi açısından arabuluculuk sürecine devam etmeyeceğini yazılı olarak</p>
        <p>bildirmesiyle,</p>
        <p>d) Arabulucu, taraflar arasındaki müzakerelerin mantıksız veya yasadışı bir sonuca doğru</p>
        <p>ilerlediğini görmesi durumunda,</p>
        <p>e) Kanun ve Yönetmelikle belirlenen yasal sürelerin aşılması.</p>
        <p>MADDE 12<br>MED – ARB’A GEÇİŞ VE UYGULAMA</p>
        <ol>
            <li>Tanım: Med – Arb, uyuşmazlık içerisinde olan tarafların ortak rızaları ile uyuşmazlıklarını
                arabuluculuk yöntemi ile çözülmesini denemeleri fakat arabuluculuk ile çözümlenmesi
                mümkün görünmüyor ise uyuşmazlıkların nihai karara seçilmiş/atanmış tahkim hakemi
                tarafından ulaştırılması için tahkim yargılamasını seçmeleri demektir. </li>
            <li>TOBB UYUM taraflara arabuluculuk sürecinin başında ve talep gelmesi halinde arabuluculuk
                süreci içerisinde Med – Arb konusunda detaylı bilgilendirme yapar. </li>
            <li>Taraflar arabuluculuk sürecinin en başında bilgilendirmeden sonra veya sürecin herhangi bir
                yerinde uyuşmazlıklarının Med – Arb yöntemi ile çözümlenmesine ortak rıza göstererek karar
                verebilirler. </li>
            <li>Med – Arb sürecine geçilebilmesi için uyuşmazlığın tahkim yargılamasına elverişli olması
                esastır. </li>
            <li>TOBB UYUM, TOBB Tahkim ve İstanbul Tahkim Merkezi (ISTAC) ile işbirliği içerisindedir.
                Dolayısı ile tarafların ortak rızaları ile Med – Arb için başvurmuş veya arabuluculuk süreci
                içerisinde tahkim yargılamasını seçen tarafların süreçleri uyuşmazlığın niteliğine göre
                TOBB Tahkim ve ISTAC’ta nihai olarak çözümlenir. </li>
            <li>Tahkime yönlendirilen tüm arabuluculuk dosyalarında TOBB Tahkim Kuralları ve/veya ISTAC Tahkim
                Kuralları geçerli olur. </li>
            <li>TOBB UYUM arabulucusu tarafların kararı ve TOBB Tahkim ve ISTAC Hakem Kriterlerine uyması
                durumunda Med – Arb Hakemi olarak ilgili Divan tarafından atanabilir. </li>
            <li>Arabuluculukta açıklanan bilgiler, arabuluculuk süreci için oluşturulan belgeler, çözüm
                önerileri tahkim yargılamasında delil olarak kullanılamaz.</li>
            <li>Tahkim yargılaması süresince sunulan bilgilerin veya belgelerin arabuluculuk sürecinde
                kullanıldığı ile ilgili bir şüphe ve/veya şikâyet var ise ilgili Tahkim Merkezi Hakem
                Kurulu süreci yönetir.</li>
            <li>Arabulucu, taraflar, hakem ve iki sürece katılan tüm paydaşlar Med – Arb sürecinde ve
                sonrasında gizlilik hükümlerine uymak zorundadır.</li>
        </ol>
        <p>MADDE 13 GİZLİLİK</p>
        <ol>
            <li>Arabuluculuk toplantıları başlamadan önce ve gerekirse arabuluculuk görüşmeleri sırasında
                Arabulucu taraflara arabuluculuk toplantıları sırasında yapılan tekliflerin, beyanların ve
                bilgilerin arabuluculuktan sonra tercih edilen diğer alternatif uyuşmazlık çözümleri
                yollarında veya mahkeme süreçlerinde açıklanamayacağını ve ifşa edilemeyeceğini açıklar.
            </li>
            <li>Yürürlükteki Arabuluculuk Kanunu ve Yönetmeliği gereğince arabuluculuk sürecine katılan
                ve katılım sağlayan herkes gizlilik hükümlerine uymak zorundadır. </li>
            <li>Gizlilik ancak tarafların aksini kararlaştırması ya da gerekli durumlarda herhangi bir Kanuna
                dayalı olarak kaldırılabilir.</li>
            <li>Aksi kararlaştırılmamışsa, yüz yüze veya çevrim içi (online) yapılacak arabuluculuk
                görüşmeleri kaydedilmeyecektir. </li>
        </ol>
        <p>MADDE 14<br>ÜCRET VE MASRAFLAR</p>
        <p>TOBB UYUM ve taraflarca aksi kararlaştırılmadıkça arabuluculuk süreci ücretlendirilmesinde tüm
            alanlar için T.C. Adalet Bakanlığı Arabuluculuk Ücret tarifesi geçerlidir. </p>
    </div>
    <div class="seperator">
        <div></div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Arabuluculuk Süreci Akış Şeması')">
    <div class="py-5">
        <div id="aa" class="col shadow-md m-3">
            <a href="https://api.izto.org.tr/storage/Documents/original/br3mpfU2iHGUevPh.pdf">
                <p><span style="height: 100%;" class="material-symbols-outlined">
                        file_download
                    </span>
                    <b>Arabuluculuk Süreci Akış Şeması
                    </b>
                </p>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Kolay Başvuru')">
    <div class="py-5">
        <div id="aa" class="col shadow-md my-3">
            <a href="https://www.tobbuyum.com.tr/kolay_basvuru.php" target="_blank">
                <p>
                    <b>Kolay Başvuru
                    </b><span style="height: 100%;" class="material-symbols-outlined">
                        open_in_new
                    </span>
                </p>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="subSection.includes('Arabuluculuk Sürecinin Temel Nitelikleri')">
    <div class="py-5">
        <div id="aa" class="col shadow-md my-3">
            <a href="#" (click)="subSection='Alternatif Çözüm Yolları'">
                <p>
                    <b>Alternatif Çözüm Yolları ve Tahkim
                    </b><span style="height: 100%;" class="material-symbols-outlined">
                        open_in_new
                    </span>
                </p>
            </a>
        </div>
        <div id="aa" class="col shadow-md my-3">
            <a href="#" target="_blank">
                <p>
                    <b>Arabuluculuk Kuralları
                    </b><span style="height: 100%;" class="material-symbols-outlined">
                        open_in_new
                    </span>
                </p>
            </a>
        </div>
        <div id="aa" class="col shadow-md my-3">
            <a href="#" target="_blank">
                <p>
                    <b>Arabulucu Listesi
                    </b><span style="height: 100%;" class="material-symbols-outlined">
                        open_in_new
                    </span>
                </p>
            </a>
        </div>
        <div id="aa" class="col shadow-md my-3">
            <a href="#" target="_blank">
                <p>
                    <b>Arabuluculuk Süreci Akış Şemas
                    </b><span style="height: 100%;" class="material-symbols-outlined">
                        open_in_new
                    </span>
                </p>
            </a>
        </div>
        <div id="aa" class="col shadow-md my-3">
            <a href="#" target="_blank">
                <p>
                    <b>Kolay Başvuru
                    </b><span style="height: 100%;" class="material-symbols-outlined">
                        open_in_new
                    </span>
                </p>
            </a>
        </div>
    </div>
</ng-container>