
  <div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
  <div class="py-4 ">
        <div class="row ">
            <div class="col py-2 wholeCard">
                <div id="cardTop">
                    <a id="transf" ><span class="material-symbols-outlined">
                            campaign
                        </span>
                        <p>Genel Duyurular</p>
                    </a>
                </div>
                <div id="cardBot"></div>
            </div>
            <div class="col py-2 wholeCard">
                <div id="cardTop">
                    <a  id="transf"  ><span class="material-symbols-outlined">
                            apartment
                        </span>
                        <p >Oda Duyurular</p>
                    </a>
                </div>
                <div id="cardBot"></div>
            </div>
        </div>
        <div class="row ">
            <div class="col py-2 wholeCard">
                <div id="cardTop">
                    <a id="transf" href=""><span class="material-symbols-outlined">
                            card_travel
                        </span>
                        <p>Fuar Duyuruları</p>
                    </a>
                </div>
                <div id="cardBot"></div>
            </div>
            <div class="col py-2 wholeCard">
                <div id="cardTop">
                    <a id="transf" href=""><span class="material-symbols-outlined">
                            currency_exchange
                        </span>
                        <p>Dış Ticaret Duyurular</p>
                    </a>
                </div>
                <div id="cardBot"></div>
            </div>
        </div>
        <div class="row ">
            <div class="col py-2 wholeCard">
                <div id="cardTop">
                    <a id="transf" href=""><span class="material-symbols-outlined">
                            newspaper
                        </span>
                        <p>Ticaret Sicil Duyuruları</p>
                    </a>
                </div>
                <div id="cardBot"></div>
            </div>
        </div>
    </div>
