<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
   <div style="margin-bottom: 5rem;" class="py-5 container">
        <div id="aa" class="col shadow-md my-3">
            <a routerLink="/menu/pc/iztotam/alternatif-cozum-yollari">
                <p>
                    <b>Alternatif Çözüm Yolları ve Tahkim
                    </b><span style="height: 100%;" class="material-symbols-outlined">
                        open_in_new
                    </span>
                </p>
            </a>
        </div>
        <div id="aa" class="col shadow-md my-3">
            <a routerLink="/menu/pc/iztotam/arabuluculuk-kurallari">
                <p>
                    <b>Arabuluculuk Kuralları
                    </b><span style="height: 100%;" class="material-symbols-outlined">
                        open_in_new
                    </span>
                </p>
            </a>
        </div>
        <div id="aa" class="col shadow-md my-3">
            <a routerLink="/menu/pc/iztotam/arabuluculuk-sureci-akis-semasi">
                <p>
                    <b>Arabuluculuk Süreci Akış Şemas
                    </b><span style="height: 100%;" class="material-symbols-outlined">
                        open_in_new
                    </span>
                </p>
            </a>
        </div>
        <div id="aa" class="col shadow-md my-3">
            <a href="https://www.tobbuyum.com.tr/kolay_basvuru.php" target="_blank">
                <p>
                    <b>Kolay Başvuru
                    </b><span style="height: 100%;" class="material-symbols-outlined">
                        open_in_new
                    </span>
                </p>
            </a>
        </div>
    </div>
