<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-4 container">
        <p>İZMİR TİCARET ODASI WEBSİTESİ KİŞİSEL VERİLERİN İŞLENMESİNE İLİŞKİN GENEL AYDINLATMA METNİ</p>
        <p></p>
        <p>07.04.2016 tarih ve 29677 sayılı Resmi Gazete ’de yayımlanan 6698 sayılı Kişisel Verilerin Korunması Kanunu
            (“KVKK”) uyarınca, kurumumuz İzmir Ticaret Odası “Veri Sorumlusu” sıfatıyla, kişisel verilerinizi KVKK ile
            belirlenmiş sınırlar çerçevesinde ve KVKK’da belirtilen durumlar için işleyebilecektir. İzmir Ticaret Odası
            olarak işbu Aydınlatma Metni ile KVKK 10. maddesi uyarınca sizleri, kişisel veri işleme faaliyetlerimiz
            hakkında bilgilendirmek ve aydınlatmak isteriz.</p>
        <p></p>
        <p>1. Veri Sorumlusu ve Temsilcisi</p>
        <p></p>
        <p>KVKK uyarınca, İzmir Ticaret Odası olarak, veri sorumlusu sıfatıyla, kişisel verilerinizi aşağıda açıklanan
            amaçlar ile bağlantılı, sınırlı ve ölçülü olarak, hukuka ve dürüstlük kurallarına uygun bir şekilde doğru ve
            güncel olarak işleyebilecek, kaydedebilecek, saklayabilecek, sınıflandırabilecek, güncelleyebilecek ve
            mevzuatın izin verdiği hallerde ve/veya işlendikleri amaçla sınırlı olarak 3. kişilere
            açıklayabilecek/aktarabileceğiz.</p>
        <p></p>
        <p>2. Kişisel Verilerinizin İşlenme Amacı</p>
        <p></p>
        <p>İzmir Ticaret Odası’nın websitesi’ne (izto.org.tr) sağlamış olduğunuz adınız, soyadınız, adresiniz, telefon
            numaranız, faks numaranız, TC kimlik numaranız, pasaport numaranız, firma unvanınız ve e-posta adresiniz,
            KVKK’da öngörülen temel ilkelere uygun olarak, Odamız tarafından sunulan hizmet ve içeriklerden ilgili
            kişileri faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması ve ilgili iş
            süreçlerinin yürütülmesi, Oda tarafından yürütülen faaliyetlerin gerçekleştirilmesi için ilgili iş birimleri
            tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi, Oda’nın ticari ve/veya
            iş stratejilerinin planlanması ve icrası, Oda’nın ve Oda ile iş ilişkisi içerisinde olan ilgili kişilerin
            hukuki, teknik ve ticari iş güvenliğinin temini de dahil olmak üzere Kanun’un 5. ve 6. maddelerinde
            belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde işlenmekte ve amaçlarıyla uygun süre
            zarfında fiziksel veya elektronik ortamda güvenli bir şekilde saklanmaktadır. Kişisel verilerinizin
            kurumumuz tarafından işlenme amaçları konusunda detaylı bilgi için İzmir Ticaret Odası Kişisel Verilerin
            Korunması ve İşlenmesi Politikası adresinden ulaşabilirsiniz.</p>
        <p></p>
        <p>3. Web Sitesi Ziyaretçilerine Ait Kişisel Verilerin Aktarımı</p>
        <p></p>
        <p>Yukarıda açıklanan amaçlar kapsamında işlenen kişisel verileriniz; KVKK’da öngörülen temel ilkelere uygun
            olarak ve KVKK’nın 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dâhilinde
            çerçevesinde işlenerek yine üyelerimiz, web sitesi ziyaretçilerimiz ve kanunen yetkili kamu kurum ve
            kuruluşları ile özel kurumlar ile paylaşılabilecektir. Kişisel veri aktarımlarının Kişisel Verileri Koruma
            Kurulu tarafından yeterli korumanın bulunmadığı tespit ve ilan edilen ülkelere yapılabilmesi Türkiye’deki ve
            ilgili yabancı ülkedeki veri sorumlularının yeterli bir korumayı yazılı olarak taahhüt ettiği ve ilgili
            aktarım açısından Kişisel Verileri Koruma Kurul’unun izninin temin edilebildiği hallerle sınırlı olmak
            kaydıyla mümkün olabilecektir.</p>
        <p></p>
        <p>4. Kişisel Verilerinizin Toplama Yöntemi ve Hukuki Sebebi</p>
        <p></p>
        <p>Kişisel verileriniz, faaliyetlerimizi yürütmek amacıyla İzmir Ticaret Odası tarafından web sitesi üzerinden
            elektronik olarak ve yukarıda belirtilen amaçlara dayanarak toplanmaktadır. Bu çerçevede Yukarıda belirtilen
            hukuki sebeplerle toplanan kişisel verileriniz, KVKK’nın 5. ve 6. Maddeleri ile 4(2) maddesindeki öngörülen
            ilkeler ışığında açık rıza temini suretiyle işlenebilmekte ve aktarılabilmektedir.</p>
        <p></p>
        <p>5. KVKK’nın 11. Maddesi Gereği İlgili Kişi Olarak Haklarınız</p>
        <p></p>
        <p>Söz konusu haklarınıza ilişkin taleplerinizi, kişisel veri sahipleri olarak yazılı bir şekilde ve kimliğinizi
            tespit edici belgeler ile birlikte, kullanmak istediğiniz hakkınıza yönelik açıklamalarınızı içeren yazılı
            dilekçeniz ile Kurumumuzun Atatürk Caddesi No: 190 Konak Alsancak 35220 İzmir Türkiye adresine bizzat veya
            iadeli taahhütlü mektupla veya info@izto.org.tr mail adresine iletmeniz halinde, talebiniz İzmir Ticaret
            Odası tarafından değerlendirilerek KVKK kapsamında öngörülen şekilde en geç 30 (otuz) gün içerisinde
            sonuçlandırılacaktır. İzmir Ticaret Odası’nın Kişisel Verileri Koruma Kurulu tarafından belirlenen ücret
            tarifesi üzerinden ücret talep etme hakkı saklıdır.</p>
        <p></p>
        <p>KVKK’nın “İstisnalar” başlıklı 28. maddesinde öngörülen haller saklı kalmak kaydıyla kurumumuza başvurarak
            kişisel verilerinizin; işlenilip işlenilmediğini öğrenme; işlenmişse buna ilişkin bilgi talep etme; işlenme
            amacını ve amacına uygun kullanılıp kullanılmadığını öğrenme; yurt içinde veya yurt dışında aktarıldığı
            üçüncü kişileri bilme; aktarıldığı üçüncü kişilerce yapılan işlemlerin bildirilmesini isteme; eksik veya
            yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme; işlenmesini gerektiren sebeplerin ortadan
            kalkması hâlinde silinmesini veya yok edilmesini isteme; yapılan işlemlerin kişisel verilerinizin
            aktarıldığı üçüncü kişilere bildirilmesini isteme; münhasıran otomatik sistemler vasıtasıyla analiz edilmesi
            suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme ve KVKK’na aykırı olarak işlenmesi sebebiyle
            zarara uğramanız hâlinde zararın giderilmesini talep etme haklarına sahip olduğunuzu KVKK kapsamında “Veri
            Sorumlusu” sıfatıyla bildiririz.</p>
        <p></p>
        <p>Bilgi alma hakkınız kapsamında yukarıda belirtilenler kapsamında bilgi edinebilmek için İzmir Ticaret Odası
            Veri Sahibi Başvuru Formu ’ndan ulaşabilirsiniz.</p>
        <p></p>
        <a href="">İzmir Ticaret Odası Açık Rıza Metni için tıklayınız</a>
        <div class="seperator">
            <div></div>
        </div>
    </div>
