<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-5 container">
        <b>ARABULUCULUK</b><br><br>Her geçen gün alternatif çözüm yöntemi olan arabuluculuğun faaliyet alanının
        genişlemesinden ötürü hukuk sistemimizde son derece önemli hale gelmiştir. Arabuluculuk İhtiyari arabuluculuğun
        yanında, dava şartı olan arabuluculuk, İş Hukukundan doğan davalardan sonra, 1. Ocak 2019 tarihi itibari ile
        Ticaret Hukukundan doğan uyuşmazlıklara da uygulanmaya başlanmıştır. <br><br><b>Arabuluculuk
            Nedir?</b><br><br>Tarafların üzerinde serbestçe tasarruf edebilecekleri, iş ve işlemlerden doğan özel hukuk
        uyuşmazlıklarının, çözülmesi amacıyla, uzmanlık eğitimi almış olan tarafsız ve bağımsız bir üçüncü kişinin
        katılımıyla yürütülen uyuşmazlık çözüm yöntemidir. <br><br>Uyuşmazlıklarda tarafsız üçüncü kişi olan arabulucu;
        sistematik teknikler uygulayarak, görüşmek ve müzakerelerde bulunmak amacıyla tarafları bir araya getirerek
        onların birbirlerini anlamalarını ve bu suretle çözümlerini kendilerinin üretmesini ve aralarında iletişim
        sürecinin kurulmasını sağlamaya çalışmaktadır. <br><br>Arabuluculuk ihtiyari arabuluculuk ve zorunlu
        arabuluculuk olarak ikiye ayrılır. <br><br><b>İhtiyari Arabuluculuk Nedir?</b><br><br>Bir özel hukuk
        uyuşmazlığının çözüme kavuşturulması için, tarafların dava açılmadan önce ya da dava sırasında “kendi isteği”
        ile arabulucuya başvurmasıdır. Bir başka ifade ileihtiyari arabuluculuk, tarafların bir arabulucuya gitme
        zorunluluğu olmadığı halde uyuşmazlığın çözümü için dava açmadan önce arabulucuya başvurmayı tercih etmesidir.
        <br><br><b>İhtiyari Arabuluculuk: Hangi Uyuşmazlık ve Davalar İçin Arabuluculuğa
            Başvurulabilir?</b><br><br>Tarafların üzerinde serbestçe tasarruf edebilecekleri tüm özel hukuk
        uyuşmazlıkları, işleri ve davaları arabuluculuk yasası uygulaması ile çözüme kavuşturulabilir (Arabuluculuk
        Kanunu md.1/2). <br><br>Tarafların üzerinde serbestçe tasarruf edebilecekleri uyuşmazlıklar, genel olarak kamu
        düzenini ilgilendirmeyen, taraflar dışındaki kişilerin, özellikle kamu kurumlarının haklarına zarar vermeyen
        uyuşmazlıklardır. <br><br><b>Hangi Uyuşmazlık ve Davalar İçin Arabuluculuğa Başvurulamaz?</b><br><br>Tarafların
        üzerinde serbestçe tasarruf edemeyecekleri hukuki sorunlara ilişkin uyuşmazlıklar arabuluculuk yoluyla
        çözülemez. Tarafların üzerinde tasarruf edemeyeceği uyuşmazlıklar çoğunlukla kamu hukukundan kaynaklanan
        uyuşmazlıklardır. Kamu hukukunun yanı sıra özel hukuk alanlarına ilişkin bazı hukuki problemler de arabuluculuk
        yoluyla çözülemez. <br><br>Önemle belirtilmeli ki, Ceza Muhakemesi Kanunu’na göre uzlaştırma kapsamında olan bir
        suç ile bağlantılı uyuşmazlıklar da arabuluculuk kanunu dışındadır. Bu uyuşmazlıklar için Ceza Muhakemesi Kanunu
        hükümlerine göre uzlaşma yoluna gidilerek tüm uyuşmazlık savcılıklara bağlı uzlaştırma büroları tarafından
        çözülmelidir. <br><br><b>Zorunlu Arabuluculuk Nedir?</b><br><br>Bir diğer adı da dava şartı olan arabuluculuk,
        dava açılmadan önce, arabulucuya başvuruyu zorunlu hale getirmiştir. Bilindiği üzere İş hukukundan kaynaklanan
        ve Ticaret hukukundan kaynaklanan uyuşmazlıklar için zorunlu arabuluculuk uygulanır. Arabulucuya başvurulmadan
        açılan bu davalar Mahkeme tarafından reddedilmektedir. <br><br><b>Arabuluculuğun ilkeleri
            nelerdir?</b><br><br>Arabuluculuğun tüm dünyada kabul görmüş temel ilkeleri vardır. Bu ilkeler
        arabuluculuğun ortak dilini oluşturur. Bunlardan ilki iradilik ilkesidir. İradilik tarafların arabuluculuğa
        başvurmada, süreci yürütmede ve yürütülen süreci sonlandırmada her an özgür olduklarını ifade etmektedir. Kimse
        bir arabuluculuk sürecine başvurmaya, sürdürmeye ve anlaşmaya/anlaşmamaya zorlanamaz. Tarafların her aşamada
        süreçten çekilme hakkı vardır. Arabuluculuğun ilkelerinden birisi de eşitliktir. Arabuluculuğa katılan taraflar,
        ekonomik durumlarına, sosyal statülerine bakılmaksızın eşit haklara sahiptirler. Arabulucu da süreç boyunca
        taraflar arasındaki eşitliği gözetmekle yükümlüdür. Arabuluculuğun en önemli ilkelerinden birisi de gizliliktir.
        Arabulucu, taraflar ve sürece katılan diğer kişiler, arabuluculuk boyunca görüşülenleri gizli tutmakla
        yükümlüdür. Ancak taraflar karşılıklı olarak anlaştıkları konularda gizliliği kaldırabilirler. Diğer bir ilke de
        tarafsızlıktır. Arabulucu süreç boyunca tarafsız olmak zorundadır. Arabulucu bir tarafı tutamaz, süreci bir
        tarafın lehine yönetemez, aksi halde arabulucunun arabuluculuk faaliyetinin ifası sırasında hukuka aykırı
        davranışı sonucunda cezai ve hukuki sorumluluğu doğacaktır. <br><br><b>TAHKİM NEDİR?</b><br><br>Tahkimi
        düzenleyen mevzuattan yola çıkarak bir tahkim tanımı yapılacak olursa; tahkim, kanunun tahkim yoluyla
        çözümlenmesine izin verdiği konular kapsamında olmak koşuluyla, taraflar arasında doğmuş veya doğabilecek
        uyuşmazlıkların devlet yargısında çözümlenmesi yerine, hakemler aracılığı ile çözümlenmesi konusunda tarafların
        anlaşmaları şeklinde tanımlanabilir. <br><br>Günümüzde uluslararası uyuşmazlıkların çözümünde en çok kullanılan
        yöntem tahkimdir. <br><br>Kural olarak kişiler arasında meydana gelen uyuşmazlıklar mahkemeler aracılığı ile
        çözüme bağlanır; ancak maddi hukukta tanınan irade serbestisi prensibinin usul hukukunda uygulanmasının sonucu
        olarak, aralarında uyuşmazlık bulunan taraflar yapacakları anlaşma ile bu uyuşmazlık hakkında karar verme
        yetkisini özel kişilere devredebilirler. <br><br>Tahkim, kanunun tahkim yolu ile çözümlenmesine izin verdiği
        konuların kapsamında kalması koşuluyla, taraflar arasında doğmuş ya da doğabilecek uyuşmazlıkların devlet
        yargısında çözümlenmesi yerine hakem adı verilen kimseler aracılığı ile çözümlenmesi hususunda tarafların
        anlaşmasıdır. <br><br><b>Tahkim Sözleşmesi ve Tahkim şartı</b><br><br>Tahkim anlaşması, uyuşmazlığın tahkim
        yoluyla çözümleneceği hususundaki taraf iradesini beyan eden bir sözleşme ile yapılabilmektedir. Tahkim
        sözleşmesi, uyuşmazlığın tarafları arasındaki anlaşmayı ifade ettiğinden, hakem sözleşmesinden farklılık arz
        etmektedir. Nitekim hakem sözleşmesi, taraflarla hakemler arasında hakemlik ücreti ve diğer koşullara ilişkin
        olarak yapılan sözleşmeyi ifade etmektedir. <br><br><b>Tahkim İradesi</b><br><br>Uyuşmazlıkların tahkim yolu ile
        çözümlenmesine ilişkin irade açıklaması, tahkim sözleşmesinin kurucu unsurlarından bir tanesidir. Bu irade
        açıklamasının geçerliliğinden bahsedebilmek için kesin bir şekilde, yazılı olarak ve herhangi bir karışıklığa
        yer vermeyecek açıklıkta yapılması gerekmektedir. <br><br>Geçerli bir tahkim şartı veya sözleşmesinden
        bahsedebilmek için, hangi uyuşmazlıkların tahkim yolu ile çözüleceğine dair taraf iradelerinin de anlaşılabilir
        olması gerekmektedir. Ancak belirli bir uyuşmazlık hakkında tahkim sözleşmesi yapılabilmektedir.
        <br><br><b>Tahkim Anlaşmasının İçeriği</b><br><br>Milletlerarası Tahkim Kanunu, tahkim anlaşmasının geçerli
        olması için herhangi bir unsurun bulunmasını şart koşmamaktadır. Tarafların tahkime yönelik irade açıklamaları
        su götürmez şekilde açık olduğu sürece, içerik itibariyle geçerli bir tahkim anlaşmasının varlığından söz
        edilebilir. <br><br><b>Tahkimin faydaları Nelerdir?</b><br><br>Tahkim mekanizmasının mahkemelere göre sahip
        olduğu avantajlardan bahsetmek gerekir ise; mahkemelerinin yükünün azaltılması, ticari ilişki içindeki taraflar
        bakımından daha istikrarlı ve güvenli bir çözüme ulaşma imkanı sağlaması, uyuşmazlığın konuyu iyi bilen uzman
        kişilerce çözüme ulaştırılması, mahkemelerden daha kısa sürede sonuç alınması, mahkemelere oranla ticari
        hususların daha az kamuya açık olması, tahkim anlaşmasında düzenleme yoluyla tarafların yargılama usulünü kendi
        istek ve ihtiyaçlarına göre düzenleyebilmesinin mümkün olması, tarafların istedikleri takdirde uyuşmazlığın
        maddi hukuk dışında hak ve nefaset kurallarına göre çözümlenmesine karar verilmesine imkan vermesi ve son olarak
        da temyiz nedenlerinin mahkemelere göre daha sınırlı olması olarak listelenebilir.
        <div class="seperator">
            <div></div>
        </div>
        <div class="w-100 d-flex social-share justify-content-end align-items-center py-2"><div class="share-text p-2">
            PAYLAŞ
          </div> <div class="d-flex justify-content-end align-items-center">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank">
                <span tabindex="0" data-link="#share-twitter" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-twitter"></i>
                </span> 
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.izto.org.tr%2F&amp;src=sdkpreparse">
                <span tabindex="0" data-link="#share-facebook" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-facebook"></i>
                </span> 
            </a>
            <a href="whatsapp://send?text">
                <span tabindex="0" data-link="#share-whatsapp" class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-whatsapp"></i>
                </span>
            </a>
            <span tabindex="0" data-link="#share-linkedin" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-linkedin"></i></span> <span tabindex="0" data-link="#share-pinterest" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-pinterest "></i></span> <span tabindex="0" data-link="#share-reddit" class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-reddit"></i></span>
            </div>
    </div>
