<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-4 ">
        <p><b>1 - Güleryüzlü karşılama hakkındaki görüşünüz nedir?
            </b></p>
        
        <div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q2" value="">Çok Memnunum
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q2" value="">Memnunum
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q2" value="">Fikrim yok
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q2" value="">Memnun değilim
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q2" value="">Hiç memnun değilim
            </div>
        </div>
        <br>
        <p>
        <p><b>2 - Telefonlarınızın yanıtlama süresi hakkındaki görüşünüz nedir?
            </b></p>
        
        <div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q3" value="">Çok Memnunum
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q3" value="">Memnunum
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q3" value="">Fikrim yok
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q3" value="">Memnun değilim
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q3" value="">Hiç memnun değilim
            </div>
        </div>
        <br>
        <p>
        <p>
        <p><b>3 - Soru/taleplerinizi doğru anlayıp, hatasız çözümlemesi hakkındaki görüşünüz nedir?
            </b></p>
        
        <div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q4" value="">Çok Memnunum
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q4" value="">Memnunum
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q4" value="">Fikrim yok
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q4" value="">Memnun değilim
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q4" value="">Hiç memnun değilim
            </div>
        </div>
        <br>
        <p>
        <p>
        <p><b>4 - İletişim becerisi hakkındaki görüşünüz nedir?
            </b></p>
        
        <div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q5" value="">Çok Memnunum
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q5" value="">Memnunum
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q5" value="">Fikrim yok
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q5" value="">Memnun değilim
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q5" value="">Hiç memnun değilim
            </div>
        </div>
        <br>
        <p>
            <p>
        <p><b>5 - Çağrı Merkezimiz görüşmeyi sonlandırma becerisi konusundaki görüşünüz nedir?
            </b></p>
        
        <div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q6" value="">Çok Memnunum
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q6" value="">Memnunum
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q6" value="">Fikrim yok
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q6" value="">Memnun değilim
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q6" value="">Hiç memnun değilim
            </div>
        </div>
        <br>
        <p>
            <p><b>6 - Sorun/bilgi taleplerinizde personelimiz size geri bildirimde bulunuyor mu?
            </b></p>
        
        <div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q7" value="">Evet
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q7" value="">Hayır
            </div>
           
        </div>
        <br>
        <p>
            <p><b>7 - Sorun/bilgi taleplerinizde personelimiz size söz verilen süre içinde geri bildirimde bulunuyor mu?
            </b></p>
        
        <div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q7" value="">Evet
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q7" value="">Hayır
            </div>
           
        </div>
        <br>
        <p>
            <p><b>8 - Sizi hatta beklettiğimiz için özür diliyor muyuz?
            </b></p>
        
        <div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q7" value="">Evet
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q7" value="">Hayır
            </div>
           
        </div>
        <br>
        <p>
            <p><b>9 - Genel değerlendirmeniz...
            </b></p>
        
        <div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q2" value="">Çok Memnunum
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q2" value="">Memnunum
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q2" value="">Fikrim yok
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q2" value="">Memnun değilim
            </div>
            <div class="py-2">
                <input class="mx-2" type="radio" name="q2" value="">Hiç memnun değilim
            </div>
        </div>
        <br>
        <p>
            <br><b>
                10 - Adınız Soyadınız</b><br><input id="textA" type="text">
                <br><br><b>
                    11 - E-Posta Adresiniz</b><br><input id="textA" type="text">
                    <br><br>
            <input type="checkbox">Kişisel Verileri Koruma Kanunu Bilgilendirmesini Kabul Ediyorum.
            <br><br>
            <button class="btn btn-info w-100">Gonder</button>
    </div>
