<ng-container id="k1" *ngIf="title.includes('Vizyon')">
    <div class="py-4">
        <h5>Vizyonumuz:</h5>
        <p>Üyelerini güçlendiren, üyeleri ile güçlenen, bu güç ile İzmir’i yaşam ve yatırımda dünyada cazip kent kılan
            «geleceğin odası» olmak.</p>
        <h5>Misyonumuz:</h5>
        <p>İzmir’in ticari, ekonomik ve sosyal hayatında fark yaratmak için, kaynakları ve teknolojiyi etkin kullanarak
            etik değerlere bağlı, yetkin ve pozitif kadrosu ile iş dünyasına ve topluma sürdürülebilir hizmetler sunmak.
        </p>
    </div>
    <div class="seperator">
        <div></div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Temel Değerlerimiz ve Yönetim Politikamız')">
    <div class="py-4">
        <h5>TEMEL DEĞERLERİMİZ</h5>
        <ul>
            <li>Üyelerimizin mutluluğu vazgeçilmez değerimizdir.</li>
            <li>Yetkin, pozitif, gelişime açık, biz anlayışı ile hareket eden, etik değerlere bağlı fark yaratan
                çalışanlarız.</li>
            <li>Değişim ve yeniliğe açık, barışçıl ortam yaratan, halden anlayan, etik değerlere bağlı, katılımcı ve
                paylaşımcı, adil ve cesaretli yöneticileriz.</li>
            <li>Kaynaklarımızı ve teknolojiyi etkin kullanarak hızlı çözümler üretir, proaktif yaklaşımla her üyeye eşit
                ve kaliteli hizmetler sunarız.</li>
            <li>Toplumun ortak değerlerini önemseyen, doğal çevreyi koruyan ve sürdürülebilir kılan anlayışımızla sosyal
                refahı arttıran projeleri destekler ve hayata geçiririz.</li>
        </ul>
        <h5>İZTO RUHU</h5>
        <ul>
            <li>Özveriliyiz</li>
            <li>Yenilikçiyiz</li>
            <li>Dinamiğiz</li>
            <li>Çözüm odaklıyız</li>
            <li>Güler yüzlüyüz</li>
            <li>Sadığız</li>
            <li>Öncüyüz</li>
            <li>Hoşgörülüyüz</li>
            <li>Sabırlıyız</li>
            <li>Paylaşımcıyız</li>
            <li>Tarafsızız</li>
            <li>Özeliz</li>
            <li>Biz bir aileyiz</li>
        </ul>
        <h5>YÖNETİM SİSTEMLERİ POLİTİKASI</h5>
        <ul>
            <li>İzmir Ticaret Odası Entegre Yönetim Sistemi, ISO 9001, ISO 10002, ISO 27001, ISO 31000, ISO 27701ve TOBB
                Oda Akreditasyon Sistemi gerekleri dikkate alınarak kurulmuştur.</li>
            <li>Entegre Yönetim Sisteminin etkin şekilde yürütülmesi için gerekli kaynakları ayırmak</li>
            <li>Faaliyetlerimizi üye odaklı bir anlayış ile gerçekleştirmek, sürdürülebilirliği, sürekli gelişimi ve üye
                bağlılığını hedeflemek,</li>
            <li>Kurum bilgisinin, üyelerimizin, çalışanlarımızın ve paydaşlarımızın bilgi güvenliğini ve kişisel
                verilerinin güvenliğini sağlamak; risk yönetimi anlayışı ile hareket etmek,</li>
            <li>Tüm faaliyetlerimizde yasal mevzuatlara bağlı, teknolojiyi, enerjiyi ve doğal kaynaklarımızı etkin bir
                biçimde kullanmak</li>
            <li>Çalışmalarımızı yenilikçi, yetkin ve motivasyonu yüksek katılımcı çalışanlarımız ve yönetim
                anlayışımızla gerçekleştirmek Yönetim Sistemleri Politikamızdır.</li>
        </ul>
        <h5>BİLGİ GÜVENLİĞİ POLİTİKASI</h5>
        <ul>
            <li>Oda faaliyetleri çerçevesinde kullanılan veya üretilen bilgiyi sınıflandırarak etik değerler, ilgili
                yasalar ve yönetmelikler çerçevesinde bilginin erişilebilirliğini (elverişliliğini), gizliliğini,
                bütünlüğünü sağlamak; kullanım amacı dışında kullanılmasını önlemek,</li>
            <li>Tüm çalışanlarımız ile mal ve hizmet sağlayıcılarımızın Odamızda üretilen ve kullanılan bilginin
                sınıfına uygun olarak gizliliği, bütünlüğü ve erişilebilirliğini sağlaması için gerekli önlemleri almak
                Bilgi Güvenliği Politikamızdır.</li>
        </ul>
        <h5>ÜYE MEMNUNİYETİ POLİTİKASI</h5>
        <ul>
            <li>Tüm faaliyetlerimizde yasal mevzuatlara uygun olarak hareket ederken üyelerimizin memnuniyetini sağlamak
            </li>
            <li>Üyelerimizden gelen geri bildirimleri faaliyetlerimizi geliştirme fırsatı olarak ele alıp değerlendirmek
                Üye Memnuniyeti Politikamızdır.</li>
        </ul>
        <h5>RİSK YÖNETİMİ POLİTİKASI</h5>
        <ul>
            <li>Faaliyetlerimizi gerçekleştirirken muhtemel risk ve fırsatları ele almak</li>
            <li>Faaliyetlerimizin sürdürülebilirliğini, bilgi güvenliğini, iş sağlığı ve güvenliğini, üye memnuniyetini,
                Oda itibarını ve finansal kaynaklarımızı tehdit eden riskleri ele alarak değerlendirmek, yönetmek ve
                ihtiyaca göre gerekli önlemleri almak Risk Yönetimi Politikamızdır.</li>
        </ul>
        <h5>MALİ İŞLER ve FİNANS POLİTİKASI</h5>
        <ul>
            <li>Bütçe prensiplerine uygun olarak harcamaları yapmak, etkin bütçe tekniği sayesinde gerekli tasarruf ve
                yerindeliği sağlamak,</li>
            <li>Üyelerimizin menfaatlerini gözeterek, tahsilatları zamanında ve doğru şekilde yapmak,</li>
            <li>Mevcut kaynaklarımızı en verimli şekilde değerlendirerek gelirlerimizi arttırmak,</li>
            <li>Kurumun mali yapısının güçlü, sorgulanabilir ve hesap verilebilir olması Mali İşler Ve Finans
                Politikamızdır.</li>
        </ul>
        <h5>YÖNETİM VE KARAR ALMA POLİTİKASI</h5>
        <ul>
            <li>Mevzuat hükümlerine uygun karar almak ve hareket etmek,</li>
            <li>Etik kurallar çerçevesinde Odanın stratejileri ve menfaatlerini gözetmek,</li>
            <li>Etkin, yetkin, objektif, hızlı hareket etmek ve inisiyatif almak,</li>
            <li>Sürdürülebilirlik ilkesi ile katılımcı çalışmaya önem vermek,</li>
            <li>Değişime uyum sağlayıp, proaktif yaklaşımla gelişime odaklanmak,</li>
            <li>Çalışanların görüşlerini dikkate alarak karar vermek Yönetim Ve Karar Alma Politikamızdır.</li>
        </ul>
        <h5>SATIN ALMA VE TEDARİK POLİTİKASI</h5>
        <ul>
            <li>İhtiyaçları doğru belirlemek, objektif kriterler ile kaliteli, optimum zaman, maliyet ve miktarda temin
                etmek,</li>
            <li>Satın alma ve tedarikin kurumun aynası olduğunun bilinci ile hareket etmek,</li>
            <li>Mevzuat çerçevesinde, etik kurallara, finans ve bütçe yapısına uygun alımlar gerçekleştirmek,</li>
            <li>Sürekli denetlenen, gelişimi ve performansı izlenen tedarikçi ağı oluşturmak Satın Alma Ve Tedarik
                Politikamızdır.</li>
        </ul>
        <h5>TEKNOLOJİ KULLANIM POLİTİKASI</h5>
        <ul>
            <li>Teknolojik gelişmelerin takibini sürekli yaparak verdiğimiz hizmetlerin ve altyapımızın kalitesini ve
                etkinliğini arttıran sistemlerin kurumumuza uyarlanmasını sağlamak Teknoloji Kullanım Politikamızdır.
            </li>
        </ul>
        <h5>ÜYE İLİŞKİLERİ VE İLETİŞİM POLİTİKASI</h5>
        <ul>
            <li>Üye ile olan iletişimde güven, şeffaflık ve ulaşılabilirlik ilkesi ile hareket etmek,</li>
            <li>Üyelerimizin ticari hayatındaki verilerini ticari sır olarak görmek ve mevzuatlar çerçevesinde sahip
                olmak, bu bilgileri derlemek ve üye kullanımlarına sunmak,</li>
            <li>Teknolojinin etkin kullanımını sağlayarak üyenin talep ettiği hizmeti bürokrasi engeline takılmadan
                elektronik ortamda hızlı ve etkin bir şekilde hizmetine sunmak</li>
            <li>Yasal mevzuat ve uygulamadaki değişikliklerin anlık uyumunu sağlamak için bilgilendirici tüm kanalları
                aktif etmek,</li>
            <li>Yeni üye olacaklara izleyecekleri prosedürleri açıklayıcı ve anlaşılır bir şekilde anlatmak,</li>
            <li>Sürdürülebilir ilişkileri sağlamak için farklı faaliyetler ve birebir ziyaretler gerçekleştirmek Üye
                İlişkileri ve İletişim Politikamızdır.</li>
        </ul>
        <h5>ULUSLARARASI İLİŞKİLER POLİTİKASI</h5>
        <ul>
            <li>Üyelerimizin faaliyetlerini yurtdışına açmak, kentimizi yabancı yatırımcılar ve turistler için iş,
                seyahat hareketleri ve kültür açısından cazibe merkezi haline getirmek,</li>
            <li>Dış ticaretin sunduğu fırsatlardan üyelerimizi faydalandırmak, riskleri ise en aza indirmek,</li>
            <li>Güçlü bir uluslararası paydaş ağı oluşturmak, bu ağı üye, kent ve ülke menfaatlerine yönelik kullanmak,
            </li>
            <li>Üyelerimizin sektörel gelişim projelerinde uluslararası kaynakları kullanmalarını sağlamak,</li>
            <li>Üyelerimizin katma değeri yüksek ürün ve hizmet ihracatını geliştirmek amacıyla kurum bütçemizin
                olanakları dahilinde objektif kriterlerle teşvikler vermek,</li>
            <li>Kent ve ülke gelişimine katkı sağlayacak uluslararası tanıtım ağını güçlendirmek,</li>
            <li>Üyelerimizin dış ticaret işlemlerini hızlı ve doğru bir şekilde yapabilmeleri için gerekli lojistik
                imkanları sağlamak, bu imkanları sürdürebilir ve geliştirilebilir kılmak Uluslararası İlişkiler
                Politikamızdır.</li>
        </ul>
        <h5>EĞİTİM POLİTİKASI</h5>
        <ul>
            <li>Günümüz iş dünyasına hakim, yaşam boyu öğrenme felsefesi çerçevesinde sürekli gelişim prensibi ile özgün
                ve kaliteli eğitim programları geliştirerek, iş dünyası ve akademik dünya arasında bağlantı noktası
                oluşturmak, çalışanlarımızın, firmaların ve toplumun geleceğinde fark yaratmak Eğitim Politikamızdır.
            </li>
        </ul>
        <h5>AĞ GELİŞTİRME POLİTİKASI</h5>
        <ul>
            <li>Bölgemiz, kentimiz ve üyelerimizin sorunlarını çözmek, sektörleri geliştirmede paydaş kurumlarla hareket
                etmek ve projeler üretmek,</li>
            <li>Ulusal ve uluslararası ekonomik, sosyal, politik ve kültürel konjonktürü takip etmek, küresel ve yerel
                koşulları analiz ederek oluşan fırsatları üyelerimizin mesleki ve sektörel gelişimlerini sağlayacak
                şekilde kolaylaştırıcı ve kentimizin marka değerini arttırıcı girişim ve faaliyetlerde bulunmak,</li>
            <li>Potansiyel girişimcileri cesaretlendirmek, teşvik etmek ve fikirlerini ticari ürün haline getirmeleri
                için ortam hazırlamak, melek yatırımcı ve mentör ağımız ve ülkemizdeki diğer ağlarla olan iş birliği
                imkanlarından yararlanmalarını sağlamak Ağ Geliştirme Politikamızdır.</li>
        </ul>
        <h5>İNSAN KAYNAKLARI POLİTİKASI</h5>
        <ul>
            <li>Fark yaratan hizmetler sunan, Odaya bağlılığı, hizmet bilinci, yetkinliği, motivasyonu yüksek güler
                yüzlü çalışanlara sahip olmak,</li>
            <li>Çalışanlarımızın bireysel ve mesleki gelişimlerini sağlamak,</li>
            <li>Objektif ve etkin performans sistemi ile çalışmalarını değerlendirmek ve başarılı olanları
                ödüllendirmek,</li>
            <li>Ücret ve kariyer planlama sistemi ile entegre insan kaynakları sistemini işleten bir kurum olarak diğer
                Odalara örnek olmak İnsan Kaynakları Politikamızdır.</li>
        </ul>
        <h5>HİZMET GELİŞTİRME POLİTİKASI</h5>
        <ul>
            <li>Geliştirilecek hizmeti üyenin ihtiyacı doğrultusunda belirlemek, pilot uygulamanın ardından üye
                memnuniyet derecesine göre mevzuatlar çerçevesinde tüm üyelere uygulamak ve etkinliğini ölçmek Hizmet
                Geliştirme Politikamızdır.</li>
        </ul>
        <p style="text-align: end; font-weight: bold;">Mahmut ÖZGENER</p>
        <p style="text-align: end;">Yönetim Kurulu Başkanı</p>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Organizasyon Yapısı')">
    <div class="py-4">
        <ul>İzmir Ticaret Odası'nın Organları:
            <li>Meslek Komiteleri,</li>
            <li>Meclis,</li>
            <li>Yönetim Kurulu'dur.</li>
        </ul>
        <p>Meslek Komiteleri, Meslek Gruplarına dahil Üyelerin, kendi Üyeleri arasından yargı gözetimi altında gizli
            oyla seçtikleri Üyelerden oluşur.</p>
        <p> </p>
        <p>Oda Meclisi, Oda'nın en yüksek karar ve denetim organı olup, Meslek Komiteleri'nin kendi Üyeleri arasından
            yargı gözetimi altında gizli oyla seçtikleri 2'şer Üye'nin toplamından oluşur. Oda Meclisi'nin görev süresi
            4 yıldır.</p>
        <p></p>
        <p>Oda Yönetim Kurulu, Oda'nın en yüksek icra organı olup Meclis'in kendi Üyeleri arasından dört yıl için
            seçtiği (11) kişiden oluşur.</p>
        <ul>İzmir Ticaret Odası'nın Yönetim Yapısı
            İzmir Ticaret Odası'nın hizmetleri, ilgili mevzuat hükümlerine göre belirlenen birimler tarafından
            yürütülür. Bu birimler;
            <li>Genel Sekreter</li>
            <li>Genel Sekreter Yardımcısı</li>
            <li>Danışmanlar ve Genel Sekreterliğe Bağlı Kadrolar</li>
            <li>Bölüm Müdürlükleri</li>
        </ul>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Logo')">
    <div class="py-4 d-flex justify-content-center">
        <div class="">
            <h5 style="text-align: center;">KURUMSAL KİMLİK</h5>
            <div class="d-flex justify-content-center">
                <img src="https://api.izto.org.tr/storage/LogoCategory/original/O4flmHobLL4FwJn0.png" alt="">
            </div>
            <div id="aa" class="col shadow-lg mx-3 my-3">
                <a href="">
                    <h5 style="text-align: center;">İZTO LOGO İNGİLİZCE(jpg) <span style="height: 100%;"
                            class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
            <h5 style="text-align: center;">İZMİR TİCARET ODASI LOGOLARI</h5>
            <div class="d-flex justify-content-center">
                <img src="https://api.izto.org.tr/storage/LogoCategory/original/1NPKyfZen3YOlbPh.png" alt="">
            </div>
            <div class="row my-3">
                <div id="aa" class="col shadow-lg mx-3">
                    <a href="">
                        <h5>İZTO LOGO TÜRKÇE (jpg) <span style="height: 100%;" class="material-symbols-outlined">
                                file_download
                            </span></h5>
                    </a>
                </div>
                <div id="aa" class="col shadow-lg mx-3">
                    <a href="">
                        <h5>İZTO LOGO İNGİLİZCE(jpg) <span style="height: 100%;" class="material-symbols-outlined">
                                file_download
                            </span></h5>
                    </a>
                </div>
            </div>
            <div class="row my-3">
                <div id="aa" class="col shadow-lg mx-3">
                    <a href="">
                        <h5>İZTO LOGO TÜRKÇE (jpg) <span style="height: 100%;" class="material-symbols-outlined">
                                file_download
                            </span></h5>
                    </a>
                </div>
                <div id="aa" class="col shadow-lg mx-3">
                    <a href="">
                        <h5>İZTO LOGO İNGİLİZCE(jpg) <span style="height: 100%;" class="material-symbols-outlined">
                                file_download
                            </span></h5>
                    </a>
                </div>
            </div>
            <h5 style="text-align: center;">MARKA ŞEHİR ‘İZMİR’ LOGOSU</h5>
            <div class="d-flex justify-content-center">
                <img src="https://api.izto.org.tr/storage/LogoCategory/original/4LQDFe9Zb7h7LjI4.png" alt="">
            </div>
            <div></div>
        </div>
    </div>
    <div>
        <div class="row my-3">
            <div id="aa" class="col shadow-lg mx-3">
                <a href="">
                    <h5>MARKA ŞEHİR 'İZMİR' LOGOSU TÜRKÇE (jpg) <span style="height: 100%;"
                            class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
            <div id="aa" class="col shadow-lg mx-3">
                <a href="">
                    <h5>MARKA ŞEHİR 'İZMİR' LOGOSU TÜRKÇE (jpg) <span style="height: 100%;"
                            class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
        </div>
        <div class="row my-3">
            <div id="aa" class="col shadow-lg mx-3">
                <a href="">
                    <h5>MARKA ŞEHİR 'İZMİR' LOGOSU TÜRKÇE (pdf) <span class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
            <div id="aa" class="col shadow-lg mx-3">
                <a href="">
                    <h5>MARKA ŞEHİR 'İZMİR' LOGOSU İNGİLİZCE (pdf) <span class="material-symbols-outlined">
                            file_download
                        </span></h5>
                </a>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Oda Hesapları')">
    <div class="py-4">
        <div class="justify-content-center"></div>
        <div id="aa" class=" shadow-lg mx-3">
            <a href="">
                <h5 class="px-3">2022 MAYIS AYI HESAPLARI<span class="material-symbols-outlined">
                        file_download
                    </span></h5>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Stratejik')">
    <div class="py-4 ">
        <div id="aa" class="shadow-sm my-3">
            <a href="">
                <h5 class="py-1 mx-1"> <span class="material-symbols-outlined">
                        file_download
                    </span>Stratejik Planlar</h5>
                <div>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2019-2022 STRATEJİK PLANI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2014-2017 STRATEJİK PLANI</a>
                </div>
            </a>
        </div>
        <div id="aa" class="shadow-sm my-3">
            <a href="">
                <h5 class="py-1 mx-1"> <span class="material-symbols-outlined">
                        file_download
                    </span>ÇALIŞMA PROGRAMLARI</h5>
                <div>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2022 ÇALIŞMA PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2021 ÇALIŞMA PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2020 ÇALIŞMA PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2019 ÇALIŞMA PROGRAMI</a>
                </div>
            </a>
        </div>
        <div id="aa" class="shadow-sm my-3">
            <a href="">
                <h5 class="py-1 mx-1"> <span class="material-symbols-outlined">
                        file_download
                    </span>ÇALIŞMA PROGRAMLARI</h5>
                <div>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2022 FAALİYET PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2021 FAALİYET PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2020 FAALİYET PROGRAMI</a>
                    <a class="d-block py-2" href=""><span class="material-symbols-outlined">
                            file_download
                        </span>2019 FAALİYET PROGRAMI</a>
                </div>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Kardeş')">
    <div class="py-4 ">
        <div id="aa" class="col shadow-lg mx-3">
            <a href="">
                <h5>ODAMIZIN DİĞER ODALAR, KURUM, KURULUŞ VE YABANCI MİSYONLAR İLE İMZALAMIŞ OLDUĞU ANLAŞMALAR<span
                        style="height: 100%;" class="material-symbols-outlined">
                        file_download
                    </span></h5>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('KVKK')">
    <div class="py-4 ">
        <p>İZMİR TİCARET ODASI WEBSİTESİ KİŞİSEL VERİLERİN İŞLENMESİNE İLİŞKİN GENEL AYDINLATMA METNİ</p>
        <p></p>
        <p>07.04.2016 tarih ve 29677 sayılı Resmi Gazete ’de yayımlanan 6698 sayılı Kişisel Verilerin Korunması Kanunu
            (“KVKK”) uyarınca, kurumumuz İzmir Ticaret Odası “Veri Sorumlusu” sıfatıyla, kişisel verilerinizi KVKK ile
            belirlenmiş sınırlar çerçevesinde ve KVKK’da belirtilen durumlar için işleyebilecektir. İzmir Ticaret Odası
            olarak işbu Aydınlatma Metni ile KVKK 10. maddesi uyarınca sizleri, kişisel veri işleme faaliyetlerimiz
            hakkında bilgilendirmek ve aydınlatmak isteriz.</p>
        <p></p>
        <p>1. Veri Sorumlusu ve Temsilcisi</p>
        <p></p>
        <p>KVKK uyarınca, İzmir Ticaret Odası olarak, veri sorumlusu sıfatıyla, kişisel verilerinizi aşağıda açıklanan
            amaçlar ile bağlantılı, sınırlı ve ölçülü olarak, hukuka ve dürüstlük kurallarına uygun bir şekilde doğru ve
            güncel olarak işleyebilecek, kaydedebilecek, saklayabilecek, sınıflandırabilecek, güncelleyebilecek ve
            mevzuatın izin verdiği hallerde ve/veya işlendikleri amaçla sınırlı olarak 3. kişilere
            açıklayabilecek/aktarabileceğiz.</p>
        <p></p>
        <p>2. Kişisel Verilerinizin İşlenme Amacı</p>
        <p></p>
        <p>İzmir Ticaret Odası’nın websitesi’ne (izto.org.tr) sağlamış olduğunuz adınız, soyadınız, adresiniz, telefon
            numaranız, faks numaranız, TC kimlik numaranız, pasaport numaranız, firma unvanınız ve e-posta adresiniz,
            KVKK’da öngörülen temel ilkelere uygun olarak, Odamız tarafından sunulan hizmet ve içeriklerden ilgili
            kişileri faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması ve ilgili iş
            süreçlerinin yürütülmesi, Oda tarafından yürütülen faaliyetlerin gerçekleştirilmesi için ilgili iş birimleri
            tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi, Oda’nın ticari ve/veya
            iş stratejilerinin planlanması ve icrası, Oda’nın ve Oda ile iş ilişkisi içerisinde olan ilgili kişilerin
            hukuki, teknik ve ticari iş güvenliğinin temini de dahil olmak üzere Kanun’un 5. ve 6. maddelerinde
            belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde işlenmekte ve amaçlarıyla uygun süre
            zarfında fiziksel veya elektronik ortamda güvenli bir şekilde saklanmaktadır. Kişisel verilerinizin
            kurumumuz tarafından işlenme amaçları konusunda detaylı bilgi için İzmir Ticaret Odası Kişisel Verilerin
            Korunması ve İşlenmesi Politikası adresinden ulaşabilirsiniz.</p>
        <p></p>
        <p>3. Web Sitesi Ziyaretçilerine Ait Kişisel Verilerin Aktarımı</p>
        <p></p>
        <p>Yukarıda açıklanan amaçlar kapsamında işlenen kişisel verileriniz; KVKK’da öngörülen temel ilkelere uygun
            olarak ve KVKK’nın 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dâhilinde
            çerçevesinde işlenerek yine üyelerimiz, web sitesi ziyaretçilerimiz ve kanunen yetkili kamu kurum ve
            kuruluşları ile özel kurumlar ile paylaşılabilecektir. Kişisel veri aktarımlarının Kişisel Verileri Koruma
            Kurulu tarafından yeterli korumanın bulunmadığı tespit ve ilan edilen ülkelere yapılabilmesi Türkiye’deki ve
            ilgili yabancı ülkedeki veri sorumlularının yeterli bir korumayı yazılı olarak taahhüt ettiği ve ilgili
            aktarım açısından Kişisel Verileri Koruma Kurul’unun izninin temin edilebildiği hallerle sınırlı olmak
            kaydıyla mümkün olabilecektir.</p>
        <p></p>
        <p>4. Kişisel Verilerinizin Toplama Yöntemi ve Hukuki Sebebi</p>
        <p></p>
        <p>Kişisel verileriniz, faaliyetlerimizi yürütmek amacıyla İzmir Ticaret Odası tarafından web sitesi üzerinden
            elektronik olarak ve yukarıda belirtilen amaçlara dayanarak toplanmaktadır. Bu çerçevede Yukarıda belirtilen
            hukuki sebeplerle toplanan kişisel verileriniz, KVKK’nın 5. ve 6. Maddeleri ile 4(2) maddesindeki öngörülen
            ilkeler ışığında açık rıza temini suretiyle işlenebilmekte ve aktarılabilmektedir.</p>
        <p></p>
        <p>5. KVKK’nın 11. Maddesi Gereği İlgili Kişi Olarak Haklarınız</p>
        <p></p>
        <p>Söz konusu haklarınıza ilişkin taleplerinizi, kişisel veri sahipleri olarak yazılı bir şekilde ve kimliğinizi
            tespit edici belgeler ile birlikte, kullanmak istediğiniz hakkınıza yönelik açıklamalarınızı içeren yazılı
            dilekçeniz ile Kurumumuzun Atatürk Caddesi No: 190 Konak Alsancak 35220 İzmir Türkiye adresine bizzat veya
            iadeli taahhütlü mektupla veya info@izto.org.tr mail adresine iletmeniz halinde, talebiniz İzmir Ticaret
            Odası tarafından değerlendirilerek KVKK kapsamında öngörülen şekilde en geç 30 (otuz) gün içerisinde
            sonuçlandırılacaktır. İzmir Ticaret Odası’nın Kişisel Verileri Koruma Kurulu tarafından belirlenen ücret
            tarifesi üzerinden ücret talep etme hakkı saklıdır.</p>
        <p></p>
        <p>KVKK’nın “İstisnalar” başlıklı 28. maddesinde öngörülen haller saklı kalmak kaydıyla kurumumuza başvurarak
            kişisel verilerinizin; işlenilip işlenilmediğini öğrenme; işlenmişse buna ilişkin bilgi talep etme; işlenme
            amacını ve amacına uygun kullanılıp kullanılmadığını öğrenme; yurt içinde veya yurt dışında aktarıldığı
            üçüncü kişileri bilme; aktarıldığı üçüncü kişilerce yapılan işlemlerin bildirilmesini isteme; eksik veya
            yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme; işlenmesini gerektiren sebeplerin ortadan
            kalkması hâlinde silinmesini veya yok edilmesini isteme; yapılan işlemlerin kişisel verilerinizin
            aktarıldığı üçüncü kişilere bildirilmesini isteme; münhasıran otomatik sistemler vasıtasıyla analiz edilmesi
            suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme ve KVKK’na aykırı olarak işlenmesi sebebiyle
            zarara uğramanız hâlinde zararın giderilmesini talep etme haklarına sahip olduğunuzu KVKK kapsamında “Veri
            Sorumlusu” sıfatıyla bildiririz.</p>
        <p></p>
        <p>Bilgi alma hakkınız kapsamında yukarıda belirtilenler kapsamında bilgi edinebilmek için İzmir Ticaret Odası
            Veri Sahibi Başvuru Formu ’ndan ulaşabilirsiniz.</p>
        <p></p>
        <a href="">İzmir Ticaret Odası Açık Rıza Metni için tıklayınız</a>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Hizmet Rehberi')">
    <div class="py-4 ">
        <div id="aa" class="col shadow-lg mx-3">
            <a href="">
                <h5>Hizmet Rehberi<span style="height: 100%;" class="material-symbols-outlined">
                        file_download
                    </span></h5>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Meslek Komitesi')">
    <div class="py-4 ">
        <div class="row">
            <div style="background-color: red;" class="col mx-2">
                <img src="https://api.izto.org.tr/storage/ComuniteWorksCategory/original/DfXjMs6ITugot456." alt="sadas"
                    class="img-fluid">
                <p class="p-3 text-center" style="background-color: white;">some text</p>
            </div>
            <div style="background-color: red;" class="col mx-2">a

            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('E-Formlar')">
    <div class="py-4 ">
        <div id="aa" class="row shadow-lg m-3">
            <a href="" class="p-2">
                Üye Bilgilerini Güncelleme Formu<span style="height: 100%;" class="material-symbols-outlined">
                    file_download
                </span>
            </a>
        </div>
        <div id="aa" class="row shadow-lg m-3">
            <a href="" class="p-2">
                Üye Memnuniyet Anket Formu<span style="height: 100%;" class="material-symbols-outlined">
                    file_download
                </span>
            </a>
        </div>
        <div id="aa" class="row shadow-lg m-3">
            <a href="" class="p-2">
                Çağrı Merkezi Üye Memnuniyeti Anket Formu<span style="height: 100%;" class="material-symbols-outlined">
                    file_download
                </span>
            </a>
        </div>
        <div id="aa" class="row shadow-lg m-3">
            <a href="" class="p-2">
                Meslek Komiteleri İletişim Formu<span style="height: 100%;" class="material-symbols-outlined">
                    file_download
                </span>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Üye Memnuniyet Anketi')">
    <div class="py-4 ">
        <p>Değerli Üyemiz,</p>
        <p></p>
        <p>Aşağıdaki anket sizlere daha iyi hizmet vermek, istek, öneri ve şikayetlerinizi değerlendirmek amacı ile
            hazırlanmıştır. Katkı sağladığınız için teşekkür ederiz.</p>
        <p></p>
        <p>Dilek, öneri ve şikayetlerinizi 444 92 92 nolu çağrı merkezimiz, Dilekleriniz@izto.org.tr e-posta adresi, 498
            46 96 nolu faks ve aşağıda belirtilen iletişim adresimiz kanalı ile bize iletebilirsiniz. İlginiz için
            teşekkür ederiz.</p>
        <p></p>
        <p>İletişim Adresi: İzmir Ticaret Odası Atatürk Cad. No:190 Pasaport /İzmir</p>
        <p></p>
        <p>*Lütfen 2 - 4 numaralı soruları 1 (çok kötü) ve 7 (çok iyi) arasında puanlayınız.</p>
        <p></p>
        <h5>İZMİR TİCARET ODASI ÜYE MEMNUNİYETİ VE HİZMET KALİTESİ ÖLÇÜLMESİ ANKET FORMU</h5>
        <div class="seperator">
            <div></div>
        </div>
        <p><b>1 - Odamızdan en çok hangi konularda hizmet alıyorsunuz lütfen belirtiniz.</b></p>
        <p></p>
        <textarea name="" id="" cols="80" rows="5"></textarea>
        <p></p>
        <p><b>2 - Odamız hizmetleri ile ilgili genel memnuniyet seviyenizi lütfen belirtiniz.
            </b></p>
        <p></p>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('İhracat Destek Ofisi')">
    <div class="py-4 ">
        <p><b>İZMİR TİCARET ODASI İHRACAT DESTEK OFİSİ</b></p>
        <p></p>
        <p>T.C. Ticaret Bakanlığı ve TOBB ülkemiz ihracatına çok önemli katkıda bulunacak bir proje başlatmıştır.
            Ülkemizde ihracatçı sayısının arttırılabilmesi ve mevcut ihracatçılarımızın doğru ve hızlı bilgiye
            ulaşmalarını teminen belirlenen Odalarda ‘’İhracat Destek Ofisleri’’ kurulması için 13 Kasım 2018 tarihinde
            Ticaret Bakanlığımız ve TOBB arasında İşbirliği Protokolü imzalanmıştır.<br><br>
            İmzalanan protokol kapsamında aralarında Odamızın da bulunduğu Odalarda ‘’İhracat Destek Ofisi’’
            kurulmuştur.
            Odamız İhracat Destek Ofisi olarak, amacımız, henüz ihracat yapmamış ve/veya sürdürülebilir ihracat
            gerçekleştirememiş Üyelerimizin kısa zamanda ihracat gerçekleştirerek uluslararası pazara girmelerine
            katkıda bulunmak ve ihracatı KOBİ'lerden başlayarak bütün iş dünyasına yaymaktır. <br><br> Odamız İhracat
            Destek Ofisi aracılığıyla, aşağıda yer alan konularda üyelerimize danışmanlık hizmeti sunulmaktadır:</p>
        <li>Ürüne özel pazar araştırması yapılarak, hangi ülkelere öncelik verilmesi gerektiği</li><br>
        <li>İhracatın nasıl gerçekleştirileceği ve izlenmesi gereken adımlar</li><br>
        <li>İhracat fiyatı oluşturulurken dikkat edilmesi gereken hususlar</li><br>
        <li>İhracata yönelik devlet desteklerinden hangilerinin firmanın ihtiyacına uygun olduğu ve başvuru süreci</li>
        <br>
        <p><b>Bu çerçevede, ihracat ile ilgili destek almak istediğiniz konularda <a href="">(
                    ihracatdestek@izto.org.tr)</a> eposta adresi ile İhracat Destek Ofisimizle iletişime
                geçebilirsiniz.’</b></p><br>
        <p>Saygılarımızla</p><br>
        <p>İzmir Ticaret Odası</p>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Girişimcilik')">
    <div class="py-4 ">
        <p><b>Değerli Üyelerimiz ve Girişimciler, </b></p>
        Odamızın girişimcilik çalışmaları kapsamında; yeni bir fikri olan girişimcilerin fikirlerinin hayata
        geçirilmesi, yatırımcı ve mentorlar ile bir araya gelmelerinin sağlanması, finansman kaynaklarına erişim
        konularında ÜCRETSİZ danışmanlık hizmeti verilmektedir. Girişimcilik hizmetlerimiz kapsamında;<br><br>* İş
        fikirlerinizle ilgili soru ve taleplerinizi paylaşabilirsiniz. <br><br>* Yeni iş fikrinizin geliştirilmesi veya
        hayata geçmesine yönelik yatırımcı ve/veya mentorlarla bir araya gelebilirsiniz. <br><br> * İş kurma,
        tutundurma, büyütme, pazarlama-satış süreçleri, marka tescil, patent, faydalı model, endüstriyel tasarım vb.
        fikri mülkiyet haklarına ilişkin karşılaşabileceğiniz her türlü sorununuza yönelik danışmanlık hizmeti
        alabilirsiniz. <br><br>
        * Çeşitli kurum ve kuruluşlar tarafından verilen teşvik, destekler gibi finansman kaynaklarına erişim yöntemleri
        ve bunlardan yararlanma yollarını öğrenebilirsiniz. <br><br>* Teknoparkların ve organize sanayi bölgelerinin
        sağladığı imkan ve teşvikler hakkında bilgi alabilirsiniz. <br><br>* Ulusal ve uluslararası kurumlar tarafından
        girişimcilik alanında çağrısına çıkılan, Odamızın paydaş olacağı projelere katılabilir, proje kapsamında
        sunulacak fonlardan yararlanabilirsiniz. <br><br>* Girişimcilere yönelik düzenlediğimiz toplantı, seminer,
        atölye çalışmaları ve eğitimlere katılabilirsiniz. <br><br>* Türkiye Odalar ve Borsalar Birliği İl Kadın
        Girişimciler ve İl Genç Girişimciler Kurulları’nda Odamız kontenjanından görev almak üzere başvuru
        yapabilirsiniz. <br><br>Bilgi ve danışmanlık hizmeti talepleriniz için <a href="">girisimcilik@izto.org.tr</a>
        e-posta adresimiz üzerinden başvuru yapmanızı rica ederiz. <br><br>
        <p>Saygılarımızla</p><br>
        <p>İzmir Ticaret Odası</p>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Vize Hizmetleri')">
    <div class="py-4 ">
        İzmir Ticaret Odası Vize Bölümü, tüm üyelere Ticari vize alımında yardımcı olmaktadır. Vize ile ilgili genel
        bilgiler, işbirliği içerisinde çalışılan Konsolosluklar, dikkat edilmesi gereken konular ve vize başvurusu için
        gerekli olan evraklara bu bölümden ulaşabilirsiniz. <br><br>Schengen Vizeleri Önemli Bilgiler Vize
        Yükümlülükleri <br><br>Vize başvuru hizmeti İzmir Ticaret Odası üyelerinin tamamı için sağlanır. Odamız sadece
        ticari amaçla seyahatlerde vize işlemlerini yürütmektedir. Turistik seyahatler için kişiler konsolosluklara Oda
        aracılığı ile başvuramazlar. SCHENGEN ÜLKELERİ, İLK VERİLİŞ TARİHİ 10 YILDAN ESKİ PASAPORTLARI KESİNLİKLE KABUL
        ETMEMEKTEDİR. Başvuru dosyalarını incelemek, vize verilmesi konusunda karar vermek ve vize sürelerini belirlemek
        için tek karar mercii ilgili Konsolosluklardır. Odamızın Konsolosluklara vize verilip verilmeyeceği konusunda ya
        da vize süreleri ile ilgili müdahale yetkisi bulunmamaktadır. Vize başvurusunun reddedilmesi durumunda hiçbir
        Konsolosluk tarafından vize ücreti iadesi yapılmamaktadır. Konsolosluklar her zaman başvurunun durumuna göre ek
        evrak isteme yetkisine sahiptir. Konsolosluk işlem süreleri belirtilen tarihlerden daha uzun sürebilir.
        Konsolosluktan kaynaklanan idari ya da teknik nedenler ile vize alım süresinin uzamasından Odamız sorumlu
        değildir. <br><br>Sorumlu Kişi: <br><br>Özlem Yalçınkaya <br>Uluslararası Etkinlikler ve Turizm Müdürlüğü – Vize
        Görevlisi <br><br>Tel : 0 232 498 43 09 <br>Faks : 0 232 498 46 44 <br>E-mail : ozlem.ors@izto.org.tr
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Eğitimler')">
    <div class="py-4 ">
        <div class="row">
            <div class="col py-2">
                <div id="cardTop"><a href="">Ocak Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
            <div class="col py-2">
                <div id="cardTop"><a href="">Şubat Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
        </div>
        <div class="row">
            <div class="col py-2">
                <div id="cardTop"><a href="">Mart Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
            <div class="col py-2">
                <div id="cardTop"><a href="">Nisan Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
        </div>
        <div class="row">
            <div class="col py-2">
                <div id="cardTop"><a href="">Mayıs Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
            <div class="col py-2">
                <div id="cardTop"><a href="">Haziran Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
        </div>
        <div class="row">
            <div class="col py-2">
                <div id="cardTop"><a href="">Temmuz Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
            <div class="col py-2">
                <div id="cardTop"><a href="">Ağustos Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
        </div>
        <div class="row">
            <div class="col py-2">
                <div id="cardTop"><a href="">Eylül Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
            <div class="col py-2">
                <div id="cardTop"><a href="">Ekim Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
        </div>
        <div class="row">
            <div class="col py-2">
                <div id="cardTop"><a href="">Kasım Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
            <div class="col py-2">
                <div id="cardTop"><a href="">Aralık Ayı Online Eğitimler</a></div>
                <div id="cardBot"></div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Fire ve Zaiyat Oranları')">
    <div class="py-4">
        <div class="justify-content-center"></div>
        <div id="aa" class=" shadow-lg mx-3">
            <a href="">
                <h5 class="px-3">FİRE VE ZAYİAT ORANLARINA ULAŞMAK İÇİN TIKLAYINIZ<span
                        class="material-symbols-outlined">
                        file_download
                    </span></h5>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('İzmir Ticaret Odası İhracatçı Firmalar Listesi ')">
    <div class="py-4">
        <div class="justify-content-center"></div>
        <div id="aa" class=" shadow-lg mx-3">
            <a href="">
                <h5 class="px-3">İzmir Ticaret Odası İhracatçı Firmalar Listesi<span class="material-symbols-outlined">
                        file_download
                    </span></h5>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Ticari İşletme Tanımları')">
    <div class="py-4">
        Küçük ve Orta Büyüklükteki İşletmelerin Tanımı, Nitelikleri ve Sınıflandırılması Hakkında Yönetmelik
        <br><br>Yönetmelik Karar Sayısı : 2005/9617 <br><br>Ekli "Küçük ve Orta Büyüklükteki İşletmelerin Tanımı,
        Nitelikleri ve Sınıflandırılması Hakkında Yönetmelik"in yürürlüğe konulması; Sanayi ve Ticaret Bakanlığı'nın
        28/7/2005 tarihli ve 5674 sayılı yazısı üzerine, 3143 sayılı Sanayi ve Ticaret Bakanlığının Teşkilat ve
        Görevleri Hakkında Kanunun ek 1 inci maddesine göre, Bakanlar Kurulu'nca 19/10/2005 tarihinde
        kararlaştırılmıştır. <br><br>Amaç <br><br>Madde 1 - Bu Yönetmeliğin amacı; küçük ve orta büyüklükteki
        işletmelerin tanımına, niteliklerine ve sınıflandırılmasına ilişkin esasların belirlenmesi ve bu tanım ve
        esasların tüm kurum ve kuruluşların uygulamalarında esas alınmasını sağlamaktır. <br><br>Kapsam <br><br> Madde 2
        - Bu Yönetmelik; küçük ve orta büyüklükteki işletmeler ile bu işletmelerin tanımlarına, niteliklerine ve
        sınıflandırılmasına ilişkin uygulama usul ve esaslarının belirlenmesini kapsar. <br><br> Küçük ve orta
        büyüklükteki işletmeleri ilgilendiren mevzuatın uygulanmasında bu Yönetmelik hükümleri esas alınır. Ancak;
        KOBİ'lere yönelik destek sağlayan kuruluşlar, bu Yönetmelikte belirtilen sınırları aşmamak kaydıyla, kendi
        sektör ve büyüklük önceliklerini belirleyebilirler. Devlet yardımları dışındaki uygulamalar için sadece çalışan
        sayıları dikkate alınabilir. <br><br>Dayanak <br><br> Madde 3 - Bu Yönetmelik; 8/1/1985 tarihli ve 3143 sayılı
        Sanayi ve Ticaret Bakanlığının Teşkilat ve Görevleri
        Hakkında Kanunun ek 1 inci maddesine dayanılarak hazırlanmıştır. <br><br> Tanımlar <br><br>Madde 4 - Bu
        Yönetmeliğin uygulanmasında;<br><br> a) İşletme: Yasal statüsü ne olursa olsun, bir veya birden çok gerçek veya
        tüzel kişiye ait olup, bir ekonomik faaliyette bulunan birimleri,<br><br>b) Küçük ve orta büyüklükte işletme
        (KOBİ): İkiyüzelli kişiden az yıllık çalışan istihdam eden ve yıllık net satış hasılatı ya da mali bilançosu
        yirmibeş milyon Yeni Türk Lirasını aşmayan ve bu Yönetmelikte mikro işletme, küçük işletme ve orta büyüklükteki
        işletme olarak sınıflandırılan ve kısaca "KOBİ" olarak adlandırılan ekonomik birimleri,<br><br>c) Mali bilanço:
        Bir işletmenin belirli bir tarihte sahip olduğu varlıklar ile bu varlıkların sağlandığı kaynakları gösteren mali
        tabloyu,<br><br>d) Net satış hasılatı: Bir işletmenin brüt satışlarından satış
        iskontoları ve iadeleri ile diğer indirimlerin düşülmesi sonucu bulunan tutarı,<br><br>e) Yıllık iş birimi
        (YİB): Bir yıl boyunca tam zamanlı olarak işletmede veya işletme adına çalışan bir kişiyi,<br><br>f) Yakın
        piyasa: İlgili piyasanın akış zincirinin başlangıç veya bitiminde yer alan ürün veya hizmet piyasasını,ifade
        eder. <br><br> <a href="">Yönetmeliğin devamı için tıklayınız.</a>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Ulusal ve Uluslararası Bağlantılar')">
    <div class="py-4">
        <div id="aa" class=" shadow-md m-3">
            <a href="">
                <h5 class="px-3">Ticaret Bakanlığı : Web sitesi için tıklayınız.<span class="material-symbols-outlined">
                        open_in_new
                    </span></h5>
            </a>
        </div>
        <div id="aa" class=" shadow-md m-3">
            <a href="">
                <h5 class="px-3">Türkiye Odalar ve Borsalar Birliği : Web sitesi için tıklayınız.<span
                        class="material-symbols-outlined">
                        file_download
                    </span></h5>
            </a>
        </div>
        <div id="aa" class=" shadow-md m-3">
            <a href="">
                <h5 class="px-3">EuroChambers : Web sitesi için tıklayınız.<span class="material-symbols-outlined">
                        open_in_new
                    </span></h5>
            </a>
        </div>
        <div id="aa" class="shadow-md m-3">
            <a href="">
                <h5 class="px-3">KOSGEB : Web sitesi için tıklayınız.<span class="material-symbols-outlined">
                        open_in_new
                    </span></h5>
            </a>
        </div>
        <div id="aa" class="shadow-md m-3">
            <a href="">
                <h5 class="px-3">ICC (Milletlerarası Ticaret Odası) : Web sitesi için tıklayınız.<span
                        class="material-symbols-outlined">
                        open_in_new
                    </span></h5>
            </a>
        </div>
        <div id="aa" class="shadow-md m-3">
            <a href="">
                <h5 class="px-3">ASCAME (Akdeniz Ticaret ve Sanayi Odaları Birliği): Web sitesi için tıklayınız.<span
                        class="material-symbols-outlined">
                        open_in_new
                    </span></h5>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Ek Faaliyet Kodu Talebi Dilekçesi')">
    <div class="py-4">
        <div id="aa" class=" shadow-lg mx-3">
            <a href="">
                <p id="button" class="px-3">FİRE VE ZAYİAT ORANLARINA ULAŞMAK İÇİN TIKLAYINIZ<span
                        class="material-symbols-outlined">
                        file_download
                    </span></p>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Üyelik İşlemleri')">
    <div class="py-5">
        İzmir Ticaret Odası'na üyelik, 01/06/2004 Tarihinde yürürlüğe giren 5174 Sayılı Türkiye Odalar ve Borsalar
        Birliği Kanunu'nun 9. maddesi gereğince zorunludur. İlgili madde şöyledir:<br><br>MADDE 9. - Ticaret siciline
        kayıtlı tacirler ve 5 inci maddeye göre sanayici ve deniz taciri sıfatına haiz tüm gerçek ve tüzel kişiler ile
        bunların şubeleri ve fabrikaları bulundukları yerdeki odaya kaydolmak zorundadırlar. Meslek gruplarına göre
        yapılacak üye kayıtları, elektronik ortamda Bakanlık ve Birlik bünyesinde düzenlenen ortak veri tabanında güncel
        olarak tutulur. <br><br>Bir merkeze bağlı olduğu halde, ister merkezin bulunduğu odanın, ister başka odanın
        çalışma alanı içinde olan müstakil sermayesi ve müstakil muhasebesi bulunan ve/veya muhasebesi merkezde
        tutulduğu ve müstakil sermayesi bulunmadığı halde kendi başına sınai faaliyet ve ticari muamele yapan yerler ve
        satış mağazaları bu Kanunun uygulanması bakımından şube sayılır. <br><br>Sanayi odası kurulan illerde
        sanayiciler, sanayi odasına kaydolmakla ticaret odasına kaydolma yükümlülüğünü de yerine getirmiş olurlar.
        Sanayi işletmesi sahiplerinin, sınaî nitelikli işlerinin gereği olarak meşgul olduklara ticaret işleri bunların
        sanayici vasfını ortadan kaldırmaz; bunlar isterlerse ticaret odasına da kaydolabilirler. <br><br>Sanayiciler,
        kendi sanayi ürünlerini satmak üzere birden fazla satış yeri açtıkları takdirde, fazlası için satış yerlerinin
        bulunduğu ticaret ve sanayi veya ticaret odasına da kaydolmak zorunda oldukları gibi; kendi sanayi ürünlerinin
        satışı dışında başka ticarî işlerle uğraştıkları takdirde, ticaret ve sanayi veya ticaret odasına da kaydolmakla
        yükümlüdürler.
        Sermayesinin tamamı Devlete ve özel idarelere veya belediyelere veya bunların ortaklığına ait olan iktisadî
        müesseselerle bunların şubeleri, özel kanun veya sözleşme ile kurulmuş olup, Devletin ve özel idarelerin veya
        belediyenin iştiraki bulunan tüzel kişiliği haiz müesseseler veya bunların şubeleri ve fabrikaları, bulundukları
        ildeki odalara kaydolmak zorundadırlar. <br><br>Ticaret siciline kayıtlı gerçek ve tüzel kişilerden 5 inci
        maddede belirtilen deniz tacirleri ile beşinci fıkra hükmünde belirtilenlerden deniz ticaretiyle uğraşanlar,
        bulundukları ildeki deniz ticaret odasına kaydolmak zorundadırlar. Bu kapsamda sayılanlar, deniz ticaret odasına
        kaydolmakla diğer odalara kaydolma yükümlülüğünü de yerine getirmiş sayılırlar. Ancak, bu kapsamdakiler, deniz
        ticaret odasına kaydolmasını gerektiren faaliyetler dışında başka işlerle de uğraştığı takdirde, ayrıca ilgili
        odaya da kaydolmak zorundadır.
        Odalara kaydı zorunlu olan gerçek ve tüzel kişilerle bunların şubeleri, kamu kurumu niteliğindeki başka meslek
        kuruluşlarına, birlik ve teşekküllere üye olmaya ve aidat ödemeye mecbur tutulamaz. <br><br>Bu maddede
        düzenlenen kayıt zorunluluğunu bir ay içinde yerine getirmeyenler, odalar tarafından re'sen kaydedilir ve durum
        kendilerine tebliğ edilir."<br><br>Odamıza diğer işlemleri tamamlayarak kayıt için başvuran tacir niteliğindeki
        gerçek ve tüzel kişiler 79 adet meslek grubundan birisi altına kaydolunur. Derecelere göre kayıt ücretleri ve
        yıllık aidat tarife cetveli 2020 yılı için aşağıdaki gibidir: <br><br>2021 YILI KAYIT ÜCRETİ VE YILLIK AİDAT
        TARİFE CETVELİ<br><br>
        <table class="container">
            <tr>
                <td class="col-3">Dereceler</td>
                <td class="col-5">Sermaye Aralıkları</td>
                <td class="col-4">Kayıt Ücretleri Tarifesi</td>
            </tr>
            <tr>
                <td class="col-3">Yeni Kayıt</td>
                <td class="col-5">-</td>
                <td class="col-4">485 TL</td>
            </tr>
            <tr>
                <td class="col-3">1.Derece</td>
                <td class="col-5">1.000.000.00 TL üstü</td>
                <td class="col-4">1280 TL</td>
            </tr>
            <tr>
                <td class="col-3">2.Derece</td>
                <td class="col-5">500.000.00 TL - 1.000.000.00 TL</td>
                <td class="col-4">940 TL</td>
            </tr>
            <tr>
                <td class="col-3">3.Derece</td>
                <td class="col-5">250.000.00 TL - 500.000.00 TL</td>
                <td class="col-4">875 TL</td>
            </tr>
            <tr>
                <td class="col-3">4.Derece</td>
                <td class="col-4">100.000.00 TL - 250.000.00 TL</td>
                <td class="col-5">810 TL</td>
            </tr>
            <tr>
                <td class="col-3">5.Derece</td>
                <td class="col-4">10.000.00 TL - 100.000.00 TL</td>
                <td class="col-5">740 TL</td>
            </tr>
        </table>
        5174 sayılı “Türkiye Odalar Ve Borsalar Birliği İle Odalar Ve Borsalar Kanunu”<br><br>Madde: 24 <br><br>Kayıt
        ücreti ile yıllık aidat, onaltı yaşından büyükler için uygulanan aylık asgarî ücretin brüt tutarının yüzde
        onundan az, yarısından fazla olamaz. <br><br>“Kayıt Ücreti ile Yıllık Aidat ve Munzam Aidatın Tespiti ve
        Ödenmesi Hakkında Yönetmelik”<br><br>Dereceler <br><br>Madde: 12 <br><br>Oda ve borsalar derece sayısını kendi
        durumlarına göre tespit eder. Ancak, bu derecelerin sayısı beşten az yediden fazla olamaz. (Ek
        cümle:RG-31/1/2017-29965) Ayrıca, bu derecelerden ayrı bir derece ihdas edilerek yeni kurulan sermaye şirketleri
        bu dereceye atanır. Bu derece için belirlenecek kayıt ücreti, aylık asgari ücretin brüt tutarının yüzde onundan
        az, yüzde on beşinden fazla olamaz. <br><br><a id="textLink" href="">GERÇEK KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ
            (Word Dokümanı)</a><br><br><a id="textLink" href="">GERÇEK KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (Pdf
            Dokümanı)</a><br><br>Not: Nakil yoluyla Odamıza yeni kayıt olacak üyelerin Mali işler Müdürlüğü kayıtlarına
        esas alınmak üzere en son verilen kurumlar vergisi/gelir vergisi beyannamesini aidat@izto.org.tr adresine
        iletmeleri gerekmektedir.
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Online Üye Bilgi Güncelleme')">
    <div class="py-4">
        <a id="textLink" href="">ONLINE ÜYE BİLGİ GÜNCELLEME İÇİN TIKLAYINIZ</a><br><br>Değerli Üyemiz,<br><br>Online
        bilgi güncelleme ile sistemimizde kayıtlı<br><br>
        <li>yetkili cep telefonu,</li>
        <li>ortak cep telefonu,</li>
        <li>sabit telefon,</li>
        <li>faks,</li>
        <li>e-mail adresi,</li>
        <li>web adresi,</li>
        <li>muhasebe telefonu,</li>
        <li>muhasebe e-mail adresi, </li><br><br>bilgilerinizi online olarak anında güncelleyebilirsiniz.
        <br><br><i>Adres değişikliği konusu tescile tabi bir değişiklik olması nedeniyle, firma adresinizin (değişti
            ise) Ticaret Sicili Müdürlüğü’nde tescil yolu ile değiştirilmesi gerekmektedir.</i><br><br>Gerektiğinde,
        konu ile ilgili soru veya sorunlarınız için 0.232.498 42 58 nolu telefon numarasından Oda Sicil Müdürlüğümüz ile
        irtibat kurulabilirsiniz. <br><br>Saygılarımızla,<br><br><b>İzmir Ticaret Odası</b>
        <div class="seperator">
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Faaliyet Kodu Değişiklik Talebi Dilekçesi')">
    <div class="py-4">
        <div id="aa" class=" shadow-md m-3">
            <a href="">
                <h5 class="px-3">FAALİYET (NACE) KODU DEĞİŞİKLİK TALEBİ DİLEKÇESİNİ İNDİRMEK İÇİN TIKLAYINIZ.<span
                        class="material-symbols-outlined">
                        file_download
                    </span></h5>
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="title.includes('Oda Kayıt Beyannameleri')">
    <div class="py-4">
        <div id="aa" class=" shadow-md m-3">
            <a href="">
                <p id="button">GERÇEK KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (ISLAK İMZA).<span
                        class="material-symbols-outlined">
                        file_download
                    </span></p>
            </a>
        </div>
        <div id="aa" class=" shadow-md m-3">
            <a href="">
                <p id="button">TÜZEL KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (ISLAK İMZA).<span
                        class="material-symbols-outlined">
                        file_download
                    </span></p>
            </a>
        </div>
        <div id="aa" class=" shadow-md m-3">
            <a href="">
                <p id="button">
                    GERÇEK KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (E-İMZA).<span class="material-symbols-outlined">
                        file_download
                    </span></p>
            </a>
        </div>
        <div id="aa" class=" shadow-md m-3">
            <a href="">
                <p id="button">TÜZEL KİŞİLER İÇİN ODA KAYIT BEYANNAMESİ (E-İMZA).<span
                        class="material-symbols-outlined">
                        file_download
                    </span></p>
            </a>
        </div>
    </div>
</ng-container>