<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-5">
        <b>** Türk Standartları Enstitüsü'nden Üyelerimize İndirim</b><br><br>TSE Deney ve Kalibrasyon Merkez Başkanı
        Mehmet Hüsrev ile 4 Eylül 2014 tarihinde imzaladığımız protokol uyarınca TSE Deney ve Kalibrasyon Merkez
        Başkanlığı laboratuvarlarından alacağınız; <br><br>
        <li>Kalibrasyon hizmetlerinden yüzde 40</li>
        <li>Eğitim hizmetlerinden yüzde 30</li>
        <li>Deney hizmetlerinden yüzde 20 (TSE’den Gözetim hizmeti de alan üyelerimizin deney hizmetlerindeki indirim
            oranı % 30)</li>
        <li>CE belgelendirme hizmetlerinden yüzde 20 indirimli olarak yararlanabileceksiniz.</li><br><br>Bu indirimden
        yararlanmak için ödeme yaparken lütfen İzmir Ticaret Odası üyesi olduğunuzu belirtin. <div class="seperator">
            <div></div>
        </div>
    </div>
