<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    ATA KARNESİ ALMA İŞLEMLERİ : <br><br>ATA KARNESİ: Eşyaların Gümrük Vergisine tabi olmadan geçici kabulüne imkan
    sağlayan teminat yerine geçen ve beyanname olarak kabul edilen bir belgedir. <br><br>ATA SÖZLEŞMESİNE TARAF OLAN
    ÜLKELER : <br>
    <li>Almanya</li>
    <li>Amerika Birleşik Devletleri</li>
    <li>Andorra</li>
    <li>Arnavutluk</li>
    <li>Avusturalya</li>
    <li>Avusturya</li>
    <li>Bahreyn Krallığı</li>
    <li>Belçika</li>
    <li>Beyaz Rusya</li>
    <li>Birleşik Arap Emirlikleri</li><br><br>(Ata Karnesi işlemleri yalnızca Dubai gümrük kapısında (Dubai
    International Airports (Terminal 1-2-3)-Dubai World Central-Jebel Ali Port) gümrük idarelerinde ve Abu Dhabi gümrük
    kapısında (Abu Dhabi International Airport (Terminal 1-2-3)-Zayed Port) gümrük idarelerinde yapılmakta olup Sharjah
    gümrük idaresinde Ata Karnesi işlemleri yapılmamaktadır." ibaresinin konulması gerekmektedir.) <br><br>
    <li>Brezilya</li>
    <li>Bulgaristan</li>
    <li>Cebelitarık</li>
    <li>Cezayir</li>
    <li>Çin</li>
    <li>Danimarka</li>
    <li>Endonezya</li>
    <li>Estonya</li>
    <li>Fas</li>
    <li>Finlandiya</li>
    <li>Hırvatistan</li>
    <li>Hindistan</li>
    <li>Hollanda</li>
    <li>Kanada</li>
    <li>Karadağ</li>
    <li>Kıbrıs*</li>
    <li>Kore</li>
    <li>Letonya</li>
    <li>Litvanya</li>
    <li>Lüksemburg</li><br><br>NOT: KKTC İstanbul Sözleşmesine taraf olmadığı için bu ülkeye karne düzenlenememektedir.
    <br><br>ATA KARNESİ ALMAK İÇİN : <br><br>1 Şubat 2021 tarihi itibariyle, <br><br>ATA karnesi başvuruları
    https://atak.tobb.org.tr/Portal/AnaSayfa adresi üzerinden, ATAK sistemi aracılığıyla yapılacak ve fiziksel ATA
    karnesi satışı yapılmayacaktır. <br><br>Yapılacak online başvurularda ATA karne ücreti TOBB tarafından 340,- TL
    olarak belirlenmiş olup ücret başvuru esnasında online olarak tahsil edilecektir. <br><br>ATA karnesi başvurusunda
    bulunacak mükellefin, programın kullanımına ilişkin daha detaylı bilgiye ulaşabileceği Kullanım Kılavuzu aşağıda
    paylaşılmaktadır. Yeni sistemde karne başvurusu yapacak gerçek ve tüzel kişilerin karne basımında kullanmak üzere,
    programda belirtilen renk kodlarında renkli kâğıtları edinmeleri ve siyah beyaz yazıcıya sahip olmaları
    gerekmektedir. <br><br>Karneler A4 formatında ve kapaksız olarak düzenlenecektir. Karne basma sorumluluğu karne
    hamilindedir. <br><br>Karne hamili karne basım sonrası elden onay için karneyi, dilekçe ve teminat evrağı( teminat
    mektubu,dekont vb.) ile birlikte Odamıza ibraz etmelidir <br><br>Aşağıda belirtmiş olan renk kodları, karne hamili
    başvurusunu tamamladığında, karne hamilinin ekranında çıkmaktadır. <br><br>Kağıtlar 80 gr olacaktır. <br><br>Karne
    bilgileri ve genel listenin yer aldığı ilk YEŞİL KAĞIT için Pantone 353 U (%50 Tram) renk kodu olacaktır. - RGB 79
    214 145 / HEX/HTML 4FD691 / CMYK 52 0 58 0İthalat sayfaları olan SARI KAĞITLAR için PANTONE 2001 C renk kodu
    olacaktır. <br><br>Transit sayfaları olan MAVİ KAĞITLAR için 324 U (%70 Tram) renk kodu olacaktır. <br><br><a
        id="textLink" href="https://api.izto.org.tr/storage/EditorUpload/original/u7gy3hrp1Tl3JQ0T.pdf">Kullanım
        kılavuzu</a><br><br>KARNE İÇİN YATIRILMASI GEREKEN TEMİNATLAR; <br><br>Teminat, karne kapsamı eşyanın toplam
    değerinin %50 si oranında alınır.Gönderilecek Eşyanın Gümrük Tarife İstatistik Pozisyonu (G.T.İ.P)
    no.sunun;Mücevherci eşyası ve aksamı (kıymetli metallerden veya kıymetli metallerle kaplama metallerden)
    <br><br>71.08 Altın (platin kaplamalı altın dahil) (işlenmemiş veya yarı işlenmiş yada pudra halinde), <br><br>71.06
    Gümüş (altın veya platin yaldızlı gümüş dahil) işlenmemiş veya yarı işlenmiş ya da pudra halinde), <br><br>71.13
    Mücevher eşyası ve aksamı (kıymetli metallerden veya kıymetli metallerle kaplama metallerden), <br><br>olması ve
    teminatın döviz cinsinden verilmesi durumunda toplam mal değeri üzerinden gidilecek ülkelere göre teminat
    alınacaktır. <br><br>Ülkelere göre teminat oran listesi için <a id="textLink"
        href="https://api.izto.org.tr/storage/EditorUpload/original/jjHW4zYChmJfvdEe.docx"> tıklayınız</a>.
    <div class="seperator">
        <div></div>
    </div>
    <div class="w-100 d-flex social-share justify-content-end align-items-center py-2">
        <div class="share-text p-2">
            PAYLAŞ
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank">
                <span tabindex="0" data-link="#share-twitter"
                    class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-twitter"></i>
                </span>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.izto.org.tr%2F&amp;src=sdkpreparse">
                <span tabindex="0" data-link="#share-facebook"
                    class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-facebook"></i>
                </span>
            </a>
            <a href="whatsapp://send?text">
                <span tabindex="0" data-link="#share-whatsapp"
                    class="d-flex justify-content-center align-items-center p-2">
                    <i class="bi bi-whatsapp"></i>
                </span>
            </a>
            <span tabindex="0" data-link="#share-linkedin"
                class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-linkedin"></i></span> <span
                tabindex="0" data-link="#share-pinterest"
                class="d-flex justify-content-center align-items-center p-2"><i class="bi bi-pinterest "></i></span>
            <span tabindex="0" data-link="#share-reddit" class="d-flex justify-content-center align-items-center p-2"><i
                    class="bi bi-reddit"></i></span>
        </div>
    </div>
</div>