<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
<div class="container py-5">
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/antrepo-belgesi">
            <p class="m-3"><b>Antrepo Belgesi</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/ata-karnesi">
            <p class="m-3"><b>Ata Karnesi</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/bilirkisi">
            <p class="m-3"><b>Bilirkişi
                </b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/ekspertiz-raporu">
            <p class="m-3"><b>Ekspertiz Raporu</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/faydali-model-belgesi">
            <p class="m-3"><b>Faydalı Model Belgesi</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/fiili-tuketim-belgesi">
            <p class="m-3"><b>Fiili Tüketim Belgesi</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/tobb-sigorta-levhaya-kayit">
            <p class="m-3"><b>TOBB Sigorta Levhaya Kayıt</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/turk-mali-belgesi">
            <p class="m-3"><b>
                    Türk Malı Belgesi</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/yerli-mali-belgesi">
            <p class="m-3"><b>
                    Yerli Malı Belgesi</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/azami-fiyat-tarifesi">
            <p class="m-3"><b>
                    Azami Fiyat Tarifesi</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>
    <div id="aa" class=" shadow-lg m-3">
        <a routerLink="/menu/pc/bilgi-bankasi/yetkili-temsilcilik-belgesi">
            <p class="m-3"><b>
                    Yetkili Temsilcilik Belgesi</b><span class="material-symbols-outlined">
                    open_in_new
                </span></p>
        </a>
    </div>

</div>