<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-5">
        <b>ÜYELERİMİZİN DİKKATİNE</b><br><br><b>Aidat ödemek çok daha hızlı çok daha kolay!</b><br><br>
        <li>1. Taksit son ödeme tarihi 30 Haziran 2022 ve 2. Taksitlerin son ödeme tarihi 31 Ekim 2022’dir.</li>
        <br><br>Aidatlarınızı, banka şubelerinden veya bankaların internet şubelerinin fatura ödemeleri alt menüsünden
        ödeyebilirsiniz. <br><br><b>KURUMSAL TAHSİLAT SİSTEMİ İLE ONLİNE ÖDEME YAPILAN BANKALAR</b><br><br><img
            src="" alt=""><br><br>· Yukarıda
        adı yazılı bankaların tüm şubelerinden, Oda sicil numaralarınızı bildirerek, özel ekran aracılığıyla kurumsal
        tahsilat sisteminde masrafsız ödeme yapabilirsiniz. <br><br> · 2022 yılı munzam aidatlarınızın hesaplanabilmesi
        için 2021 yılına ait bilanço veya beyannamelerinizi Odamıza teslim edebilir veyaaidat@izto.org.tr adresine
        elektronik olarak gönderebilirsiniz. <br>
        Aidatlarınızı web sitemizde yer alan https://eoda.izto.org.tr/web/aidat_odeme.aspx?id=290
        linkine tıkladığınızda açılacak olan ödeme ekranına kredi kartı bilgilerinizi girmek suretiyle online olarak
        ödeyebilirsiniz. <br> · 444 92 92 numaralı çağrı merkezimizden tüm sorularınıza yanıt alabilirsiniz. <div
            class="seperator">
            <div></div>
        </div>
    </div>
