<div class="row justify-content-center rounded shadow-lg p-5 th m-0">
    <h3 id="bb">{{title}}</h3>
</div>
    <div class="py-5">
        <b>2022 YILI HİZMET ÜCRETLERİ TARİFESİ</b><br><br><b>TOBB TARAFINDAN BELİRLENEN BELGE VE HİZMET
            ÜCRETLERİ</b><br><br>
        <table class="container">
            <tr>
                <td class="col-2"></td>
                <td class="col-6"><b>Hizmet / Belge Adı</b></td>
                <td class="col-4"><b>Tutarı</b></td>
            </tr>
            <tr>
                <td class="col-2">1</td>
                <td class="col-6">ATR Dolaşım Belgesi *</td>
                <td class="col-4">7,-TL</td>
            </tr>
            <tr>
                <td class="col-2">2</td>
                <td class="col-6">Menşe Şahadetnamesi, *</td>
                <td class="col-4">
                    7,-TL</td>
            </tr>
            <tr>
                <td class="col-2">3</td>
                <td class="col-6">Form.A Dolaşım Belgesi *</td>
                <td class="col-4">7,-TL</td>
            </tr>
            <tr>
                <td class="col-2">4</td>
                <td class="col-6">EUR.1 Dolaşım Belgesi *</td>
                <td class="col-4">
                    7,-TL</td>
            </tr>
            <tr>
                <td class="col-2">5</td>
                <td class="col-6">EUR-MED Dolaşım Belgesi *</td>
                <td class="col-4">
                    7,-TL</td>
            </tr>
        </table>
        <br><br><b>* TOBB tarafından belirlenen belge ve hizmet ücretlerinde yıl içinde yapılan değişikliklerin
            uygulanabilmesi için Yönetim Kurulumuz yetkili kılınmıştır.</b><br><br><b>** TOBB Yönetim Kurulu’nca, yıl
            içinde belirlenebilecek diğer hizmet ücretleri veya yeni uygulamaya konacak hizmetler ile ilgili Yönetim
            Kurulumuz yetkili kılınmıştır.</b>
    </div>
