td {
    border: 1px solid black;
    padding: 1.5rem;
    font-size: 0.8rem;
}

.th {
    background-image: url(https://api.izto.org.tr/storage/Setting/banner.png);
    text-align: center;
    color: #f1faee;
}