* {
    color: #f1faee;
}

ul {
    font-size: 0.7rem;
    background-color: #1d3557;
    text-align: center;
}

ul li {
    padding: 1rem;
    border: #1d3557 solid 2px;
    transition: 0.5s;

}

ul li:hover {
    background-color: #003566;
    border: #f1faee solid 2px;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

ul li a:hover {
    text-decoration: none;
    color: #f1faee;
}