* {
    color: #f1faee;
    list-style: none;
}

ul {
    display: flex;
    flex-direction: column;
    background-color: #1d3557;
    justify-content: center;
}

ul a {
    border: 2px solid #1d3557;
    transition: 0.3s;
    font-size: 0.8rem;
    text-decoration: none;
    padding-left: 0.5rem;
    border-left: none;
    border-right: none;
}

ul a:hover {
    cursor: pointer;
    background-color: #457b9d;
    color: #f1faee;
    border: 2px solid #f1faee;
    border-left: none;
    border-right: none;
}


ul ul li {
    display: flex;
    flex-direction: column;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    width: 100%;
}

ul ul li {
    font-size: 0.7rem;
}

ul ul li a {
    padding: 1rem;
}